[2021-05-12 13:41] xxrz opened #917 "Slow fuzzing"
I learned that the latest version of AFL++ could input crashes as test cases to the target. Target will instead skip them and uses them for splicing mutations. But I tried to use this function and found that it would make the fuzzing very slow. I want to know what conditions should be met by the correct test case? Should I enter a seed that will cause the target to crash?

[2021-05-12 13:51] vanhauser-thc commented on #159
I cant answer any question if you do not supply the full program. likely you have a bug in the function that calls vuln().

[2021-05-12 13:53] vanhauser-thc commented on #917
not "the target". afl-fuzz is the one creating the mutations. inputs that timeout or crash are not used for fuzzing, just for splicing with good test cases. this should slow anything down.
you provide basically no information. and my crystal ball is sadly to foggy today due to the weather to see what the issue us.

[2021-05-12 14:29] xxrz commented on #917
I just wrote a simple code to test the functionality. [This](https://github.com/xxrz/test/tree/master/demo) is the relevant file of my test program. My operating environment is the latest version of AFL++ docker.

**Describe the bug**
I learned that the latest version of AFL++ could input crashes as test cases to the target. AFL will instead skip them and uses them for splicing mutations. But I tr

[2021-05-12 14:34] xxrz commented on #159
Thank you for your reply, the complete test program is [here](https://github.com/xxrz/test/tree/master/demo).

[2021-05-12 15:28] vanhauser-thc commented on #917
As I thought.
Ask yourself: is there any difference that a path would go if the input is zero or longer - but not matching the three characters? There is not. Hence truncation to zero bytes. Try with “CCCCC” and it will trim to 1 byte

[2021-05-12 17:09] xxrz commented on #917
Thank you for your reply, but you seem to answer another question I raised: [afl-tmin always reduces to zero bytes] (https://github.com/AFLplusplus/AFLplusplus/issues/159)， for the problem about afl-tmin, I tried the method you mentioned, but the same error occurred. Later, after I removed the -d option in "afl-tmin -i "$i" -o "../input/$i" - bin/target -d @@" in command of readme.md, 'Caa' can al

[2021-05-13 08:17] maflcko commented on #915
Thanks for the help! Closing, as `AFL_FORKSRV_INIT_TMOUT` fixes this for us.

[2021-05-13 08:17] #915 closed, assigned to nobody

[2021-05-14 12:42] jvoisin opened #919 "Crash in afl-cmin"
When running `afl-cmin` with the current latest `dev` version on my corpus with `afl-cmin -i ../fuzz_in -o ../fuzz_out -- ./esmtool dump -C -p -q @@`, I get an unexpected abort.

It looks like this:

[code]

`esmtool` being a C++ application.

[2021-05-14 17:47] domenukk commented on #919
Just skimmed through the code of `afl-showmap`. I woudn't see how any sort of overflow for allocations could happen.
The first question: Is there any chance you have an input with ~ 2gb in the folder?
If not: Could you try finding out where exactly it crashes, for example extract the commandline afl-cmin calls showmap with, then rerun in gdb to get a stracktrace?

[2021-05-15 15:28] noopwafel opened #921 "crash in pivot_inputs, unchecked bounds?"
running afl-fuzz with this set of inputs (sometimes) causes a crash:

fuzz-output-old4/default/crashes/id:000000,sig:06,src:000024,time:34816,op:havoc,rep:4
fuzz-output-old4/default/crashes/id:000001,sig:06,src:000024,time:141607,op:havoc,rep:8
fuzz-output-old4/default/crashes/id:000002,sig:06,src:000947+000020,time:2018739,op:splice,rep:16
fuzz-output-old4/default/crashes/id:000003,sig:06,src:000

[2021-05-15 15:33] domenukk commented on #921
Thanks for the report. Pushed a (hopefully correct :) ) fix at 000c72909530274cb52015fee69e9700ec6a2c7e

[2021-05-15 15:36] #921 closed, assigned to nobody

[2021-05-16 17:56] toralf opened #922 "AFL_NO_AFFINITY=0 bypasses cgroups"
With
[code]
I do fuzz the Tor software (https://github.com/toralf/fuzz-utils). I realized, that commenting out "export AFL_NO_AFFINITY=1" yields to the fact that values in `/sys/fs/cgroup/cpu/local/tor_*/cpu.stat` will not increase over time.
[code]
I do wonder why the cgroup logic (kernel 5.12.4) seems to be non-functional in this case ?

[2021-05-16 18:04] toralf commented on #922
hhm, pbly a different root cause

[2021-05-16 18:04] #922 closed, assigned to nobody

[2021-05-16 18:37] toralf commented on #485
for the record:
in moment I do use ansfilter for my purpose: https://github.com/toralf/fuzz-utils/blob/master/fuzz.sh#L130

[2021-05-16 21:03] jvoisin commented on #919
I was dumb enough to trash my corpus by mistake, but none of the inputs were about 2gb, at most a couple of Mb.
But, some of the inputs caused the fuzzer to allocate an insane amount of memory via something like `array.resize(attacker_controlled)`, resulting in `std:bad_alloc` being raised.

[2021-05-17 03:36] vanhauser-thc commented on #919
You are describing a crash due to a c++ function but afl-showmap (the binary called from afl-cmin script) is written in c and hence this is simply impossible. Could it be that your target is crashing instead?

[2021-05-17 06:51] v-p-b commented on #911
Sorry guys, last week turned out to be a lot messier than I expected. I couldn't make progress with this one, but it's not forgotten.

[2021-05-17 09:03] vanhauser-thc commented on #919
the error message you pasted suggests that you had an input file > 1GB. I added a check that ensures that a maximum file size limit is applied.
can you please checkout the dev branch and try again?

[2021-05-17 11:08] vanhauser-thc commented on #917
fixed in 738246465d07770471ec34500909ebb4c3c5f1cf
thanks for reporting!

[2021-05-17 11:08] #917 closed, assigned to nobody

[2021-05-17 17:29] ekasnh opened #923 "Application for Google Season of Docs"
Greetings of the day
Hi my name is Ekansh Agarwal. I am pursuing Electronics and telecommunication Engineering. I have been studying C and JAVA for last 2 years and I would like to contribute to the project as a technical writer under this year's Google Season of Docs. Requesting your guidance for the same.

Regards
Ekansh Agarwal

[2021-05-17 17:56] vanhauser-thc commented on #923
we already have someone, sorry

[2021-05-17 17:56] #923 closed, assigned to nobody

[2021-05-17 18:31] ekasnh commented on #923
Greetings
thank you so much for notifying me

thanking you

Yours Truly ,

Ekansh Agarwal

On Mon, May 17, 2021 at 11:27 PM van Hauser ***@***.***>
wrote:

[2021-05-17 23:51] mhlakhani opened #924 "Calibration can be really slow for slow targets despite AFL_FAST_CAL=1"
I'm not sure if this is a bug or a feature request :)

We have some targets which run quite slow (1 second per execution). We started seeing issues where calibration was taking a really long time, despite us setting `AFL_FAST_CAL=1`.

After debugging we saw it was due to the fact that some of the inputs demonstrate variable behaviour and AFL++ unconditionally runs a slow calibration in that contex

[2021-05-18 06:48] vanhauser-thc commented on #911
@v-p-b not to put pressure :p - we are awaiting your PR then we will release a new afl++ version :)

[2021-05-18 11:58] vanhauser-thc commented on #924
It would be possible to make so, but the behavior is beneficial IMHO - just not so much in your specific case.
If you want this, make a PR with a new environment variable, e.g. AFL_FIXED_CAL that will not increase calibration counts.
If you need help getting the PR right, dont worry, we support you.

[2021-05-18 13:46] vanhauser-thc commented on #919
@jvoisin can you supply any feedback or because of lost data impossible to check?

[2021-05-18 23:49] mhlakhani commented on #924
Thanks! I'll try to get through our internal process for approval to contribute here and then put up a PR when possible.

[2021-05-19 14:04] jvoisin commented on #919
I'll close this issue for now, and will re-open it if/when I manage to reproduce it :)

[2021-05-19 14:04] #919 closed, assigned to nobody

[2021-05-20 14:43] 0x4d5a-ctf commented on #905
Found a workaround for this special use case: You can create a `.lib` file from the DLL exports and use `__declspec(dllimport)` for load the target DLL into the harness process really early. Since the DLL is already loaded when Wine reaches the fork-adresses (which is the entry point of the application), its enough to use `GetModuleHandleA` to obtain access to the loaded DLL. From there you can ut

[2021-05-20 19:11] catenacyber opened #930 "Unreproducible build failure for tinyxml"
**Describe the bug**
On oss-fuzz, some builds unreproducible fail while running `Running pass 'afl++ dict2file instrumentation pass'`

**To Reproduce**
Install docker and run
[code]
cf https://oss-fuzz-build-logs.storage.googleapis.com/log-af6f3bec-f72c-404c-a0d5-abfde44b536d.txt

**Expected behavior**
Compilation should succeed every time

**Screen output/Screenshots**
Relevant logs are
[code]

A

[2021-05-21 07:34] vanhauser-thc commented on #930
@catenacyber thank you for reporting this!
I have never encountered this issue, will have a thorough look what is so special in tinyxml.

[2021-05-21 07:41] vanhauser-thc commented on #905
@0x4d5a-ctf yes we can close this then I think.
Would you be okay to write a small README.wine.md which documents this workaround and send it as a PR?

[2021-05-23 17:19] v-p-b commented on #911
Resolved with #935

[2021-05-23 17:19] #911 closed, assigned to nobody

[2021-05-24 15:40] capgelka opened #937 "Using custom mutation + custom postprocessing together"
I have created 2 custom mutations libraries for my project

First is for some kind of structure-aware fuzzing (without `afl_custom_post_process` function).
And the second is postprocessing binary the idea that I can take easily postprocess invalid byte sequence to valid one (for example like replacing any "invalid" byte which would be rejected by program with whitespace). It implements only  `afl_

[2021-05-24 20:44] vanhauser-thc commented on #937
this has to be a bug because afl-fuzz should not crash - unless it is a crash in your custom mutator that is your fault :)
in_buf should not be null.
I currently do not have any time for this but will look into this next week. If you want you can have a look yourself what is going on.

[2021-05-25 07:17] vanhauser-thc commented on #924
@mhlakhani 40 cycles if fast_cal is set is excessive you are right. even for normal unstable path 40 is too much.
I changed the code to do 20 cycles for normal unstable paths and 8 cycles if fast_cal is set.
We like contributions though so go on with the internal approval process :)

[2021-05-25 10:39] capgelka commented on #937
Of course the crash is in my custom postprocessor, just because I have not expected `in_buf` to be null. However, I have no idea how to handle this null correctly to continue fuzzing, out_buf should point to some valid address.

Thanks, I will try to make some example to reproduce this. May be it also helps to understand what's going on myself

[2021-05-25 10:53] domenukk commented on #937
Does your first library also implement `afl_custom_post_process`, by any chance?

[2021-05-25 11:01] capgelka commented on #937
No it doesn't, only `afl_custom_fuzz`, `afl_custom_init` and `afl_custom_deinit`.

[2021-05-25 11:01] vanhauser-thc commented on #937
the bug is not in your custom mutator, in_buf may not be null.

[2021-05-26 18:52] jhertz opened #938 "Test Cases Failing for 3.12c on MacOS"
Getting a build error (test cases are failing and built tools do not work properly) with 3.12c on MacOS.

[code]

In order to get builds to work (otherwise some symbols related to `<sys/qos.h>` are not found properly), make sure homebrew's LLVM/clang is used over XCode's. `env` was set as follows:

[code]

Finally, to make sure the correct `cc` was picked up, a symlink to homebrew's clang was plac

[2021-05-26 20:36] vanhauser-thc commented on #938
did you run afl-system-config or increase the available shmem amount on your system?

[2021-05-26 21:31] vanhauser-thc commented on #938
shared memory was too small

[2021-05-26 21:31] #938 closed, assigned to nobody

[2021-05-26 21:44] mhlakhani commented on #924
Thanks for fixing this (in https://github.com/AFLplusplus/AFLplusplus/commit/109383f43830010c36b704c682ee537e6474d25a I assume). I'll close this out for now as it's fixed, but will still go through the process for future contributions.

[2021-05-26 21:44] #924 closed, assigned to nobody

[2021-05-27 08:56] capgelka commented on #731
I found this feature also useful for the same cmake related reasons.

I am building custom mutations libraries as a part of the whole project. So they are instrumented as well as the target binaries, which cause the error
[code]

It's actual for LLVM instrumentation, and everything is ok for outdated afl-gcc instrumentation.

There is an option `AFL_NOOPT` to disable instrumenting of my library, b

[2021-05-27 09:03] vanhauser-thc commented on #731
sure!

[2021-05-28 16:09] r00tus3r opened #944 "Writing a custom post processor"
Hi, I also have a question regarding the custom post processor.

In the example https://github.com/AFLplusplus/AFLplusplus/blob/stable/custom_mutators/examples/post_library_gif.so.c#L48 it is mentioned that if the post process function returns 0 the input is not sent to the target program and fuzzing is continued. When I tried to do that same the fuzzer throws the error: `Custom_post_process faile

[2021-05-28 18:15] Manouchehri commented on #896
@andreafioraldi Is there generic way to disable Android's crash reporting when building AOSP? (Or at runtime?)

[2021-05-28 20:20] vanhauser-thc commented on #944
yes the post process example is outdated. 0 is an illegal return.
I see the point that it can make sense to instead of "post processing" just to do "input verification" and then skip on the skip if unworthy.
If you want you can send a PR that skips the fuzz attempt instead of erroring.

[2021-05-28 20:22] vanhauser-thc commented on #937
@capgelka how far are you with a reproducible example? :)

[2021-05-28 20:22] vanhauser-thc commented on #930
fixed 8 days ago and forgot to document this here :)

[2021-05-28 20:22] #930 closed, assigned to nobody

[2021-05-31 16:11] #905 closed, assigned to andreafioraldi

[2021-05-31 22:44] capgelka commented on #937
@vanhauser-thc
Example is here:
https://github.com/capgelka/afl-custom-mutator-bug-example

Everything reproduced like in my work project, or maybe I've just done the same mistake :)

[2021-06-01 08:40] vanhauser-thc commented on #937
@capgelka thank you that helped, fixed!

[2021-06-01 08:40] #937 closed, assigned to nobody

[2021-06-01 08:44] vanhauser-thc commented on #851
implemented.

[2021-06-01 08:44] #851 closed, assigned to nobody

[2021-06-01 10:43] #762 closed, assigned to nobody

[2021-06-01 10:44] vanhauser-thc commented on #727
implemented

[2021-06-01 10:44] #727 closed, assigned to nobody

[2021-06-01 10:48] #659 closed, assigned to nobody

[2021-06-02 07:45] jskim20210115 opened #954 "Fail to create a testcase in queue"
**IMPORTANT**
1. You have verified that the issue to be present in the current `dev` branch
2. Please supply the command line options and relevant environment variables, e.g. a copy-paste of the contents of `out/default/fuzzer_setup`

Thank you for making afl++ better!

**Describe the bug**
Fail to create a testcase in queue directory and crash. (Running in docker container)
[code]
It seems like t

[2021-06-02 09:02] vanhauser-thc commented on #954
uh what a silly oversight by me.
I use the -F option without a '/'   (-F libfuzzer-corpus) hence this never occured to me ....
fixed in the dev branch.
thanks for reporting!

[2021-06-02 09:02] #954 closed, assigned to nobody

[2021-06-02 19:41] toralf commented on #910
With this patch on top of 3.13c
[code]
the values make sense. It seems, that values afl->prev_run_time are about in nanoseconds ?

[2021-06-03 10:50] leeeddin opened #955 "qemu-i386 not working"
qemu-i386: Unable to reserve 0xfffff000 bytes of virtual address space at 0x1000 (Success) for use as guest address space (check yourvirtual memory ulimit setting, min_mmap_addr or reserve less using -R option)
Runs in docker, the host has 256G RAM and a 64core CPU.
Tried -m none still not working.

[2021-06-03 11:10] vanhauser-thc commented on #955
have you tried outside of docker or running the docker container with --privileged?

[2021-06-03 11:16] leeeddin commented on #955
Have not try to run afl++ outside of docker.
And the docker is actually running with —privileged.
The docker itself is tested on other host, both afl and qemu all works fine, the tested machine has 16G RAM, 8core cpu.

[2021-06-03 11:21] backahasten opened #956 "LwIP fuzzy demo error"
LwIP provides a demo using AFL for fuzz under tests / fuzz. when I try to use afl++, all the seeds crash, but AFL can fuzz normally.I even put some seeds like "AAAA" "1" in it but it case a crash too.

[2021-06-03 11:21] backahasten commented on #956
[*] Scanning './inputs/'...
[*] Scanning './inputs//arp'...
[*] Scanning './inputs//icmp'...
[*] Scanning './inputs//inin'...
[*] Scanning './inputs//ipv6'...
[*] Scanning './inputs//tcp'...
[*] Scanning './inputs//udp'...
[+] Loaded a total of 11 seeds.
[*] Creating hard links for all input files...
[*] Validating target binary...
[*] Spinning up the fork server...
[+] All right - fork server is

[2021-06-03 11:32] backahasten commented on #956
If improve the logging function of the seeds file crash, It can help me locate the problem by myself

[2021-06-03 11:48] leeeddin commented on #955
By the way qemu-x86_64 works fine

[2021-06-03 12:00] leeeddin commented on #955
https://github.com/multiarch/alpine/issues/39
https://github.com/AFLplusplus/AFLplusplus/issues/892

STATIC=1 CPU_TARGET=i386 ./build_qemu_support.sh
works fine now

[2021-06-03 12:02] vanhauser-thc commented on #955
so without STATIC=1 it fails for you, with STATIC=1 it is fine?

[2021-06-03 12:04] leeeddin commented on #955
yes

[2021-06-03 12:39] andreafioraldi commented on #955
try setting the reserved va space qemu env, like described in https://github.com/AFLplusplus/AFLplusplus/tree/stable/qemu_mode#2-how-to-use-qemu_mode

[2021-06-04 02:07] leeeddin commented on #955
seems like not working:
qemu-i386: ./bin: requires more than reserved virtual address space (0x908041c > 0x1000000)

[2021-06-04 07:37] vanhauser-thc commented on #955
To me the message reads like you have to increase the value further by adding another 0

[2021-06-04 08:49] toralf opened #961 "time stamps in plots in 3.13c seesm to be wrong"
With this patch on top of 3.13c
[code]
the values make sense. It seems, that values afl->prev_run_time are about in nanoseconds ?

_Originally posted by @toralf in https://github.com/AFLplusplus/AFLplusplus/issues/910#issuecomment-853333392_

[2021-06-04 09:15] vanhauser-thc commented on #961
why dont you make a PR instead? :)

[2021-06-04 10:32] toralf commented on #961
b/c didn't analyze the bug in depth - instead just guessed here based n the output ;)

[2021-06-09 15:40] virtuald opened #968 "AFL_CAL_FAST vs AFL_FAST_CAL"
It seems to me that both environment variables should do the same thing? Currently, they do slightly different things. Both are documented in https://github.com/AFLplusplus/AFLplusplus/blob/stable/docs/env_variables.md , with apparently the same purpose?

* AFL_CAL_FAST @ https://github.com/AFLplusplus/AFLplusplus/blob/48c878a76ddec2c133fd5708b185b2ac27740084/src/afl-fuzz-state.c#L337
* AFL_FAST_C

[2021-06-10 08:13] vanhauser-thc commented on #956
well what happens when you do run the target directly with the input? it has to crash too I guess?
also you provided no information on which version of afl++ you are using etc.
basically - unless you improve your issue description nobody is really able to help you ...

[2021-06-10 08:25] vanhauser-thc commented on #968
true, never noticed. but actually worse: afl_cal_fast was dead code. now changed so both envs do the same thing and updated the docs. thanks for reporting!

[2021-06-10 08:25] #968 closed, assigned to nobody

[2021-06-10 08:31] vanhauser-thc commented on #961
prev_run_time is set in src/afl-fuzz-stats.c:138 as reading in the seconds from a saved fuzzer_stats on a restart and multiplying by 1000 and hence is milliseconds - same type as get_cur_time() and afl->start_time.
so if something is wrong it must be something different

[2021-06-16 12:43] YeJZ opened #980 "Please provide detailed instructions for FUZZ of AARCH64 binary/so in Frida mode"
Hello, I am trying to use AFL's Frida mode to FUZZ unsourced binaries. At present, I have successfully executed the make command in the frida-mode directory, but when I use "make ARCH=ARM64",I got this:

collect2: error: ld returned 1 exit status
GNUmakefile:171: recipe for target '/home/XXXXX/AFLplusplus/AFLplusplus/frida_mode/build/afl-frida-trace.so' failed
make: *** [/home/xxxxxx/AFLplusplus/A

[2021-06-16 12:55] andreafioraldi commented on #980
Looks like you are not on an arm64 machine...

[2021-06-16 13:38] vanhauser-thc commented on #980
@YeJZ you cannot fuzz a different architecture with frida. so x64 => x64, or aarch64 => aarch64.
to fuzz a different architecture you have to use qemu_mode

[2021-06-17 08:10] YeJZ commented on #980
Thanks for the answer, assuming I am on an AARCH64 device, do I need to port the source code of AFL++ to the AARCH64 device to compile and execute "make frida"?

[2021-06-17 08:25] YeJZ commented on #980
Yes, I compiled AFL++ on an x86 PC, and tried to use Frida mode to Fuzz the unsourced binary on the Anroid device (AARCH64). The reason for not using the QEMU mode is that the  data object construction is very complicated, so I want to use an in-process passive fuzz method like Frida-Fuzzer.

[2021-06-17 08:53] hexcoder- commented on #980
No, it already has been ported for AARCH64-Linux, so no porting work necessary from your side.
I checked it on a RaspberryPi with Manjaro-Linux.

[2021-06-17 09:42] YeJZ commented on #980
Thank you for the answer. Now I downloaded the source code of AFL++ and need to test the binary running on the Android device. Based on your experience, should I execute AFL++ compilation commands on X86? Can you briefly describe the process of running AFL++ on Raspberry Pi? thank you very much

[2021-06-17 09:43] YeJZ commented on #980
Thank you for the answer. Now I downloaded the source code of AFL++ and need to test the binary running on the Android device using AFL-Frida mode. Based on your experience, should I execute AFL++ compilation commands on X86? Can you briefly describe the process of running AFL++ on Raspberry Pi? thank you very much

[2021-06-17 10:26] marcellomaugeri opened #981 "Deferred initialization clarifications"
Hey developers,
I'm trying to fuzz a target that forks itself and I'd like to perform the AFL loop only for the target process, then I'm using the deferred initialization like in this structure:
[code]
from what I've understood, the fork call should happen only once and then the forkserver should work only inside the loop, however, the fork is being called many times, slowing the entire process.
W

[2021-06-17 13:28] mdindoffer opened #982 "Docker image instructions out of date?"
I think the Readme section regarding docker builds is either out of date or incomplete.

Readme states:

docker run -ti -v /location/of/your/target:/src aflplusplus/aflplusplus

If I understand correctly, the docker image should come with precompiled afl-fuzz binaries?
It doesn't seem to be the case.

### 1. `/src/` is empty
The instructions say to mount the `/src` directory. But that directory in

[2021-06-17 13:48] vanhauser-thc commented on #982
no you are just not reading it correctly or you just dont know docker :-)
`docker run -ti -v /location/of/your/target:/src aflplusplus/aflplusplus`
you see that -v /location/of/your/target:/src ?
and yes, afl++ is already compiled and installed in the container

[2021-06-17 13:48] #982 closed, assigned to nobody

[2021-06-17 13:50] vanhauser-thc commented on #981
why does the target need to fork on its own? the AFL_INIT needs to be before the fork if the fork is necessary in the target.
note though that the forked part of the program needs to terminate itself at once.
it is better to modify the target so that it does no fork on its own.

[2021-06-17 13:57] mdindoffer commented on #982
Ah you are right, I should read more carefully. I wanted to fuzz on my host, not in a container so I thought of the target as source (i.e. a build target) and vice versa.
Thanks :+1:

[2021-06-17 14:18] vanhauser-thc commented on #982
all good happens to me all the time :)

[2021-06-17 15:40] marcellomaugeri commented on #981
Because in the child process I'd like to perform some extra experiments in parallel in order to improve the coverage and I'm also trying a different strategy. For instance I could fork a server (which has its own loop inside) and a client in the same program, execute the loop only for the client but still get coverage data and crashes from both of them

[2021-06-18 23:32] wideglide opened #983 "resume results in fork server termination"
**Describe the bug**
I'm attempting to use the resume feature of AFL++ using some of the FuzzBench targets.  Unfortunately all but one of the benchmarks fails during resume, either while processing the old queue during the dry-run phase, or relatively early (10-100) test cases into fuzzing.  There's never an error when launching a new campaign, only when resuming.  I'm just not sure what is causin

[2021-06-19 02:40] wideglide commented on #983
disregard,  I think I was overlooking something simple.

[2021-06-19 02:40] #983 closed, assigned to nobody

[2021-06-21 04:49] QingyangChen opened #984 "Test Cases link failed on MacOS"
Hi, I encountered a link error with 3.14a on MacOS.

Compiler Environment:
1. MacOS Big Sur 11.3.1
2. llvm 12
3. python3.9

Environment variable:
[code]
If I execute the ```make distrib``` command, it can compile normally.
If I  execute the```CFLAGS="-DUSEMMAP=1" make distrib``` command when compiling afl++, the compilation will pass, but the link will report an error:
[code]

[2021-06-21 08:57] vanhauser-thc commented on #984
but why are you not satisfied with the result of normal "make distrib"?

[2021-06-21 14:12] Mabalkhil commented on #984
the same issue the normal "make distrib" isn’t working properly
i got  'SYSTEM ERROR : shmget() failed' any idea how to solve it

[code]

@vanhauser-thc

[2021-06-21 18:08] Mabalkhil opened #985 "Can’t compile frida_mode MacOS"
Hello everyone , i am trying to compile frida_mode in afl++
and every time i pass an error i face another one
i am not sure if it is Compatible with Big Sur

**Compiler Environment:**

1. MacOS Big Sur 11.3.1
2. llvm 12
3. python3.9

**environment variables :**

`export LDFLAGS="-L/usr/local/opt/llvm/lib -Wl,-rpath,/usr/local/opt/llvm/lib"
export PATH="/usr/local/opt/llvm/bin:$PATH"
export CPPFLAG

[2021-06-22 00:56] QingyangChen commented on #984
@Mabalkhil

I know this problem, please execute ```sudo ./afl-system-config```

[2021-06-22 01:17] QingyangChen commented on #984
Hi @vanhauser-thc,

I want to use this project: https://github.com/ttdennis/fpicker, it requires AFL++ to compile with ```CFLAGS="-DUSEMMAP=1"``` parameter.

So, I would like to ask if you have used this parameter or encountered such a situation.

[2021-06-22 06:30] vanhauser-thc commented on #984
please dont hijack other people's issue, your problem might be different. open your own.

[2021-06-22 06:32] vanhauser-thc commented on #984
MMAP is required for Android, but if you compile for MacOS the makefile will take of what is needed.

I havent used fpicker (as I dont fuzz Android), so I dont know if fpicker works for MacOS.
(and I dont even have a Mac)

[2021-06-22 06:34] vanhauser-thc commented on #985
can you try to change __NR_write to SYS_write in frida_mode/src/cmplog/cmplog.c ?
@WorksButNotTested  @domenukk

[2021-06-22 08:01] QingyangChen commented on #984
Thanks for your reply, I will try to analyze this problem and hope to solve it.

[2021-06-22 08:01] #984 closed, assigned to nobody

[2021-06-22 12:53] Mabalkhil commented on #985
Thank you for answering  🙏
i edited the code and run **make**
it gave one warning and linker error

=== Warning ===
<img width="885" alt="Screen Shot 2021-06-22 at 3 48 01 PM" src="https://user-images.githubusercontent.com/27925703/122929189-5377ec00-d373-11eb-80df-4eac2795409c.png">

=== Linker Error ===
`ld: unknown option: -z
clang: error: linker command failed with exit code 1 (use -v to see i

[2021-06-22 12:59] vanhauser-thc commented on #985
the picture clearly shows you did not make the code change

[2021-06-22 13:04] Mabalkhil commented on #985
Sorry i upload the wrong pic ,
"i edit the previous comment"

[2021-06-22 14:22] WorksButNotTested commented on #985
Sorry. This is my fault. FRIDA mode is quite new and development is happening at quite a quick pace. The focus has been on Linux x64 at the minute, so regression testing against different platforms etc has only been periodic. There's a few little cosmetic tweaks needed to get things back working, I'll put together a PR tonight. Drop me a message in discord if you need hit any problems and I'll see

[2021-06-22 15:18] andreafioraldi commented on #985
write(2) cannot be used here because if you link the asan runtime then the write hook of asan will be used

[2021-06-22 15:34] vanhauser-thc commented on #985
can you checkout the dev branch and see if this works for you?

[2021-06-22 15:35] WorksButNotTested commented on #985
Dev needs fixes too. All little cosmetic things. But I'll get the PR in tonight.

[2021-06-22 15:42] Mabalkhil commented on #985
Same issues in Dev branch

[2021-06-22 15:49] vanhauser-thc commented on #985
are you sure you did a "git pull"? because it cant be the same issue, I removed the -z ...

[2021-06-25 09:20] maxammann opened #993 "Provide a macro! for implementing mutations"
**Is your feature request related to a problem? Please describe.**
I was a bit frustrated while implementing mutators it is quite verbose.

**Describe the solution you'd like**
Maybe a macro like this makes sense:

[code]

It allows usage like this:

[code]

**Describe alternatives you've considered**
Maybe it would be possible to simplify the mutator setup.

**Additional context**
I could also do

[2021-06-25 09:41] domenukk commented on #993
I guess you wanted to open this over at https://github.com/AFLplusplus/LibAFL ? 🙃

[2021-06-25 11:40] maxammann commented on #993
Woopsie! Yes, thanks! :P

[2021-06-25 11:40] #993 closed, assigned to nobody

[2021-06-28 09:24] vanhauser-thc opened #997 "afl++ 3.20 release changes"
the next release will be 3.14.

for 3.20 the current changes are planned:
  * make cmplog the default when compiling with afl-clang-fast/afl-clang-lto
    - needs an extra env to not do cmplog instrumentation
    - do we require -c 0 like for frida and qemu
    - put either signature into binary when compiling or set flag in forkserver communication
  * auto enabled AFL_CMPLOG_NO_NEW if more than

[2021-06-28 09:25] #955 closed, assigned to nobody

[2021-06-28 09:25] #956 closed, assigned to nobody

[2021-06-28 09:26] vanhauser-thc commented on #961
@toralf can you please check if there is an issue and if so explain what it is?

[2021-06-28 09:26] vanhauser-thc commented on #980
@hexcoder-

[2021-06-28 09:27] vanhauser-thc commented on #981
@Maray97 I dont think this easily works. also if the target crashes this cannot be detected by afl-fuzz (unless your fork main process also goes into a crash on purpose, etc.)

[2021-06-28 09:28] vanhauser-thc commented on #985
@Mabalkhil ?

[2021-06-28 09:31] toralf commented on #961
Well, if you have a look at these graphs : http://tinderbox.zwiebeltoralf.de:31556 they have now a valid x-axis using the fix for afl->prev_run_time, otherwise the numbers were about 10^6 or 10^9 or so

[2021-06-28 09:33] Mabalkhil commented on #985
i manage to compile it and it is working perfectly .
big thanks to @WorksButNotTested for helping me
Amazing team

[2021-06-28 09:33] #985 closed, assigned to nobody

[2021-06-28 16:28] rmallof opened #998 "Integrate afl-compiler-fuzzer"
**Is your feature request related to a problem? Please describe.**
Fuzzing compilers with the current strategies does not offer a deep code coverage of the target

**Describe the solution you'd like**
https://github.com/agroce/afl-compiler-fuzzer

**Describe alternatives you've considered**
I considered to use the dictionaries option filled with the syntax of particular programming languages.

[2021-06-28 16:33] andreafioraldi commented on #998
there is a branch, but quite old. imo this doesn't have much sense, we should instead wait for the new polyglot fuzzer code that should perform better and spend time integrating it.

[2021-06-28 16:40] rmallof commented on #998
If polyglot if on its way, probably that would be another option - I did not know that one :)

Thanks @andreafioraldi, looking forward to see what new features afl++ releases!

[2021-06-28 16:43] rmallof commented on #998
I'm quickly checking Polyglot - looks like it requieres to define a grammar for the language.

I think afl-compiler-fuzzer approach is to avoid to explicitly define that, instead using dictionaries and inputs to keep the syntax valid

[2021-06-28 20:30] hexcoder- commented on #980
Sorry, I have no experience with fuzzing on Android nor do I use frida myself.

As for the Raspberry Pi 4, I have two of them, one with Raspberry Pi OS (32-bit) and one with Manjaro Linux (64 bit).
All I did was installing the necessary tool chain to build AFL++ on it, build AFL++ and let the tests run.
This was exactly like on a PC (since it is Linux on both platforms).

What you want to know is

[2021-06-28 20:35] domenukk commented on #980
Sorry, no good input from my side. Optionally, try libafl frida mode, cross compiling that for android is well tested https://github.com/AFLplusplus/LibAFL/tree/main/fuzzers/frida_libpng

[2021-06-29 07:23] vanhauser-thc commented on #998
a compiler fuzzer a specific kind of fuzzer. a specific fuzzer will usually be better for that specific target but at the cost that you cant use it for anything else, e.g. like fuzzili for javascript.
afl++ is a generic fuzzer. specifics can be built into it via custom modules but that is up to the user.

btw the source of polyglot is available for over a month know. and yes it is a grammar mutato

[2021-06-29 15:31] YeJZ commented on #980
Thank you for your answer.
And yes, what I want to know is the  first hand experiences on fuzzing binaries on Android.

[2021-06-29 15:32] YeJZ commented on #980
Thank you for your answer,I will try it out according to your suggestion.

[2021-07-01 05:23] msymt commented on #756
@vanhauser-thc

If you have a report that compares deterministic and non-deterministic cases, could you please let me know?

[2021-07-01 06:29] vanhauser-thc commented on #756
@msymt that is burried in fuzzbench issue discussions and benchmark runs from 2+ years ago.
just try it yourself on a target. run one instance with -D and another one without and check the results one hour later.

[2021-07-02 08:39] vanhauser-thc commented on #961
This is the plot data that is currently generated by afl-fuzz:
[code]
you see that there is is no milliseconds and nanosecond data in there. the first value is clearly a 5 second interval.

[2021-07-02 08:45] vanhauser-thc commented on #961
from your output you are generating it looks like you are using a current afl-plot, but an outdated afl-fuzz

[2021-07-11 10:37] yuawn opened #1016 "About squash merges"
Hi,

I was wondering if it would be better to use squash merges on the release branch rather than the default branch (stable). 

From my point of view, since the stable branch syncs a stable version from dev, it's reasonable to keep a complete commits history, so it is easier to diff the WIP commits between stable and dev.

And contributors of squashed commits on the default branch don't show up a

[2021-07-11 11:56] vanhauser-thc commented on #1016
yeah you are right. squash is the default, will try to remember to change this for PRs to stable in the future. good call!

[2021-07-11 11:56] #1016 closed, assigned to nobody

[2021-07-13 12:06] DmitryJustDmitry opened #1018 "Need help with AFL_LLVM_ALLOWLIST"
Hi, can`t understant how to use AFL_LLVM_ALLOWLIST (Ubuntu 20.04, clang/llvm 12)

Steps to reproduce the behavior:
1. mkdir /tmp/postgres && cd /tmp/postgres

2. create file "allowlist.txt" with data:
\*.c
\*c
/tmp/postgres/\*

3.  git clone https://github.com/AFLplusplus/AFLplusplus && cd AFLplusplus && make -j20  && cd ..  # Everything is fine, lto compiled successfully

4. CC=/tmp/postgres/AFLp

[2021-07-13 12:29] vanhauser-thc commented on #1018
matching on filenames is difficult as this information is not always depend. I cant tell you when and when it is not present, that is inherent clang magic :-(
however matching on function names always works.

your usage of that feature makes no sense because you instrument everything. if you instrument everything than you do not need this option as this is the default.
you only use this option if

[2021-07-13 13:09] DmitryJustDmitry commented on #1018
Thanks a lot! I noticed that fun: filter really works well and bumped into a trouble with filenames with globes and directories.

BTW, is that correct, that AUTODICTIONARY feature and AFL_LLVM_DICT2FILE key pass doesn`t depend on allowlist/denylist and analyse the whole program?

[2021-07-13 13:43] vanhauser-thc commented on #1018
no they also honor the allow/deny list (unless I made a mistake in the code)

[2021-07-13 14:07] Po1lux opened #1019 "When I run the script in /qbdi_mode/build.sh, I encountered some errors"
![image](https://user-images.githubusercontent.com/20920394/125465700-5c118a87-7063-4d59-9a6a-f191655a07b5.png
i follow the tutorial on https://github.com/AFLplusplus/AFLplusplus/tree/stable/utils/qbdi_mode, When I run the script in /qbdi_mode/build.sh, I encountered some errors. could you please give me some ideas,thanks:)

[2021-07-13 14:30] vanhauser-thc commented on #1019
uh we got this submitted a long time ago, and since then a lot of the afl++ api has changed and hence it didnt work anymore.
as we - or as it seems anyone else - are not using it nobody noticed :)
we should either update or or remove it ...
you could use frida_mode instead, which should also have a better performance.

[2021-07-13 14:58] Po1lux commented on #1019
Thanks for the reply! what you have done is very cool! in fact I just started to learn to use fuzzing on the Android platform, regretfully I did not pay attention to this project earlier.

[2021-07-13 19:24] DmitryJustDmitry commented on #1018
Hmm...

I\`ve made a "bad" allowlist (as you told earlier - this allowlist doesn`t make sense, because should allow all units to be instrumented. But nothing is instrumented because of (look your first answer)):

[code]

That gives me warning (Nothing to be instrumented) at every translation unit when afl-clang-lto compiles, but across the warning I see dictioinary-generating messages and dict.log

[2021-07-14 08:28] DmitryJustDmitry commented on #1018
Excuse me, please - I tried the way you wrote me, but the result looks strange again:

1. I formed an allowlist, consists of all postgres src`s filenames (and **config_info.c**):

[code]

2. Started compilation with (after make clean):

`AFL_DEBUG=1 AFL_LLVM_ALLOWLIST=/tmp/postgres/full_allowlist.txt  make`

and pressed Ctrl+c after a couple of seconds (for time saving, 10+ translation units were

[2021-07-14 11:31] vanhauser-thc commented on #1018
you are running into the same issue that I already explained.
clang (for unknown reasons to me) does not always has the source filename as debug information. hence when instrumenting and checking if a function is in an allow/deny filelist this fails. and depending on if you used allow or deny the opposite is done.

so:
  1. you have defined config_info.c in the allow list
  2. when instrumenting t

[2021-07-14 12:11] DmitryJustDmitry commented on #1018
Thanks a lot!
Now i\`ve got the point - allow/deny instrumentation in general (and creating dictionary at compile time) depends on debug information persistence. But clang doesn\`t ensure this persistence, despite of `-g` enabled.

[2021-07-14 12:11] #1018 closed, assigned to nobody

[2021-07-14 12:33] vanhauser-thc commented on #1018
you closed this too early, there was still the bug that dictionary creation was not honoring the AFL_LLVM_...LIST, just pushed the fix to dev :)

[2021-07-15 06:25] DmitryJustDmitry commented on #1018
Cool! I decided not to disturb you more and closed it Now it\`s really closed in dev so i won\`t reopen! :)

Also a asked a question to my clang-aware colleagues about:

*find out how you can force clang to always set the filename into the debug information instead of sometimes yes, sometimes no. -g should make it always present - but obviously doesn't.*

If a solution would be found, we will reop

[2021-07-15 07:02] vanhauser-thc commented on #1018
@DmitryJustDmitry that would be a great help! thank you!

[2021-07-15 07:27] BlackCatNeo opened #1022 "template_test_harness.py does not match the samples/simple harness.py code"
From the unicornafl updates, it seemed like there was a change in how to start the unicorn mode fuzzing in the python harness with the use of uc.afl-fuzz().

However, the change was not documented or mentioned plus the template script does not reflect the same changes in the sample/simple. Hence, researchers who used the old method of using afl-fuzz in unicorn_mode would keep running into the case

[2021-07-15 07:37] domenukk commented on #1022
Please take a look in https://github.com/AFLplusplus/AFLplusplus/tree/dev/unicorn_mode/samples for the example harnesses.
I guess I'll just remove this one, never looked into it...

[2021-07-15 07:40] domenukk commented on #1022
Specifically, this should be the right way to do it, in case you don't want to use afl_fuzz for whatever reason:

https://github.com/AFLplusplus/AFLplusplus/blob/458eb0813a6f7d63eed97f18696bca8274533123/unicorn_mode/samples/simple/simple_test_harness_alt.py#L181

However migrating to the `afl_fuzz` method should be a lot quicker

[2021-07-15 08:37] BlackCatNeo commented on #1022
Oh ya @domenukk , just a minor thing. The unicorn_loader.py is not updated to use unicornafl instead of unicorn. With the change to import the right library, unicornafl, the rest of the code still works so far for me at least.

[2021-07-15 10:36] domenukk commented on #1022
Fixed with ed2d4743696ac2c5e3d9a167a091930ac8c2e4ad thx :)

[2021-07-16 01:48] BlackCatNeo commented on #1022
Thanks =)
Good work keeping the project alive  (' v ') b

[2021-07-16 01:48] #1022 closed, assigned to nobody

[2021-07-16 16:34] hexcoder- opened #1027 "frida_mode compilation on RasPi 32-bit failed"
Current dev: compilation (make ASAN_BUILD=1 DEBUG=1 distrib) on Raspbian 32-bit (armv7l) fails in frida_mode with:

[code]
@WorksButNotTested : looks to me like a cut-and-paste error. Will see if I can fix that...

[2021-07-16 17:08] WorksButNotTested commented on #1027
Awesome. Thanks. I’ve not been spending a lot of time on 32 bit arm because it’s not what I’m targeting right now and it’s not as popular. So a few silly things like this might crop up I’m afraid.

let me know how it’s working for you though. Always good to get feedback.

[2021-07-19 09:15] Liikt opened #1033 "AFL segfaults after queue got pruned and replaced"
**IMPORTANT**
1. You have verified that the issue to be present in the current `dev` branch ✔️
2. Please supply the command line options and relevant environment variables, e.g. a copy-paste of the contents of `out/default/fuzzer_setup` ✔️

Thank you for making afl++ better!

**Describe the bug**
After pruning the current queue and then continuing a fuzz run with `-i -` afl segfaults. The bug seem

[2021-07-19 09:42] vanhauser-thc commented on #1033
yeah what you are doing is totally illegal. if you modify the contents in the queue directory you also have to update fuzzer_stats, correct links, etc.
no surprise it is crashing and that it is crashing is totally fine :)
what you need to do is fully restart with the afl-cmin/afl-tmin directory as -i.
Note that by default afl-fuzz does trim itself, so the queue entries are already trimmed (unless

[2021-07-19 11:03] #1033 closed, assigned to nobody

[2021-07-21 13:14] skisssbb opened #1040 "How to expand AFL++ to fuzz embedded device without any binary nor debug interface?"
Hi,

i am currently working on my masterthesis. For my use case I have to fuzz an automotive hardware. The use case is that the software on the automotive hardware is unknown => no binary nor debug interface for instrumentation/unicorn mode.

I have a way to detect jump between basic blocks which will allow me to imitate the AFL++ instrumentation process. However, the amount of basic blocks is unk

[2021-07-21 14:49] vanhauser-thc commented on #1040
well yes, afl_proxy/afl-proxy.c is your best bet in such a situation.

you receive the input by stdin. so read from there and pass it on to the target with whatever the input channel is.

the amount of total blocks is not important, but what do you detect? just that a jump happened, or also the new address?
if you see the address just do something like this:

[code]

if you have no addresses ... w

[2021-07-23 11:34] skisssbb commented on #1040
First of all, thank you very much for the quick response.
[code]
I'm working on a concept to improve code coverage with side-channel analysis. According to state-of-the-art I should be able to detect jumps and the relative distance (in instructions) from the current block to the destination block. With that information, I can give each basic block somewhat of a virtual address. That should be enou

[2021-07-23 21:59] Nexolight commented on #559
so where did you put it because I'm facing the same and it is where the documentation says.

[2021-07-25 17:20] vanhauser-thc commented on #559
well utils/persistent_mode/persistent_demo_new.c has everything at the right location and it works ... :)

[2021-07-25 17:24] vanhauser-thc commented on #1040
maybe. dunno. please make a concrete example :)

[2021-07-27 11:44] skisssbb commented on #1040
So I try to give each basic block a virtual ID. For example we have following transitions between Block A (0x0000) -> B(0x1234) -> C (0x5678). Then my detection program would give back to AFL++ an ordered list of block IDs [0x0000, 0x1234, 0x5678].
AFL++ can then do something like this right?

[code]

[2021-07-27 11:56] vanhauser-thc commented on #1040
well if you can give each block a unique virtual id then you are already there.

cur_loc := the virtual block id now entered

[code]
and before a new fuzz input run you init prev_loc with 0.

[2021-07-27 12:15] skisssbb commented on #1040
Thank you, I will try this out

[2021-07-28 09:59] skisssbb commented on #1040
Hi Vanhauser, I forgot to ask how the crash report works. How can I tell AFL in afl-proxy that a crash has occured?

[2021-07-28 10:42] domenukk commented on #1040
You could report an error this value as status from your loop, similar to this
https://github.com/AFLplusplus/unicornafl/blob/0d82727f2b477de82fa355edef9bc158bd25d374/afl-unicorn-cpu-inl.h#L356

(see https://github.com/AFLplusplus/unicornafl/blob/0d82727f2b477de82fa355edef9bc158bd25d374/afl-unicorn-cpu-inl.h#L161 for the value)

[2021-07-28 13:13] vanhauser-thc commented on #1040
the last int of a fuzz run that a targets writes to afl-fuzz is a return code.
`if (WIFSIGNALED(value)) { crashed();}`
you have to set those bits so that WIFSIGNALED matches true

[2021-07-28 14:29] Kyle-Kyle opened #1048 "Conflict between ngram implementation and comments"
It looks like there is some conflict between the implementation and the comments about ngram.
According to the comment:
[code]
It should be `(prev_block_trans << 1) ^ curr_block_trans`. But in the implementation, the `<< 1` part is missing.

In normal cases, `PrevLoc` stores previous `curr_loc << 1` and `PrevLocTrans = PrevLoc;`, which means `PrevLocTrans` has `<< 1` already in edge coverage. But

[2021-07-28 14:31] Kyle-Kyle commented on #1048
Also, I noticed that the ngram implementation is borrowed from [here](https://github.com/adrianherrera/afl-ngram-pass/blob/master/vectorized/afl-llvm-pass.so.cc#L184), which is also contradictory to the comment

[2021-07-29 07:35] vanhauser-thc commented on #1048
@Kyle-Kyle yes true. I basically just ripped the code from that repo :)
I think the comment is the right way to do it, the code is not. what do you think?
and @adrianherrera and @hexcoder- and @andreafioraldi ?

[2021-07-30 02:45] adrianherrera commented on #1048
Hi all,

Yes, I have noticed this contradiction also :)

As you noted, the implementation is largely taken from the qemu version implemented for the "be sensitive and collaborative" paper. And yes, this implementation does not strictly follow what is written in the paper (which is where my comment quotes from).

So I just picked the same implementation (because that's what I was evaluating at the

[2021-07-30 02:53] Kyle-Kyle commented on #1048
If the original implementation is like this and it has been evaluated, I think it is fine we keep it as it is.
We just need to change the comment for clarification.

[2021-07-30 03:22] vanhauser-thc commented on #1048
I think I see an issue.
if prev_block_trans is a looping block, the block id stays the same and (depending on if ngram-3, ..-5, ...) will just xor with itself and potentially be 0.
IMHO the shift is necessary. what do you think?

[2021-07-30 03:28] Kyle-Kyle commented on #1048
This issue persists even with the left shift because `prev_block_trans` is just a xor of the bounded history. And if the history consists of loop addresses, it will lead to only two results.
But yes, adding the left shift will definitely lessen the issue to some degree.
relevant code is here:
[code]

[2021-07-30 04:01] vanhauser-thc commented on #1048
I think why it was not done like it was described in the paper is that left shift does not work. the map size is not necessarily 2^16, it can also be e.g. 2^15 if changed in config.h. a left shift + xor will result in values larger than the map and hence results in a crash. so it would need `% MAP_SIZE` but this would make the instrumentation slower.
so the best is to do a right shift instead, rig

[2021-07-30 12:56] f0rki opened #1051 "Can't compile with both NO_SPLICING=1 and INTROSPECTION=1"
It seems `afl-fuzz` cannot be compiled with both `NO_SPLICING` and `INTROSPECTION` at the same time. I suspect this is a build system issue, because in the printed compiler command the `-DINTROSPECTION=1` does not show up anymore once I added `NO_SPLICING=1`. I am using GNU Make 4.3.

**To Reproduce**

1. `make source-only INTROSPECTION=1`
2. ```
    $ ./afl-fuzz 2>&1 | grep -E '(INTRO|SPLIC)'

[2021-07-30 13:52] vanhauser-thc commented on #1051
thanks, fixed in dev.

[2021-07-30 13:52] #1051 closed, assigned to nobody

[2021-08-01 20:59] adrianherrera commented on #1048
Yeah what you say makes sense. It could also just be a mistake :)

I will contact the authors and see what their reason is, because I am very curious to know!

[2021-08-05 18:41] f0rki opened #1054 "cmplog fails to solve repeated comparison (maybe due to lack of coverage signal)"
First of all, thanks for maintaining AFL++ - what an awesome project. Second, I am not sure this is a bug, or maybe a feature request instead, maybe this is a (un)known limitation. So bear with me please.

I observed that sometimes cmplog is mysteriously not able to solve certain comparisons in a target I am currently fuzzing. I tried to debug it and I *think* I have distilled the following minima

[2021-08-06 09:13] vanhauser-thc commented on #1054
@f0rki thank you for reporting!

the reason is most likely this:
[code]
a coverage value in an edge is converted to a specific coverage bit. a value of 3 or 4 in the coverage map is mapped to the 3rd bit. and hence no progress is seen in afl. for the 4th solve.
Why is this done? because otherwise we would have path explosions (so many more queue entries) plus needing much more memory to be able to

[2021-08-06 10:14] f0rki commented on #1054
Only with `  #pragma clang loop unroll(full)` in the source I was able to fully unroll the loop. I guess in this case the loop bound (or body?) is too big to unroll for clang's automatic loop unrolling.

But even if you manage to unroll the loop in this case, this is not a general fix. In my actual target it actually happens because of repeated calls to a helper function (i.e., a custom `memcmp` i

[2021-08-06 10:32] vanhauser-thc commented on #1054
If it would be possible to get the same `#pragma clang loop unroll(full)` and a global `__attribute__((flatten))` via clang command line options, this would be perfect I think. (would hurt performance a bit though, but I think the cost might be worth it).

cmplog/redqueen is not a solving mechanism. it is not concolic execution not tries it to be, hence we do not look if a specific comparison is s

[2021-08-06 11:16] f0rki commented on #1054
Haven't found anything that can be easily added. I am not sure whether it makes sense to do this in general. If you unroll the wrong loop or flatten the wrong function the code size explodes, which effectively prevents caching. At this point it might be better to use n-gram or ctxt sensitive coverage.

(btw. somewhat unsurprisingly I just tested using 16-gram coverage on the example above without

[2021-08-06 11:27] eqv commented on #1054
I think @vanhauser-thc is spot on: AFL++ is unable to make progress beyond loop iter 4, as the next "new coverage" would require to solve 4 cmps at the same time. I see three ways to address this problem:

* An easy fix could be to create a new AFL++ mode, where we remove the binning operation and simply compare the counters: `run_map[i]>global_map[i]` to determine interesting inputs instead of `r

[2021-08-07 17:55] cystema opened #1056 "Makefile uninstall target?"
**Is your feature request related to a problem? Please describe.**
Fixing installation problems would be a lot easier if we could do a full uninstall.

**Describe the solution you'd like**
Adding an uninstall target to the Makefile would solve that issue.

[2021-08-16 16:44] skisssbb commented on #1040
Hi,

I have implemented this and tried to fuzz a simple fake python server of 5 block IDs.
![BlockIDGenServer](https://user-images.githubusercontent.com/20577889/129596739-9cd8c96d-7d3a-446a-89d6-80d31053fce9.png)
A crash will be signalized, when ever the value 66 (0x42) is sent in the first byte (required the statemachine being in state 0004).

However, while testing this, I got following ERROR f

[2021-08-17 07:04] TheCrott opened #1069 "Error Building Optimin"
I'm building optimin with pre-built llvm 11 and 12 on ubuntu 20.04 got this error

[code]

[2021-08-17 07:05] TheCrott commented on #1069
@adrianherrera

[2021-08-17 07:14] adrianherrera commented on #1069
Hey @TheCrott,

Can you please supply the entire output trace? I can only see warnings, so it's unclear to me where the build actually failed.

[2021-08-17 07:35] TheCrott commented on #1069
Here is the full output trace
https://gist.github.com/TheCrott/ab7a21f9c862d0838f5cb65843906c2a

[2021-08-17 07:36] vanhauser-thc commented on #1069
@TheCrott as you can see - the compile error is with EvalMaxSAT. you have to report the error to that repo:
https://github.com/FlorentAvellaneda/EvalMaxSAT

[2021-08-17 07:36] #1069 closed, assigned to nobody

[2021-08-17 07:41] vanhauser-thc commented on #1040
If you do not want to disable core analysis (why would you not?) then you can set AFL_I_DONT_CARE_ABOUT_MISSING_CRASHES.

the data in out/default/crashes is the one that crashes the target. but as you do your own signaling to tell that there is a crash you might just be doing that wrong (obviously as your proxy tool has the right crash data though alf-fuzz saves the wrong). so what then happens is

[2021-08-17 08:29] vanhauser-thc commented on #1056
done, available in dev branch

[2021-08-17 08:29] #1056 closed, assigned to nobody

[2021-08-17 08:30] vanhauser-thc commented on #1027
is this fixed?

[2021-08-17 08:31] vanhauser-thc commented on #1019
@Po1lux did you fix qdbi_mode to work for you? or did you switch to qemu_mode or frida_mode?

[2021-08-17 08:32] #998 closed, assigned to nobody

[2021-08-17 08:33] #980 closed, assigned to nobody

[2021-08-17 08:34] vanhauser-thc commented on #961
if you have ensured you updated and installed your afl++ installation, and a new run fuzz still has wrong values for you please reopen :)

[2021-08-17 08:34] #961 closed, assigned to nobody

[2021-08-17 08:36] vanhauser-thc commented on #744
@ButcherAdaCore last ping was over 3 months ago :) how far along are you with the implementation? :)

[2021-08-17 12:21] Po1lux commented on #1019
no... I have tried qemu_mode but its to slow...

[2021-08-17 12:34] vanhauser-thc commented on #1019
well I would expect qemu mode to be the fastest of the three options (if qbdi mode would work).
if you have speed issues and you can rehost with all the libs, then try to fuzz on a strong intel cpu machine (and compile qemu_mode for arm64). but with the android libc and the kernel etc. this often fails.

[2021-08-17 12:40] Po1lux commented on #1019
Thank you for your reply, I will continue to try to find a solutions in the future.

[2021-08-17 14:50] ButcherAdaCore commented on #744
Morning @vanhauser-thc, sorry for not providing an update on this sooner.

Unfortunately we've made little progress with this since my last update. Our compiler team is fully occupied working on another higher priority project and the CMPLOG work has had to take a back seat. As previously stated we did implement and test the first compiler pass, however, we found problems with the code and didn't

[2021-08-17 15:28] #1019 closed, assigned to nobody

[2021-08-18 00:23] Matir opened #1072 "Compilation of AFL++ results in massive load"
**Describe the bug**
`make distrib` results in massive CPU load due to passing `-j` to submake jobs, leading to unbounded numbers of processes to be started.  This results in an unusable system, OOM errors, and more.

**To Reproduce**
Steps to reproduce the behavior:
1. Clone current stable or dev
2. Run make distrib
3. Watch CPU load blow up.  (In my case, jobs get killed by OOM killer, resulting

[2021-08-18 08:05] vanhauser-thc commented on #1072
that is very weird. changing it to -j1 or -j128 has zero difference for us.
and you are running the same version as me.
I can change it back as it has no impact.
what CPU and distro are you on?

[2021-08-18 11:04] WorksButNotTested commented on #1027
I don't have a 32-bit arm target, but on my RPI running ubuntu 20.04, this builds ok for me.
`LD_LIBRARY_PATH=/usr/arm-linux-gnueabihf/lib/ ARCH=armhf CC=arm-linux-gnueabihf-gcc CXX=arm-linux-gnueabihf-g++ make`

[2021-08-29 08:23] asanrocks opened #1082 "Redundant code optimizing for FuzzBench"
It seems that AFL++ is optimizing for a number of string comparison functions:

https://github.com/AFLplusplus/AFLplusplus/blob/353d402aaf9296c7dbd47e66fbbc6e59179c4e44/instrumentation/compare-transform-pass.so.cc#L155-L187

The listed functions are targeted at libxml2, LCMS, OpenSSL, curl, and more programs inside FuzzBench. The code seems to be redundant since it only covers a very limited set o

[2021-08-30 06:46] vanhauser-thc commented on #1082
I copied the list of functions from honggfuzz :)

[2021-08-30 09:53] andreafioraldi commented on #1082
OpenSSL, Curl and libxml2 are widely used libraries and programs often uses this function, I don't think that making AFL++ less effective on these programs for the sake for benchmarking is a good idea.

The impact is zero in Fuzzbench, as this pass is related to LAF-Intel, and by default we don't use it. We use dict2file and cmplog and cmplog works with every function having pointer arguments igno

[2021-08-31 20:18] collinmay opened #1083 "Holes in Count Class Lookup Table"
In 2a994e457a75c28272373ba24cd4158239c007fd, this array initializer was rewritten so as not to require special gcc syntax. However, it was rewritten incorrectly and there are two large holes in the lookup table between [64, 127] and [192, 255].

https://github.com/AFLplusplus/AFLplusplus/blob/353d402aaf9296c7dbd47e66fbbc6e59179c4e44/src/afl-fuzz-bitmap.c#L160-L176

[code]
If an edge is covered wit

[2021-08-31 21:42] vanhauser-thc commented on #1083
@collinmay you are right! thanks for reporting! weird that we do not see a regression in our regular testing. but it could have eaten up improvements we made in other parts..

@hexcoder- please note the bug

[2021-08-31 21:56] vanhauser-thc commented on #1083
fixed in d4a8a9d

[2021-08-31 21:56] #1083 closed, assigned to nobody

[2021-09-01 08:37] vikzasharma commented on #472
in the latest repo i m getting this error :

[+] Instrumented 353659 locations with no collisions (on average 288420 collisions would be in afl-gcc/afl-clang-fast) (non-hardened mode).
ld.lld: error: undefined symbol: lzma_stream_decoder

ld.lld: error: undefined symbol: lzma_code

ld.lld: error: undefined symbol: lzma_end

clang: error: linker command failed with exit code 1 (use -v to see invoca

[2021-09-01 08:38] VikzSharma commented on #472
in the latest build i m getting this error :

[+] Instrumented 353659 locations with no collisions (on average 288420 collisions would be in afl-gcc/afl-clang-fast) (non-hardened mode).
ld.lld: error: undefined symbol: lzma_stream_decoder

ld.lld: error: undefined symbol: lzma_code

ld.lld: error: undefined symbol: lzma_end

clang: error: linker command failed with exit code 1 (use -v to see invoc

[2021-09-01 09:54] vanhauser-thc commented on #472
you can either set -llzma or add liblzma.a by hand on the lnking i guess.

[2021-09-02 17:04] dloffre-snl opened #1086 "afl-showmap slow with long harness initialization time"
I have a test harness with substantial initialization time and fast fuzz time (i.e. 10 seconds to init, >500 execs/sec after that).  `afl-fuzz` works as expected, only paying the startup cost at initialization time.

I've noticed that `afl-showmap` doesn't behave this way on my harness.  Instead, `afl-showmap` will pay the initialization cost for every input in the directory.  Is there a fix for t

[2021-09-02 21:56] svsraghuram commented on #659
When I try to build it in M1 Mac using "make" command I'm getting the below error

src/afl-fuzz.c:1521:7: error: implicit declaration of function 'pthread_set_qos_class_self_np' is invalid in C99 [-Werror,-Wimplicit-function-declaration]
  if (pthread_set_qos_class_self_np(QOS_CLASS_USER_INTERACTIVE, 0) != 0) {
      ^
1 error generated.
make: *** [afl-fuzz] Error 1

can you please help me with th

[2021-09-04 11:20] VikzSharma commented on #472
AUTODICTIONARY: 1496 strings found
[+] Instrumented 235815 locations with no collisions (on average 172073 collisions would be in afl-gcc/vanilla AFL) (non-hardened mode).
ld.lld: error: undefined symbol: av_strlcpy

ld.lld: error: undefined symbol: av_strlcat

ld.lld: error: undefined symbol: av_opt_show2

ld.lld: error: undefined symbol: av_opt_child_class_iterate

ld.lld: error: undefined symbo

[2021-09-04 18:30] VikzSharma commented on #472
@vanhauser-thc  - the docker file :

FROM aflplusplus/aflplusplus

ARG DEBIAN_FRONTEND=noninteractive

RUN apt-get update -y

RUN apt-get install yasm autoconf automake build-essential libass-dev libfreetype6-dev   libsdl1.2-dev libtheora-dev libtool libva-dev libvdpau-dev libvorbis-dev libxcb1-dev libxcb-shm0-dev   libxcb-xfixes0-dev pkg-config texi2html zlib1g-dev   yasm libx264-dev libmp3lame-d

[2021-09-06 07:26] LuciyVI commented on #77
You're not alone , man, I'm trying to do the same and see error:
![image](https://user-images.githubusercontent.com/62550083/132176890-b2e4baac-846d-457f-ab7c-21efe87fea52.png)

[2021-09-06 07:27] vanhauser-thc commented on #659
@svsraghuram are you using the current github dev branch? Are you using the current MacOS release?

[2021-09-06 07:28] vanhauser-thc commented on #1086
how are you calling afl-showmap?

[2021-09-06 07:41] vanhauser-thc commented on #472
same thing, find out which lib.a contains the functions it cannot find, and add it by hand to the linking command

[2021-09-06 07:45] vanhauser-thc commented on #77
@LuciyVI why do you think we understand russian?

[2021-09-06 07:57] LuciyVI commented on #77
Sorry, it's reply for first massege in this issue. I did not want translate her in this reply

[2021-09-06 08:51] vanhauser-thc commented on #77
@LuciyVI the first message is not from a russian speaking person :) (afaik)

[2021-09-06 09:09] LuciyVI commented on #77
Yes ! I translate first massage , when understood with this problem and reply to the translated message
![image](https://user-images.githubusercontent.com/62550083/132191440-e7b2f14e-b4aa-49d1-ae25-fcfecb0ad35a.png)

[2021-09-06 10:54] VikzSharma commented on #472
@vanhauser-thc  - Thanks. Turns out i was following  afl example. replaced ar , ranlib all llvm binaries to llvm-ar-12 and so on and it fixed the issue

[2021-09-06 13:22] floyd-fuh commented on #77
I don't speak a word russian.

And btw. I never got back to the project of trying to compile JDK. Maybe I should try again.

[2021-09-06 15:10] LuciyVI commented on #77
Good Luck & Have fun :)

[2021-09-06 15:10] LuciyVI commented on #77
I've been suffering for about a month now

I've been suffering for about a month now

[2021-09-06 22:01] domenukk commented on #1086
Looking through the code again, the forkserver should indeed behave exactly the same in afl-showmap and afl-fuzz

[2021-09-06 22:30] vanhauser-thc commented on #1086
@ Dominik - My guess he is using it wrong or with the wrong expectation, that’s why I want to know the command line :)

[2021-09-07 14:12] dloffre-snl commented on #1086
The afl-showmap command line is commented in the code:

[code]

In this case `IN` is a directory with ~10 files and each file takes 10 seconds.

[2021-09-07 14:41] vanhauser-thc commented on #1086
@dloffre-snl  you are correct there is an issue, the behaviour makes no sense ....

[2021-09-07 15:16] vanhauser-thc commented on #1086
fixed in f760e80

[2021-09-07 15:16] #1086 closed, assigned to nobody

[2021-09-09 14:25] rhertzog opened #1088 "Make it possible to override the names of the compilers"
Hello,

Debian packager of afl++ here. In Debian we build afl++ against the latest llvm/clang packaged which is not always the default version actually packaged.

I don't know if this matters, but in https://github.com/AFLplusplus/AFLplusplus/blob/stable/src/afl-cc.c#L343-L351 and https://github.com/AFLplusplus/AFLplusplus/blob/stable/src/afl-cc.c#L380-L388 you actually hardcode the names of the v

[2021-09-09 18:32] owiofwm2i commented on #659
sir ,
[code]

are you successful compile afl_frida mode ?please help

[2021-09-10 08:40] vanhauser-thc commented on #659
@n0thing2speak removed/moved -> cd frida_mode ; make

[2021-09-10 08:57] vanhauser-thc commented on #1088
@rhertzog hey Raphael, yeah I know who you are. thanks for your effort!

it is not possible to compile afl++ with clang-12 and then use clang-11 - at least the effective and default llvm mode. We compile our own llvm plugins, and they are tightly bound to the specific llvm installation it is compiled to.

You can tell afl++ during building which specific llvm installation to use by setting "LLVM_C

[2021-09-10 09:20] rhertzog commented on #1088
We already do that... and that's precisely why I'm worried that despite this the built binary is trying to use an unqualified clang or clang++, intead of using LLVM_BINDIR/clang or LLVM_BINDIR/clang++

But the code path that I highlighted/quoted seems to restrict the use of those unqualified executable names only with compiler_mode >= GCC_PLUGIN and I'm not sure if in the same restrictive restrict

[2021-09-10 10:37] vanhauser-thc commented on #1088
can you please paste the `-h` output of such a generated afl-cc? so `afl-cc -h` ?

[2021-09-10 12:34] rhertzog commented on #1088
Sure:
[code]

So it does say `using the binary path "/usr/lib/llvm-11/bin"` but the test suite fails with:
[code]

[2021-09-10 13:57] vanhauser-thc commented on #1088
that test is testing the outdated assembly instrumentation. there any "clang" or "gcc" will be used.
just try "afl-cc test-instr.c" and you should see this:
[code]
though if you use afl-clang instead it should fail because it will call "clang", which does not exist. but nobody should use afl-clang :) and it can be fixed by doing "AFL_CC=clang-11 afl-clang test-instr.c"

[2021-09-10 13:58] vanhauser-thc commented on #1088
for the debian package it could therefore make sense to remove the afl-clang and afl-clang++ symlinks.

[2021-09-10 14:12] rhertzog commented on #1088
Or maybe we can create those afl-clang* as scripts doing:
[code]
What do you think ? (and adjust the value of AFL_CC for the clang++ variants)

To fix the test suite failure, I have no problem in adding clang in the build environement but hopefully the above suggestion should fix the issues for users. Do you agree with my assessment?

[2021-09-10 15:07] vanhauser-thc commented on #1088
this is also an option. however I really, really recommend to never use afl-clang or afl-gcc as this is outdated instrumentation :)

[2021-09-10 15:21] rhertzog commented on #1088
Why are you providing them in your default install then? We're just following you here.

[2021-09-10 15:42] vanhauser-thc commented on #1088
because old outdated tutorials still use them and otherwise people create issues here :)
but we print a big warning "outdated" when afl-gcc and afl-clang are used :)

[2021-09-11 14:56] 040840308 opened #1090 "The difference Bitmap generated between AFL++ and AFL-2.56"
**Is your feature request related to a problem? Please describe.**
I have a question about the bitmap generated by AFL++. As mentioned in the paper and documentation,  AFL++ introduces a new bitmap generation method, by combining
edge coverage with the count of how many times the respective edge was executed in one run. My question is that, could the incremental feature of bitmap could be disable

[2021-09-11 21:07] vanhauser-thc commented on #1090
@040840308  are you talking about what afl-fuzz does or the instrumentation with afl-clang-fast?
afl-fuzz does nothing really different in regards to the map, its only done faster. afl-clang-fast can do the same (inefficient, outdated) instrumentation by setting AFL_LLVM_INSTRUMENT=CLASSIC.

[2021-09-12 03:09] 040840308 commented on #1090
I found the fuzz_bitmap with different size and format generated by "afl-fuzz" command from AFL-2.56b and AFL++.  One is 64KB, another is 8MB， why this happen? Is there some misoperation?

Thanks

[2021-09-15 01:11] kotee4ko commented on #1090
@040840308
8MB bitmap should be `virgin_bits` map. This is map of undiscovered TBs.
And default coverage map should be second one of 64K.

[2021-09-15 09:34] vanhauser-thc commented on #1090
@040840308 the map size afl++ instrumentation is using by default is a non-colliding variable map size, which is the state of the art. hence for every target the map size is different.
if you want the outdated, much less efficient vanilla afl implemenation, then you set AFL_LLVM_INSTRUMENT=CLASSIC with afl-clang-fast or you use afl-gcc.
vanilla afl is unmaintained, outdated technology.

[2021-09-15 09:34] #1090 closed, assigned to nobody

[2021-09-19 02:48] Mart11n opened #1091 "A bug in frida_mode/test/libpcap/GNUMakefile"
**IMPORTANT**
1. You have verified that the issue to be present in the current `dev` branch
2. Please supply the command line options and relevant environment variables, e.g. a copy-paste of the contents of `out/default/fuzzer_setup`

Thank you for making AFL++ better!

**Describe the bug**
A bug in frida_mode/test/libpcap/GNUMakefile

line 62 should be : ` ifeq "$(ARCH)" "arm64" `

**To Reproduce

[2021-09-19 12:47] vanhauser-thc commented on #1091
why dont you push a PR? would have the same work plus you woudllbe listed as a contributor in the git :)

[2021-09-22 02:05] Mart11n commented on #1091
The PR has been merged into dev & this issue should be closed . Thank u ! :)

[2021-09-22 09:00] #1091 closed, assigned to nobody

[2021-10-08 08:25] hexcoder- opened #1100 "LLVM legacy pass manager will be discontinued -> rewrite passes"
**Is your feature request related to a problem? Please describe.**
LLVM development announced that the old legacy pass manager interface will be dropped in future releases, thus making our passes noncompilable.
Quote: "Using the legacy pass manager for the optimization pipeline is deprecated and will be removed after LLVM 14."

**Describe the solution you'd like**
The new pass manager interface is

[2021-10-08 08:58] domenukk commented on #1100
It would be good to keep in mind that we will eventually need the same passes for libafl as well, but without any Unix dependent code.
Maybe we can have the first aflpp/libafl code reuse here :)

[2021-10-08 09:22] vanhauser-thc commented on #1100
there is no unix dependant code in the modules afaik.
Not sure how the new plugin system even looks like, llvm documentation on that was scarce when I looked at it 6 months ago.

[2021-10-08 10:27] andreafioraldi commented on #1100
i looked into it already

[2021-10-08 10:28] andreafioraldi commented on #1100
you open files with open() 😂😂

[2021-10-08 10:29] andreafioraldi commented on #1100
and there is some other gcc/clang specific stuffs in the headers iirc, nothing important but i'll have to change a bit the passes to have them working on windows.

[2021-10-08 10:48] vanhauser-thc commented on #1100
.. and? pointer to a good doc? can you do it? ... :)

which works fine when I code little tools for windows :)

yeah I do not expect it to work out of the box. It is Microsoft so breaking compatibility is a strategy. but I dont expect it to be anything more than a few #ifdef ...

[2021-10-08 11:19] andreafioraldi commented on #1100
Yup i can do it that's why i said that, but not before few weeks because of academic deadlines + fuzzcon

as usual the doc is the llvm source code btw

[2021-10-08 11:32] andreafioraldi commented on #1100
Should we maintain the old pass manager under a define for older LLVM versions?

[2021-10-08 11:33] #1082 closed, assigned to nobody

[2021-10-08 16:06] hexcoder- commented on #1100
Lets gather some resources how to get the job done:
https://www.duskborn.com/posts/llvm-new-pass-manager/
https://medium.com/@mshockwave/writing-llvm-pass-in-2018-preface-6b90fa67ae82
https://medium.com/@mshockwave/writing-llvm-pass-in-2018-part-i-531c700e85eb
https://medium.com/@mshockwave/writing-llvm-pass-in-2018-part-ii-640f680978ec
https://medium.com/@mshockwave/writing-llvm-pass-in-2018-part

[2021-10-08 16:07] hexcoder- commented on #1100
That would be perfect, but second priority IMO.

[2021-10-08 17:20] vanhauser-thc commented on #1100
@andreafioraldi  if you want to take on switching to the new pass manager - great :)
yes we still need to support the old pass manager, because of llvm 6.0 etc. (I would love to drop any support until 10.0.0, but @hexcoder- doesnt want to :)

[2021-10-08 19:22] hexcoder- commented on #1100
I will also start to work on this, but because of my $work I am probably slower than you guys. It would be good to separate the passes in order to avoid duplicated work. I will take the laf-intel passes.

[2021-10-09 09:20] devnexen commented on #1100
curiosity question, what s the hold up against C++ streams ?

[2021-10-09 09:26] vanhauser-thc commented on #1100
That I am a C fossil and way faster coding that than any c++ ;)… if anyone want to rewrite it to streams - welcome!

[2021-10-09 11:10] DuckRui opened #1103 "A question about autodict_ql."
Hello,

I want to use audodict_ql generation tokens. I follow your readme to create a libxml database called libxml-db.
Then I access the Aflplusplus/utils/autodict_ql/ , use command "python3 autodict-ql.py $PWD /home/xxx/Desktop/libxml2/libxml-db tokens".
But there was an error. Can you help me? Thank you very much!
![image](https://user-images.githubusercontent.com/41203418/136655592-8d231f24-48

[2021-10-09 12:32] smoelius opened #1104 "Question re search strategy"
My question might be phrased as: how do I get AFLplusplus to perform a more "breadth first" search?

I have a target that I test with two seeds in CI. Essentially, one seed leads to a crash almost immediately. The second is a dead end.

Prior to https://github.com/AFLplusplus/AFLplusplus/commit/cbac22d82b90d631bafc4572aa79faa0c568beeb, the good seed was getting selected first and the crash was fou

[2021-10-09 15:25] dodaeche opened #1106 "confused on using afl-cc compiler"
I'm compiling xpdf-3.02 with AFLplusplus now and got something strange confusing me.
I've compiled and installed AFLplusplus on `/usr/local/bin` directory.
All compilers point to `afl-cc`.

[code]

Compile xpdf(https://dl.xpdfreader.com/old/xpdf-3.02.tar.gz) with afl-cc, I've set `CC` and `CXX` environment variable to /usr/local/bin/afl-cc.
It failed.

[code]

error message:
[code]

So, I changed

[2021-10-09 16:12] vanhauser-thc commented on #1106
afl-cc enables c++ mode when you call it as afl-c++. all as it shoud be :)
is there a bug in the documentation that specifies to use afl-cc for c++?

[2021-10-09 16:15] vanhauser-thc commented on #1104
breadth first is a bad approach because it would force the fuzzer to concentrate on errornous inputs that lead to early code exits.

the change that was made is just reading the directory alphabetically backwards, thats all. so if you want the better seed to be fuzzed first - just rename it to zzzzzzz :)
the issue in your case is that you use -D and I guess the seeds are large and hence a long use

[2021-10-09 16:16] vanhauser-thc commented on #1103
well the output shows that your codeql installation is not working/incomplete. this needs to work first before you can use it.

[2021-10-10 01:26] smoelius commented on #1104
I thought the answer might involve "power schedules." Could changing the power schedule make the search less like "depth first" and more like "breadth first?"

I consider it a bug in the test that it relied upon the seed order. I want to not rely upon the seed order.

They're not large, actually. Here they are:
[code]
[code]
A crash arises when the input is the following:
[code]
When the first see

[2021-10-10 10:15] #1106 closed, assigned to nobody

[2021-10-10 10:24] vanhauser-thc commented on #1104
havoc does all -D type mutations. the difference is that -D does every mutation only once at a time at every single possible locations, whereas havoc does multiple mutations at random locations.

If you remove -D, does it then work for you that afl-fuzz finds the issue?

[2021-10-10 10:25] vanhauser-thc commented on #1106
it is a unix thing that the same tool has different functionality which is selected by using a specific symlink to the program. e.g. see busybox, sudo etc.

[2021-10-10 13:24] kcwu opened #1110 "power_schedules.md is missing"
(in dev branch)
power_schedules.md is [mentioned](https://github.com/AFLplusplus/AFLplusplus/search?q=power_schedules) 3 times but it was deleted in 3a3ef7b6b4efcd8ed12bef80cca51f82e65a985f.

[2021-10-11 03:28] #1103 closed, assigned to nobody

[2021-10-11 08:00] vanhauser-thc commented on #1110
documentation is being rewritten as part of the Google Season of Docs project.
pinging @lzmb for awareness

[2021-10-11 11:39] kcwu opened #1113 "interrupt afl-showmap may kill unrelated processes"
**Describe the bug**
When running `afl-showmap` many times in a tight loop and hit `Ctrl-C`, all my processes may be killed.

Here "all my processes" means all processes of the same user. For example, my shell process of another terminal is been killed as well.

I encountered this issue with afl-cmin earlier and I found the root cause is inside afl-showmap.

**To Reproduce**
Steps to reproduce the

[2021-10-11 12:12] kcwu commented on #1113
I found this `fsrv->fsrv_pid` is `-1`.
[code]
https://github.com/AFLplusplus/AFLplusplus/blob/dev/src/afl-forkserver.c#L613

[2021-10-11 12:29] vanhauser-thc commented on #1113
thanks! fixed in 00aa689f40a3c8276af257cf0b54dc655cb0423e
weird that this was never reported before.

[2021-10-11 12:42] kcwu commented on #1113
The root cause is, afl-showmap's `handle_stop_sig` will invoke `afl_fsrv_killall` and set `fsrv->fsrv_pid = -1`. Even with 00aa689, there still might have race condition that signal happened between `if` and `kill`.

[2021-10-11 12:52] domenukk commented on #1113
It's probably safest not to reset the `fsrv_pid`, here, even if it feels wrong(?)

[2021-10-11 22:22] hexcoder- commented on #1100
I started a new branch dev_newpm for further work.
This is a minimal pass, I used for transscription:
https://github.com/PacktPublishing/LLVM-Techniques-Tips-and-Best-Practices-Clang-and-Middle-End-Libraries/tree/main/Chapter09/StrictOpt

[2021-10-12 22:04] hexcoder- commented on #1100
Some progress, I converted the three laf-intel passes and afl-llvm-pass using clang 12.0 with the following caveats:

1. The passes now always throw away all analyses results (which is safe but slow). Better would be to preserve as much analyses results as possible. Needs investigation...
2. The old legacy pass manager mechanism is currently not supported anymore. Needs more work...
3. Mixing old

[2021-10-13 06:39] vanhauser-thc commented on #1100
why not keeping the old pass manager functions together with the new ones and use ifdef llvm major?

[2021-10-13 08:08] hexcoder- commented on #1100
Yes, that is the plan, once all passes are converted. I hope you will convert your passes as well.

[2021-10-13 12:39] smoelius commented on #1104
Thank you. This is very helpful.

It does, but perhaps unsurprisingly, it takes much longer. The shortest that I've seen the crash found without `-D` is 44 minutes.

I am finding that with `-D` *and* `-M` the crash is found within a few minutes. This is longer than before, but tolerable.

Since I have a workable solution, I am closing this issue.

Thank you for your help.

[2021-10-13 12:39] #1104 closed, assigned to nobody

[2021-10-14 10:55] a4865g opened #1117 "How afl-fuzz qemu-mode snapshot to target main() function?"
Hi, I have a question like the title.
I reference the  tutorial web:
[https://aflplus.plus/docs/tutorials/libxml2_tutorial/](https://aflplus.plus/docs/tutorials/libxml2_tutorial/)

I can finish the qemu-mode snapshot the target function.(same as the tutorial)

but I want to sanpshot the main() function,but it can't work.

It's my step-by-step:
[code]

Is there any side that I missed?
Could anybody

[2021-10-16 12:19] smoelius opened #1119 "Should `make` fail when `LLVM_CONFIG` doesn't exist?"
[code]
Build succeeds despite the above.

Do you think this behavior should be adjusted?

[2021-10-16 12:22] vanhauser-thc commented on #1119
yes because you can still use afl-gcc/afl-clang and perhaps afl-gcc-fast if the necessary gcc plugin dev is installed

[2021-10-16 12:22] #1119 closed, assigned to nobody

[2021-10-16 12:34] smoelius commented on #1119
Thanks for your quick response.

[2021-10-18 17:22] kcwu opened #1120 "PCGUARD instrumentation may generate crashing binary"
**Describe the bug**
The binary generated by CMPLOG may have different behavior.

**To Reproduce**
Steps to reproduce the behavior:
[code]

The last step failed. To reproduce the exact command:
[code]

I found "makeuctb" crash only with CMPLOG+ -O2 or above optimization.

**Expected behavior**
`make` works

**Additional context**
I'm not sure it is a bug of CMPLOG or `makeuctb`. However, `makeuctb

[2021-10-18 18:52] vanhauser-thc commented on #1120
hmm works fine for me.
and the reported error has nothing to do with afl/lto.
could it be that you run out of memory/shmem?
try reboot and then `afl-system-config` ?

[2021-10-19 01:37] kcwu commented on #1120
With libdislocator.so, it crashed earlier. And I found the AFL map size is too small for some reason.

[code]

[2021-10-19 01:43] kcwu commented on #1120
`AFL_DEBUG=1` output
[code]

[2021-10-19 10:09] vanhauser-thc commented on #1120
again, compiled with asan (`AFL_USE_ASAN=1`), works fine for me:

[code]

are you using the current dev branch state? have you done a "make clean install"?

[2021-10-19 12:22] vanhauser-thc commented on #1117
this is a regression, @andreafioraldi is looking into this. thanks for reporting.

[2021-10-19 12:38] vanhauser-thc commented on #1117
as @andreafioraldi pointed out - the issue is in main() of xmllint. not every function can be persistently fuzzed. if there is state kept then it doesnt work, which is the case with xmllint's main().

[2021-10-19 12:38] #1117 closed, assigned to nobody

[2021-10-19 12:46] vanhauser-thc commented on #1113
fixed in 0bc3367b55b2f08c7c2588576af27567044dc0b6

[2021-10-19 12:46] #1113 closed, assigned to nobody

[2021-10-19 13:24] leo-stone opened #1121 "Missing build dependency "ninja-build" in build instructions"
Hi,

I am just compiling the project following your instructions on a pretty vanilla kali-linux.
The  QemuAFL build script fails because **Ninja** cant be found.
So, ninia-build should also be listed to be installed.

TX

[2021-10-19 13:42] vanhauser-thc commented on #1121
true, thanks. added.

[2021-10-19 13:42] #1121 closed, assigned to nobody

[2021-10-20 08:30] kcwu commented on #1120
Yes I am using AFL++ the latest dev branch and have clean build.

I found this is related to llvm's version. 11.0.1 is bad and 13.0.0 is good. With `git bisect`, I found https://github.com/llvm/llvm-project/commit/9d172c8e9c845a36b61dc12c27de8acdbef8b247 is the commit changed the behavior.

BTW, I found clang crashing with assertion failure when compile `makeuctb` before https://github.com/llvm/ll

[2021-10-20 08:44] vanhauser-thc commented on #1120
During afl++ development we also found llvm bugs :)
kinda relieved its a llvm issue not an afl++ issue.
as I have never encountered this with any llvm version before it seems to be a corner case.

[2021-10-21 08:12] floyd-fuh commented on #226
Hi guys,

For our Docker demo container I'm trying to compile binutils-2.24 with afl-clang-lto and afl-clang-lto++, however, the compilation process (more precise the linking stage with libtool) seems to never end. Any ideas why that could be the case or how I could debug this?

libtool seems to hang at:

[code]

Here's a minimal Dockerfile to reproduce the issue:

[code]

[2021-10-21 09:06] vanhauser-thc commented on #226
if you dont use afl-clang-lto, but use `CC=clang CFLAGS=-flto=full` instead - does it then compile?
linking with LTO (afl++ or not) can take a long time, as all the work and complexity is at link time, and this cannot be parallelized (with lto=full). I have seens up to 4h link time in large targets.

[2021-10-21 15:35] floyd-fuh commented on #226
wow... ok, I just used the lazy-way-out and tried it again and let it run a lot longer. It finished after nearly 2 hours. I wasn't expecting that. After reading about the LTO feature a little bit more I understand why. Crazy. By now compilation time is even a factor when deciding for a fuzzing strategy (you could be fuzzing during that time). This blew my mind. Thanks for that, I learned a lot.

[2021-10-21 18:20] vanhauser-thc commented on #226
It is somewhere in the main README that says that for CI fuzzing you should not use LTO for that reason :)

[2021-10-23 11:29] irenge opened #1124 "just a question"
Does AFL bitmap correspond to some kind of corpus ?

[2021-10-23 15:18] vanhauser-thc commented on #1124
no the bitmap corresponds to the instrumented edges in the target

[2021-10-23 15:18] #1124 closed, assigned to nobody

[2021-10-23 16:04] kcwu opened #1126 "afl-showmap didn't kill subprocess properly when timeout"
**Describe the bug**
When running afl-showmap and the subprocess timed out, although afl-showmap is terminated, the subprocess is still running.

**To Reproduce**
Steps to reproduce the behavior:
1. echo 'int main() { sleep(100); return 0; }' > sleep.c
2. afl-cc -o sleep sleep.c
3. afl-showmap -t 1000 -o /tmp/foobar -- ./sleep

Although afl-showmap terminated after 1 second. "./sleep" is still run

[2021-10-23 18:55] vanhauser-thc commented on #1126
true. weird. not sure where this regression comes from. fixed in e03897a.

[2021-10-23 18:55] #1126 closed, assigned to nobody

[2021-10-23 20:48] kcwu commented on #1126
FYI, the bug was introduced by b22e890ec243c31fedc06ff3a68f62ca2b8c0ab6.

[2021-10-23 21:00] domenukk commented on #1126
No clue what I was thinking back then...

[2021-10-26 17:04] ShubhamPalriwala commented on #944
@vanhauser-thc Can you elaborate more on this please? I'm new to the project and would like to try AFL++ out

[2021-10-26 19:42] vanhauser-thc commented on #944
@ShubhamPalriwala there are examples in custom_mutators/examples
what do you want to do`

[2021-10-27 09:13] kdsjZh opened #1133 "optimin build failed in clang-12, ubuntu 18.04, add a flag in CMake to fix it."
**Describe the bug**
An error occurs while building `utils/optimin` in clang 12.0.0, ubuntu 18.04 by running `./build_optimin.sh`.

[code]

**Possible Root Cause**
It seems to be an RTTI issue according to this page [http://klee.github.io/releases/docs/v1.4.0/build-llvm34/](klee-rtti).

**How To Fix It**
By adding a CXXFLAG in `utils/optimin/src/CMakeLists.txt`, add `set(CMAKE_CXX_FLAGS "-fno-rtti

[2021-10-27 09:28] vanhauser-thc commented on #1133
thanks.
please note that optimin currently has a bug and is not as good as afl-cmin although it is faster. @adrianherrera
do you want to send a PR to be visible as a contributor?

[2021-10-27 10:13] adrianherrera commented on #1133
Hey @vanhauser-thc, yup I can fix this. Will make the PR in a second.

[2021-10-27 10:18] vanhauser-thc commented on #1133
sorry the PR I meant @kdsjZh
I mentioned you just so that you are aware and that there is still the issue with -f not working

[2021-10-27 10:21] adrianherrera commented on #1133
Oh sorry, I misunderstood, I thought you wanted me to make the PR (also `CMAKE_CXX_FLAGS` needs to be extended, not overwritten). Ooops! Already made, so you can decide what to do.

Yeah, sorry, I still haven't had much time to look at the `-f` issue :(

[2021-10-27 10:28] kdsjZh commented on #1133
Thank you for your reminding and kind advice @vanhauser-thc . I'm not familiar with CMake syntax and just made a small modification, so I think it would be better for @adrianherrera to PR.

[2021-10-27 10:48] vanhauser-thc commented on #1133
thanks @adrianherrera

[2021-10-27 10:48] #1133 closed, assigned to nobody

[2021-10-27 13:38] MackieRitz commented on #783
@vanhauser-thc
Hey There! This is about getting a proper guiding and stuff so when GSOC starts, I will be able to submit to you a proper proposal.

I am a 1st Year College Student at Chitkara University studying BE Computer Science Engineering with a set of skills involving C, Java, Python, HTML as well as Computer Networking and Linux.
Please guide me on the projects that I will be able to contri

[2021-10-27 22:27] skisssbb commented on #1040
Hello again,

i have now implemented a Server which takes input from afl-proxy, then forwarded this input to SUT (Arduino) and read its *self-implemented* instrumentation information and forward this back to afl-proxy to be written to __afl_area_ptr.

My process:
AFL-Fuzzer => AFL-Proxy => Python Server => SUT (Arduino) over PCAN

However, AFL doesn't seem to run with following error:
[code]

In t

[2021-10-28 06:51] vanhauser-thc commented on #1040
[code]
so general execution works.
I would add some debug + timing output to afl-proxy and python server, and use AFL_DEBUG=1 and -t 10000 to see the output during fuzzing and go from there.

[2021-10-28 17:43] skisssbb commented on #1040
Thank you for your quick response. Apparently my afl-proxy if my server returns an empty blockID for the bitmap. This happens when AFL sends **too short** test case or **too long**. Is there a way to tell AFL to send exact size input?

[2021-10-28 17:57] vanhauser-thc commented on #1040
no but you can do that in afl-proxy - just skip the testcase.

[2021-10-29 14:55] kcwu commented on #1120
I found another binary crashed with clang 12.0.1 + CMPLOG. And the symptom is similar (small `__afl_final_loc`). I will investigate and give more detail later.

[2021-10-30 09:40] vanhauser-thc commented on #1120
yes please!

[2021-10-30 14:30] kcwu commented on #1120
How to reproduce this issue

1. source code h.c
[code]
2. compile
[code]
3. note that `Instrumented 8 locations`. If the number is not 8, please modify the source code to make it multiple of 8 by adding or deleting `if` lines.
4. run with libdislocator
[code]

OTOH, `AFL_LLVM_INSTRUMENT=CLASSIC` works well.

I guess the problem is, other instrumentation, like [afl-llvm-lto-instrumentation](https:/

[2021-10-30 15:31] #1120 closed, assigned to nobody

[2021-11-01 12:13] llzmb commented on #1110
I just saw this issue and put it on my to-do list.

(The ping was missing an "l". ;) )

[2021-11-02 17:02] llzmb commented on #1110
@vanhauser-thc, is any of the content of [power_schedules.md](https://github.com/AFLplusplus/AFLplusplus/blob/94999782f1a3742e3e755a66f5d76e84573ae6ef/docs/power_schedules.md) still relevant?

Or can I just delete the paragraph with the reference in parallel_fuzzing.md?

https://github.com/AFLplusplus/AFLplusplus/blob/c64735df9e87f2ee15ea32208be85e481c78814b/docs/parallel_fuzzing.md#L30-L32

The [

[2021-11-02 17:13] vanhauser-thc commented on #1110
that can be removed. the algorithms were changed/updated so that document information is outdated. :)

[2021-11-02 17:14] vanhauser-thc commented on #1110
However keep:
[code]

[2021-11-06 06:16] Hussain1811 opened #1147 "Question: Pointing to GCC 10.3.0 during make distrib"
Hello,

I am using ubuntu 21.04 and hence the GCC package version is 10.3.0
But, looks like AFL++ needs 10.2.0.
I was wondering how do i point to my current 10.3.0 version?

[2021-11-06 06:24] Hussain1811 commented on #1147
Sorry my bad
i just had to export the "PATH" and "CC" environment variables

[2021-11-06 06:24] #1147 closed, assigned to nobody

[2021-11-09 02:25] fa1lr4in opened #1151 "Crash in afl-cmin"
When running afl-cmin with the current latest dev version on my corpus with `afl-cmin -i ../fuzz_in -o ../fuzz_out -- ./imagemagick -args @@ /dev/null`, I get an unexpected abort.

It looks like this:
[code]

[2021-11-09 08:35] vanhauser-thc commented on #1151
it reports a short write - is the filesystem close to being full?

[2021-11-09 08:53] fa1lr4in commented on #1151
Yes, I still have about 400G hard disk space before running afl-cmin, but after running it will fill up all the space. And it will be restored after restarting.

[2021-11-09 10:16] vanhauser-thc commented on #1151
could it be that imagemagick writes data somewhere and that fills up the disk?
sorry but with such incomplete information we cant help you.

[2021-11-09 10:24] a4865g opened #1152 "The run target question"
Hi, I have a question about the following example:

Target1 & Target2 are close-source elf.

I use the QEMU-mode to test the Target1, but the Target1 will execute execv(Target2,...) again.

so if the Target2 has a new path(edge), the fuzzer can tell me find a new path(edge)?(if the Target1 has no new path(edge))
or it just apply the Target1 status?

Run fuzzer:
[code]

Target1 example code:
[code]

[2021-11-09 10:35] vanhauser-thc commented on #1152
do you want to fuzz Target1 or Target2?
If you want to fuzz Target1, then NOP out the execv call and just return 0.
If you want to fuzz Target2 then fuzz Target2 :)

[2021-11-09 10:41] a4865g commented on #1152
Hi, My fuzz's goal is Target2.
But it must go through the Target1 to do some settings.(setenv, argv_convert ...etc.)
The Target1 is more like a medium.

Thank you!!

[2021-11-09 10:59] vanhauser-thc commented on #1152
what prevents you to set the things outside of Target1, so before you start afl-fuzz? you can also do a setup of things via a custom mutator if it has to be done for every fuzz input in a post processing function. fuzzing target2 through target1 is the worst thing you can do.

[2021-11-09 11:21] a4865g commented on #1152
Thank you very much for your advice!

I am going to implement a custom mutator to handle these setup actions.
Thanks again for your help!!❤️

[2021-11-09 11:21] #1152 closed, assigned to nobody

[2021-11-12 17:55] kcwu opened #1161 "cmplog binary crashed with __AFL_INIT"
**Describe the bug**
With latest dev, afl-fuzz failed to work with following error message.

[code]
This issue happens only if use both `cmplog` and `__AFL_INIT`.

This issue happens since https://github.com/AFLplusplus/AFLplusplus/commit/fb443eaf2372ccd1825699c978fd0d662155fb9e (after merged afl4 branch)

**To Reproduce**
Steps to reproduce the behavior:
[code]

[2021-11-15 09:58] vanhauser-thc commented on #1161
ah damn such a dumb oversight on my part. thanks for reporting.
fix is in.
note that how w3m works you need to disable the interactive parts that w3m does to be able to fuzz it effectively.

[2021-11-15 10:01] vanhauser-thc commented on #1161
what I mean is: I still an error that the forkserver is not found, but I think this is an issue in the target or where it is set up.

[2021-11-17 14:24] diewufeihong opened #1163 "Please help us to solve the problem when reproducing the implementation of AFL++ to resolve hash conflicts"
Recently, I have been investigating the work related to fuzzing, and then I found AFL++ developed by you. AFL++ is the best all-around fuzzer available, given its consistently high performance in Google FuzzBench. It is well developed and maintained. I used AFL++'s afl-clang-lto to compile the target program. It works very well, so I want to learn from it. However, I have encountered problems when

[2021-11-17 14:42] vanhauser-thc commented on #1163
not sure what you are trying to do, but you cannot solve the collision problem like this. you need a variable map size. with LTO you know the map size that is why it works.

the default non-LTO mode is PCGUARD (where we have our own implementation) which is also collision free, and here a local array is used per file to store the unique edges.

afl-llvm-pass is OUTDATED. do not use it, except for

[2021-11-17 14:43] vanhauser-thc commented on #1163
also you are clearly using the Google AFL version for developing, not afl++, so why do you post here??

[2021-11-17 14:43] #1163 closed, assigned to nobody

[2021-11-18 08:46] QudaRulo opened #1165 ""odd, check syntax!" under unicorn mode/samples"
hello, i install the AFL++ 3.14c by source on ubuntu 20.04 x86 64bit. when i just try to run the examples to test -U under
unicorn_mode/samples/c    unicorn_mode/samples/speedtest/c or python,  it always ouccrs the   **"odd, check syntax!"**  in that is labeled last new path in status screen.

the cmd i use is copied from harness. then i tried to use -f instead of @@, or -m none, etc. but it did n

[2021-11-18 08:48] domenukk commented on #1165
Can you try if `make fuzz` works in each directory?

[2021-11-18 08:57] QudaRulo commented on #1165
`` make fuzz`` works, but the "odd, check syntax!" still appear in the status screen.😥

[2021-11-18 09:26] vanhauser-thc commented on #1165
for me "make fuzz" in any speedtest directory lets afl-fuzz bail because all inputs crash the target (dev branch).
but the persistent mode test works.
so I guess the speedtest target has an issue

[2021-11-18 10:24] kcwu opened #1166 "afl-fuzz may fail with "Error(waitpid): No child processes""
**Describe the bug**
[code]

I found it failed with the same root cause as https://groups.google.com/g/afl-users/c/eDUZfKScC_M/m/B6Bx-Lx0AwAJ .

My question: why these two lines are commented out?
 - https://github.com/AFLplusplus/AFLplusplus/blob/stable/instrumentation/afl-compiler-rt.o.c#L667
 - https://github.com/AFLplusplus/AFLplusplus/blob/stable/instrumentation/afl-compiler-rt.o.c#L923

[2021-11-18 10:27] vanhauser-thc commented on #1166
with this little information - how can we reproduce the issue? how could we test a fix?
please give all the necessary information.

[2021-11-18 10:46] kcwu commented on #1166
How to reproduce:
[code]

To fix: revert the said two lines. So I'm curious the reason why they are commented out.

[2021-11-18 14:31] QudaRulo commented on #1165
yeah, i think so now.

[2021-11-18 21:33] vanhauser-thc commented on #1166
Ah now I get it. for the rare case where someone modifies a target and inserts __AFL_INIT, and a signal handler for childs is installed before it. thanks, fixed!

[2021-11-18 21:33] #1166 closed, assigned to nobody

[2021-11-19 04:51] #1165 closed, assigned to nobody

[2021-11-19 12:36] vanhauser-thc commented on #1161
@kcwu is this working now for you?

[2021-11-19 12:36] #1151 closed, assigned to nobody

[2021-11-19 12:36] #1110 closed, assigned to nobody

[2021-11-19 12:37] vanhauser-thc commented on #1088
@rhertzog is this solved or is there still clarification need or TODOs for us?

[2021-11-19 12:37] #1072 closed, assigned to nobody

[2021-11-19 12:38] #1040 closed, assigned to nobody

[2021-11-19 12:38] vanhauser-thc commented on #1027
@hexcoder- @WorksButNotTested  is this still an open issue or has it been resolved?

[2021-11-19 13:35] rhertzog commented on #1088
I think you answered everything. But I'd like to double check something: is it correct that the lines of code that I quoted in the initial messages are part of the "outdated instrumention" that you are mentioning then?

[2021-11-19 13:52] kcwu commented on #1161
Yes, it is no longer crashed. I don't understand what you said about forkserver not found?

[2021-11-19 14:11] WorksButNotTested commented on #1027
Looks like it got fixed here...
https://github.com/AFLplusplus/AFLplusplus/commit/a705b1548f903a8cc3f85ec960b5d09a7d7a3ee7

[2021-11-19 14:12] WorksButNotTested commented on #1027
I'd say close it assuming @hexcoder-  is happy.

[2021-11-19 14:16] vanhauser-thc commented on #1088
the linked lines of code is for outdated afl-gcc and afl-clang. it is also for afl-gcc-fast/afl-g++-fast (modern) but I dont think you provide a module for that. (the module only works with the exact gcc version is was compiled with too)

[2021-11-19 14:16] vanhauser-thc commented on #1161
that was something else while I worked on something. thanks!

[2021-11-19 14:16] #1161 closed, assigned to nobody

[2021-11-19 14:17] vanhauser-thc commented on #1027
ok he can reopen it if it still doesnt work

[2021-11-19 20:22] hexcoder- commented on #1027
I am only a tiny bit happy, since the error seems to be fixed.

But during `make distrib` now I got a different compilation error:
[code]
On arm EABI there is only `__NR_mmap2`, but no `__NR_mmap`. Don't ask me why...
I can patch that.

And another one:
[code]
This should be `sys/prctl.h` instead, which is portable.
After fixing these, compilation succeeds.

I will push my fixes, @WorksButNotTeste

[2021-11-22 01:37] fa1lr4in commented on #1151
I found the problem, it is indeed a problem with ImageMagick, thank you for your reply.

https://github.com/ImageMagick/ImageMagick/issues/4501

[2021-11-22 10:03] vanhauser-thc opened #1174 "COMPCOV float bug?"
It seems like there is a bug in the float splitting of compcov that was found in oss-fuzz in a bitcoin_core harness.

fuzzing harness:
[code]
testcase that results in an assert failure:
[code]
obtain testcase: `wget 'https://oss-fuzz.com/download?testcase_id=6121564358180864'`

to run:
[code]
Download compiled harness and testcase: https://we.tl/t-KZiOA4NXOd

to build:
[code]

[2021-11-22 10:05] vanhauser-thc commented on #1174
@hexcoder- I think the float splitting is your code? seems to be this assert failure catches a very rare corner case.

[2021-11-22 11:20] hexcoder- commented on #1174
I never implemented these special cases.
See [README.laf-intel.md](https://github.com/AFLplusplus/AFLplusplus/blob/dev/instrumentation/README.laf-intel.md):
`Please note that full IEEE 754 functionality is not preserved, that is values of nan and infinity will probably behave differently.`

[2021-11-22 11:39] vanhauser-thc commented on #1174
ah ok. so what do we do about this?

[2021-11-22 11:53] hexcoder- commented on #1174
If it is needed, I will implement it.

[2021-11-22 12:02] vanhauser-thc commented on #1174
the assert triggers bug reports, so either afl++ is disable for bitcoin or we support it

[2021-11-22 20:18] vanhauser-thc commented on #1100
@hexcoder- your merge produced errors with llvm-14:
[code]
and same for instrumentation/split-compares-pass.so.cc etc.

[2021-11-22 20:22] vanhauser-thc commented on #1100
and for llvm-9:
[code]

[2021-11-22 20:23] vanhauser-thc commented on #1100
for the llvm-9 I would recommend we simply do
[code]

[2021-11-23 15:24] vanhauser-thc opened #1178 "GSoC 2022"
We do not know yet if we will apply for GSoC 2022.
If so it is more likely that we will again submit for libafl => https://github.com/AFLplusplus/libafl
That would mean: every student **must** have a strong background in Rust otherwise it is pointless to apply.
See: https://github.com/AFLplusplus/LibAFL/issues/390

[2021-11-23 19:54] devnexen opened #1179 "LLVM 14 support and Debian package"
**Describe the bug**
Not afl++ fault here really, but the LLVM 14 debian package (not third party repo), at the moment, relates to a git hash id from around july thus pretty ancient already.

[code]

This new signature had been introduced after (I can see in the LLVM git repo). I wrote it down just in case someone else encounters the same issue so the solution for now until the package is updated

[2021-11-24 07:38] maflcko commented on #1174
Given that afl is compiled by OSS-Fuzz, is there even a way to disable it for just `bitcoin-core`?

[2021-11-25 05:09] zhjygit opened #1180 "cmake failed"
cmake    something “not found”
building CXX      somethings "failed" about at the 36% process, building stoped.
[ 36%] Linking CXX static library ../libLLVMSupport.a
[ 36%] Built target LLVMSupport
make: *** [Makefile:152：all] 错误 2
mang bugs

[2021-11-25 10:13] vanhauser-thc commented on #1180
if you give no information whatsoever what you are compiling, how, etc. how should anyone be able to help you?

[2021-11-25 10:13] #1180 closed, assigned to nobody

[2021-11-25 16:27] helion-du-mas-des-bourboux-thales opened #1183 ""the them" in README.md"
https://github.com/AFLplusplus/AFLplusplus/blob/773baf9391ff5f1793deb7968366819e7fa07adc/README.md?plain=1#L731

In README.md there is a small error using "the them"

[2021-11-25 18:45] hexcoder- commented on #1100
We will probably delay the transition to the new pm, since the new interface is not as stable yet.

[2021-11-25 20:02] llzmb commented on #1183
Hi @helion-du-mas-des-bourboux-thales, thanks for the hint!

We are working on the README.md and docs in general. I fixed it in the working draft.

[2021-12-02 09:44] #1183 closed, assigned to nobody

[2021-12-04 14:14] vanhauser-thc commented on #1174
@hexcoder-
https://we.tl/t-HFGAmvIfxj

[2021-12-05 14:49] sudden6 opened #1194 "AFL wrongly detects directory as in use"
Environment:

[code]

**Describe the bug**

AFL refuses to resume even though `AFL_AUTORESUME=1` is set and detected.

[code]

**To Reproduce**
Steps to reproduce the behavior:
1. run `afl-fuzz` as above, terminate after status screen is shown
2. ensure all instance are stopped by `killall afl-fuzz`
3. run again

**Expected behavior**

AFL resumes fuzzing and doesn't produce an error message

**Ad

[2021-12-05 15:03] sudden6 opened #1195 "AFL wrongly detects CPU core as in use"
**Describe the bug**
I try to run 4 instances of AFL on my 4 cores, but the last (or sometimes multiple) instance fails to start with the following output:

[code]

**To Reproduce**

Not quite sure how to reproduce, probably similar to https://github.com/AFLplusplus/AFLplusplus/issues/1194

**Expected behavior**
AFL correctly detects that there's one CPU core not yet running AFL and uses it.

**Ad

[2021-12-05 19:12] vanhauser-thc commented on #1194
highly unlikely.
what more likely happened: a previous afl-fuzz run has still a ./target running. if you kill that, then the error message goes away

[2021-12-05 19:13] vanhauser-thc commented on #1195
if you have other ./target still running that were not correctly killed by afl-fuzz then they are still "taken".
are you running an older version? run current stable or dev branch.

[2021-12-05 19:42] hexcoder- commented on #1174
Can't build bitcoin_core:
[code]

[2021-12-05 20:55] sudden6 commented on #1195
I updated to the dev branch before posting here, recompiled my targets and AFL itself, it think that should have everything up-to-date. Seems you're right about the running instances though! I have multiple instances of the CMPLOG process that are still running even though afl-fuzz is dead since hours. Is this a bug in AFL or do I need to do some cleanup after quitting with Ctrl+C?

[2021-12-05 20:56] sudden6 commented on #1194
Same root cause as: https://github.com/AFLplusplus/AFLplusplus/issues/1195

[2021-12-05 20:56] #1194 closed, assigned to nobody

[2021-12-05 21:52] vanhauser-thc commented on #1195
for me it works without problems so could be a thing in your target that resets the signal handling.

[2021-12-05 21:53] vanhauser-thc commented on #1174
you see the y/N? just press Enter.

[2021-12-05 23:55] sudden6 commented on #1195
No custom signal handlers in my target, unless this CMPLOG thing does something strange. To me it looks like the target processes are not correctly cleaned up when the process that started them dies. IDK though how that's supposed to work normally.

[2021-12-06 08:23] phoenixltx opened #1196 "Unrecognized field "defaultSuiteFile" when using auto_dict"
I try auto_dict to produce dict for libxml today,after two commands:
codeql database create libxml-db --language=cpp --command=make
codeql database upgrade /home/libxml/build/libxml-db

then but has some errors:
#python3 autodict-ql.py $PWD /home/libxml/build/libxml-db libxml_tokens:
/home/AFLplusplus/utils/autodict_ql/litout.out
ERROR: Error reading /root/codeql-home/codeql-go/ql/src/qlpack.yml:

[2021-12-06 08:24] vanhauser-thc commented on #1195
yes it normally is cleaned up.
is your target in persistent mode?

[2021-12-06 08:40] sudden6 commented on #1195
Yes it is, it's implemented as libFuzzer target if that's relevant.

[2021-12-06 08:44] sudden6 commented on #1195
This is the target: https://github.com/TokTok/c-toxcore/blob/683ed4ed8ebcdb419844333a42b23cb6d3aae05d/testing/fuzzing/bootstrap_harness.cc

The library that's called doesn't do anything special AFAIK.

[2021-12-06 09:09] vanhauser-thc commented on #1196
change in codeql api guess.
@Microsvuln ?

[2021-12-06 10:49] vanhauser-thc commented on #1195
if you can do a copy-paste text that clones and builds that target for me I can have a look. sadly I have very very limited time this week otherwise :(

[2021-12-06 11:14] Microsvuln commented on #1196
I think this is occurred due to installation problems, let me check if I can reproduce and get back here soon.

[2021-12-06 18:00] sudden6 commented on #1195
I'm working on putting it into docker anyway, but this will take some time.

[2021-12-07 17:50] kshmelev opened #1198 "Can't use AFL_REAL_LD"
**Describe the bug**
When compiling in LTO mode, the `afl-clang-lto` compiler seems to ignore the env variable `AFL_REAL_LD`.
We build our tools on separate machines and then provide them to dev boxes. Following this approach we built `afl-clang-lto` with LLVM 13 using local path to `lld` and deployed the artifacts to a different machine. However, when instrumenting a target binary, `afl-clang-lto

[2021-12-08 10:30] vanhauser-thc commented on #1198
oh you are right, fixed in the dev branch now. thanks!

[2021-12-08 10:30] #1198 closed, assigned to nobody

[2021-12-08 20:17] hexcoder- commented on #1174
and then nothing happens...

[2021-12-08 20:33] vanhauser-thc commented on #1174
just type:
`python infra/helper.py build_image bitcoin_core`
and answer N to anything

[2021-12-08 20:34] hexcoder- commented on #1174
I did:
[code]
Looks like an error to me.

[2021-12-08 20:45] vanhauser-thc commented on #1174
ah typo. `python infra/helper.py build_image bitcoin-core`
dash not underscore :(

[2021-12-09 02:53] phoenixltx commented on #1196
after I install the latest codeql version：2.7.3,problem solved!
I think you can modify the version of of codeql in build-codeql.sh to 2.7.3.

[2021-12-09 04:52] Microsvuln commented on #1196
@phoenixltx
Thanks for the comment!

I have sent the pull request to update it to the latest version .

[2021-12-09 06:23] #1196 closed, assigned to nobody

[2021-12-09 21:28] sudden6 commented on #1195
I have now a crude setup based on your docker image, the problem also happens there. Something seems to be special with the CMPLOG binary. Build instructions and code: https://github.com/TokTok/c-toxcore/pull/1720#issuecomment-989302599

[2021-12-09 22:06] vanhauser-thc commented on #1195
thanks, looking into it, will likely know whats up tomorrow

[2021-12-09 22:42] vanhauser-thc commented on #1195
built the container, ran the script (installed psmisc for killall ...) - no dorment bootstrap_fuzzer afterwards, doesnt matter if control-c or killall. also for the -c cmplog binary. tried 5 times, normal (havoc) and during colorization.
maybe it is something with your host system?

[2021-12-09 22:44] vanhauser-thc commented on #1195
did you run afl-system-config on your host system before running the container?

[2021-12-10 08:55] sudden6 commented on #1195
Definitely a possibility, but since it happens on 2 different systems I think it's unlikely.

[code]

No I didn't know about this tool. What does it change and is this a requirement? I don't really want to massively change stuff, because the systems are primarily used for other things and I just use their spare CPU cycles.

Strange, I just had it happen again on the Debian system inside the docker

[2021-12-10 10:03] vanhauser-thc commented on #1195
I am on debian testing with an intel i711.
the tool makes changes to the performance of the system (more speed). the only downside of the script is that it disables aslr - so if it is a security sensitive system (e.g. connected to the internet) then this part should be commented out. but otherwise it just makes the system faster for parallel processing.

a stuck process is not doing any work, it i

[2021-12-10 15:58] sudden6 commented on #1195
Ok, I'm not too worried about performance yet and the system is indeed Internet connected, so I'll skip that for now.

Shouldn't there be some sort of timeout? Or is this skipped for performance

I'm connected to it over ssh -> screen -> afl-fuzz, to end it I just press Ctrl+C on all the open screen windows (which stops AFL and then closes the screen window), usually killing the main fuzzer last.

[2021-12-10 22:50] hexcoder- commented on #1174
My first effort for support is checked in: https://github.com/AFLplusplus/AFLplusplus/commit/82f1cf07357f8c735088ac60ebbce7ad2bc51f8a. Maybe @vanhauser-thc can test this with bitcoin-core? That would be nice.

[2021-12-11 13:24] vanhauser-thc commented on #1179
llvm14 support is now in

[2021-12-11 13:28] vanhauser-thc commented on #1174
beware: different git repo!!
easy cut + paste
[code]

[2021-12-11 15:45] maflcko commented on #1174
Thank you for the fix. According to my testing the issue seems to be resolved. I used your commit with a small diff:

[code]

[2021-12-11 17:55] hexcoder- commented on #1174
To sum up the analysis: the problem occurred in `std::fpclassify()` for the value of `-0.0` called by `EncodeDouble()`. The value was not classified correctly as `FP_ZERO`.

[2021-12-14 21:13] vanhauser-thc opened #1216 "Google Season of Docs - Feedback"
Did you find any mistakes or errors? Are sentences unclear? Is something missing?
Report here or - even better - send a pull request!

Our writer will select the overall 10 best helpers and they will receive an AFL++ t-shirt!

[2021-12-15 08:39] vanhauser-thc commented on #1216
#1217

[2021-12-17 08:05] CityOfLight77 opened #1220 "Nautilus with Token-level fuzzing support"
Hi @andreafioraldi

You already implement nautilus with token-level fuzzing on [libafl_quickjs_fuzzing](https://github.com/andreafioraldi/libafl_quickjs_fuzzing)

Do you plan to implement it to AFL++, or maybe update grammar_mutator?

[2021-12-20 15:10] bostick opened #1222 "macOS: install: illegal option -- T"
make distrib runs fine, but then make install gives this error:

install: illegal option -- T

The install command has different options apparently.

Note that -T flag appears in a few different places.

M1 with macOS Monterey

[code]

[2021-12-20 15:20] bostick commented on #1222
I think this is from coreutils not being installed

[2021-12-21 10:07] vanhauser-thc commented on #1222
@bostick so did you install coreutils now? did it work?

[2021-12-21 12:37] Alireza-Razavi opened #1225 "afl-fuzz doesn't compile from qbdi_mode"
I'm getting this error while building afl-fuzz from /utils/qbdi_mode/build.sh:
[code]

[2021-12-21 14:07] vanhauser-thc commented on #1225
one src was missing due changes. note that we do not support the qdbi stuff.
I updated the dev branch, does it work now for you?

[2021-12-21 15:08] bostick commented on #1222
Yes, ensuring that coreutils was being used fixed everything.

And I verified that the `install: illegal option -- T` error is the only difference.

I'm not sure what best practice is, i.e., detect coreutils and complain if not being used, or rewriting commands to work with lowest common denominator, etc.

[2021-12-21 15:18] vanhauser-thc commented on #1222
I want to update the INSTALL.md

is what is needed "brew install coreutils" ?

[2021-12-21 19:40] bostick commented on #1222
Installing, and also pointing PATH to new commands is needed.

For example, after running `brew install coreutils`, you get these caveats printed:
[code]

So, also doing `PATH="/usr/local/opt/coreutils/libexec/gnubin:$PATH"` is needed.

[2021-12-22 00:26] vanhauser-thc commented on #1222
updated the docs, thank you!

[2021-12-22 00:26] #1222 closed, assigned to nobody

[2021-12-22 10:34] Alireza-Razavi commented on #1225
Yes it works.
Thanks a lot

[2021-12-22 10:34] #1225 closed, assigned to nobody

[2021-12-23 09:05] Alireza-Razavi opened #1226 "compile using llvm toolchain i686-linux-android17-clang"
My commands step by step:
1. `export CC=/home/kali/Desktop/android-ndk-r20/toolchains/llvm/prebuilt/linux-x86_64/bin/i686-linux-android17-clang`
2. `export CXX=/home/kali/Desktop/android-ndk-r20/toolchains/llvm/prebuilt/linux-x86_64/bin/i686-linux-android17-clang++`
3. `make binary-only`

But i'm getting this errors:
[code]

[2021-12-23 09:17] vanhauser-thc commented on #1226
are you using the dev branch?
but for android you need more, there is an Android.bp file, not sure it still works (nobody of us uses Android, so if something is not working please fix and send a PR)

[2021-12-25 13:07] vanhauser-thc commented on #1220
would be nice but I do not think he will sadly

[2021-12-25 13:08] vanhauser-thc commented on #1195
any updates here @sudden6 ?

[2021-12-25 13:08] vanhauser-thc commented on #1174
fixed by @hexcoder-  :)

[2021-12-25 13:08] #1174 closed, assigned to hexcoder-

[2021-12-25 16:52] domenukk commented on #1220
In theory you should be able to use LibAFL as custom mutator for afl++, using its `PushMutationalStage`, let me know if you want to try that.

[2021-12-25 21:54] sudden6 commented on #1195
@vanhauser-thc sorry, no ,I'm working on cleaning up some scripts to run the fuzzing campaign, will ping you if I'll find out anything

[2021-12-26 07:05] CityOfLight77 commented on #1220
Okay

I'm interested to try it

[2021-12-26 09:41] domenukk commented on #1220
This is the general way to use `PushMutationalStage`
https://github.com/AFLplusplus/LibAFL/blob/6b5181250c40f2ccf691ece34e1837aadd5a0765/fuzzers/push_stage_harness/src/main.rs#L101
Linking the fuzzer/stage as custom mutator needs some additional work on the rust side, though, for example using a `MapObserver` to hand the afl++ feedback to the mutator.
So solved in theory™ but probably an afternoon

[2021-12-29 14:08] nataraj-hates-MS-for-stealing-github opened #1235 "invalid linker name in argument '-fuse-ld=ld.lld' error in stable branch on Debian Bullseye"
Hi! I am using Debian Bullseye (current stable), and I am having problems using current AFL++ stable branch. I am getting ```invalid linker name in argument '-fuse-ld=ld.lld'``` error when I am trying to use ```afl-clang-lto```. Problem exists only in stable branch, in 3.14c everything works as expected.

ld.lld is installed in my system...

 Here are the steps that allows to reproduce the problem

[2021-12-29 14:21] vanhauser-thc commented on #1235
Hi,

it would help more if you check the dev branch if that works for you or not.

[2021-12-29 14:27] vanhauser-thc commented on #1235
ah sorry, I misread. I thought this happens in 3.14.

if you could do a quick bisect that would help, yes, thank you!

[2021-12-29 15:30] nataraj-hates-MS-for-stealing-github commented on #1235
Нere is the result of git bisect:
[code]

[2021-12-29 17:25] vanhauser-thc commented on #1235
thanks! fix is in the dev branch

[2021-12-29 17:25] #1235 closed, assigned to nobody

[2021-12-29 17:40] nataraj-hates-MS-for-stealing-github commented on #1235
Thanx for the quick fix!

Note for myself: it is 02082bcd2e0928a436593ef67ba84af1c87287e4

@vanhauser-thc, how soon it will migrate to stable?

[2021-12-29 17:51] vanhauser-thc commented on #1235
3-7 days I think. depends on the others to review the PR

[2022-01-06 12:01] atrosinenko opened #1241 "Make afl-fuzz not include the time computer was suspended in its statistics"
When the computer is suspended during a fuzzing session, the time spent in suspended state is counted as a "run time" on a statistics screen. In case fuzzing was running for several hours and then the computer was suspended for several more hours, on one hand I would prefer not restarting the session, on the other hand, now it may be harder to tell how well a harness performs (corpus count vs. run

[2022-01-06 13:22] vanhauser-thc commented on #1241
if you want you can send a PR, something like
[code]

[2022-01-06 13:30] domenukk commented on #1241
We could even consider `CLOCK_MONOTONIC_COARSE` which is (supposedly) faster

[2022-01-10 06:56] AminoACID123 opened #1244 "How to fuzz linux kernels?"
AFL++ supports fuzzing user space programs. If I want to fuzz the linux kernel, what changes should I make to AFL++ in order to make it work?

[2022-01-10 07:37] #1244 closed, assigned to nobody

[2022-01-10 07:53] jiradeto opened #1245 "afl-showmap produce inconsistent edges with -C collect coverage mode"
I am using afl-showmap from commit `88814be` to measure coverage of fuzzbench target `libjpeg_turbo_fuzzer` and noticed I have different coverage maps given the same input when running with -C flag.

Running with single input gave me 117 tuples:
[code]

However reading from directory where the above input resides gave me 127 tuples:
[code]
Here's the diff:
[code]

When I tried to set AFL_DEBUG=1 w

[2022-01-10 08:47] vanhauser-thc commented on #1245
well in the one run you are giving a command line parameter and in the other you are using stdin (well, not really, shared memory is used). so it is different code paths and this is likely the reason. Also the latter one uses persistent mode (only with one input, but still that is a different code path too).
what can also happen that the target has unstable edges and hence another source of differ

[2022-01-10 09:10] jiradeto commented on #1245
@vanhauser-thc thank you for your prompt answer.

If this is the case, running with AFL_DEBUG=1 also triggers possibly different path (using shared memory) and also the persistent mode was also used here, why am I getting the same coverage as the first command (one with a command line parameter)?

All of these strange behaviours came from the unstable edges?

[2022-01-10 09:14] vanhauser-thc commented on #1245
I do not know how your target is specifically compiled.
AFL_DEBUG should not make a difference.
if there are unstable edges you should see the edges being there or not or with different values most of the time.
if you really want to know what is going on then use afl-clang-lto (or with fuzzbench: make test-run-aflplusplus_optimal-libjpeg...). the edges there can be directly looked up in the create

[2022-01-10 10:01] jiradeto commented on #1245
No extra parameters were used, I just run `make debug-aflplusplus-libjpeg-turbo-07-2017` in fuzzbench to get the binary and afl-showmap. This should ensure that nothing has influenced the target right?

Thank you for your suggestion. I will have a look on afl-clang-lto.

[2022-01-10 18:11] avniculae opened #1246 "No instrumentation detected in frida_mode on x64 macOS"
I am currently trying to use AFL++ to fuzz x64 macOS binaries. I started by fuzzing the pdfinfo library (`brew install xpdf`), similar to this frida_mode AFL++ tutorial on Linux: https://www.youtube.com/watch?v=mLgx7kyxsas. However, while the fuzzer can be run successfully on Linux, the exact same steps fail on macOS, as follows:

[code]

Before running the command seen above, the following comman

[2022-01-10 18:29] vanhauser-thc commented on #1246
looks ok for me, paging @WorksButNotTested

[2022-01-10 18:32] domenukk commented on #1246
First of all, I usually try re-running with `AFL_DEBUG_CHILD=1` to see output from the target - maybe it crashes immediately or something weird

[2022-01-10 18:37] avniculae commented on #1246
This is what I get when enabling `AFL_DEBUG_CHILD=1`:

[code]

[2022-01-10 18:44] domenukk commented on #1246
Seems like the pc is not allowed to be larger than `G_MAXINT32`, but it clearly is larger than a 32-bit value here.
Guess we'll have to wait for @WorksButNotTested then

[2022-01-10 18:55] WorksButNotTested commented on #1246
Is this running from the latest dev branch? This should’ve been fixed here…

https://github.com/AFLplusplus/AFLplusplus/commit/2fc764a43f68eed4a56e5494a39ecd8981006170

[2022-01-10 19:03] WorksButNotTested commented on #1246
OS X refuses to let you map memory way down low in the address space, even if there’s a gap. I don’t know why!

[2022-01-10 19:45] avniculae commented on #1246
Indeed, this fixes the issue - I was using the latest version of the stable branch. Thanks!

[2022-01-10 19:45] #1246 closed, assigned to nobody

[2022-01-10 20:34] WorksButNotTested commented on #1246
Awesome. Glad that’s working for you. The dev branch will always have the latest fixes and features (as well as all new new bugs and regressions).

[2022-01-11 16:16] c2hpxq opened #1250 "Add configuration file support besides existing command-line/env options"
Tools in AFL++ make heavy use of argv&envp. I think as the project evolves, it gradually becomes a bad idea. Settings scatter everywhere and not in a uniform way
Somewhat similar to Syzkaller, how about write all the configurations in a single config file (maybe in the JSON format?) and pass the file to tools?
I think that might also facilitate communication, since people can then share their sett

[2022-01-11 16:51] vanhauser-thc commented on #1250
Personally I want to start a fuzz instance and not open an editor first. This would also makes scripting and automation much harder.
normally you have several instances running in sync, removing one after some time and replacing with something else. with a config file this is extra work.

I do see the complication with many command line options and many more environment variables, where a config c

[2022-01-11 18:35] vanhauser-thc commented on #1216
#1248

[2022-01-11 20:46] vanhauser-thc commented on #1216
#1252

[2022-01-12 01:33] c2hpxq commented on #1250
Yes, I agree with you. Backward compatibility does matter and I think it's important to keep the 'out-of-the-box' merit of AFL.
For a tool as popular, good as AFL++ ,this must be optional at first and any further decision should be based on the feedback of fuzzing community.

[2022-01-12 08:17] FrancescoLucarini commented on #1216
#1253

[2022-01-12 17:54] domenukk commented on #1250
I agree that this could be an add-on /alternative to the current way to set up a run.

However, I'm not sure this needs to be part of the core tool.
Basically, you can already have a wrapper script (python?) that sets all of the appropriate configs variables and then calls the `afl-fuzz` binary with the given parameters.
But maybe I'm just too used to the way things are...

(Speaking of the way th

[2022-01-13 12:32] c2hpxq opened #1257 "Question about implementation of fuzz_one_original and mopt_common_fuzzing"
Hi,

I get confused when trying to comprehend the logic of skipping current queue entry.
Just have a look at fuzz_one_original, context:
[code]
I don't understand the following part, and I guess it might be wrong:
[code]
I think there should be a `!` before `afl->queue_cur->was_fuzzed`.
The situation is the same in mopt_common_fuzzing.

I do notice that field `was_fuzzed` is somehow needed by mopt

[2022-01-13 12:35] c2hpxq commented on #1257
@vanhauser-thc ,sorry but I don't know who will be in charge...

[2022-01-13 15:00] vanhauser-thc commented on #1257
fuzz_level is similar to not_fuzzed but not the same
fuzz_level is the number of any fuzz attempts, also the aborted ones. an entry can have fuzz_level 6 but still be not fuzzed.
so if that is the case it is an indicator it is either not very interesting or it is producing problems, so that is why fuzz_level is also put in there if it is not 0.

[2022-01-13 15:09] c2hpxq commented on #1257
I see! Thanks for the explanation.

And still, I think there may be an error in line 433 & line 2955 of afl-fuzz-one.c
[code]
`afl->queue_cur->was_fuzzed` shall be negated:
[code]
@vanhauser-thc

[2022-01-13 15:25] vanhauser-thc commented on #1257
in that we want to randomly skip an entry if it was already tried. you are right that there is something wrong there, but instead of negating was_fuzzed, the fuzz_level needs to be negated. if it is > 0 we should try skipping.
thank for pointing me to that.

[2022-01-13 15:26] vanhauser-thc commented on #1257
ah no, you are right.

[2022-01-13 15:30] c2hpxq commented on #1257
It's somewhat tricky... Basicly I'm attracted by the inconsistency, and later I confirm that through comparing it with its counterpart in the original AFL. Glad that I help and thanks again for your explanation and great work&effort.

[2022-01-13 15:31] vanhauser-thc commented on #1257
we made several changes to afl because we found several strategies not efficient. but this was incorrect here, thanks for pointing that out.

[2022-01-13 15:38] vanhauser-thc commented on #1257
I made the following changes if you want to have a look: 27ab84fbf1a0497c363e3f06c7e7d41ab019c191

[2022-01-13 15:40] vanhauser-thc commented on #1216
#1251

[2022-01-13 15:50] c2hpxq commented on #1257
Seems right to me if we want SKIP_NFAV_NEW_PROB% (i.e., 75% here) drop rate when the entry is not tried (i.e., get execed, no matter whether succ or failed).

[2022-01-13 15:50] #1257 closed, assigned to nobody

[2022-01-18 18:48] mdsahiloss commented on #1241
/assign

[2022-01-19 15:09] c2hpxq opened #1297 "Understand priority of constructors in instrumentation/afl-compiler-rt.o.c"
Hi,

I'm recently comprehending the whole project for fun & mastering system programming. And currently I'm working on the compiler-rt.o.

1. As far as I understand, __afl_final_loc equals #branched-we-instrumented, or (in case AFL_INST_RATIO < 100, roughly) #total-branches*AFL_INST_RATIO/100.
2. The accounting part takes place in __sanitizer_cov_trace_pc_guard_init.
3. I work on macOS 12.1 and LL

[2022-01-19 16:23] vanhauser-thc commented on #1297
we have different instrumentations, pcguard is just one. what baffles you is for lto.

[2022-01-20 03:07] c2hpxq commented on #1297
Sorry for not replying immediately. Just get myself out of bed...
(1) I know the file name trick that afl-cc plays.
(2) I suppose that `afl-clang-lto` is for lto instrumentation and `afl-clang-fast` is for original llvm mode
(3) Here is a simple qsort implementation (somewhat similar to the one provided in old turbo pascal distribution, I think you might get it) Anyway, the content doesn't really

[2022-01-20 06:46] c2hpxq commented on #1297
@vanhauser-thc  On the basis of code comprehension, I make a step further and get hands on. Above is the result of my compilation & analysis. Hope that the additional material helps :-)
PS: As a newbie to compiler+linker+loader system, especially to init-main-fini mechanism, I try my best to be cautious to make assertions. Any helpful comments are welcome.

[2022-01-20 08:33] vanhauser-thc commented on #1297
if you look at llvm, you see that the constructor id for pc_guard_init is 2:
[code]
and this is the reason __afl_auto_early runs at 3 and __afl_auto_second runs at 1.

[2022-01-20 08:45] c2hpxq commented on #1297
Thanks for pointing me to that. I originally plan to find that out by myself later -- as a test program instead of looking into llvm/clang code base fufills my basic demand, this just feed my curiosity :-)

I still think that priority of `__afl_auto_second` should be at least 3, as [line 1299](https://github.com/AFLplusplus/AFLplusplus/blob/stable/instrumentation/afl-compiler-rt.o.c#L1299) relies

[2022-01-20 08:51] vanhauser-thc commented on #1297
It would help your understanding if you would understand what I write :)
that line in afl_auto_second is dead for pcguard, because it is solely for lto. and that is why it must be in prio 1.

[2022-01-20 09:22] c2hpxq commented on #1297
Thx, that priori (i.e., this part of code is intentionally made dead for __afl_auto_second) really helps. Under your guidance I run the target binary instrumented by lto and find that `__afl_final_loc` is not zero in `__afl_auto_second.

All in all I think the problem lies in my stereotype/perspective that there should not be dead code in the final target binary.

Anyway, thx again for your help.

[2022-01-20 09:22] #1297 closed, assigned to nobody

[2022-01-20 10:14] #1226 closed, assigned to nobody

[2022-01-22 18:23] nekitalek commented on #659
guys, got this error
`[*] Compiling afl++ for OS Darwin on ARCH x86_64
[*] Checking for the default compiler cc...
[*] Testing the PATH environment variable...
[*] Checking for the ability to compile x86 code...
[+] shmat seems to be working.
[+] Python 2.7.18 support seems to be working.
[+] Everything seems to be working, ready to compile.
cc -O3 -funroll-loops  -g -Wno-pointer-sign -Wno-variadi

[2022-01-22 21:23] vanhauser-thc commented on #659
Did you set the PATH according to INSTALL.md?

[2022-01-23 22:32] fullpl4nch3 opened #1304 "i386-cpuinfo.h missing"
As the title says, i get the following error "/usr/lib/gcc/x86_64-linux-gnu/10/plugin/include/config/i386/i386.h:2500:10: fatal error: common/config/i386/i386-cpuinfo.h: No such file or directory
 2500 | #include "common/config/i386/i386-cpuinfo.h"

when running make distrib.
im running Parrot OS x64, and i followed the installation instructions. and i had to install gcc-10-plugin-de instead of "s

[2022-01-24 08:47] vanhauser-thc commented on #1304
afaik this needs a :i386 deb package to be installed. but as long as you dont plan to target 32bit compilations that error is not important (everything else builds and works find right?). and if you compile 32bit you have to install the necessary stuff anyway that also afl++ would need.

[2022-01-24 08:49] vanhauser-thc commented on #1304
for the future: you should always add a copy-paste of the error output instead of just describing it.

[2022-01-24 09:06] fullpl4nch3 commented on #1304
So, i don't need 32 bit so i guess im good.

btw "/usr/lib/gcc/x86_64-linux-gnu/10/plugin/include/config/i386/i386.h:2500:10: fatal error: common/config/i386/i386-cpuinfo.h: No such file or directory
2500 | #include "common/config/i386/i386-cpuinfo.h"

thats the only error im getting....

[2022-01-24 09:06] #1304 closed, assigned to nobody

[2022-01-25 08:13] #1216 closed, assigned to nobody

[2022-01-25 08:38] vanhauser-thc commented on #1245
ah found out why.

with '-' or '@@' as parameter it runs ExecuteFilesOnyByOne() which just reads the data and calls LLVMFuzzerTestOneInput.
In normal fuzzing mode though to ensure that for persistent fuzzing potential initializiation has been done this is called additionally: `LLVMFuzzerTestOneInput(dummy_input, 1);` and that of course will impact the overall collected coverage information.

[2022-01-26 07:08] vanhauser-thc opened #1309 "Fix Python examples for UnicornAFL2"
Python scripts in samples that still need to be fixed:
./speedtest/python/harness.py
./compcov_x64/compcov_test_harness.py
./python_simple/simple_test_harness_alt.py

(plus svg logo for main readme.md)

[2022-01-26 07:09] domenukk commented on #1309
Will do once I fully woke up 😀

[2022-01-26 07:21] vanhauser-thc commented on #1309
or after release, no big issues :)
send the svg first :)

[2022-01-26 08:42] vanhauser-thc commented on #1309
btw I fixed ./compcov_x64/compcov_test_harness.py locally so that it runs, but the test-unicorn.sh compcov test doesnt solve ...

[2022-01-26 08:58] domenukk commented on #1309
@wtdcode did the usage of cmpcov change in the rewrite?

[2022-01-26 09:00] wtdcode commented on #1309
Due to a bug in Unicorn, the cmpcov support is disabled by design currently (as you can see in the comments).

Here: https://github.com/AFLplusplus/unicornafl/blob/468798455a9f9790d2da369a18ed49fda3a64e8c/unicornafl.cpp#L502

[2022-01-26 10:44] domenukk commented on #1309
Ah I see, thx for the quick response :)
What's needed to fix this? Else do we need to bring back some dirty patches for cmpcov?

[2022-01-28 13:43] Microsvuln opened #1312 "Gramatron mutator issue on compilation"
Hi .

It seems that there is a compilation error when we call gramatron build script `./build_gramatron_mutator.sh` .

On 3 different machines, I I wouldn't able to compile and get it to work correctly due to the following error :

[code]
(Part of output redacted ...) .

I manually changed the AFL++ makefile and added -fPIC for afl-performance, compilation was successful but running AFL++ with gra

[2022-01-29 15:26] Microsvuln opened #1314 "AFL++ Grammar mutator issue : _pick_non_term_node"
Hello .

When running Grammar mutator on a target, there is a problem right before running AFL++ on the target .

Here is the log :

[code]

**_pick_non_term_node returns NULL: No such file or directory**

Anyone face the same problem ?

Ubuntu 20.04
AFL++ 4.0

[2022-01-29 19:05] vanhauser-thc commented on #1314
what are the env vars for gramatron?

[2022-01-29 19:21] vanhauser-thc commented on #1309
@domenukk is this fixed or still open?

[2022-01-29 19:22] wtdcode commented on #1309
Sorry I haven’t fixed it yet and I’m a little busy these days.
________________________________
From: van Hauser ***@***.***>
Sent: Saturday, January 29, 2022 8:21:29 PM
To: AFLplusplus/AFLplusplus ***@***.***>
Cc: lazymio ***@***.***>; Mention ***@***.***>
Subject: Re: [AFLplusplus/AFLplusplus] Fix Python examples for UnicornAFL2 (Issue #1309)

@domenukk<https://github.com/domenukk> is this fixed

[2022-01-29 19:26] vanhauser-thc commented on #1309
i mean the samples not compcov :)

[2022-01-29 21:19] vanhauser-thc commented on #1312
I tried it, and for me it compiles without issues. I think more likely you used different compilers.
But I added fPIC now as a default CFLAGS parameter. please test if it works for you.

[2022-01-29 21:20] vanhauser-thc commented on #1314
for me it generally works, so I think either your grammar is wrong or try to remove -m128

[2022-01-30 09:38] richinseattle opened #1317 "Building qemu based engines fail on all 3.x and 4.x tarball releases"
**Describe the bug**
AFL++ tarball releases fail building qemu based submodules due to some unhandled interaction with git. Full log of failed `build distrib` and `build_qemu.sh` attached. This includes qemu_mode, unicorn, and nyx builds.

**To Reproduce**
`make distrib` from the root of the 4.00c tarball

[make_distrib.log](https://github.com/AFLplusplus/AFLplusplus/files/7965647/make_distrib.log

[2022-01-30 09:39] richinseattle commented on #1317
For easier viewing
[code]

[2022-01-30 13:50] vanhauser-thc commented on #1317
I pushed some fixes, can you please test?

[2022-01-30 15:33] Microsvuln commented on #1312
Solved in https://github.com/AFLplusplus/AFLplusplus/commit/311649f4581ff54f32bf6fe85fea357c329b0b68

Thanks

[2022-01-30 15:34] #1312 closed, assigned to nobody

[2022-01-30 20:30] vanhauser-thc opened #1320 "Docker changes fail"
[code]

[2022-01-30 20:31] vanhauser-thc commented on #1320
@moyix

[2022-01-30 21:25] vanhauser-thc commented on #1320
looks like the llvm servers fail randomly:
[code]

[2022-01-30 22:25] moyix commented on #1320
apt.llvm.org is down from my machine as well, so hopefully just a temporary outage. Maybe just retry the build once they're back up?

[2022-01-31 02:05] Microsvuln commented on #1314
This is not for Gramatron Marc, it's Grammar mutator : https://github.com/AFLplusplus/Grammar-Mutator

[code]

Did you test this Recently on AFL++ 4.0 ?

[2022-01-31 07:21] vanhauser-thc commented on #1314
ah wrong repo then :)
please open the issue in the repository of the grammar mutator :) he is actively maintaining it

[2022-01-31 08:02] vanhauser-thc commented on #1320
now it worked :)

[2022-01-31 08:02] #1320 closed, assigned to nobody

[2022-01-31 10:11] Microsvuln commented on #1314
Thanks! created one, then close this :-)

[2022-01-31 10:11] #1314 closed, assigned to nobody

[2022-01-31 12:11] Alireza-Razavi opened #1321 "QBDI template is not match with JNIEnv"
I'm using QBDI template to fuzz an android shared library and there is a problem.
[code]
I move my code to **another function** (for example main function) and it works, but in **fuzz_func** it doesn't work and doesn't create my object.

[2022-02-01 04:42] dianestephens commented on #983
Please share what was causing the issue and how you resolved it?  I am also getting the following warnings from AFL++:

[!] WARNING: instability detected during calibration
    len = 219, map size = 149, exec speed = 590 us
[!] WARNING: Instrumentation output varies across runs.

I wonder if I have the same issue and am overlooking it.  Thanks!

[2022-02-01 09:03] vanhauser-thc commented on #983
@dianestephens that just means that there is unstable behaviour in the target. nothing unusual. read docs/FAQ.md

[2022-02-06 10:52] vanhauser-thc commented on #1321
none of us have ever used that feature. you can try and talk to the original guys that submitted that PR...

[2022-02-06 14:41] #1321 closed, assigned to nobody

[2022-02-07 22:14] alexsantee commented on #1317
I am not the original commenter, but I think I have the same problem. I'm on Manjaro Linux with clang 13.0.0, and the 4.00c workaround worked.

Using current (2d9325a) stable branch compilation of the `distrib` target goes fine untill nyx, qemu and unicorn compilation, which gives this error message:

[code]

The error message doesn't make sense because I have git and my internet connection is ok.

[2022-02-07 22:39] vanhauser-thc commented on #1317
this is fixed in dev. thanks for reporting though

[2022-02-07 22:39] #1317 closed, assigned to nobody

[2022-02-08 05:01] richinseattle commented on #1317
Confirmed, this resolves the issue.

[2022-02-13 12:05] RosenZhu opened #1327 "Block coverage in SanitizerCoverageLTO"
Thanks for your time. I have some questions.

- size of shared memory
The default `map_size` is `DEFAULT_SHMEM_SIZE`(8MB); why is that?
As pointed out by CollAFL, large shared memory will slow down the execution speed.
Is the shared memory in afl++ used for some goals besides the classic edge trace?

- block coverage in SanitizerCoverageLTO.so.cc
I notice that this pass has the option variable `Cl

[2022-02-13 13:34] vanhauser-thc commented on #1327
there is that value, however that value is never used. it is set with the real coverage map gathered from the target.
and even if it would be 100MB, we learn through the forkserver what the used map size is in the target and only read+memset that, hence no issue.

what I did was copy SanitizeCoverage.cpp from libfuzzer, and integrated our stuff. all things we dont want/need are still in there, but

[2022-02-13 18:44] adamdoupe opened #1328 "AFL_TARGET_ENV does not play nice with QEMU mode"
**Describe the bug**
When using `AFL_TARGET_ENV` to set the environment for the target binary, when using `afl-fuzz -Q` in QEMU mode, the `AFL_TARGET_ENV` environment applies to QEMU and the target binary, not just the target binary.

This is important when fuzzing a target binary in QEMU mode using specific versions of libraries that will cause QEMU to crash.

**To Reproduce**
Steps to reproduce

[2022-02-13 18:50] vanhauser-thc commented on #1328
That is not a bug but as things ought to be.
Note that qemu also has env vars to set for a target so in your case use these.

[2022-02-13 21:27] RosenZhu commented on #1327
Thanks for your quick response. That helps a lot.
Regarding to the indirect edges, as far as I know, indirect edges cannot be obtianed during static analysis (at least not accurately).
Could you please explain a bit how `SanitizerCoverageLTO` traces indirect edges? (i.e., how do these indirect edges be recorded in the afl's shared memory?)

[2022-02-14 06:35] vanhauser-thc commented on #1327
Easy: it doesn’t :)

[2022-02-14 07:00] RosenZhu commented on #1327
The answers help a lot.

[2022-02-14 07:00] #1327 closed, assigned to nobody

[2022-02-14 07:25] vanhauser-thc commented on #1328
so to clarify, if you want to send a PR for env.md to better explain the limitations, that would be nice

[2022-02-14 14:19] wtdcode commented on #1309
Done with compcov enabled.

[2022-02-16 13:21] avniculae opened #1330 "Error when using AFL_FRIDA_STATS_FILE and AFL_FRIDA_STATS_INTERVAL"
When using AFL_FRIDA_STATS_FILE and AFL_FRIDA_STATS_INTERVAL on macOS (x64), I am getting this error:
[code]

Do you have any ideas why?

[2022-02-16 13:26] #1309 closed, assigned to domenukk

[2022-02-16 15:44] vanhauser-thc commented on #1330
@WorksButNotTested

[2022-02-16 18:23] WorksButNotTested commented on #1330
Please can you also set AFL_DEBUG_CHILD and AFL_FRIDA_VERBOSE you should then get a lot more output to help diagnose.

[2022-02-16 18:26] WorksButNotTested commented on #1330
Also be sure to run the afl-system-config script in the root directory as OS X has some pretty low limits on shared memory regions by default.

[2022-02-17 10:00] fatimahkj opened #1331 "AFl++ working directory"
Dear developer,

I'm fuzzing some source code that actually generates some files during run or fuzzing.  I used to use AFL and those files will be saved in the directory where I run the fuzzing. While in AFL++ I can't find the files. It seems like AFL++ runs in the isolating environment (running in TEMP directory).

Is there any way I can check those files while I run afl-fuzz?

[2022-02-17 11:26] vanhauser-thc commented on #1331
afl++ is not changing directories. if you have such targets you should either remove that functionality by changing the source, or your working directory should be a tmpfs.

[2022-02-20 14:33] vanhauser-thc commented on #1100
LLVM 15 has removed the old pass manager we have to migrate :(

[2022-02-20 14:34] vanhauser-thc commented on #1100
work to be done is in the newpm2 branch (https://github.com/AFLplusplus/AFLplusplus/tree/newpm2), some of the work has already been done by @hexcoder- in the dev_newpm branch

[2022-02-21 15:40] avniculae opened #1333 "Getting "Bad value of AFL_TARGET_ENV""
Hi,

I am getting "Bad value of AFL_TARGET_ENV" when trying to set 2 environment variables for the target process. The variables are separated by a space, as in the documentation (I am executing `AFL_TARGET_ENV="A=1 B=2" ...`).

[2022-02-21 15:49] avniculae commented on #1330
The issue disappeared after rebooting, but every AFL_FRIDA_STATS_INTERVAL seconds, the statistics file is filled with zeros as below:
[code]

[2022-02-21 17:59] WorksButNotTested commented on #1330
That seems like a defect. What other options are you using? If you set the interval to something low like 1 second do things improve?

What are you using the stats for? There may be another way to get the info you need, or they may not have what you’re expecting. They are really just internal data to give a detailed view of how the FRIDA backend is performing. They are block compilation stats, rat

[2022-02-22 09:16] vanhauser-thc commented on #1333
quickly looking at the code it should work, but I have not time for testing or fixing this the next week.
if you want to fix it yourself: src/afl-common.c extract_and_set_env() is where to look at. some printf and you will know whats wrong.

[2022-02-23 03:35] H0t4ru opened #1336 "Error when use afl-clang-fast and afl-clang-fast++ to compile vlc"

[2022-02-23 06:25] #1336 closed, assigned to nobody

[2022-03-01 10:55] martinclauss opened #1341 "Documentation: libdesock to fuzz network servers"
In https://github.com/AFLplusplus/AFLplusplus/blob/stable/docs/fuzzing_in_depth.md#k-known-limitations--areas-for-improvement you mention preeny to support the fuzzing of network servers. Check out https://github.com/fkie-cad/libdesock and maybe add it as an additional reference to support network fuzzing with AFL++. Thanks! :)

[2022-03-01 13:07] vanhauser-thc commented on #1341
feel free to send a PR :)

[2022-03-01 17:12] rchildre3 opened #1343 "Dyninst Fuzzing Strategy?"
Commit 60e126c615a8("mention arm64 docker image") changed the reason `afl-dyninst` modules were disabled due to "better alternatives"

**Describe the solution you'd like**
State what "better alternatives" to `afl-dyninst` are recommended (possibly with some benchmarks)?
The [Fuzzing binary-only programs][1] page still calls it "the best option available"?

[1]: https://aflplus.plus/docs/binaryonly

[2022-03-01 18:03] vanhauser-thc commented on #1343
the documentation on the web site is outdated @andreafioraldi I guess you have a script that updates that?
the documentation here on github tells you that you have zafl and retrowrite too, zafl is the best but is not available for commercial/business purposes.

[2022-03-01 19:15] rchildre3 commented on #1343
ZAFL is BSD 3/Apache Licensed, which are both fairly open licenses, are there additional inhibitors to commercial/business uses?

https://git.zephyr-software.com/opensrc/libzafl/-/wikis/Licensing

[2022-03-01 19:30] domenukk commented on #1343
Wouldn't qemu mode and frida mode be the best options? At least I would assume they are the most mature

[2022-03-01 21:35] andreafioraldi commented on #1343
emulation is always better than static rewriting, full control over the put is more important than some single core speedup at the price of complex engineering.

[2022-03-02 08:15] vanhauser-thc commented on #1343
@domenukk if you would have read the document you would know :)
the most effective setup is to setup rewrite the binary so you have fast executions, but to also have a LAF and CMPLOG in qemu and frida instance each as well.

[2022-03-02 08:16] vanhauser-thc commented on #1343
yes the backend is not afaik, unless they changed it

[2022-03-02 22:15] rchildre3 commented on #1343
Which "backend" is not open?

The main dependency is [zipr](https://git.zephyr-software.com/opensrc/zipr) (Licensed BSD-3-Clause)

there is an [optional dependency on IDAPro](https://git.zephyr-software.com/opensrc/zipr#zipr-with-idapro) but that is not a hinderance to most commercial uses, and also not required

[2022-03-03 07:34] vanhauser-thc commented on #1343
it wasnt open, and last time I spoke with Stefan, one of the authors about this was last year. maybe it changed, but I won't hunt down that information for you :) ask @stevenagy ...

[2022-03-03 14:43] stevenagy commented on #1343
ZAFL/Zipr should all be available now. Feel free to get in touch if you have licensing questions. :)

[2022-03-04 15:48] MathisMARION opened #1345 "Replay testcases using stdin redirection instead of cat into pipe?"
In the main README file of this repository, it is documented that test cases can be replayed using the following command:
[code]
However from my observations, it seems like the behavior of AFL is closer to the following:
[code]
What is the difference you may ask?
Well a pipe and a real file are both file descriptors, but they don't exactly have the same properties...
In my case, I was trying to us

[2022-03-07 08:37] vanhauser-thc commented on #1345
that is just an example in the README. other targets require a specific file location e.g. /etc/foo.conf.

[2022-03-07 08:37] #1345 closed, assigned to nobody

[2022-03-07 13:33] rchildre3 commented on #1343
Given the updated licensing. Should ZAFL become tracked as an optional submodule like `qemuafl` and `unicornafl` for binary fuzzing?

[2022-03-09 03:51] Janette88 commented on #983
ti had the same error . i wanna know how to solve it.
there is my problem:

[-] Hmm, looks like the target binary terminated before we could complete a
handshake with the injected code. You can try the following:

    - The target binary crashes because necessary runtime conditions it needs
      are not met. Try to:
      1. Run again with AFL_DEBUG=1 set and check the output of the target

[2022-03-10 20:22] 1984gobrr commented on #944
Hi, I would like to work on this issue :smiley:

[2022-03-12 21:10] avniculae commented on #1333
Wanted to follow-up on this... it turns out that the code is a bit buggy when passing multiple env variables. I could make it work by placing two spaces between any two env variables. Thanks!

[2022-03-12 21:12] avniculae commented on #1330
I could indeed get the info I wanted without this feature. Thanks for your reply!

[2022-03-12 21:38] WorksButNotTested commented on #1330
@avniculae glad you got what you needed. Feel free to drop into the discord channel fun you have any other queries.

@vanhauser-thc this still needs investigation. Please can you leave the ticket open for now. Thanks.

[2022-03-13 00:11] domenukk commented on #983
Did you ever run it again with `AFL_DEBUG=1`? What was the output?

[2022-03-13 00:29] #1341 closed, assigned to nobody

[2022-03-13 00:30] domenukk commented on #1343
We're actively maintaining those two module, that's why they are there.

[2022-03-13 00:30] #1343 closed, assigned to nobody

[2022-03-13 00:31] domenukk commented on #226
There hasn't been any activity here in a long time. We should move to normal issues for LTO issues.

[2022-03-13 00:31] #226 closed

[2022-03-13 00:32] domenukk commented on #258
No activity here in a while. Closing :)

[2022-03-13 00:32] #258 closed

[2022-03-13 00:34] domenukk commented on #567
Closing as this is solved with LDPRELOAD and there is no activity.

[2022-03-13 00:34] #567 closed, assigned to nobody

[2022-03-13 00:36] domenukk commented on #731
Closing this for now. Feel free to reopen

[2022-03-13 00:36] #731 closed, assigned to nobody

[2022-03-13 00:37] domenukk commented on #846
Probably not something we will fix, feel free to investigate further if you're still interested and submit a PR

[2022-03-13 00:37] #846 closed, assigned to nobody

[2022-03-13 00:38] domenukk commented on #863
No activity in a while, closing for now

[2022-03-13 00:38] #863 closed, assigned to nobody

[2022-03-13 00:38] domenukk commented on #874
No activity in a while. Closing for now

[2022-03-13 00:38] #874 closed, assigned to nobody

[2022-03-13 00:39] domenukk commented on #885
No activity in a while. Closing. Reopen if needed

[2022-03-13 00:39] #885 closed, assigned to nobody

[2022-03-13 00:43] domenukk commented on #944
https://github.com/AFLplusplus/AFLplusplus/blob/1d4f1e48797c064ee71441ba555b29fc3f467983/src/afl-fuzz-run.c#L208

Instead of exiting here for `== 0`, we could instead (somehow) skip this testcase completely.

[2022-03-13 00:44] domenukk commented on #981
No more activity. Closing for now

[2022-03-13 00:44] #981 closed, assigned to nobody

[2022-03-13 00:44] #997 closed, assigned to domenukk, vanhauser-thc, hexcoder-, andreafioraldi

[2022-03-13 00:47] domenukk commented on #1048
Any news on this? Can the issue be closed or will we change the impl?

[2022-03-13 00:48] domenukk commented on #1054
No activity on this in a while. Closing. Feel free to reopen if there's anything we can do

[2022-03-13 00:48] #1054 closed, assigned to nobody

[2022-03-13 00:49] domenukk commented on #1088
This has been answered, correct? Else, reopen

[2022-03-13 00:49] #1088 closed, assigned to nobody

[2022-03-13 00:50] domenukk commented on #1179
Closing this as it's done(?) Else, please reopen

[2022-03-13 00:50] #1179 closed, assigned to nobody

[2022-03-13 00:52] domenukk commented on #1195
No news in a while. Closing for now - please reopen if the issue persists or comes back

[2022-03-13 00:52] #1195 closed, assigned to nobody

[2022-03-13 00:52] domenukk commented on #1220
You can now use LibAFL as custom mutator, see https://github.com/AFLplusplus/AFLplusplus/tree/stable/custom_mutators/libafl_base

[2022-03-13 00:52] #1220 closed, assigned to andreafioraldi

[2022-03-13 00:54] domenukk commented on #1328
This seems to be done

[2022-03-13 00:54] #1328 closed, assigned to nobody

[2022-03-13 00:55] domenukk commented on #1331
This appears to be answered, if not, please reopen

[2022-03-13 00:55] #1331 closed, assigned to nobody

[2022-03-13 18:14] vanhauser-thc commented on #1330
@WorksButNotTested ok!

[2022-03-13 18:53] vanhauser-thc commented on #944
@1984gobrr just send a PR :)

[2022-03-14 02:37] Mikerah opened #1350 "Cannot install afl-gcc-fast and afl-g++-fast"
I'm trying to install `afl-gcc-fast` and `afl-g++-fast` as I am getting a warning about using out of date instrumentation.
I have followed the instructions [here](https://github.com/AFLplusplus/AFLplusplus/blob/stable/instrumentation/README.gcc_plugin.md) on how to install this but even though make passes successfully, it is not installed on my system. I even tried running `make` with `sudo`.

Not

[2022-03-14 07:43] vanhauser-thc commented on #1350
you mistype it to alf-gcc-fast instead of afl-...

[2022-03-15 11:16] Mikerah commented on #1350
When I type is properly, it's still not there.

[2022-03-15 11:29] vanhauser-thc commented on #1350
what is the output of "make" ?

[2022-03-15 15:58] Mikerah commented on #1350
[code]

[2022-03-15 16:25] vanhauser-thc commented on #1350
and what happens if you do `./afl-gcc-fast -o test-instr test-instr.c`?

[2022-03-15 16:26] vanhauser-thc commented on #1350
you can see in the makefile output that everything is working so ...
[code]

[2022-03-15 16:58] Mikerah commented on #1350
`afl-gcc` and `afl-g++` work. But I want to have access to `afl-gcc-fast` and `afl-g++-fast`.
The instructions that I pointed to in the issue don't compile these options so I'm wondering how I can do so.

[2022-03-16 08:22] vanhauser-thc commented on #1350
please read what I write. the output
[code]
shows that your afl-gcc fast is there and working

[2022-03-16 09:50] fuzzah commented on #1333
Hello! I'm the author of the relevant code.
Could you please provide a little bit more information about shell you're using? I'll try to reproduce it.

[2022-03-16 11:30] fuzzah commented on #1333
@vanhauser-thc , how do I add unit test? Is adding unit_something.c to test/unittests folder sufficient?

[2022-03-16 12:20] vanhauser-thc commented on #1333
I dont think this needs a unit test as this is something that is basically never touched :)
we test all the important features with test scripts in test/
the unittests are only for a few special cases and as these are not touched either not necessary anymore ....

[2022-03-16 13:01] Mikerah commented on #1350
But it's not:
[code]
So, when I compile my code using `afl-g++`, I still get
[code]

[2022-03-16 13:41] vanhauser-thc commented on #1350
and I told you before to do `./afl-gcc-fast`

[2022-03-16 13:52] Mikerah commented on #1350
I found it.
Thanks.

[2022-03-16 13:52] #1350 closed, assigned to nobody

[2022-03-17 15:41] vanhauser-thc commented on #1100
finally done. lets hope I did not forget anything.

[2022-03-17 15:42] #1100 closed, assigned to vanhauser-thc, hexcoder-, andreafioraldi

[2022-03-18 14:26] rwmjones opened #1354 "afl-clang-fast deletes command line -D defines if they contain the substring "afl-llvm-rt.o""
**Describe the bug**

With a trivial test program that basically does:
[code]

Compiling it with a -D definition that has the substring `afl-llvm-rt.o` deletes the definition completely:
[code]

It works fine if you use another string there.

This problem showed up because I'm trying to get round another issue:
[code]
which apparently requires adding `afl-llvm-rt.o` to CFLAGS, and one of my progra

[2022-03-18 14:44] vanhauser-thc commented on #1354
why would you set a define with a value like that?
if this bothers you, send us a PR :)

[2022-03-18 14:52] rwmjones commented on #1354
As explained, part of the project defines -DCFLAGS="$(CFLAGS)"

[2022-03-19 14:58] vanhauser-thc commented on #1354
ah sorry didnt see the reason, was mobile on a train ride. will look what I can do about this on Monday.

[2022-03-19 15:33] rwmjones commented on #1354
I think we should close this.  I only needed it because of an earlier attempt to workaround the `__afl_area_ptr` linking problem, but as you see from the pull request I found the proper way to fix that.

[2022-03-19 15:33] #1354 closed, assigned to nobody

[2022-03-20 02:01] Mikerah opened #1357 "Is it possible to run afl-fuzz with no test inputs"
I have a program for which I only have a single test case. I have gotten some results out of that.
Out of curiosity and to compare the results, I would like to run `afl-fuzz` with no test cases on the same program.
Is this possible?

[2022-03-20 08:30] domenukk commented on #1357
No, afl-fuzz always needs something to mutate.
You can, of course, start your run with a testcase of random bytes, but I don't recommend this either.
Good seed inputs save time the fuzzer can spend on other things.

[2022-03-20 12:57] Mikerah commented on #1357
Thank you.

[2022-03-20 12:57] #1357 closed, assigned to nobody

[2022-03-20 19:09] Mikerah opened #1358 "Correct format for passing files as command line variables for fuzzing"
I'm trying to fuzz a program that takes as inputs a series of files.
I have been able to follow the instructions outlined [here](https://github.com/AFLplusplus/AFLplusplus/tree/stable/utils/argv_fuzzing). However, I noticed that once I take a look at the input test cases generated by AFL++ and run a back trace in gdb, the problem is not reading right file.
Here's an example input:
[code]
Noticed t

[2022-03-21 08:35] vanhauser-thc commented on #1358
you do not show the afl command line, not what you set in the env var ... and in general there is not enough context for me to even guess what your issue is. please put in more effort if you want help.

[2022-03-21 11:23] Mikerah commented on #1358
I simply ran the basic `afl-fuzz` as per the instructions. In particular I ran `afl-fuzz -i input -o output ./binary` where my input file has a single test case which is ```./build/prover\x00../../circom-test-cases/snarkjs-test-case/circuit_groth16_0.zkey\x00../../circom-test-cases/snarkjs-test-case/witness.wtns\x00../../circom-test-cases/snarkjs-test-case/proof.json\x00../../circom-test-cases/sna

[2022-03-21 11:26] vanhauser-thc commented on #1358
afl-fuzz can only mutate one input for fuzzing, not multiple files.
you can specify with -f /path/to/file  if the file to fuzz has a specific location.
still not grasping the whole context of what you want to do ...

[2022-03-21 11:32] Mikerah commented on #1358
I want to fuzz a binary that takes as input 4 files as part of its normal operation. I modified the code in which I added `AFL_INIT_ARGV()` at the beginning of the main function (along with the required import) in order to be able to enable AFL++ to read from the argv array. I am able to get the fuzzer to run when I make these changes. However, once I look at the actual inputs generated by AFL++,

[2022-03-21 20:05] fuzzah commented on #1333
should be fixed with #1359

[2022-03-22 21:02] ckaran opened #1361 "Build failure due to unicornafl."
I am on the 'stable' branch, working with commit `1d4f1e48797c064ee71441ba555b29fc3f467983`.  I am trying to build from source, following the directions for `make distrib`.  The build always fails with the error:

[code]

**To Reproduce**

I have tried two different methods of obtaining the code.  In the first method, I did `git clone https://github.com/AFLplusplus/AFLplusplus.git`, and then ran `

[2022-03-23 03:40] Licae commented on #1361
I have a similar error, do not know how to solve.

run`make distrib` , after that, the error is as follows:
[code]

[2022-03-23 08:25] vanhauser-thc commented on #1361
use the dev branch, we are pushing to stable soon

[2022-03-23 09:11] Licae commented on #1361
I will checkout dev branch. But there are still mistakes.
https://github.com/AFLplusplus/AFLplusplus/issues/1361#issuecomment-1075882154

[2022-03-23 10:21] vanhauser-thc commented on #1361
nobody else has this problem, so either you changed something or your system is in a weird state ... I would recommend 1. update your system, reboot, login as a different user, clone the repo, checkout dev branch, make distrib

[2022-03-23 10:29] domenukk commented on #1361
@wtdcode do you have any idea where the CMAKE error could come from? some missing submodule checkout? Old cmake? missing git installation? Something else?

[2022-03-23 11:03] joaofcmb commented on #1361
@Licae Had the same issue, it's due to an old cmake version. Upgrading cmake works for me

[2022-03-23 12:00] Licae commented on #1361
I've solved it.Thank you for your advice.
[code]
The cmake version was upgraded from  V3.10 to V3.22.

[2022-03-23 12:01] Licae commented on #1361
I've solved it. Thanks for your advice.

[2022-03-24 13:12] ckaran commented on #1361
I'm using cmake 3.16.3.  The `dev` branch fixed something though, `unicornafl` now compiles!  I'm going through the full tests to see if anything broke.

### EDIT

The tests may not be working 100%.  When I run `make tests`, I get:

[code]

`make unit` passes fine though.  Can I ignore this issue safely?

[2022-03-25 09:06] vanhauser-thc commented on #1333
@avniculae  can you please test if the fix works for you?

[2022-03-25 09:08] vanhauser-thc commented on #1361
@ckaran I have that issue too. this is what is happening behind the scenes:

[code]
@domenukk @wtdcode

[2022-03-25 13:56] wtdcode commented on #1361
I'm moving to a new apartment these days and I will have a look as soon as possible (once I get everything done and get my desk from IKEA).

Sorry for the delay.

[2022-03-25 14:48] chinggg commented on #1361
`test/test-unicorn-mode.sh` checks for `unicorn_mode/unicornafl/samples/shellcode`, which does not exist in my PC(it should exist as `grep` can find it in unicorn Makefile), that's why it just puts `unicorn_mode is not compiled, cannot test`
[code]

Remove the condition and the unicorn-mode test is successful, which uses `afl-fuzz -U`.
Directly executing python script also fails like https://githu

[2022-03-26 19:09] domenukk commented on #1361
Can't reproduce the Bus error with a clean install in dev.
The `> unicornafl.unicornafl.UcAflError: No AFL, no need to fork (but no real Error)` happens but is expected (just the info that no AFL is attached, not a real error)

[2022-03-26 19:15] domenukk commented on #1361
Fixed in 3f0d642f9b31ea6afeb4e27aa24eddc27ad36fa1 , thanks

[2022-03-27 13:22] Mikerah commented on #1358
@vanhauser-thc Let me rephrase my problem:

I have a program (whose source code I have access to, if that matters) that takes as input 4 files at the command line. None of these files are optional parameters, they are required. As stated before, I followed the instructions to enable argv fuzzing and created a testcase where I pass in 4 example files for the program.

After running the fuzzer for a

[2022-03-27 13:42] chinggg commented on #1361
Yeah,  I thought `No AFL` is casued by some error in unicornafl but it actuallly means the python script detect it is not executed by AFL++ unicorn mode, then it just exit. So the problem is fixed by modifying test-unicorn-mode.sh

[2022-03-27 13:48] domenukk commented on #1361
Thanks!

[2022-03-28 06:43] vanhauser-thc commented on #1361
I still have this issue .... :(

[2022-03-28 13:21] ckaran commented on #1361
@vanhauser-thc Try the following from the root of the repository:

[code]

That will recurse through all of the submodules and clean them as well.  Once you do that, do the usual `git pull && git submodule update --recursive` to verify that you have everything updated.  Then go through the whole build & test process.

Git submodules burn me every time... :disappointed:

[2022-03-28 14:00] ckaran opened #1366 "unsigaction library is missing"
**Describe the bug**

I'm on the dev branch, testing 3f0d642f9b31ea6afeb4e27aa24eddc27ad36fa1 using `make tests`.  I keep having the following errors:

[code]

Since this is part of AFL++, it suggests that something isn't compiling as expected.

**To Reproduce**

**MAKE SURE** you've cleaned the entire project before testing any of this!

1. In the root directory:
[code]
2. Build and test it:
[cod

[2022-03-28 16:33] avniculae commented on #1333
Had a quick test now and everything seems alright. Thanks!

[2022-03-28 16:33] #1333 closed, assigned to nobody

[2022-03-29 08:34] vanhauser-thc commented on #1366
the test scripts are just for us (and the CI) but you are right the test should work properly. fixed. thanks!

[2022-03-29 08:34] #1366 closed, assigned to nobody

[2022-03-29 12:08] fuzzah commented on #1333
@avniculae thank you for reporting!

[2022-03-29 12:08] vanhauser-thc commented on #1358
it is always best to modify the source code to have an effective way of fuzzing a target. argv fuzzing is for many targets pointless. if the target has several features you can create different fuzzer setups for them.

[2022-03-29 13:11] balamirlenk opened #1367 "clang: error: linker command failed with exit code 1"
Hello, I am facing the following problem. Where am I doing wrong?

`[afl++ 18b576afdaaa] ~ # afl-cc -fsanitize=address,undefined -ggdb -O0 vuln.c -o test
afl-cc++4.01a by Michal Zalewski, Laszlo Szekeres, Marc Heuse - mode: LLVM-PCGUARD
vuln.c:86:1: warning: non-void function does not return a value in all control paths [-Wreturn-type]
}
^
SanitizerCoveragePCGUARD++4.01a
[+] Instrumented 96 locati

[2022-03-29 13:13] vanhauser-thc commented on #1367
your test program does not have a main() and therefore no compiler in the world can create a runnable program.
is it an LLVMFuzzerTestOneInput() harness? then add `-fsanitize=fuzzer`

[2022-03-29 13:16] ckaran commented on #1366
That worked, thank you!

[2022-03-29 13:26] ckaran opened #1368 "LTO llvm_mode not compiled, cannot test"
**Describe the bug**

This is on the `dev` branch, testing commit b34751efbf9304128d8e52dfeeb3abe0d4f5ba3b.

When running `make distrib && make tests` I get the following lines of output:

[code]

**To Reproduce**
Steps to reproduce the behavior:
1. In a bash shell, at the root of the project:
[code]
2. Look at the output and notice that "[-] LTO llvm_mode not compiled, cannot test" is in the outp

[2022-03-29 13:40] vanhauser-thc commented on #1368
did you install everything that needs installing? check docs/INSTALL.md

if you think yes then please paste the full output of "make"

[2022-03-29 14:09] Mikerah commented on #1358
Thank you for the advice @vanhauser-thc. I will try to modify the source code directly.

[2022-03-29 14:09] #1358 closed, assigned to nobody

[2022-03-29 14:20] ckaran commented on #1368
I did the following from `INSTALL.md`:

[code]

This didn't fix the issue.

The gist that contains the complete output is [here](https://gist.github.com/ckaran/c433eda82b4f8ea8420b7686c514d197).

[2022-03-29 17:10] vanhauser-thc commented on #1368
you can see the issue in the make output: `GNUmakefile.llvm:218: ld.lld not found, cannot enable LTO mode`
you did not install lld-12, maybe its in a different package in your distro

[2022-03-29 19:01] ckaran commented on #1368
Thank you, I didn't notice that!  I've installed all versions of all LLVM tools that I could find (10, 11, and now 12), and now I'm getting the following:

[code]

The complete [gist](https://gist.github.com/ckaran/d14652c5c1c0981e93cc2eb99123d55a)

[2022-03-30 07:17] vanhauser-thc commented on #1368
ah damn. thanks for finding and reporting. the new llvm pass manager is horrible difficult to get right ...
fixed.

[2022-03-30 13:28] ckaran opened #1369 "unicornafl.unicornafl.UcAflError: No AFL, no need to fork (but no real Error)"
**Describe the bug**

This may not be a real bug, but it is confusing for end users.  Towards the very end of building with `make distrib`, we get the following output:

[code]

If that's truly unimportant and can be ignored, it would be best to filter it out of the output.  *However,* if it turns out that it's important (like some chunk of code that should be being tested, isn't being tested), th

[2022-03-30 13:43] ckaran commented on #1368
That did it!  Thank you!

[2022-03-30 13:43] #1368 closed, assigned to nobody

[2022-03-30 15:09] vanhauser-thc commented on #1369
you are on the dev branch where we ... well ... develop. hence sometimes things dont work or there is extra debug output - like this.

[2022-03-30 15:09] #1369 closed, assigned to nobody

[2022-03-30 15:41] ckaran commented on #1369
Ha! Good point! :grinning:

I'm fine with it not working, I just didn't know if anyone had noticed yet or not.  There is a *LOT* of output int he build process, and it's easy to miss some of it, which then goes on to become an ongoing bug.  I figure my job as an end user is to file every bug report I can to make things better.

[2022-03-30 20:49] vanhauser-thc commented on #1369
if you find a bug in things that should be working, it is great if you report it.
if it is debug output or other stuff then it makes more sense to report those things if they land in stable (which they should not).

[2022-03-31 08:21] #1361 closed, assigned to nobody

[2022-03-31 14:51] ckaran commented on #1369
As you wish.  I'll do that in the future.

[2022-04-02 22:37] wtdcode commented on #1361
I tried a clean rebuild and couldn't reproduce this on dev branch. Ping me if there is any problem.

[2022-04-05 10:26] RosenZhu opened #1377 "Memory leakage in afl-fuzz.c"
I think there's a memory leakage in `afl-fuzz.c`, but not sure.

In `afl-fuzz.c`, if cmplog mode is enabled, the function `check_binary()` will be called twice [here](https://github.com/AFLplusplus/AFLplusplus/blob/881aef21fd6ca3f3bcf0847587d4d6d86f3a69db/src/afl-fuzz.c#L1926-L1935).
Each time, `afl->fsrv.target_path` will be allocated new memory.
However, it's not freed before `afl->fsrv.target_p

[2022-04-11 17:27] Cornul11 opened #1384 "Citation outdated"
The `CITATION.cff` file is outdated and needs to be updated.

**Expected behavior**
Expected the `CITATION.cff` file to be up-to-date.

[2022-04-12 19:27] SlaterLatiao opened #1386 "Question about power schedule implementation"
Implementation of power schedules in _calculate_score_ is a little different from the formulas described in https://aflplus.plus/docs/power_schedules/.
Following are the schedules I have questions about.
(1) **Exploit** is defined as _alpha(i)_ in the formula but is calculated as _alpha(i) * MAX_FACTOR / beta(i) = 32 * alpha(i)_ in the code.
(2) **Coe** falls through to the case of **fast** when _

[2022-04-12 20:09] r00tus3r opened #1387 "PROGRAM ABORT : Short write"
Hi, I'm trying to fuzz a large binary using aflplusplus. I have written a custom post processor to (slightly) improve the fuzzing performance. The post processor replaces selected bytes in a large input file with the mutated bytes. For some reason I'm getting the following error:

[-] PROGRAM ABORT : Short write to /out/default/queue/id:000001,src:000000,time:6515,execs:24,op:havoc,rep:16,+cov, fd

[2022-04-15 20:40] SpaceMoehre opened #1391 "Custom Mutator symcc.c broken pipe"
While using the symcc custom mutator on the afl++ libxml2 tutorial I encountered a problem where a pipe breaks and exits the program bevor fuzzing.

My Dockerfile:

[code]

This is basically the symcc Dockerfile, which mounts the results into the afl++ image.

I adjusted the libxml2 tutorial by copying the cloned folder and compiling using symcc instead of afl-clang-fast.

When running the fuzzer

[2022-04-18 11:04] vanhauser-thc commented on #1387
what version are you using?

[2022-04-18 11:10] vanhauser-thc commented on #1391
looking at the code this happens when symcc closes the pipe. so my guess is that the symcc side is not clean.
but I dont recommend using the custom mutator, use the fuzzing helper of symcc, just updated the readme with that info.

[2022-04-18 11:13] vanhauser-thc commented on #1386
the implementation is by Marcel Böhme from his AFLFast implementation. For AFL++ he updated Fast and Coe to be better. if you have questions, ask him directly :) (e.g. via twitter).

[2022-04-18 11:13] #1386 closed, assigned to nobody

[2022-04-18 11:13] #1384 closed, assigned to nobody

[2022-04-18 11:13] vanhauser-thc commented on #1377
yeah but code to check if this is allocated memory or not is a hassle and it is minimal memory, so we ignore this :) thanks though!

[2022-04-18 11:13] #1377 closed, assigned to nobody

[2022-04-18 22:03] r00tus3r commented on #1387
I'm using `afl-fuzz++4.01a`

[2022-04-20 10:12] vanhauser-thc commented on #1387
@r00tus3r what is the filesystem type you are writing to? ext4?
and does it happen too if you remove AFL_CUSTOM_MUTATOR_LIBRARY ?

[2022-04-20 20:31] r00tus3r commented on #1387
I tried it on ext4 and tmpfs. And it does not happen without AFL_CUSTOM_MUTATOR_LIBRARY.

[2022-04-21 07:48] vanhauser-thc commented on #1387
can you share that afl custom library to me? either here or via email to mh(at)mh-sec.de? you could remove mutation stuff that is not needed if necessary (as long as the bug is still triggered)

[2022-04-21 22:44] r00tus3r commented on #1387
Sent you an email!

[2022-04-24 14:14] #1391 closed, assigned to nobody

[2022-04-26 17:32] borg-a opened #1394 "Select_algorithm in MOpt havoc stage"
Hello,

I was looking at the code for the havoc stage in the **mopt_common_fuzzing** function. From my understanding, select_algorithm randomly chooses a mutator index according to the given probabilities, and that is then applied in the subsequent switch.

There are 19 mutators (according to the switch cases):
0 : STAGE_FLIP1
1 : STAGE_FLIP2
2 : STAGE_FLIP4
3 : STAGE_FLIP8
4 : STAGE_FLIP16
5 : ST

[2022-04-27 19:10] akasong commented on #1394
I was also looking at this code. And I found it is different from vanilla MOpt (missmatched array number in select_algorithm).

afl++'s r_max : 15 or 17  (not 16, 18 unless set env value AFL_EXPAND_HAVOC_NOW)
so index of the array number in select_algorithm() is 14(STAGE_Clone75) or 16(STAGE_OverWriteExtra).

In select_algorithm() of vanilla MOpt, this array number is 15(STAGE_OverWrite75) or 17(S

[2022-05-02 06:21] vanhauser-thc commented on #1394
@borg-a thank you for pointing this out! yes that was a fuck up of me when I added the extra splicing part.

While fixing the code and further reviewing I found another fuckup that we inherited from vanilla AFL - there was user token insert, user token overwrite, auto extra overwrite - but no auto extra insert was ever implemented. so I fixed that too (FYI @andreafioraldi)

0b228fb tries to fix bo

[2022-05-02 06:22] vanhauser-thc commented on #1387
@r00tus3r can you please follow up either here or in email? we need to further work on this to fix the follow up issue :)

[2022-05-02 10:56] borg-a commented on #1394
Hi @vanhauser-thc , thanks for your reply.

I had a look at the fixed code and there's still one thing that seems wrong to me, the initialization of r_max.

From my understanding, the method *static int select_algorithm(afl_state_t *afl, u32 max_algorithm)** returns a value, randomly sampled according to the given probabilities, between 0 and (max_algorithm - 1).

Now, when you call it with r_max

[2022-05-02 11:10] vanhauser-thc commented on #1394
you are absolutely right, thankfully I don't think I write perfect code, and ask people to review instead :)
293e255 should fix this.

[2022-05-02 11:27] borg-a commented on #1394
Still have a couple of doubts:
- Shouldn't it be r -= 16? The case where you get to the default is when r > 15, and then you're checking r == 0 and r == 1 for the extras. I believe these should be r == 16 -> 0 and r == 17 -> 1, and so that should be r -= 16 instead of r -= 15.

- Is the '}' at line 5031 supposed to be there? Seems to immediately close the default case.

[2022-05-02 12:12] vanhauser-thc commented on #1394
man I can really not code today. coming back from an exhausting vacation and doing different important things at the same time is not good either ... hopefully it is fine now ... 68e8467

[2022-05-02 14:21] borg-a commented on #1394
No more doubts from my side now :)

[2022-05-02 14:26] qkenr7895 opened #1396 "QASAN in QEMU Persistent Mode"
I'm trying to use qasan in qemu persistent mode on x86_64 ubuntu20.04 (stable branch)
I run "afl-qemu-trace" to specify persistent mode entry point(AFL_QEMU_PERSISTENT_ADDR) as written [here](https://github.com/AFLplusplus/AFLplusplus/blob/stable/qemu_mode/README.persistent.md)

Without "AFL_USE_QASAN", each afl-qemu-trace shows same memory map
But when enabling "AFL_USE_QASAN=1", each afl-qemu-tr

[2022-05-02 16:40] akasong commented on #1394
Thanks @vanhauser-thc seems alright.

[2022-05-02 16:43] akasong commented on #1394
Thanks @vanhauser-thc everything seems alright.

[2022-05-02 17:00] akasong commented on #1394
everything seems alright. Thanks.

[2022-05-03 07:12] vanhauser-thc commented on #1394
thank you both!

[2022-05-03 07:12] #1394 closed, assigned to nobody

[2022-05-03 09:11] #1178 closed, assigned to nobody

[2022-05-03 09:32] andreafioraldi commented on #1396
Simply disable ASLR? If you run afl-system-config you have it

[2022-05-03 09:33] andreafioraldi commented on #1396
The thing is that the shadow mem is mapped before starting the emulation and QEMU maps the main binary to these locations to not overlap it

[2022-05-03 14:22] qkenr7895 commented on #1396
Thank you so much for your quick response!

I solved it simply disabling ASLR

Is it right that the the binaries mapped to the shadow memory are located in the data section(maybe heap?) affected by ASLR?

Anyway, Have a nice day!

[2022-05-03 15:11] agantet opened #1397 "Wrong input size with custom mutator implementing `custom_post_process`"
**Environment variables**

[code]

**Bug description**

When using AFL++ with a custom mutator implementing the `custom_post_process` function, the wrong value for `buf_size` is sometimes passed.

We observed that `custom_post_process` is sometimes called twice whereas `custom_fuzz` is called only once. In the second call to `custom_post_process`, the value returned by the first call is used in th

[2022-05-04 12:29] vanhauser-thc commented on #1397
d5b9cd4 not only added a feature, it also provided a fix for postprocess. if a post process module was changing the size of the mutated data then this was not picked up and hence a wrong length queue input written.

The issue in your case is actually this:

which is not true :) it is only called once. per fuzz. but what is really happening is that in calibration an input is taken and replayed X ti

[2022-05-04 15:07] agantet commented on #1397
Thanks for the quick feedback and explanations.
We tried your suggestions out, but didn't find a proper way of solving our issue:

**1. move all code from post process to the mutate function.**

Our understanding is that this would only work until a test case generated by the mutator is reused as entry for the mutator.
For example, for a protobuf mutator, we would have:

    corpus (protobuf) -> a

[2022-05-04 17:41] ghost opened #1398 "Issue with the docs"
**IMPORTANT**
1. You have verified that the issue to be present in the current `dev` branch.
2. Please supply the command line options and relevant environment variables,
   e.g., a copy-paste of the contents of `out/default/fuzzer_setup`.

Thank you for making AFL++ better!

**Describe the bug**
A clear and concise description of what the bug is.
Going to the afl++ website and navigating to the t

[2022-05-04 18:07] akasong opened #1399 "position of MOpt splice"
I keep looking at the code associated with #1394.

[code]

In AFLplusplus, STAGE_Splice was added from MOpt-AFL, but I think extra-stages should be placed at the very end because of the selection algorithm. so the STAGE_Splice should be placed before extra-stages(16,17). (and also related code modifications)
Am I missing something?

[2022-05-05 06:40] vanhauser-thc commented on #1399
I am not that deep into MOpt to be honest, and added this because we added the feature to normal havoc, hence I ported it into Mopt. Likely that I did not do that optimally as I am missing details how MOpt actually works. As it is not that effective (it is only 30% of the time better than normal havoc) I never looked deep into it.
If you tell me the splice stage should be moved, then I can do it.

[2022-05-05 06:56] vanhauser-thc commented on #1397
a buffer+len that returns from afl_custom_post_process has to be what is written into the queue if it reaches new coverage.

if you have multiple post process functions active of course they stack, and receive the (potentially changed) input (and potentially changed length).

In your initial post you didnt say anything about protobuf. and if I understand correctly your queue items are protobuf ser

[2022-05-05 08:19] agantet commented on #1397
Sorry that the initial post wasn't clear enough on that aspect.
Indeed, our use case is to have a protobuf mutator, similar to what is done in [libprotobuf-mutator-example](https://github.com/AFLplusplus/AFLplusplus/tree/stable/custom_mutators/libprotobuf-mutator-example).
Your understanding is accurate, that's exactly what we're going for.
Just to clarify, we don't think the issue is specific to

[2022-05-05 08:31] vanhauser-thc commented on #1397
OK great, now I have the feeling I understand your setup.

"normal" protobuf fuzzer implementations are not based on any valid input or previous input, but generate everything out of air every single fuzz attempt. hence it is perfectly fine that the queue entries are real data and not protobuf because nothing is based on them.

And also in your setup the queue entries should be the real data the t

[2022-05-05 11:08] #1399 closed, assigned to nobody

[2022-05-06 07:20] vanhauser-thc commented on #1399
@akasong will you send a PR? or is your proposed change not necessary?

[2022-05-06 07:47] agantet commented on #1397
Thank you for your new suggestions, @JRomaing and I hadn't thought of that approach.

Perhaps this is a bit out of scope of this issue, but how would the mutator leverage the coverage-guiding feature of AFL++ in that case?

Indeed, currently we solved this by having an external tool which converts our protobuf data to plaintext (like what is done in the post process function of our mutator), so we

[2022-05-06 07:51] akasong commented on #1399
I am not sure that the result of the whole fuzzer would be better. (not partial algorithm)
So, after sufficient testing, I will send a PR when I am convinced.

[2022-05-06 07:53] vanhauser-thc commented on #1399
thank you!

[2022-05-06 08:03] vanhauser-thc commented on #1397
It does not, which is my criticism on this approach in general.
That is why when I mentored our Grammar Mutator project at GSOC that the mutated tree information is saved and used. (and that is why I could point you to this example).

different solution, different problems :)

[2022-05-06 12:40] agantet commented on #1397
In parallel to testing the new approach you suggested, we tried to understand the reason why we had an issue in the first place. We believe it is due to a mixup between the size of the data written to the queue and the size of the input used to fuzz the program in `write_to_testcase`.

The [`write_to_testcase` function](https://github.com/AFLplusplus/AFLplusplus/blob/stable/src/afl-fuzz-run.c#L77)

[2022-05-08 12:55] vanhauser-thc commented on #1048
currently looking at this and to me it looks like the << 1 is there, however when saving the prev_loc, not when using it?

[code]

[2022-05-09 08:54] kdsjZh opened #1403 "incorrect checksum verify in fuzz_one"
**IMPORTANT**
1. You have verified that the issue to be present in the current `dev` branch.
2. Please supply the command line options and relevant environment variables,
   e.g., a copy-paste of the contents of `out/default/fuzzer_setup`.

Thank you for making AFL++ better!

**Describe the bug**
The eff_map in `fuzz_one` might be incorrect due to different cksum calculation.
`fuzz_one` will mutat

[2022-05-09 10:43] domenukk commented on #1250
Feel free to provide a PR if you're still interested in this issue. Closing for now

[2022-05-09 10:43] #1250 closed, assigned to nobody

[2022-05-09 10:45] domenukk commented on #1367
Closing for now, feel free to clarify/reopen if you have further questions.

[2022-05-09 10:45] #1367 closed, assigned to nobody

[2022-05-09 10:47] #1396 closed, assigned to andreafioraldi

[2022-05-09 10:48] domenukk commented on #1398
@andreafioraldi I think you're the one that can push new docs? Maybe we should add docs releases to CI somehow (a `docs` branch?)

[2022-05-09 15:24] vanhauser-thc commented on #1397
funny, this is a bug I just fixed, because another user had a similar problem. but the fix is very different. the line you want to delete is important. what was wrong is that the mem parameter to write_to_testcase must be changeable, so u8**. fix is in dev.

[2022-05-09 16:22] JRomainG commented on #1397
Thanks for the update.
We just tested the latest fix in the "dev" branch (commit 7c8246f), assuming the fix you mentionned was the one in commits 51942b6 and 7c8246f.

Here are the logs during calibration we get when running our [PoC](https://github.com/JRomainG/AFLplusplusCustomMutatorPoC) with this new version:

[code]

It seems like this "inverted" the problem: previously, the *protobuf buffer*

[2022-05-09 16:54] vanhauser-thc commented on #1397
looks good to me and you run into the issue I told you before: you are using post process for something you should not :) you can get around it by detecting if it is protobuf and if so decode, and if it is not, return untouched.

[2022-05-10 09:06] vanhauser-thc commented on #1403
True!
I tried a different fix to keep the speed benefit from the new classification: 79099a01f8b96ba217fc5e831ccbc4b65345c46c
can you please have a look?

[2022-05-10 09:14] vanhauser-thc commented on #1245
I kinda left out the conclusion. yes this makes different coverage depending on how the input is passed, however this has to work like this to make LLVMFuzzerTestOneInput work. the results shown are correct. so I would not try to change this in any way.

[2022-05-10 09:14] #1245 closed, assigned to nobody

[2022-05-10 09:32] kdsjZh commented on #1403
Yes, in my benchmark it operates like original AFL did now. This fix is much better than remove the optimization. Thanks!

[2022-05-10 10:13] vanhauser-thc commented on #1403
thanks for reporting & testing!

[2022-05-10 10:13] #1403 closed, assigned to nobody

[2022-05-12 07:33] aicreatbyme opened #1407 "I don't konw if this idea has been used that we could extract some chips when we find different code coverages."
Since the mutation strategy some times work, I do think it is not a bad idea to get the chip which make the result(coverage) different. And Using that as a dictionary or something, which could help to make fuzzing process more efficient.
The simple way is cut the input in different chips, make them reused and figure out which chip works.
I have not find the docs to describe the mutation strategy i

[2022-05-12 07:54] vanhauser-thc commented on #1407
what do you mean by chip? try a different word.

[2022-05-12 08:23] domenukk commented on #1407
I understand they want to store the location of the mutation that lead to a new path, and focus future mutations on this location in the input.

[2022-05-12 08:24] aicreatbyme commented on #1407
Like meaningful bytes which could make things different. Of course, there could be more types and defines for the "chip".
For examples, the Vuzzer could find the magic number and afl-tmin could delete the useless bytes. During the process, Fuzzer can do it too. How about we find more bytes in different format and use them as a trigger.
This is just a simple idea. Thanks for your reply.

[2022-05-12 08:29] aicreatbyme commented on #1407
I hope not wasting your time, because I know little about the mutation strategy.

[2022-05-12 08:53] vanhauser-thc commented on #1407
what you propose does not necessarily make sense. usually only a bit or byte is changed, but in multiple locations. so what change exactly is responsible for new coverage is unknown and would require quite some tests and tries to find that out. and then it is a changed byte, but what does that byte mean? putting that everywhere would be pointless.
we have a better strategy in that we have tracing

[2022-05-12 12:47] aicreatbyme commented on #1407
Could you give some examples about the better strategy? I really want to learn more about that. Is that exist in the AFL++ now?
Thank you very much.

[2022-05-12 12:55] vanhauser-thc commented on #1407
read the redqueen paper https://www.ndss-symposium.org/ndss-paper/redqueen-fuzzing-with-input-to-state-correspondence/

[2022-05-12 12:55] #1407 closed, assigned to nobody

[2022-05-13 08:43] aicreatbyme commented on #1407
Thank you very much.

[2022-05-16 09:03] nsri7 opened #1413 "llvm_mode not detected"
1) Followed the instructions from `docs/INSTALL.md`  and installed `llvm-12` accordingly.
` $ sudo apt-get install -y lld-12 llvm-12 llvm-12-dev clang-12`

2) When tried to build, got the below message, and thus, afl-clang-lto was not built.
[code]
3) But, `llvm-*-12` binaries were present in `/usr/bin/`  after installation

4) However,

- `GNUmakefile.llvm:42` `LLVM_CONFIG ?= llvm-config` for non

[2022-05-16 09:09] vanhauser-thc commented on #1413
yes and that is documented. set LLVM_CONFIG to llvm-config-12

[2022-05-16 09:09] #1413 closed, assigned to nobody

[2022-05-17 12:03] agantet commented on #1397
OK, thanks for clarifying. It was not straightforward to have to do so by reading the official documentation about [custom post_process implementation](https://github.com/AFLplusplus/AFLplusplus/blob/stable/docs/custom_mutators.md#custom-mutation) but would still work.
Hoping that further custom mutators implementations won't encounter the same issue as ours :)

[2022-05-17 12:20] vanhauser-thc commented on #1397
yeah, documentation could be better on this, I agree ...

[2022-05-17 12:20] #1397 closed, assigned to nobody

[2022-05-18 16:32] BlackBird-BB opened #1417 "afl-qemu-trace: allocate 134217728 bytes for jit buffer: Cannot allocate memory"
I'm doing a blackbox fuzzing via afl++-qemu. But I got a problem. And I did as the report said. SET export AFL_DEBUG=1, Bug is still there:

[+] Loaded environment variable AFL_DEBUG with value 1
[+] Loaded environment variable AFL_DEBUG with value 1
afl-fuzz++4.01a based on afl by Michal Zalewski and a large online community
[+] afl++ is maintained by Marc "van Hauser" Heuse, Heiko "hexcoder" Eiß

[2022-05-18 16:49] BlackBird-BB commented on #1417
my bad， sorry to bother.Delete it please.

[2022-05-18 16:49] #1417 closed, assigned to nobody

[2022-05-23 14:16] Servax314 opened #1421 "Unicorn-mode : UC_ERR_WRITE_MAP when executing afl-fuzz on python_simple"
I am trying to work with unicornafl to fuzz a firmware running on an STM32 board. As a first step, I tried running the python_simple example in unicorn_mode/samples. I am working on the dev branch of AFL++.

When executing the command `afl-fuzz -U -m none -i sample_inputs -o res -- python3 simple_test_harness.py @@` I get :

[code]

It is odd, as the memory is mapped in main. I tried to map the me

[2022-05-24 02:57] shijiansj opened #1422 "fail to connect..."

[2022-05-24 03:29] shijiansj commented on #1422
environment:Ubuntu18.04(x64)      AFLplusplus4.01a(dev branch)
env:
AFL_DEBUG=1
AFL_DEBUG_CHILD=1
AFL_KILL_SIGNAL=9
AFL_NO_AFFINITY=1

the command line is:
afl-fuzz -Q -m none -i /home/sj/IoT/AFLplusplus/testcases/others/text -o /home/sj/IoT/out/arm/1af12cb85aefdf2ecc45191cfafd22ba633b8ec8b5a98b9880a6a1f504e2f5e7/ /home/sj/IoT/VT_arm/1af12cb85aefdf2ecc45191cfafd22ba633b8ec8b5a98b9880a6a1f504e2f5e7

[2022-05-24 08:51] domenukk commented on #1422
Looks like your target writes "failed to connect", probably your setup isn't ideal. Maybe it tries to access a server or something?
Personally, I'd debug this using strace, for example like this
[code]
and then looking at the trace in vim or vscode (both have Syntax highlighting for strace logs).

[2022-05-24 08:55] vanhauser-thc commented on #1422
As the target command line parameter is -f I suspect @@ is missing that afl-fuzz replaces with a file with fuzzed input?

[2022-05-24 13:23] BlackBird-BB opened #1423 "A"
**IMPORTANT**
1. You have verified that the issue to be present in the current `dev` branch.
2. Please supply the command line options and relevant environment variables,
   e.g., a copy-paste of the contents of `out/default/fuzzer_setup`.

Thank you for making AFL++ better!

**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:

[2022-05-24 13:56] BlackBird-BB opened #1424 "A FATAL BUG when using custom mutator"
I tried to use [afl-protobuf-mutaor](https://github.com/thebabush/afl-libprotobuf-mutator) to fuzz a ELF FILE. Everything is prpared well. Here is the mutator.cc I used in afl-protobuf-mutaor.
[code]
When AFLplusplus show

The process abort.
After a long time debuging. I find that It abort at my mutator.cc function afl_custom_post_process:
[code]
Then I use gdb to find out what happened.

The Main

[2022-05-24 14:39] vanhauser-thc commented on #1424
a) I think this is an issue that we fixed last week.
a) you are using the wrong function, you should use afl_custom_mutate, not post_process.

[2022-05-24 14:40] #1423 closed, assigned to nobody

[2022-05-24 14:42] BlackBird-BB commented on #1423
Sorry……I operatr wrongly,,,Please Delete this.

[2022-05-24 14:43] BlackBird-BB commented on #1424
Could you please offer any Link or issue related?

[2022-05-24 14:50] BlackBird-BB commented on #1424
I search issues raised last week,,,But I didn't find any issue related……