[2022-05-24 15:01] vanhauser-thc commented on #1424
just use the newest code. and use afl_custom_mutate

[2022-05-24 15:04] BlackBird-BB commented on #1424
Did you mean write the code which was used to decode in afl_custom_mutate function? But What post_process is used for???

[2022-05-24 15:28] vanhauser-thc commented on #1424
post_process is for fixing checksum etc.
what you are doing is mutating so you should use the correct api for it

[2022-05-24 15:29] BlackBird-BB commented on #1424
Fine……Please Update example files in time……

[2022-05-24 15:29] #1424 closed, assigned to nobody

[2022-05-25 05:40] shijiansj commented on #1422
Thanks for your reply. I have tried adding "@@" in the target command line. However, it did not work and the output has nothing changed.

[2022-05-25 05:59] shijiansj commented on #1422
Thanks for your advice. I use above "strace" command to debug the target command line, and use vim to open the strace.log. There is no  highlighting Syntax information. But I find somthing In the end of the  strace.log, "socket"syscall and "close" syscall are called for many times, just like the following picture shows:
![图片](https://user-images.githubusercontent.com/78128072/170189118-8fd7258e-9b

[2022-05-26 15:51] fitzthum opened #1427 "Apache-2.0 License Issue"
This project is licensed under Apache-2.0, but there is a GPL license located at `instrumentation/COPYING3`. Is this intentional? The GPL-3.0 license is not compatible with Apache-2.0. This was flagged by a license scanner running on a project that depends on this one. Is there any way to remedy?

[2022-05-26 15:56] domenukk commented on #1427
Oooh! Looks like this has been committed by @ButcherAdaCore for the GCC Plugin (?)

[2022-05-26 22:32] ButcherAdaCore commented on #1427
Ah! This could well be us. I'm on vacation at the moment but will take a look asap.

[2022-05-27 10:45] fuzzah opened #1428 "afl-cmin crashes and pollutes terminal"
afl-cmin fails to minimize huge amount of samples and pollutes terminal with afl-showmap output (raw coverage maps?).

steps to reproduce:
1. fuzz python3 with input scripts (`afl-fuzz ... -- ./python3 -s @@`) for a few days to get bunch of samples.
    in my case i had 8 afl-fuzz instances.
2. put all the samples in a single directory. e.g. `find out -type f -path "*/queue/id*" cp -t samples {} +

[2022-05-27 10:48] fuzzah commented on #1428
i tried piping afl-cmin output to a file.
~90% of the file was the same mess as displayed above.
the last sensible part from afl-cmin is this:
![image](https://user-images.githubusercontent.com/60884276/170685261-b96ab443-8edf-4997-937e-08b9a3829ac0.png)

it says something about failing to compile regexp and something about being out of memory.
the machine has 96 gigs of ram.

[2022-05-27 10:51] fuzzah commented on #1428
also: afl-cmin logs are extremely uneasy to comprehend because of carriage return symbols.. maybe it should detect that output is being redirected/piped which would mean that inserting \r is not required

[2022-05-27 10:52] hexcoder- commented on #1428
Thanks for your report!
Could you spare us some days of fuzzing and provide the compressed samples, please?
For comparison and in the mean time you could try the alternative bash script afl-cmin.bash.

[2022-05-27 11:04] domenukk commented on #1422
Looks like it connects to a TCP socket? That would be target dependent, then, the forkserver itself does not use TCP. Hope that helps :)

[2022-05-27 11:04] domenukk commented on #1398
Ping @andreafioraldi

[2022-05-27 11:04] fuzzah commented on #1428
Sure thing @hexcoder-
[samples_for_issue_1428.tar.gz](https://github.com/AFLplusplus/AFLplusplus/files/8786185/samples_for_issue_1428.tar.gz)

[2022-05-27 11:49] fuzzah commented on #1428
afl-cmin.bash works here (slowly)

[2022-05-27 12:05] hexcoder- commented on #1428
Hmm, cannot reproduce. This is how my run went with current dev branch and your samples:

[code]

[2022-05-27 12:46] #1398 closed, assigned to andreafioraldi

[2022-05-27 12:46] fuzzah commented on #1428
@hexcoder-
i use python:3.9.1-slim-buster docker image, then i install clang, afl++ etc.
tested python version is also 3.9.1, compiled with afl-clang-fast.
afl-cmin versions tested: 3.14c, 4.00c, current dev...

i'll try to create small Dockerfile for reproducing and send it later

[2022-05-27 12:55] hexcoder- commented on #1428
I compiled the last stable Python version with AFL++ and ran it directly in Ubuntu 18.04...

[2022-05-27 13:27] hexcoder- commented on #1428
I added redirection detection to the afl-cmin script, but since i am on vacation from tomorrow on, i cannot do more investigation now.

[2022-05-27 13:36] hexcoder- commented on #1428
Another strange effect I noticed is that results are not reproducible as they should (e.g. number of unique tuples and number of written files).
first run:
[code]
second run:
[code]

I suspect some problem in afl-showmap...
@vanhauser-thc: could you have a look here please?

[2022-05-27 13:47] fuzzah commented on #1428
@hexcoder- i guess the reason is non-100% stability of the target.
during my fuzzing the stability was 99%.
upd: those samples were generated with afl-fuzz 3.14c

[2022-05-27 19:59] fuzzah commented on #1428
i was able to reproduce the issue on **two more** machines using this dockerfile:
[Dockerfile.txt](https://github.com/AFLplusplus/AFLplusplus/files/8789436/Dockerfile.txt)
(need to build and run it without arguments)

**sometimes afl-cmin doesn't crash** and then its output looks like this:
[code]

[2022-05-27 20:02] fuzzah commented on #1428
![image](https://user-images.githubusercontent.com/60884276/170781910-b91f2237-66f1-4906-b1df-c5310b796c76.png)
more pieces of sensible text.......

[2022-05-28 15:54] llllIIIllll commented on #896
CPU_TARGET=aarch64 CROSS=/opt/ndk/toolchains/llvm/prebuilt/linux-x86_64/bin/aarch64-linux-android31-clang ./build_qemu_support.sh

In file included from /usr/include/glib-2.0/glib/glib-typeof.h:39,
                 from /usr/include/glib-2.0/glib/gatomic.h:28,
                 from /usr/include/glib-2.0/glib/gthread.h:32,
                 from /usr/include/glib-2.0/glib/gasyncqueue.h:32,

[2022-05-28 18:30] fuzzah commented on #1428
i found out that default awk in debian image is actually mawk:
[code]

**switching to gawk seems to mitigate the issue.**

default version in ubuntu:18.04 image is also mawk. @hexcoder- could you please check if you were testing with gawk or mawk?

[2022-05-30 13:01] Servax314 commented on #1421
Additional information regarding the issue :

When running the command without AFL_DEBUG set, the fuzzer runs but warns the user about odd syntax.
The error shows up only with AFL_DEBUG=1.

![image](https://user-images.githubusercontent.com/59235675/170997786-a9ebf1e8-31cc-495f-956c-da338e529b82.png)

[2022-05-31 09:09] vanhauser-thc commented on #1428
@fuzzah can you please recompile the target with current dev state? you are using a target that is compiled with an older state, and we made some breaking changes (and documented that in the changelog). that might already fix your main problem.

the mawk/gawk things needs a look at from our side.

[2022-05-31 09:11] vanhauser-thc commented on #1427
IMHO 942b85bb77e25203c19a4a103e5d470c3a604b2f "fixes"/clarifies this.
remarks?

[2022-05-31 11:25] vanhauser-thc commented on #1421
@Servax314 are you using the current github state or something older?

[2022-05-31 12:02] Servax314 commented on #1421
I am using the current state of the stable branch.
I am encountering the bug on both the stable and dev branches.

[2022-05-31 12:09] ButcherAdaCore commented on #1427
Yep, I agree @vanhauser-thc. Thanks for sorting this.

[2022-05-31 12:27] fuzzah commented on #1428
@vanhauser-thc, to clarify:
originally those samples were generated with afl-fuzz 3.14c and at that time the target was indeed built with afl-cc 3.14c.
in order to test different versions of afl-cmin the target was recompiled with matching versions of afl-cc.

to do so i just changed docker build argument GIT_AFLPP_COMMIT before cloning AFL++ repo (and in turn: before building the target and using

[2022-05-31 12:35] vanhauser-thc commented on #1428
the message afl-fuzz/afl-showmap print show that you are using the wrong afl-fuzz/afl-showmap with the target.
[code]

[2022-05-31 12:40] vanhauser-thc commented on #1421
@domenukk  @wtdcode  can you have a look? :)

[2022-05-31 13:13] fitzthum commented on #1427
I'm no lawyer but LGTM. Thanks

[2022-05-31 13:13] #1427 closed, assigned to nobody

[2022-05-31 13:26] Servax314 commented on #1421
RESOLVED

I was using an old version of llvm (6.0), updating it to 14.0 solved the issue.
Thanks for your help @vanhauser-thc

[2022-05-31 13:26] #1421 closed, assigned to nobody

[2022-05-31 14:00] fuzzah commented on #1428
@vanhauser-thc, you're quoting hexcoder's message :) I did not receive such warnings.

[2022-06-06 09:57] diablo0822 opened #1432 "How to fuzz an aarch64_be target?"
Hi, all, is anybody use this AFLplusplus to fuzz an aarch64 big endian target?
i've tried to compile the AFLplusplus in aarch64 mode and fuzz my helloworld in LSB and MSB mode, it works fine for aarch64 LSB, but not work for aarch64 MSB.
run for aarch64 LSB:
[code]

run for aarch64 MSB:
[code]
[code]

also, i tried to run my hello.big by qemu-aarch64_be, it works find:
[code]
my target is a very s

[2022-06-06 10:02] domenukk commented on #1432
Can you run it with AFL_DEBUG set?
In theory it should work, it might just be the case that we assume little endian in the code somewhere and bit fiddling goes wrong..

[2022-06-06 10:05] diablo0822 commented on #1432
thank you for your reply.
run it with AFL_DEBUG set, i got an error: afl-qemu-trace: ./hello.big: Invalid ELF image for this architecture
[code]

[2022-06-06 10:28] domenukk commented on #1432
Ah, in this case you need to build afl-qemu-trace for big endian aarch64 (the respective qemu-user would be aarch64_be-linux-user)
Maybe @andreafioraldi can give some pointers on how to do it

[2022-06-06 11:23] PhoenixMallu opened #1433 "Not updating the AFL plus plus built results in afl-cc"

[2022-06-06 14:05] #1433 closed, assigned to nobody

[2022-06-08 02:59] diablo0822 commented on #1432
Thanks.
I checked the build_qemu_support.sh and i found that there is no CPU_TARGET option to support "aarch64_be“
[code]

i've try to rebuild the afl-fuzz and afl-qemu-trace by this command:
[code]
but this not solved my problem.

[2022-06-08 06:24] diablo0822 commented on #1432
ok, i can build the afl-fuzz by :
[code]
then i can fuzz a static compiled aarch64_be target. but when i try the dynamic compiled aarch64_be target, i got a crash.
[code]
also crashed while i use qemu-aarch64_be or qemu-aarch64_be-static
[code]
if i run a static compiled target using  qemu-aarch64_be or qemu-aarch64_be-static, it works fine.
[code]

[2022-06-08 07:46] vanhauser-thc commented on #1432
very likely you have not set the QEMU library path hence the system x86_x64 libs are loaded and obviously that will fail with an arm binary. are you using QEMU_LD_PREFIX (correctly)?

[2022-06-09 06:28] bitstream111 opened #1435 "AFLplusplus (Commands)"
**Is your feature request related to a problem? Please describe.**
It took weeks to configure and run this. Can you people make read me document more clear with example of commands except theories. Which inputs file are supported?

In qemo mode can we fuzz any firmware of hardware? and what type of supporting input a firmware archive should contains?
If firmware does not contains that input? how t

[2022-06-09 06:48] fabianfreyer commented on #1435
Yes.

[2022-06-09 06:59] bitstream111 opened #1436 "Fork server handshake failed"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

[-] Hmm, looks like the target binary terminated before we could complete a
handshake with the injected code. You can try the following:

    - The target binary crashes because necessary runtime conditions it needs
      are not met. Try

[2022-06-09 07:03] domenukk commented on #1435
Sorry, full-system emulation is not supported by qemuafl.
Publicly available options would be https://github.com/AFLplusplus/LibAFL/pull/551 or https://github.com/FirmWire/FirmWire but I doubt any of them will be easy to use.

[2022-06-09 07:03] #1435 closed, assigned to nobody

[2022-06-09 08:08] domenukk commented on #1436
This is very likely an issue with your target setup.

[2022-06-09 08:08] #1436 closed, assigned to nobody

[2022-06-09 08:09] domenukk commented on #1422
Closing due to inactivty, feel free to provide more information

[2022-06-09 08:09] #1422 closed, assigned to nobody

[2022-06-14 20:29] nataraj-hates-MS-for-stealing-github opened #1439 "Can we bridge Discord chat to matrix server?"
[Matrix](https://en.wikipedia.org/wiki/Matrix_(protocol)) is a modern decentralized protocol for chatrooms. It's getting more and more popular among software developers.

Personally I am not Discord user, I am matrix user. But I would also like to participate in a AFL++ chat.

Technically it is not really difficult to setup bridge between Discord and Matrix. Guide is quite simple: https://t2bot.io

[2022-06-15 06:28] vanhauser-thc commented on #1439
none of us is the admin on the discord, @Microsvuln is, it is his decision.

[2022-06-17 01:14] mariadb-RoelVandePaar commented on #681
I propose a slack channel.

[2022-06-17 07:48] andreafioraldi commented on #681
you pay? 😛

[2022-06-17 10:40] mariadb-RoelVandePaar commented on #681
The free option is quite fine. For projects like these, it is fine to be able to see the last 10k messages only.

[2022-06-17 12:27] domenukk commented on #681
Discord is quite fine, too

[2022-06-18 00:10] mariadb-RoelVandePaar opened #1443 "Unable to fuzz MariaDB server"
I have been debugging this issue for quite a while without success.

Environment;
- AFL, latest dev branch, compiled with:
[code]
- Then used the following settings (new terminal session) to compile MariaDB server:
[code]
- Build completed fine, and MariaDB server can be started without any AFL options set.
- Started AFL (older version as used by Squirrel - https://github.com/s3team/Squirrel) and

[2022-06-18 00:18] mariadb-RoelVandePaar opened #1444 "LTO Instrumentation compilation of binary produces endless screen output"
AFL was compiled using:
[code]
When then trying to compile MariaDB server with LTO instrumentation as follows:
[code]
It will compile quite happily, until the following is observed towards the very end of the compilaton/linking:
![image](https://user-images.githubusercontent.com/61228720/174414418-b19284b2-3277-4508-92b6-21f5bce90557.png)
(This is the start of the issue)
From there onwards, it wil

[2022-06-18 01:39] mariadb-RoelVandePaar commented on #1444
https://github.com/AFLplusplus/AFLplusplus/blob/stable/instrumentation/README.lto.md#autodictionary-feature

[2022-06-18 02:00] mariadb-RoelVandePaar commented on #1444
Rebuilding AFL with clang12/llvm12
[code]
And then rebuilding MariaDB with LTO:
[code]
Seems to work correctly and does not provide the hex output.

Additionally,  `sudo apt dist-upgrade` provided some `clang-14` updates from apt.llvm.org, so I have to retry with latest clang-14/llvm-14.

Just for refs, procedure to get clang-14/llvm-14:
[code]

[2022-06-18 02:18] mariadb-RoelVandePaar commented on #1443
I got an older version of MariaDB to work with AFL compiled with clang-12, LTO instrumentation and using:
[code]
I also used `#define MAP_SIZE_POW2       22` in config.h for both the AFL compile and the Squirrel compile in this case.

The fact that the MariaDB server would not start without the `AFL_MAP_SIZE` setting in place would seem to mean there is a shortcoming in the map size auto-sizing st

[2022-06-18 02:29] mariadb-RoelVandePaar commented on #1444
Retrying with the latest clang-14/llvm-14 (ref last comment) is not really an option; cmake is prohibitely slow. Not sure why. Each line takes ~3 seconds to execute. So for example just this output:
[code]
Took maybe 10-20 seconds. The server is not loaded, and this is abnormal behavior. I have seen this before. AFL compilation was done with:
[code]
And that in itself was very fast. Then set:
[cod

[2022-06-18 02:37] mariadb-RoelVandePaar commented on #1444
I propose for this ticket to look at the output observed originally (original screenshot). However, I am not confident if that output would still be there with the latest clang-14/llvm-14. Potentially the developers will easily recognize the issue here.

[2022-06-18 06:36] mariadb-RoelVandePaar opened #1445 "Fuzzing MariaDB server in Parallel"
I am using Squirrel (based on AFL) and I think I ran into a limitation of AFL which does not seem to be convered in the parallel fuzzing code or documentation at https://aflplus.plus/docs/parallel_fuzzing/

The issue is this: when one starts a single (main node) instance of AFL (using the `-M` option), then AFL will output (when using shared memory for instrumentation communication) a `SHM_ENV_VAR

[2022-06-18 06:48] vanhauser-thc commented on #1443
does it work if you do not set this?
I never use this and IMHO this feature isnt a good idea. it is a relict from old 64kb maps and it's only place is in binary-only fuzzing.

what older version are you talking about? afl++, afl, mariadb, ???

why? why do you do anything with AFL_SHM_ID? this is nothing for you to touch and play with.

I am not sure I understand what you want to do.
so you want to

[2022-06-18 06:48] domenukk commented on #1445
Usually in AFL you start one instance of the fuzzed binary for each node (main/secondary)
How do you attach the fuzzer to the db? There are also the pipes used to communicate with the forkserver that potentially break.

In any case, you never want all nodes of the target to write feedback to the same map, else AFL has no chance to figure out if a testcase yielded new coverage

[2022-06-18 06:54] vanhauser-thc commented on #1444
can you please (always) give the necessary steps to reproduce this?

that includes all the cmake options, plus the clone of the target repo incl the checkout version of mariadb you are using?

your output doesnt help really to see what the issue could be.
with LTO compile times can be even days because the linking cannot be parallelized (that is not an afl++ issue, it is just how clang lto works.

[2022-06-18 07:00] vanhauser-thc commented on #1445
@mariadb-RoelVandePaar I think you misunderstood how afl works. just leave away the __AFL_SHM_ID shenanigans you are doing and just use it as documented :)
that every instance get their own shmem is essential for it functioning.

[2022-06-18 09:41] Alireza-Razavi opened #1446 "AFLplusplus file formats and checksums"
Hello, I have a simple question.
Does afl++ support the file formats ?
Imagine that i want to fuzz a `png` parser function, so i put some png as input testcase (initial seed) for afl++.
What will happen at the next ?
Does afl++ generate the next corpuses with png file format ? (including magic bytes, checksums , ...) ??

[2022-06-18 09:49] domenukk commented on #1446
AFL doesn't have a concept of what a PNG file is, it will mutate random bytes and see it that reaches new code paths in the target.
Usually you'd want to patch complex checks out of your target, if possible.
You can read up on CmpLog/redqueen which tries to solve some simple checksums.

[2022-06-18 09:49] #1446 closed, assigned to nobody

[2022-06-19 03:20] GanbaruTobi opened #1448 "Problems when building for Android (12)"
Problems against dev branch:

afl-cc.c : snprintf(llvm_fullpath, sizeof(llvm_fullpath), CLANG_BIN); //CLANG_BIN not defined
afl-common.c: #define __USE_GNU //__USE_GNU already defined

Error to __USE_GNU:
`
<command line>:14:9: note: previous definition is here
#define __USE_GNU 1
        ^
1 error generated.
05:15:42 ninja failed with: exit status 1
#### failed to build some targets (10 seconds)

[2022-06-19 18:40] jrozner opened #1449 "Out of bounds read triggers for asan when afl instrumentation exists but not without"
**Describe the bug**
I'm working through exercise 3 in [Fuzzing101](https://github.com/antonio-morales/Fuzzing101/tree/main/Exercise%203) to find a know bug in tcpdump using asan. When starting afl-fuzz starts a crash always occurs due to an out of bounds read that triggers asan. The corresponding line does not seem to make sense for an out of bounds read and this doesn't occur when executing with

[2022-06-20 00:44] RoelVdP commented on #1443
No, same result whether set or not set.

Understood.

An older version of AFL or AFL++ (not sure) as re-integrated into/changed in Squirrel - see https://github.com/s3team/Squirrel/blob/master/MariaDB/AFL/afl-fuzz.c

I understood it was necessary to get Squirrel's AFL to work properly. Understood. I will review the AFL++ documentation in this regard.

Thank you. The MariaDB server needs to be star

[2022-06-20 06:33] jamestiotio commented on #1361
@wtdcode I still face this issue on Ubuntu 20.04.4 for both the `stable` and the `dev` branches. I also tried running `git submodule update --init --recursive` to no avail. Any suggestions?

[2022-06-20 07:54] devnexen commented on #1448
This change
`snprintf(llvm_fullpath, sizeof(llvm_fullpath), "%s/clang");` I do not think is correct.

[2022-06-20 15:58] vanhauser-thc commented on #1448
@GanbaruTobi
thanks for the info, I incorporated the fixes. I would recommend to create a pull request next time, this way you end up being credited for the changes.

@devnexen is right in that the CLANG_BIN fix is wrong. not sure how this would need to be done, but Android.bp or the user needs to set this.

[2022-06-20 17:54] GanbaruTobi opened #1451 "Confusion about State of Frida_mode for Android"
Hello, I am little confused.
I try to build frida_mode for android. The release log from 4.00c states "frida_mode: ...    David Carlier added Android support :)".
When I am able to build the afl-frida-trace.so (after lots of changes in GNUMake) I get an error

 'cannot locate symbol "__libc_start_main" referenced by afl-frida-trace.so'

But on Android it should be __libc_init, like here : https://

[2022-06-20 22:31] #1448 closed, assigned to nobody

[2022-06-21 05:49] vanhauser-thc commented on #1451
@devnexen do you know?
also @WorksButNotTested

[2022-06-21 05:51] vanhauser-thc commented on #1449
I am on vacation on Crete at the moment and the Internet is very very slow here. so I cannot use the docker file at the moment.

I downloaded the tcpdump linked and compiled with afl-clang-fast and -lto and asan but these did not produce this issue, the target did not crash.

I do not have llvm 14 on my laptop, only llvm 15 and with that configure complained about an 64 bit printing issue so I cou

[2022-06-21 05:51] vanhauser-thc commented on #1449
maybe somebody else can have a look who isnt on vacation? :) @hexcoder- @domenukk ?

[2022-06-21 05:57] vanhauser-thc commented on #1428
@fuzzah sorry I had no time for this so far and still dont have that :)
to be able to really test this I need to be able to recreate this and I do not know what is needed ...
do you compile+instrument python? if yes, how exactly, with which commands? (wget/git clone, etc. so I can copy + paste)

I downloaded your samples so on that end I am good to go.

thank you!

[2022-06-21 07:30] fuzzah commented on #1428
@vanhauser-thc please take a look at this gist, it has everything to reproduce the issue:
https://gist.github.com/fuzzah/21a5ede48b9b45884427b60af58e7729
(it's same as in https://github.com/AFLplusplus/AFLplusplus/issues/1428#issuecomment-1139989213)

[2022-06-21 11:19] devnexen commented on #1451
I may look into a bit later unless someone beats me to it :-) not sure yet how straightforward that is.

[2022-06-21 12:25] WorksButNotTested commented on #1451
Looks like there is a ‘ifdef’ EMBEDDED in there which may allow for systems which have a ‘main’ but no ‘__libc_start_main’?

[2022-06-21 14:54] GanbaruTobi commented on #1451
So I tried building with EMBEDDED, got errors for seccomp. For now i excluded all references to the seccomp code.
Next error was a cmplog error, which at least could be bypassed with -c 0 option.

Now i rewrote the __libc_init and also tried with EMBEDDED and got the following error:

[-] PROGRAM ABORT : shmctl (IPC_RMID) < 0 - errno: 22
 Location : prefetch_init(), /home/gbaru/android/lineage/AFL

[2022-06-21 17:44] WorksButNotTested commented on #1451
This section of code is generating a section of memory which can be used for IPC between the fork server and the child (running the target code).

FRIDA generates instrumented blocks of code on the fly as the target runs. The shared memory is used so that the child can pass the address of executed blocks of code so that the parent can also generate an instrumented copy of executed blocks so that t

[2022-06-21 20:01] jonathanmetzman opened #1452 "AFL++ on OSS-Fuzz no longer seems to report coverage correctly, causing us not to save anything to the corpus."
This is on OSS-Fuzz's AFL++ build.

**Describe the bug**
afl-showmap does not seem to be reporting the true coverage of files.

**To Reproduce**
Steps to reproduce the behavior:
1. download fuzzer:
[code]

2. Unzip seed corpus:
[code]

3. Run showmap
[code]
./afl-showmap -o output4 ./iccprofile_atf 1 < ./i/Lower_Left.icc
afl-showmap++4.01a by Michal Zalewski
[*] Executing './iccprofile_atf'...
--

[2022-06-21 23:05] gavinhoward opened #1454 "AFL++ Generates Only Empty Test Cases"
1. You have verified that the issue to be present in the current `dev` branch. **Yes.**
2. Please supply the command line options and relevant environment variables,
   e.g., a copy-paste of the contents of `out/default/fuzzer_setup`.

[code]

**Describe the bug**

AFL++ seems to generate all blank test cases.

**To Reproduce**
Steps to reproduce the behavior:
1. `git clone https://git.yzena.com/Y

[2022-06-22 04:57] vanhauser-thc commented on #1454
I am on vacation and not really look into this.
but as afl is working fine in its current state (we have a CI that tests that on every commit) it is very likely you are just using it wrong.
how does your target process the input? stdin or input file?

[2022-06-22 05:00] vanhauser-thc commented on #1452
Hi Jonathan,
I am on vacation in greece and the Internet and my time is very spotty only (that is why I asked you to open the issue here, here at least is the chance that other people in the afl++ team can also look at your issue).

That notification "using the deprecated call style" tells me this is an LLVMFuzzerTestOneInput harness that uses the aflpp driver for this.

if you look at the code th

[2022-06-22 05:02] vanhauser-thc commented on #1428
ah damn a docker file :)
I am on vacation and I dont have much time here to work on issues plus the Internet is very slow here (like 100kb/s) ... damn this will need to wait until I am back ...

[2022-06-22 05:07] gavinhoward commented on #1454
I fully acknowledge that I could be using it wrong, but I've tried everything. This is less a bug report and more a request for help (so don't worry about it until it's convenient). Nevertheless, AFL++ is not acting the way I expect.

My target processes input by stdin *or* input file. With AFL++, I have it process it by stdin. (It uses a file handle in either case and gets a character at a time.)

[2022-06-22 08:44] wtdcode commented on #1361
Sorry for the late reply. How to reproduce?

[2022-06-22 09:08] jamestiotio commented on #1361
I followed the instructions specified [here](https://aflplus.plus/building/):

[code]

Before running `make distrib`, regardless of whether I `git checkout` to the `stable` or the `dev` branch and whether I run `git submodule update --init --recursive` or not, I encounter this issue:

[code]

Some additional information:

[code]

[2022-06-22 11:47] GanbaruTobi commented on #1451
Indeed that helped:
![grafik](https://user-images.githubusercontent.com/15239745/175021546-e79f3e1c-b97d-496f-9574-29007074caf9.png)

[2022-06-22 12:05] WorksButNotTested commented on #1451
I’d suggest a quick read through this may give some more info if the issue is FRIDA related.

https://github.com/AFLplusplus/AFLplusplus/blob/stable/frida_mode/DEBUGGING.md

[2022-06-22 12:10] vanhauser-thc commented on #1454
can you try the "pass a file for fuzzing" mode for your target? in afl-fuzz you define the file as @@ for the target commandline then

[2022-06-22 12:18] GanbaruTobi commented on #1451
Yes, I am trying to figure it out. By following whats there i come back to the previous error thou:
![grafik](https://user-images.githubusercontent.com/15239745/175027057-4995d5f3-0a5e-444d-a678-b56cc9404db8.png)

[2022-06-22 12:53] WorksButNotTested commented on #1451
If you run the configuration which gave the forkserver timeout with the environment variables... `AFL_FRIDA_VERBOSE=1` and `AFL_DEBUG_CHILD=1` then you should hopefully get some more information on what went wrong. Also, please check with the `dev` branch of AFL++ since I think the version of FRIDA has changed since the last release.

You can disable prefetch using `AFL_FRIDA_INST_NO_PREFETCH=1` a

[2022-06-22 13:39] chinggg commented on #1361
@jamestiotio Cannot reproduce it on Ubuntu 20.04 and same cmake version with a fresh clone of `stable` branch. Maybe you can try to `apt install build-essential`?

[2022-06-22 14:14] GanbaruTobi commented on #1451
AFL_FRIDA_INST_NO_PREFETCH=1 works for me.

I use latest frida version and I am using dev too.
When I figured of my many changes what is realy needed I will let u know.

Thank you so much!

[2022-06-22 14:22] vanhauser-thc commented on #1451
Is any change needed to get frida mode compiled or working for android?

[2022-06-22 14:32] domenukk commented on #1451
You can alternatively play around with libafl_frida, it's been tested on Android more often

[2022-06-22 14:35] WorksButNotTested commented on #1451
Ideally, you would want prefetch enabled (it gives a significant performance boost), so if you are able to work out how to handle the issues with shared memory, then that would be useful. You should be able to just `#ifdef __android__` or similar and replace with however Android is doing shared memory differently. Unfortunately I don't have any android setup to investigate. If the error is simply

[2022-06-22 14:58] GanbaruTobi commented on #1451
@vanhauser-thc I did many changes and have to figure out which are realy neccessary. Also I am not too sure about the stability of what i did, so will test some more. I will find time to reduce what I did tommorrow (and next days).
@domenukk I also use libafl_frida, thx
@WorksButNotTested I will look into it

[2022-06-22 15:01] domenukk commented on #1451
@WorksButNotTested on Android, you'll either have to pre-allocated all shared memory before the fork, if possible, or the main process has to hand out fds to new shared maps whenever they are needed.
Number 1 would be easier, number 2 is what we do in libafl

[2022-06-22 15:14] WorksButNotTested commented on #1451
FRIDA mode in AFL++ uses #1. During initialization of the prefetch subsystem, before the forkserver is started, it allocates a shared memory region ([here](https://github.com/AFLplusplus/AFLplusplus/blob/ba3c7bfe40f9b17a691958e3525828385127ad25/frida_mode/src/prefetch.c#L274)). On Linux it uses `shmctl(IPC_RMID)` to mark the region for deletion (when the last process with a handle exits), however,

[2022-06-22 15:19] domenukk commented on #1451
https://github.com/AFLplusplus/AFLplusplus/blob/ba3c7bfe40f9b17a691958e3525828385127ad25/include/android-ashmem.h#L29

There's a special handling for that on Android

[2022-06-22 15:25] WorksButNotTested commented on #1451
@domenukk Awesome thanks.
@GanbaruTobi Can you try this and see if it helps?

[2022-06-22 17:49] gavinhoward commented on #1454
I did not know it was possible to use an input file! Awesome, thanks!

However, I have now done so, and it appears that AFL++ is providing a path to an input file, but it does not exist.

Code is [here][1]. I made the program either write the contents of the input file to the temp file, or write an error message to the temp file.

To reproduce:

[code]

Likewise, stop after a short time (maybe 3 s

[2022-06-22 21:04] GanbaruTobi commented on #1451
Before tackling prefetch I minimized my changes and i append my diff here. Its not PR ready.
The changes in GNUMakeFile are just for Android rn. It didnt pull the right frida devkit, so I made a hardcode for that.
Also I failed to figure out how to exclude seccomp, so in this diff the sources of seccomp are removed.
Else, thats what build and run for me with the AFL_FRIDA_INST_NO_PREFETCH=1. There

[2022-06-22 21:31] GanbaruTobi commented on #1451
And just as I wrote this I found the culprit. The sys/shm.h is changed with android26. So by compiling from this version on AFL_FRIDA_INST_NO_PREFETCH=1 is not needed anymore

[2022-06-22 22:11] WorksButNotTested commented on #1451
Can you make a PR (even if it’s not ready) and just put ‘** DO NOT MERGE **’ or something in the name? It’ll let people see things a little easier and post comments/questions.

Also, I’d be interested in how you feel it compares to libafl_frida both in terms of performance and features. And why you decided to look into it after trying with libafl.

[2022-06-22 22:43] GanbaruTobi commented on #1451
Yes I can do that.

I am writing my master thesis (besides my fulltime job) about android app analysis with frida tools. Its not a very deep look into fuzzers, since i will try many tools. But to have some fuzzers to test and compare I used frida-fuzzer, LibAFL and AFLpp. Since I am still before persistence mode with aflpp I don't feel able to give a real comparision yet.

I am also in the fuzzing

[2022-06-22 22:43] #1451 closed, assigned to nobody

[2022-06-23 03:35] WorksButNotTested commented on #1451
SECCOMP is also unsupported on MacOS (as it’s a Linux kernel thing), so you should be able to able to do a similar thing to disable on Android.

https://github.com/AFLplusplus/AFLplusplus/blob/a7f3f87f411c01008b1f5aede918a6bca549d5ff/frida_mode/src/seccomp/seccomp.c#L12

This should cut down the amount of code changes dramatically and make things a bit easier to see.

[2022-06-23 03:39] jonathanmetzman commented on #1452
No worries! makes sense (i'm actually also at a conference this week).

Yup.

I think ` ./iccprofile_atf - < ./i/MartiMaria_browsertest_A2B.icc` works.
I'll close this issue as the remaining work is on our end.

It would be interesting to change ClusterFuzz's tests to use the binaries from OSS-Fuzz rather than stale ones that don't reflect what's actually used.

[2022-06-23 03:39] #1452 closed, assigned to nobody

[2022-06-23 03:39] jonathanmetzman commented on #1452
Enjoy your break Marc!

[2022-06-23 11:39] ckaran commented on #1361
@chinggg What was your test platform?  I keep a virtualbox image around that is just a fresh install of Ubuntu to reproduce problems in my own code as it catches things like code I've installed but forgotten about.  Maybe there is something in the install process that everyone has forgotten about?

[2022-06-24 18:36] cielonet opened #1458 "python custom mutator empty string and single byte error causes SEGFAULT"
**IMPORTANT**
1. You have verified that the issue to be present in the current `dev` branch. Yes
2. Please supply the command line options and relevant environment variables,
# compile command
./afl-clang-fast custom_mutators/libprotobuf-mutator-example/vuln.c -o vuln_prog

# environment variables:
AFL_DEBUG=1
PYTHONPATH=`dirname ~/AFLplusplus_dev/custom_mutators/examples/example.py`
AFL_PYTHON_MO

[2022-06-25 00:35] chinggg commented on #1361
@ckaran AFLplusplus is continuously being built and published by GitHub Action, so if there is something wrong with the install process, the CI/CD system will complain. You can check https://github.com/AFLplusplus/AFLplusplus/blob/stable/Dockerfile for depdencies and steps.

[2022-06-25 06:39] vanhauser-thc commented on #1458
@domenukk can you have a look? you are a python guy :)

[2022-06-25 18:51] vanhauser-thc commented on #1454
ok what you are doing for "stdin" seems not to be working because you set it up wrong as it looks like.

for the shared memory things for fuzz input to work you need to define globally AFL_FUZZ_INIT as it is documented in the example. I dont see that so of course that will receive no input at all, because afl sends it via stdin, however you code looks into shared memory. but note if you have AFL_F

[2022-06-26 08:19] gavinhoward commented on #1454
Unfortunately, I did define `__AFL_FUZZ_INIT` globally; it was in the `fuzzing.h` header. And `YC_FUZZ_INIT` was defined as `__AFL_INIT()` in the same header, so `YC_FUZZ_INIT` is where `__AFL_INIT()` is in the code. Header code is [here][1].

The file path my program was looking for was `/path/to/fuzz/output/dir/.cur_input`.

I apologize; I should have told you all that at the beginning.

[1]: ht

[2022-06-26 13:23] muhammadhamzasajjad opened #1459 "Fuzzing a service that should not restart"
I would like to fuzz a service (xenstored) in Xen hypervisor using AFL++. The service starts when the hypervisor starts, it receives requests from different clients in the VMs on the same instance hardware and continues to run throughout the life of the instance. The client writes the requests on a file or a shared memory buffer and then the service, which has its own independent execution, respon

[2022-06-26 18:50] intrigus-lgtm commented on #1027
This issue has been fixed, right?

[2022-06-26 18:58] intrigus-lgtm opened #1460 "Docker image: `__git_ps1: command not found`"
**Describe the bug**
`bash: __git_ps1: command not found` is shown after every command in bash

**To Reproduce**
Steps to reproduce the behavior:
1.
[code]
2. You will be greeted by `bash: __git_ps1: command not found`

**Expected behavior**
`bash: __git_ps1: command not found` is NOT shown.

[2022-06-26 19:08] intrigus-lgtm opened #1461 "Docker image: afl-clang-lto - error: unable to execute command: posix_spawn failed: Operation not permitted"
**Describe the bug**
`afl-clang/afl-clang-lto/afl-clang...` is not useable

**To Reproduce**
Steps to reproduce the behavior:
1.
[code]
2.
[code]
3.
Running
[code]
4.
ouputs
[code]

**Expected behavior**
`afl-clang-lto` compiles my file.

**Additional context**
1. Running
[code]
2.
ouputs
[code]
<details>
<summary>ls /usr/bin | grep llvm</summary>

[code]
</details>
<details>
<summary>ls /usr/bin

[2022-06-26 23:11] WorksButNotTested commented on #1027
Looks like the last two issues by @hexcoder- have been addressed.

[2022-06-27 05:52] vanhauser-thc commented on #1454
I do not have the time to look into this at the moment, I am swamped with stuff and rarely at home.
if you just use our examples you will see that it works.
what I think is happening is that either a) you missed something that needs to be in there or b) something that should be in an ifdef is not and therefore impacts a different mode.

I would recommend removing all the afl coding you did, and re

[2022-06-27 05:53] vanhauser-thc commented on #1449
@jrozner can you try with a different llvm? with llvm 13 and llvm 15 I encountered no such issue

[2022-06-27 05:54] vanhauser-thc commented on #1444
@mariadb-RoelVandePaar any updates here?

[2022-06-27 05:57] vanhauser-thc commented on #1443
I am back from my vacation and rereading this ...

sorry we cant help if you use outdated versions. and that you link is even the vanilla afl, not afl++. not our boat.

so what you are saying is that you want to fuzz the maria database server, but that instance runs independant and you basically call the client tool with afl-fuzz to send mutated inputs to the server? and so that the server writes

[2022-06-27 05:57] vanhauser-thc commented on #1439
@nataraj-hates-MS-for-stealing-github closing this as this is not our domain

[2022-06-27 05:57] #1439 closed, assigned to nobody

[2022-06-27 05:58] vanhauser-thc commented on #1459
is that a binary only target or do you have source code and can compile it?

[2022-06-27 06:03] nataraj-hates-MS-for-stealing-github commented on #1439
@vanhauser-thc
Don't AFL++ community needs a chat that is controlled by community leaders?

I can create Matrix chat bridged to Discord and Telegram and even IRC if we need that (same chat different end-points). And pass control over it to you or any one you point to.

This will suit needs of all members of the community, I guess

[2022-06-27 06:14] vanhauser-thc commented on #1439
whatever "community leaders" are :) I dont want to be one.
@Microsvuln is also part of the community, people are happy and using the discord he created, I dont see any value in trying to start something in parallel to be honest

[2022-06-27 06:25] vanhauser-thc commented on #1460
weird, just tried it and:

[code]

same with aflplusplus/aflplusplus:dev

[2022-06-27 06:26] vanhauser-thc commented on #1461
this works for me too:
[code]

[2022-06-27 06:27] jrozner commented on #1449
@vanhauser-thc are you unable to replicate with the Dockerfile I provided? The container on dockerhub uses llvm 14 so I've just been using that. I can try setting up a build using 13 or 15 in a day or so. About to leave town.

[2022-06-27 06:36] vanhauser-thc commented on #1449
I was on vacation and had like 100kb downloads - plus no time for work.
it works with llvm 13 and llvm 15 for me. if you have an issue with llvm 14 --- then it seems to be a bug in llvm and not with afl++?

[2022-06-27 07:37] nataraj-hates-MS-for-stealing-github commented on #1439
Ok. But I can't participate in chats because of different-cervices gap. So I was trying to remove that gap. I know how to do that.

If nobody really need this, ok, I can just stay out of discord chat as I did before.

[2022-06-27 08:06] vanhauser-thc commented on #1439
I can only repeat - ask microsvuln. talking to me doesnt help you :)

[2022-06-27 08:10] muhammadhamzasajjad commented on #1459
I have the source code of the target service and I can compile it before it starts running.

[2022-06-27 08:10] mariadb-RoelVandePaar commented on #1443
Correct. I finally got it to work after a lot of playing around. LTO never worked but afl-clang-fast++ worked.

Out of interest, how does afl++ do this when you want to fuzz an external tool which is not easily fuzzed from the command line or which has a server/client architecture where you want to fuzz the server whilst re-initiating the client many times?

[2022-06-27 08:16] mariadb-RoelVandePaar commented on #1444
Apologies for the small delay.

This can be reproduced as follows (not retested):
[code]
Towards the end of the compile, it will fail with said issue.

[2022-06-27 08:31] nataraj-hates-MS-for-stealing-github commented on #1439
@Microsvuln is also not interested as far as I can see.

 So let it be the way it is.

[2022-06-27 08:32] vanhauser-thc commented on #1459
then the only senseful approach is to extend the daemon to also act as a client to which afl-fuzz talks directly. the forkserver should the be set up to be just before the input is received.
if you do not have experience with such things - this is very advanced.

[2022-06-27 08:34] vanhauser-thc commented on #1443
this is the same question as here: https://github.com/AFLplusplus/AFLplusplus/issues/1459

basically this is a horrible bad approach. the only effective approach is to add a feature in the daemon so that afl-fuzz sends the data directly to the daemon....

[2022-06-27 09:13] muhammadhamzasajjad commented on #1459
I can do that. So, do you mean saying that it is not possible to fuzz the daemon with the client running as a separate program and sending requests generated by afl++?

[2022-06-27 09:45] vanhauser-thc commented on #1459
it is possible, but a very difficult setup and slow too. plus even if you find a crash you will maybe not be able to repeat it because you are not resetting any state in the server.

[2022-06-27 10:00] intrigus-lgtm commented on #1460
Very strange, I'll verify my docker installation.

[2022-06-27 10:13] mariadb-RoelVandePaar commented on #1459
That would seem to be somewhat debatable? For example, https://github.com/s3team/Squirrel has done exactly that for database servers, and it works quite well. It's a bit slow, but crahes are often repeatable. A new state is initialized on a constantly running database sever by creating new databases and testing therein. Not perfect, but good enough to get reasonable results (think 40 repeatable cr

[2022-06-27 10:14] mariadb-RoelVandePaar commented on #1443
Thank you for the input. As I was able to get this working and as the issue is mostly related to AFL and not AFL++ I am closing this out. Thank you again

[2022-06-27 10:14] #1443 closed, assigned to nobody

[2022-06-27 12:17] vanhauser-thc commented on #1444
I try to build it but it needs so much stuff, still missing. and now saying that lib auth pam is missing, although -DWITH_PAM=OFF is set ...

[2022-06-27 21:56] mariadb-RoelVandePaar commented on #1444
Thank you!

This is what we use on test servers (Ubuntu 20) if it helps.
[code]

I will checkout the lib issue to see if it is a bug (and create one if it is).

[2022-06-27 22:02] gavinhoward commented on #1454
I'm sorry for taking up too much time.

I have removed all of the extra stuff as you suggested.

After that, I tried putting in `__AFL_FUZZ_INIT();` right above `main()` and `__AFL_INIT();` right after the start of `main()`, outside of any `#ifdef`'s. That did not work.

So I just took out all of the persistent mode stuff, and it works fine. I'll work with what I have.

Thank you for your help.

[2022-06-27 22:02] #1454 closed, assigned to nobody

[2022-06-28 06:37] vanhauser-thc commented on #1459
as I wrote it is possible, but a very complex setup and very very slow.

sure if the overall software quality is bad you will find crashes even in a slow setup. but if your goal is to find all the bugs over time you gain a lot more by a fast fuzzing setup.

if that code to clean up the state + database is already there in the server to support fuzzing it is great because you can use the same thing

[2022-06-28 06:37] #1459 closed, assigned to nobody

[2022-06-28 06:45] vanhauser-thc commented on #1454
take a look at our persistent example and see if this works for you. if so, try to implement it like in the README + example. if it still fails send me a link to the branch and I will have a look. just dont mix the two version up in one with ifdefs.

[2022-06-28 06:45] vanhauser-thc commented on #1444
that still gives me:

[code]
without any explanation why and WITH_PAM=off ...

[2022-06-28 08:22] domenukk commented on #1458
Thank you for the detailed report! It was super easy to reproduce.
The issue is handled more gracefully in #1464.
Please not that you have to return a `bytearray` (starting with this PR, `bytes` will also work) from `fuzz()`, not a utf8 String.

[2022-06-28 08:23] #1458 closed, assigned to nobody

[2022-06-28 14:14] syheliel commented on #1444
I have successfully built it without `sed -i  's/#define[ \t]\+MAP_SIZE_POW2[ \t]\+[12][0-9]/#define MAP_SIZE_POW2 22/' config.h `, will this line change the behavior of linking?

[2022-06-28 15:08] vanhauser-thc commented on #1444
no, that line actually is pointless because the map is as large as it needs to be. that value is only used for binary-only targets and outdated instrumentation.

[2022-06-28 15:20] gavinhoward commented on #1454
I hate to say this, but I already know how to implement persistent mode. I've done so for a long time with another project, my [`bc`][1], and it has always worked fine.

I thought that the problem might be that my code doesn't used `<stdio.h>`, but neither does my `bc`, so I don't know.

Nevertheless, I have implemented a [branch][2] exactly like you asked.

The [first commit][3] has `__AFL_FUZZ_I

[2022-06-28 16:15] vanhauser-thc commented on #1454
first commit cannot work because you are not implementing it correctly. either remove __AFL_FUZZ_INIT(); - which is only for shared memory test case transfer and tells afl-fuzz that you want to use that.
so if you remove this and read data from stdin or file it will work.
shmem testcases would be faster but requires that you use it like here: `utils/persistent_mode/persistent_demo_new.c`

second c

[2022-06-28 17:01] gavinhoward commented on #1454
I feel stupid. Thank you.

I'll remember that in the future.

Although, I'm curious why hash maps cause instability, yet without persistent mode, the stability is still 100%.

[2022-06-28 21:55] mariadb-RoelVandePaar commented on #1444
@vanhauser-thc @syheliel Thank you for testing. @vanhauser-thc what OS do you use please? @syheliel did you run into the issue shown above? Thanks

[2022-06-29 02:09] syheliel commented on #1444
@mariadb-RoelVandePaar no, I didn't see the unexpected output when building.

[2022-06-29 06:24] vanhauser-thc commented on #1454
instability can have lots of small reasons. if you want to know where exactly that is then use afl-clang-lto and see docs/FAQ.md for how to identify the function.

[2022-06-29 06:46] vanhauser-thc commented on #1444
@mariadb-RoelVandePaar  I am on Debian Testing = Kali Linux

[2022-07-03 21:26] intrigus-lgtm commented on #1460
I reinstalled my docker packages and can no longer reproduce this problem.

[2022-07-03 21:26] #1460 closed, assigned to nobody

[2022-07-03 21:27] intrigus-lgtm commented on #1461
I reinstalled my docker packages and can no longer reproduce this problem.

[2022-07-03 21:27] #1461 closed, assigned to nobody

[2022-07-04 18:04] jrozner commented on #1449
Sorry, been out of town without access to do additional testing. I just tested on my arm macbook pro (with docker) and using the same setup described above works fine. clang 15 doesn't seem to be in apt but 13 is. Setting up a container now that swaps 14 for 13 to see if that fixes it back on my desktop. If needed I can through together a vm with 15 to test as well. Might take another day or two t

[2022-07-05 05:58] jrozner commented on #1449
With 14 I was able to get it to not crash by using afl-clang-fast rather than afl-clang-lto. I updated the container and built for clang-15 but afl-clang-lto wasn't present on that for some reason. afl-clang-fast was unable to build the code there due to some compilation errors. afl-clang-fast (14) is REALLY slow.

[2022-07-05 07:36] vanhauser-thc commented on #1449
LTO is disabled for llvm15 because they bugged lld with plugins ...
if afl-clang-fast fails for you with llvm 15 please post the compilation error.

[2022-07-05 17:05] jrozner commented on #1449
Using afl-clang-fast and running `./configure --prefix=/target` it fails with:

[code]

on clang 15.

[2022-07-06 07:00] vanhauser-thc commented on #1449
ah yes I had such an issue too. weird clang 15 problem. mabye fixed in a few weeks.

[2022-07-06 07:03] jrozner commented on #1449
fwiw I build a jammy vm and tried using clang 14 there (outside of docker). I ran into the same problem I was running into with docker. Were you able to ever re-create in 14 or get it working with lto on 13? It seems to work find without lto but something about lto breaks it.

[2022-07-07 05:01] samannazz commented on #733
@jackfromeast i have followed this tutorial https://blog.attify.com/fuzzing-iot-devices-part-1/ to fuzz binary i got the same error as yours.
In this tutorial they said make output-xml folder with input-xml>test.xml, but reading comments on this post i delete the output-xml folder, and after running the

`QEMU_LD_PREFIX=./squash-root/ ../AFLplusplus/afl-fuzz -Q -i input-xml/ -o output-xml/ -- ./sq

[2022-07-07 10:42] vanhauser-thc commented on #733
well if you look at the output:
[code]

[2022-07-10 14:37] stefan-esser-sg opened #1471 "frida_mode not working on ARM64 MacOS"
**Describe the bug**
frida_mode on ARM64 MacOS does not work at all.

First problem seems to be the constant 0x1000 for the page size in

instrument_previous_pc_addr = gum_memory_allocate_near(
        &spec, sizeof(guint64), 0x1000, GUM_PAGE_READ | GUM_PAGE_WRITE);

This will always return a NULL pointer because 0x1000 is not the PAGE_SIZE on ARM64 macos.
When 0x1000 is changed to the actual page

[2022-07-10 15:16] vanhauser-thc commented on #1471
@WorksButNotTested

@stefan-esser-sg I think none of us have a mac with M1/M2 processor. I have a mac mini but it's an intel one. so if you want that fixed it will help if you can either provide the fixes yourself or work together with @WorksButNotTested to debug and fix.

[2022-07-10 17:45] WorksButNotTested commented on #1471
FRIDA itself should align the size of the allocation. The issue is that OSX doesn’t allow you much control of the address space and is refusing to let us allocate memory near where we want.

We try to control the allocation of the coverage bitmap so we can use relative addressing, rather than indirect addresses. The restriction was addressed for FRIDA mode on Intel, but then apple went and changed

[2022-07-10 19:42] WorksButNotTested commented on #1471
Sorry. I skim read this earlier. I think the FRIDA api doesn’t require the allocation size to be page aligned and should align up the allocation itself. Therefore either I have misread the API, or perhaps this may be a bug which needs reporting upstream.

If you can provide some more detail for the other 2 problems, I’ll happily try to help diagnose what’s causing them. If you set the environment

[2022-07-11 03:25] stefan-esser-sg commented on #1471
I will try something more later. I am also busy with doing some other work and I am currently in Singapore so we have quite a time difference.

What I mean by problem 1 is:

[code]
The problem with this assembly code is that it only works if the aread_offset is <= 0xFFFF which is controlled by area_map_size.
I was debugging the afl-frida-trace.so by simply:
[code]

This would then crash because th

[2022-07-11 03:37] stefan-esser-sg commented on #1471
The remaining problem you can see here:

<img width="400" alt="Screenshot 2022-07-11 at 11 27 12" src="https://user-images.githubusercontent.com/109031658/178183092-1b59c4fe-b283-4ee6-8f17-39cb1b070338.png">

It always detects only a map_size of 1 in my little test binary. My little test binary has 28 basic blocks on ARM64 and it works fine with the x86_64 version of frida_mode on MacOS. Just on A

[2022-07-11 05:03] stefan-esser-sg commented on #1471
I changed the ARM64 snippets to have a BREAKPOINT instruction inside. When I run the program I get exactly one hit. So I assume the instrumentation goes wrong. It is no wonder that the map_size is 1 if only one instrumentation has been added. The AFL_FRIDA_STATS_FILE is also all empty.
[code]

[2022-07-11 06:42] WorksButNotTested commented on #1471
Yeah, you are right the inline assembly assumes a map size of 64kb (the default). It was written that way since the inline assembly code is super performance critical, as it is run at the start of every basic block, even a tiny improvement in performance is greatly magnified. It would be good to add an alternative implementation for if the map size is larger though (or at least an error). Increasi

[2022-07-11 06:56] WorksButNotTested commented on #1471
As a quick check whether it is working, you should see the "corpus count" field increase as new paths are discovered. You should find a number of sample projects in the `tests` folder in FRIDA mode which you can use as a representative test. I use `libpng` frequently, (which is laid out a little differently to the others) which can be run with.

`make -C test/png/persistent/hook frida_entry` (this

[2022-07-11 07:04] vanhauser-thc commented on #1471
yes, having a map size of != 64kb is undesirable unless it is a really large target.

you could have something in the init function like
`if (map_size == 0x1000) map_func = optimized_64k_map_func; else map_func = unoptimized_map_func;`
and then use `map_func(...);`

for the time being a simple check in the init function that checks that the map size is 64kb and abort otherwise is ok IMHO.

[2022-07-11 08:01] stefan-esser-sg commented on #1471
The map_size != 64kb comes from afl-compiler-rt.o.c
[code]
I might be only getting this while debugging afl-frida-trace.so with lldb without AFL++ running around it.

[2022-07-11 08:14] stefan-esser-sg commented on #1471
Well I just tried `AFL_FRIDA_INST_COVERAGE_FILE` and unfortunately the resulting coverage file has 0 entries for the main binary that I am trying to fuzz. It only has some coverage for `/usr/lib/dyld` and the `afl-frida-trace.so` itself.

I tried the libpng test as you described and the detected map_size is 2 for this. So something is seriously wrong with the instrumentation. Seems like it is not

[2022-07-11 08:46] WorksButNotTested commented on #1471
I think `MAP_SIZE` should be defined as 64K [here](https://github.com/AFLplusplus/AFLplusplus/blob/40947508037b874020c8dd1251359fecaab04b9d/include/config.h#L440) though? Running with just `afl-frida-trace.so` won't be representative for the shared memory used for coverage since it is `afl-fuzz` which creates this shared region and passes it to `afl-frida-trace`. If you run with `AFL_FRIDA_VERBOSE

[2022-07-11 08:49] #1445 closed, assigned to nobody

[2022-07-11 08:51] #1432 closed, assigned to nobody

[2022-07-11 09:22] vanhauser-thc commented on #1449
I finally had some time to debug this.
it looks like asan + afl++-lto together produce this issue, and the culprit being llvm doing things wrong.
only asan is fine, only afl++-lto is fine. together in a few situations where the is an iselect (llvm IR statement) is to be instrumented by afl++-lto the register is not correctly set by llvm, inheriting a value from asan instead and that is a value tha

[2022-07-11 09:36] vanhauser-thc commented on #1471
no, afl-fuzz sets this value specifically to make things make for the special case frida/qemu. the value in the define needs to be like this for source only targets.
it would be a good idea though to set 64kb in afl-frida-trace if mapsize == MAP_SIZE

[2022-07-11 09:41] WorksButNotTested commented on #1471
I'm not sure I follow. Can you elaborate please?

[2022-07-11 09:56] vanhauser-thc commented on #1387
@r00tus3r can we continue to have a look at this? did you fix the bug I wrote in the email?

[2022-07-11 12:25] WorksButNotTested commented on #1471
I'd suggest [here](https://github.com/AFLplusplus/AFLplusplus/blob/1f4b45b5bf006bfa1b3957c99bad3f0ec1c355dd/frida_mode/src/instrument/instrument.c#L291) is a good place to add...

[code]

This should hopefully correct the size of coverage map used when `afl-frida-trace.so` is launched outside of `afl-fuzz`.

[2022-07-11 16:26] jrozner commented on #1449
Thank for looking into this and getting to an answer. Does it need to get reported upstream to llvm?

[2022-07-11 18:46] r00tus3r commented on #1387
hey, your fix was working fine the last time I checked. I think we can close this issue for now.

[2022-07-11 19:28] #1387 closed, assigned to nobody

[2022-07-11 19:44] vanhauser-thc commented on #1428
OK I checked this out after I finally had some time ...
the afl-cmin awk script triggers a bug in mawk where a `print ""` will dump stack or heap memory, and because of control characters printed its all gibberish.
I removed that `print ""` and then for me it works without that weird output being printed now.
the bug seems to come together with too much output it collects for a file descriptor to

[2022-07-12 07:36] stefan-esser-sg commented on #1471
I think I found the real problem of frida-mode. Aside from the small platform issues above it breaks frida-mode completely and honestly any usage of frida-mode seems to just work by accident.

The function range_is_excluded returns completely bogus results. It seems to return the opposite of what the function is saying. Every address in a range is considered excluded. And every address before the

[2022-07-12 08:58] WorksButNotTested commented on #1471
The code for collecting the range is [here](https://github.com/AFLplusplus/AFLplusplus/blob/40947508037b874020c8dd1251359fecaab04b9d/frida_mode/src/ranges.c#L594). If `AFL_FRIDA_VERBOSE` and `AFL_DEBUG_CHILD` is set, then you should see the ranges printed at each step to confirm the final calculated set of ranges to excluded. If you set `AFL_FRIDA_INST_TRACE_UNIQUE`, you should also see each basic

[2022-07-12 09:26] stefan-esser-sg commented on #1471
Okay. My fault I thought the ranges where those that are not excluded because that is what would have made sense for me.
However I think I now found the problem for real. And if I am right it is a bug in upstream.

[code]

I poked a bit more around and it seems for whatever reason upstream claims the range 0x0000000100000000-0x0000000100004000 is not backed by a file. Even though this is actually

[2022-07-12 09:37] stefan-esser-sg commented on #1471
To summarise - it looks like `gum_process_enumerate_ranges` is malfunctioning on ARM64 and not seeing that some ranges are attached to a file. This seems to affect the very first range but also some others. I will check later inside the GUM code what might be the reason for that.

[2022-07-12 12:20] WorksButNotTested commented on #1471
I've not tried recently on ARM64, but if you build using...
`make FRIDA_SOURCE=1 -C frida_mode/` then it should download and build the FRIDA gumjs devkit (on which `afl-frida-trace.so` depends) from source. Therefore you will be able to add any `printfs` etc which you like which may help to diagnose further.

[2022-07-13 05:52] stefan-esser-sg commented on #1471
I digged a bit deeper into this. I copied all the code for `gum_process_enumerate_ranges` into an own dynamic library so that I can print out all the info by running `call (void *)doit();` inside `lldb`.

The result is that the code works fine. Until `intercept_hook()` is executed. Afterwards `gum_process_enumerate_ranges` believes certain regions (I guess those that got somehow modified) are JIT

[2022-07-13 06:09] stefan-esser-sg commented on #1471
I have trouble getting `frida-gum` compiled from source right now but I believe the fix might be as easy as using `PROC_PIDREGIONPATHINFO2` instead of `PROC_PIDREGIONPATHINFO` which the code uses at the moment.

[2022-07-13 06:39] WorksButNotTested commented on #1471
The function intercept_hook is [here](https://github.com/AFLplusplus/AFLplusplus/blob/40947508037b874020c8dd1251359fecaab04b9d/frida_mode/src/intercept.c#L6) and just uses the FRIDA interceptor API to patch the code.

The JIT code detection decides code is JIT if the mapping in which it resides is not backed by a file (e.g. anonymous). I’d suggest creating an issue against the FRIDA-gum project. B

[2022-07-13 06:42] stefan-esser-sg commented on #1471
I just have verified that by binary patching `afl-frida-trace.so` to use `PROC_PIDREGIONPATHINFO2` instead of `PROC_PIDREGIONPATHINFO` everything works as expected on my side. Yes I will file a report against Frida Gum later.

[2022-07-13 07:01] stefan-esser-sg commented on #1471
I have reported the problem to frida-gum.

What should I do about the other problem that I initially mentioned:

[code]

I digged into the Frida-gum code and found that the code assumes alignment is >= page_size, because otherwise it will not work. Because you call it with 0x1000 which is smaller than the page size on ARM64 macOS it does not work. Do you consider this kind of an unexpected bug in

[2022-07-13 07:12] WorksButNotTested commented on #1471
I'd suggest creating an issue against frida-gum in case they want to improve the API documentation, or otherwise make the API more accepting. However, if you also wish to create a PR against AFL++ to use the [gum_query_page_size](https://github.com/frida/frida-gum/blob/696da053d72fcaa52ebf6960997a7c3dfc74f3ba/gum/gummemory.h#L89) API to generate the parameter which is passed (rather than hard-codi

[2022-07-16 15:25] Microsvuln commented on #1439
Hi.

So sorry about the late reply. I forgot to reply on this .

I agree with @vanhauser-thc as he mentioned that there's not much value in trying to start something in parallel,

Btw, thanks for your recommendation.

Regards.

[2022-07-18 17:16] fuzzah commented on #1428
@vanhauser-thc, your fix with https://github.com/AFLplusplus/AFLplusplus/commit/338f1ae2f85dffe7daa88fa78cd1d078a986d0d5 works! Thanks.

When using version prior to that commit one may use gawk instead of mawk to mitigate the issue.

[2022-07-19 06:07] #1428 closed, assigned to nobody

[2022-07-19 09:21] xwlin-roy opened #1475 "afl_custom_post_process return 0 leads to aflplusplus abort"
Hi,

I implemented a custom mutator that only invokes the `afl_custom_post_process`, and I followed the doc in `post_library_gif.so.c` that:

But the code in `afl-fuzz-run.c:212` will exit when `afl_custom_post_process` returns 0.
![image](https://user-images.githubusercontent.com/15721702/179715568-705eef47-16f0-4fd6-bf65-7a30570dc642.png)

[2022-07-19 10:24] vanhauser-thc commented on #1475
can you try ca4a8c0f920f83c86aeb599b94b50fce2af68389 please?

[2022-07-19 10:59] xwlin-roy commented on #1475
You should also fix the code in `write_with_gap` when aflplusplus trim the seed.
![image](https://user-images.githubusercontent.com/15721702/179734792-d38dfbd5-4b00-48e8-b4bc-619edc245641.png)

[2022-07-19 12:54] vanhauser-thc commented on #1475
ah right I overlooked that. now it should all be done

[2022-07-19 13:25] xwlin-roy commented on #1475
I used c67f988 commit. It has two issues:
1. It seems the seed processed by `afl_custom_post_process` doesn't send to the target program. The coverage doesn't increase. I have dump the seed processed by `afl_custom_post_success` to the file. The file content is correct.
![image](https://user-images.githubusercontent.com/15721702/179761002-c3eb0630-3f0b-45eb-bf52-6f0a58197be1.png)
2. When it run so

[2022-07-19 13:41] vanhauser-thc commented on #1475
can you please generate a core, and show a backtrace with gdb? (gdb afl-fuzz core ... backtrace)

[2022-07-19 14:52] vanhauser-thc commented on #1475
1) I can reproduce
2) is likely a bug in the custom mutator (it might be that our example is already not good)

[2022-07-19 15:05] vanhauser-thc commented on #1475
1. is fixed

[2022-07-19 15:31] vanhauser-thc commented on #1475
ah yeah the examples were outdated, I updated them.

[2022-07-20 04:25] ricardo-kcc opened #1476 "how to repplace the afl++ havoc strategy(mopt) with other strategy ?"
I try to  repplace  the afl++ havoc strategy(mopt) with other strategy. But I don't know how to do. the custom mutator API seems not to implent it. Could anyone help me ?

[2022-07-20 06:36] vanhauser-thc commented on #1476
you find the normal havoc and the mopt implementation in src/afl-fuzz-one.c
you could also implement your own strategy (if you mean not only mutation but learning what mutation was successful) via the custom mutators (e.g. learning that an afl_custom_fuzz() mutation resulted in new coverage can be picked up via afl_custom_queue_new_entry()).

[2022-07-20 06:36] #1476 closed, assigned to nobody

[2022-07-20 07:21] xwlin-roy commented on #1475
2. It's my code that has error, I fixed.

Thank you for your time to fix this issue.

[2022-07-20 07:21] #1475 closed, assigned to nobody

[2022-07-20 08:26] marcellomaugeri commented on #981
@abertschi how your commit is referenced to this issue?

[2022-07-20 12:57] abertschi commented on #981
Must be by mistake. Cheers.

[2022-07-21 16:33] WorksButNotTested commented on #1471
Ole has just merge [this](https://github.com/frida/frida-gum/commit/42b95bb2383378e859267055e9757e1526c322c9) and released version 15.2.1. I have bumped the version in AFL++ FRIDA mode in [this PR](https://github.com/AFLplusplus/AFLplusplus/pull/1479) and also fixed the page alignment issue with `gum_memory_allocate_near` (although Ole does intend to make the API for this more permissive in due co

[2022-08-03 07:27] juppytt opened #1485 "Out of bound access in SanitizerCoveragePCGUARD.so.cc"
https://github.com/AFLplusplus/AFLplusplus/blob/c57988e672634ee98048eba6432cc1f4e377e07c/instrumentation/SanitizerCoveragePCGUARD.so.cc#L898-L910

https://github.com/AFLplusplus/AFLplusplus/blob/c57988e672634ee98048eba6432cc1f4e377e07c/instrumentation/SanitizerCoveragePCGUARD.so.cc#L1053-L1073

SanitizerCoveragePCGUARD inserts small PCGUARD arrays when the target program has select instructions wi

[2022-08-03 08:07] vanhauser-thc commented on #1485
thanks! you are right! fixed in 6056d4b140f0665c6a701cada9166379be3435ac

[2022-08-03 08:07] #1485 closed, assigned to nobody

[2022-08-03 08:07] vanhauser-thc commented on #1485
btw for the future you can also send a PR, this way you are in the contributor list on github

[2022-08-09 13:29] FirowMD opened #1492 "Using only input directory files for fuzzing"
Is there built-in feature/opportunity to use only files from input directory without changing its content for fuzzing?

[2022-08-09 22:12] vanhauser-thc commented on #1492
you mean no input is modified, so basically the fuzzing stops after all inputs have been sent? why would you even want that?
you can do that with `afl-showmap -C -i in_dir/ -o /dev/null -- ./target`

[2022-08-10 10:44] jamestiotio commented on #1361
Sorry for the late reply.

Regarding my issue, I was still unable to get it to install properly without the error, even after following the build steps specified in the Ubuntu 20.04 version of the Dockerfile (from commit 927cb770f0c8c1b0ce576bf6750b33fbb648c598).

Since it is not reproducible on a fresh Ubuntu 20.04 install, I suspect that it is just my local dependencies that are messing things u

[2022-08-11 19:18] FirowMD commented on #1492
idk how to examine results of this command (afl-showmap generates trace file, how to use it??)
I have found more suitable solution:
`afl-fuzz -g 0 -G 0 -i in -o out -- ./app`
but this results in 196 executes, when I have only 20 inputs

[2022-08-12 12:12] benjaminy opened #1495 "Idea: Using machine learning to suggest new inputs"
This is just the very beginning of an idea, but your "ideas" page says you're interested in "machine learning something something", so I figured I'd toss it out there. The problem that this idea starts with is the general issue that coverage-guided fuzzers don't "understand" program logic in a very deep way, and so can get stuck in a rut after many iterations.

Every iteration of a fuzzer starts w

[2022-08-13 06:28] kotee4ko commented on #655
You can use signals.
AFL abort current queue if catch SIGUSR1.
Also, you can look how timedout queues are handled in AFL side.

Other way is reporting target IP at the moment of crash to AFL via pipe.
Adding to queue structure two new fields like 'crashed_times' and 'crashed_ip' should solve the problem.

[2022-08-14 08:59] vsysoev opened #1497 "Error: junk at end of line, first unrecognized character valued 0x1b"
Hello, Looks like I do something wrong, but can't find any helpful information while googling.

I use such a docker image to compile my project with afl++
[code]
In the container I use cmake to configure afl-gcc-fast
CC=/usr/local/bin/afl-gcc-fast CXX=/usr/local/bin/afl-g++-fast cmake -DCMAKE_BUILD_TYPE=Debug -DAFL=ON -Wno-dev ..

[code]
Build failed on the first file with report:
[code]

Thank yo

[2022-08-14 10:56] vanhauser-thc commented on #1497
too much context is missing.
how that the target file look like that fails to compile?
the error sounds like it is an assembly file in an invalid format for gcc.

[2022-08-14 10:58] vanhauser-thc commented on #1495
that idea is already many years old, and so far - to my knowledge - not a single paper or implementation was able to create something useful from the ML overhead.
right @eqv?

[2022-08-14 10:59] vanhauser-thc commented on #1471
@worksbutnottested @stefan-esser-sg  is this solved/working now?

[2022-08-14 10:59] vanhauser-thc commented on #1492
as you still have not explained what it is you trying to achieve with this, I dont see a way to help your, sorry.

[2022-08-14 14:24] benjaminy commented on #1495
Thanks for the reply. It's not too surprising that it hasn't been successful. It seems like for the applications where one leaves a computer in the closet to fuzz indefinitely, the overhead kind of doesn't matter. Once the fuzzer is not very effectively spinning its wheels, anything that might find a novel input is useful.

[2022-08-14 15:50] WorksButNotTested commented on #1471
As far as I’m aware I don’t think there’s anything outstanding for me to sort. But @stefan-esser-sg will be the one to judge I guess?

[2022-08-14 20:52] stefan-esser-sg commented on #1471
Is there a specific version I should checkout and try out? I was busy working on something else that bypassed the need for AFL for now (because Frida mode was just so unbelievable slow).

[2022-08-14 21:02] vanhauser-thc commented on #1471
Just use the dev branch.
If persistent mode is not possible then binary fuzzing is usually slow.
I currently fuzz something with 7 exec/s and still find a lot of crashes :)

[2022-08-15 01:22] eqv commented on #1495
@vanhauser-thc that is correct (to the best of my knowledge). @benjaminy obviously feel free to experiment with that. There is a couple of approaches that were tried in the past that sound very similar to what you describe. For example:  https://arxiv.org/pdf/1807.05620.pdf and https://arxiv.org/pdf/1701.07232.pdf. Again, to the best of my knowledge, those approaches weren't easily reproduced by i

[2022-08-15 08:20] vsysoev commented on #1497
Looks like issue is reproduced when -pipe key is used.
Minimal reproducer:
[code]

[2022-08-15 12:06] #1492 closed, assigned to nobody

[2022-08-15 14:53] benjaminy commented on #1495
Thanks for the links @vanhauser-thc

I don't anticipate having the time to experiment any time soon, but 🤞

Training on all the world's programs/data formats sounds promising in principle, but... uh... ambitious.

I agree with your point that a network trained on observed executions of a program will tend to produce more inputs that will drive the program along the same paths. Here's a sketch of h

[2022-08-15 15:39] vanhauser-thc commented on #1497
well looks like gcc plugins do not like pipe mode. only thing I can do about is filtering -pipe from the command line if present, added that to the dev branch

[2022-08-15 18:15] vsysoev commented on #1497
yes looks like good workaround. may be add warning message if -pipe presented and filtered. Thank a lot.

[2022-08-17 07:07] samannazz opened #1498 "[-] PROGRAM ABORT : Pipe at the beginning of 'core_pattern'"
While following the tutorial https://blog.attify.com/fuzzing-iot-devices-part-1/ . I have done the setup. when I run
`sudo QEMU_LD_PREFIX=./squashfs-root/ ../AFLplusplus/afl-fuzz -Q -i input-xml/ -o output-xml/ -- ./squashfs-root/usr/sbin/xmlparser1 -f @@
`
it gives an error message asking to modify /proc/sys/kernel/core_pattern:

![image](https://user-images.githubusercontent.com/89451747/1850562

[2022-08-17 07:10] vanhauser-thc commented on #1498
the error message already tells you what to do. read it?

[2022-08-17 07:10] #1498 closed, assigned to nobody

[2022-08-17 07:41] samannazz commented on #1498
ok, so according to my understanding I have to login as root and run the command in the terminal as `echo core >/proc/sys/kernel/core_pattern`, is this so?

[2022-08-19 10:53] #1497 closed, assigned to nobody

[2022-08-24 20:10] laoshaw opened #1502 "website tutorial page is not displaying correctly"
this page is unusable:

https://aflplus.plus/docs/tutorials/

tested on both firefox and chrome.

[2022-08-26 04:41] chennbnbnb opened #1503 "Idea: show coverage status in source code"
syzkaller has a feature which mark hit count and other information near basic block of source code.
it shows fuzz status clearly, and I can easily figure out whether a function be tested or not
I think If AFLplusplus has web interface and a feature like that, it would helpfull

[2022-08-26 14:53] vanhauser-thc commented on #1503
that is a very time consuming action. you can do that in the background at any time you want with https://github.com/vanhauser-thc/afl-cov - very similar technology to what you see with syzkaller.

[2022-08-26 14:53] #1503 closed, assigned to nobody

[2022-08-30 19:42] break2make opened #1506 "ld error while preparing fuzzing target"
I was able to build xgboost with g++, but getting the following error while building with CXX=afl-g++-fast.

/usr/bin/ld: src/CMakeFiles/objxgboost.dir/tree/tree_model.cc.o: in function `std::__cxx11::basic_stringbuf<char, std::char_traits<char>, std::allocator<char> >::str() const':
/usr/include/c++/11/sstream:245: undefined reference to `std::__cxx11::basic_stringbuf<char, std::char_traits<char>

[2022-08-31 08:24] domenukk commented on #1506
Seems like [a GCC version issue](https://stackoverflow.com/a/37004977).
You can try rebuilding all with the same GCC, or simply build it with afl-clang-fast, which is likely the better option.

[2022-09-06 09:10] 5hadowblad3 opened #1507 "No instrumentation detected when using thread sanitizer"
**Describe the bug**
When using afl-cc in commit 147654f8715d237fe45c1657c87b2fe36c4db22a to compile the project with either  `CFLAGS="-fsanitize=thread"` or `export AFL_USE_TSAN=1`. Fuzzing the compiled binary will indicate "No instrumentation detected".

**To Reproduce**
Steps to reproduce the behavior:
1. Obtain a project, e.g., ImageMagick with commit id `9094277`, compile it with
[code]
Simil

[2022-09-07 06:26] CodeLogicError opened #1508 "src/afl-analyze.c have a data conversion error"
in src/afl-analyze.c  have a data conversion error
![1662531765211](https://user-images.githubusercontent.com/97520427/188804192-e97ac305-ce14-4871-82a3-09bdcacb7afe.png)
![1662531801467](https://user-images.githubusercontent.com/97520427/188804258-9f239371-ac5c-4d43-b3d2-c34bfe56d2eb.png)
![1662531871692](https://user-images.githubusercontent.com/97520427/188804263-417ebeff-5871-4e4f-8961-b2e5da8

[2022-09-07 06:44] vanhauser-thc commented on #1508
Do you want to send a fix as pull request? That way your contribution is visible.

[2022-09-07 09:48] vanhauser-thc commented on #1507
I just tried it with an older ImageMagick I had and it worked without issues.

afl always sets this, not needed

fuzzing like this will hurt performance. you will have much faster execution speeds if you create an own harness that uses the convert functionality. this way every fuzz attempt redoes cmdline parsing etc.

I think this is the issue.
update to llvm 12 or 13 (or 11 or 14 otherwise) and r

[2022-09-07 15:09] vanhauser-thc commented on #1508
thanks for the fix

[2022-09-07 15:09] #1508 closed, assigned to nobody

[2022-09-08 02:33] 5hadowblad3 commented on #1507
Thank you for your answer and advice!

Indeed, the low LLVM version causes this problem. It is solved when LLVM is updated to 11. Unfortunately, one of our working environments still uses LLVM 10. Is there any other solution to this problem?

[2022-09-08 08:12] vanhauser-thc commented on #1507
upgrade llvm there or not using tsan :)
alternatively you can try to build with `export AFL_LLVM_INSTRUMENT=LLVM-NATIVE`, maybe this works

[2022-09-09 06:49] samannazz opened #1510 "Fuzzing from hardware posts."
Hello,
I want to do fuzzing on google home firmware. previously I have done fuzzing on router IoT firmware which is available on the internet.

but google home or any google device firmware is not available on the internet. so I got the google home device. it is also not possible to extract google firmware from the device. so is that possible to somehow from the hardware ports we can do fuzzing of

[2022-09-10 08:09] vanhauser-thc commented on #1510
this is neither a help forum nor is extracting a firmware a topic of afl++.
once you have a firmware you can ask on the fuzzing discord what you could do, but that step is a completely different area and scene ...
https://github.com/AFLplusplus/AFLplusplus/issues/681

[2022-09-10 08:09] #1510 closed, assigned to nobody

[2022-09-12 16:26] cgzones opened #1513 "Build failure with llvm 15"
**Describe the bug**
AFLplusplus fails to build with llvm 15:
[code]

**To Reproduce**
`make LLVM_CONFIG=llvm-config-15 all`

**Additional context**
[[LegacyPM] Remove ModuleSanitizerCoverageLegacyPass](https://github.com/llvm/llvm-project/commit/df8f5be596060c695c4a1ba728320e4548168695)

[2022-09-12 23:31] lszekeres opened #1515 "LLVMFuzzerRunDriver() support"
Please support the [LLVMFuzzerRunDriver](https://llvm.org/docs/LibFuzzer.html#using-libfuzzer-as-a-library) interface to enable fuzzing targets that must provide their own `main()`.

Supporting this should be simple, i.e., by putting something like:
[code]
in a separate compilation unit (see e.g., [libfuzzer](https://github.com/llvm/llvm-project/blob/main/compiler-rt/lib/fuzzer/FuzzerMain.cpp#L19-

[2022-09-14 13:13] vanhauser-thc commented on #1515
can you please give some more information what is needed?
does the fuzzing targets call LLVMFuzzerRunDriver and this starts libfuzzer by setting everything up and then calling LLVMFuzzerTestOneInput? So we would need to implement LLVMFuzzerRunDriver ourself?
Or something else needed?
Can you link an example target?
I am currently on vacation and would have all the information I need to implement t

[2022-09-14 13:19] domenukk commented on #1515
LLVMFuzzerRunDriver starts the fuzzing loop.
I've done that in the past for LibAFL:
https://github.com/AFLplusplus/LibAFL/blob/2504b6dae3584f12b7ed1309919d6a5611278545/fuzzers/libafl_atheris/src/lib.rs#L107

So yes we need to implement the driver, that then calls out to the fuzzer.
I guess we can always add LLVMFuzzerRunDriver, but we still don't know if we need our own `main` or not (should we do

[2022-09-15 00:51] lszekeres commented on #1515
Here's an example how it works with libFuzzer:

[code]
[code]

libFuzzer provides an additional `no_main` version of its runtime:

[code]

[2022-09-15 08:04] #1506 closed, assigned to nobody

[2022-09-15 08:14] vanhauser-thc commented on #1515
@lszekeres can you have a look - or better test - if b7a2c7e6988f519f45e2305f2745355f6c3dd4ae is already all that is needed?

[2022-09-15 08:33] vanhauser-thc commented on #1515
plus 636025df9a583541168ae1dea3d412c8168fe0f9

[2022-09-15 09:45] domenukk commented on #1515
That's a nice solution! I wonder if there's any potential price for the indirect call here, alternatively we could add a function that both, main and the runner, call and then main can call directly though to LLVMTestOneInput, the runner calls the callback

[2022-09-16 09:33] icepng opened #1520 "Segmentation fault when build afl++ frida_mode for android"
I try to build afl++ frida_mode for android but got the `Segmentation fault`

[code]

[2022-09-17 03:12] lszekeres commented on #1515
thanks! if we [fix](https://github.com/AFLplusplus/AFLplusplus/pull/1523) the rest of the calls too, it's doing something :)

[2022-09-17 09:04] msmeissn opened #1524 "missing parallel_fuzzing.md ?"
**IMPORTANT**
1. You have verified that the issue to be present in the current `dev` branch.
2. Please supply the command line options and relevant environment variables,
   e.g., a copy-paste of the contents of `out/default/fuzzer_setup`.

Thank you for making AFL++ better!

**Describe the bug**
A clear and concise description of what the bug is.

afl on startup reports:

[+] Try parallel jobs -

[2022-09-17 09:55] #1507 closed, assigned to nobody

[2022-09-17 09:56] vanhauser-thc commented on #1513
fixed :)

[2022-09-17 09:56] #1513 closed, assigned to nobody

[2022-09-17 09:56] vanhauser-thc commented on #1524
oh that was overlooked when the documentation was rewritten.
fixed in [0623a73](https://github.com/AFLplusplus/AFLplusplus/commit/0623a73a5cb8a0c2cff32413df9f4c5c69b8e339)

[2022-09-17 09:56] #1524 closed, assigned to nobody

[2022-09-17 09:57] vanhauser-thc commented on #1515
I wrote that in the hotel lobby after a night were our flight had to return to the airport due hydraulic problems ... ;)
thanks for the fixing!

[2022-09-17 09:57] #1515 closed, assigned to nobody

[2022-09-17 09:58] vanhauser-thc commented on #1520
@WorksButNotTested

[2022-09-17 11:04] WorksButNotTested commented on #1520
Thanks for the bug report. Looks like the issue is in this little tool. https://github.com/AFLplusplus/AFLplusplus/blob/stable/frida_mode/util/bin2c.c

It takes an input file and tries to generate a C source file from it which contains the input file represented as a byte array.

It runs on the host architecture rather than target if cross compiling, which should make things easier.

Are you able

[2022-09-17 11:05] WorksButNotTested commented on #1520
/home/fuzz/AFLplusplus/frida_mode/build/bin2c api_js /home/fuzz/AFLplusplus/frida_mode/src/js/api.js /home/fuzz/AFLplusplus/frida_mode/build/api.c

It’s arguments are the name of the byte array to generate, the input file and the output source file to generate.

[2022-09-17 11:06] WorksButNotTested commented on #1520
Thanks for the @.

[2022-09-17 11:31] msmeissn commented on #1524
I also see there are 3 print outs of perf_tips.md, which seems to have moved too.

[2022-09-17 12:05] vanhauser-thc commented on #1524
good find! fixed as well

[2022-09-17 13:53] icepng commented on #1520
I found the arch of `bin2c` is `aarch64` not `x86_64`.  It seems the tool is compiled using cross-compile tools.

[code]

[2022-09-17 14:07] icepng commented on #1520
Thanks for your reply, I think maybe I found the reason. In GNUmakefile, the `TARGET_CC` and the `HOST_CC` all set to `$CC`, which cause the `bin2c` is compiled to `aarch64`. I try to change all `HOST_CC` to `CC_HOST` like below,
[code]

And set the ENV.
[code]

I use this to solve the problem of cross-compile

[2022-09-17 18:17] WorksButNotTested commented on #1520
The ?= should only take effect if no environment variable is set prior to make being called (it’s effectively a default). Both default to CC, since that’s what you want if you don’t cross compile. If you just set HOST_CC/CXX and TARGET_CC/CXX before you build it should take care of things. Hope that helps.

[2022-09-18 03:01] #1520 closed, assigned to nobody

[2022-09-18 21:48] seolseungho opened #1526 "결제오류"
**IMPORTANT**
1. You have verified that the issue to be present in the current `dev` branch.
2. Please supply the command line options and relevant environment variables,
   e.g., a copy-paste of the contents of `out/default/fuzzer_setup`.

Thank you for making AFL++ better!

**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:

[2022-09-19 07:26] domenukk commented on #1526
Please open bugs in English, and add proper descriptions. Thank you.

[2022-09-19 07:26] #1526 closed

[2022-09-19 07:44] 5hadowblad3 commented on #1507
Thanks for the comments overall!

[2022-09-19 14:25] vanhauser-thc commented on #1502
fixed, thanks :)
https://aflplus.plus/docs/tutorials/

[2022-09-19 14:25] #1502 closed, assigned to nobody

[2022-09-21 07:05] tokatoka opened #1528 "Instrumentation overflows the heap when using a instrumented shared library"
**Describe the bug**
This is the problem I was talking on discord, and I'll upload the minimum PoC here
In short, If I compiles the harness into two parts, one to a shared lib, the other to the main executable. The instrumented code overflows into another heap chunk.

cc. @octaviogalland found this issue.

**To Reproduce**
Steps to reproduce the behavior:
main.c:
[code]
a.c:
[code]

Compile:
[code

[2022-09-21 07:33] vanhauser-thc commented on #1528
hmm I am not seeing this (I have removed the warnings):

[code]
value is still the same and the array size is large enough (__afl_final_loc 36 > 28 + 5  + 1)

[2022-09-21 07:34] vanhauser-thc commented on #1528
I cant look more deeply into this until next week :(
if you want you can try a fix if you think there is something wrong

[2022-09-21 08:13] tokatoka commented on #1528
DEBUG: debug enabled
Running __sanitizer_cov_trace_pc_guard_init: 0x55555555f194-0x55555555f208 (29 edges) after_fs=0
Done __sanitizer_cov_trace_pc_guard_init: __afl_final_loc = 35
DEBUG: (0) init map size is 2097152 to 0x55555555f220
DEBUG: (1) id_str <null>, __afl_area_ptr 0x5555557602a0, __afl_area_initial 0x55555555f220, __afl_area_ptr_dummy 0x55555555f220, __afl_map_addr 0x0, MAP_SIZE 65536,

[2022-09-21 10:51] vanhauser-thc commented on #1528
Hmm looking at the debug output, the issue seems to be that the init function for pcguard is only printed once:

Running __sanitizer_cov_trace_pc_guard_init: …

afaik it should be printed by the program plus each instrumented library and this is not happening
Traveling and on my phone now so grain of salt :)

[2022-09-21 10:54] vanhauser-thc commented on #1528
btw the commit you are referencing is only for if not being run with afl-fuzz

[2022-09-21 10:55] vanhauser-thc commented on #1471
I assume this works now

[2022-09-21 10:55] #1471 closed, assigned to nobody

[2022-09-21 11:00] vanhauser-thc commented on #1449
Sorry for not replying. I have bad experiences in trying to report llvm bugs…
Closing this here

[2022-09-21 11:00] #1449 closed, assigned to nobody

[2022-09-21 11:21] tokatoka commented on #1528
It is run twice. The function is called in this order
`__sanitizer_cov_trace_pc_guard_init (1st time)` -> `__afl_auto_second` -> `__sanitizer_cov_trace_pc_guard_init (2nd time) `
but __afl_debug is set to 1 in __afl_auto_second, so it does not show anything in the first __sanitizer_cov_trace_pc_guard_init
and in the __afl_auto_second here, __afl_area_ptr is malloced with the malloc(__afl_final_loc

[2022-09-22 20:25] nataraj-hates-MS-for-stealing-github opened #1530 ""SEGV on unknown address" in project with non-standart AFL_MAP_SIZE and strdup(?)"
Hi! I've met very strange behaviour of a program compiled with afl-clang-fast. It is reproducible, I found exact AFLpp commit that causes the problem (used git bisect for it)

To reproduce do following steps, using current stable AFLpp:

[code]
It will fail with following message:
[code]

This behavior was somehow created in 35d49c7c5c398c6de5d3091fdda298e45726ae1b commit. If you build AFLpp's pre

[2022-09-23 09:37] tokatoka commented on #1530
I feel this and #1528 are from the same cause
#1528 also occurs only after https://github.com/AFLplusplus/AFLplusplus/commit/35d49c7c5c398c6de5d3091fdda298e45726ae1b

[2022-09-25 15:36] HuntUse opened #1531 "Sensless Error [-] not checked out, please install git or check your internet connection."
If i try to build gramatron in AFLplusplus/custom_mutators/gramatron with the command ./build_gramatron_mutator.sh
then i recieve the error message  [-] not checked out, please install git or check your internet connection. As shown in the picture below.
But the error message can't be true because both my internet and git are working. I tried this on different devices and got this error message ov

[2022-09-26 01:44] vanhauser-thc commented on #1531
ah that is true, thanks for reporting. fixed in the dev branch.

[2022-09-26 01:44] #1531 closed, assigned to nobody

[2022-09-26 02:07] bheem1007 opened #1532 "how to resolve the error program (file) not found or not executable ?"
**IMPORTANT**
afl-fuzz -i input  -o outputt --  /Accel @@

Thank you for making AFL++ better!

**Describe the bug**
[-] PROGRAM ABORT : Program '/Accel' not found or not executable

**Screen output/Screenshots**
/home/vamshi/Pictures/Screenshots/Screenshot from 2022-09-26 07-31-46.png

**Additional context**
how to resolve this issue , the file Accel is a executable file (ELF file )

[2022-09-26 07:58] HuntUse opened #1533 "Input seeds for Gramatron are not vaild."
Gramatron does not accept inputfiles.
I have tried several inputs. However, I always get the same error message shown in the screenshot below.
I can't find any info in the ReadMe of the Git repository.

I have exported the following variables:
export AFL_DISABLE_TRIM=1
export AFL_CUSTOM_MUTATOR_ONLY=1
export AFL_CUSTOM_MUTATOR_LIBRARY=./gramatron.so
export GRAMATRON_AUTOMATION=grammars/js/source_a

[2022-09-26 08:57] vanhauser-thc commented on #1532
like you meant ./Accel, your target is unlikely in the root directory ...

[2022-09-26 09:03] #1533 closed, assigned to nobody

[2022-09-26 09:13] vanhauser-thc commented on #1533
can you please paste (no screenshot please ...) the output when you add the env AFL_DEBUG=1 ?

[2022-09-26 09:55] vanhauser-thc commented on #1528
OK I am trying my best here ... 1ce0dcac3fc8580d549143dc0e8469264900bdce

[2022-09-26 11:15] HuntUse commented on #1533
The problem no longer exists, so I set it to closed. Thank you for your willingness to help.

[2022-09-26 11:20] vanhauser-thc commented on #1530
tried it after my patch and it doesnt occur anymore, please test too ...

[2022-09-26 11:26] tokatoka commented on #1528
nice it's fixed. thank you.
but why do we add 2 here?
[code]

[2022-09-26 11:37] vanhauser-thc commented on #1528
because we start counting at 0 (in __afl_shm_init we add +1) and another +1 for why not :)

[2022-09-26 12:10] tokatoka commented on #1528
hmm, I'm looking at the patch
https://github.com/AFLplusplus/AFLplusplus/commit/1ce0dcac3fc8580d549143dc0e8469264900bdce
but won't it be still problematic when `__afl_final_loc` is larger than `MAP_INITIAL_SIZE` ??
then at __afl_map_shm __afl_final_loc is larger than before (because the main executable's edges got added to __afl_final_loc), so we still want to reallocate more memory

[2022-09-27 01:55] squizz617 opened #1534 "[Custom mutator] argument mismatch for fuzz_count (python)"
[The documentation](https://github.com/AFLplusplus/AFLplusplus/blob/ad4b7274766418d2006177edebf0d242b49c5fef/docs/custom_mutators.md) for custom mutators state that `fuzz_count` takes three arguments:
[code]

However looking at the actual [implementation](https://github.com/AFLplusplus/AFLplusplus/blob/ad4b7274766418d2006177edebf0d242b49c5fef/src/afl-fuzz-python.c#L597-L633), `fuzz_count_py` inter

[2022-09-27 13:15] vanhauser-thc commented on #1534
I think correct would be
[code]
there is no add_buf, and max_size is also irrelevant imho (and with these two removed is the same as the C API)

passing this on to someone who knows python :)

[2022-09-27 13:15] #1532 closed, assigned to nobody

[2022-09-27 13:19] nataraj-hates-MS-for-stealing-github commented on #1530
I did not understand what patch you are talking about, I did not managed to find it. (for better testing it would be good to test before and after patch)

But I tried current `dev` branch, and problem is no longer there.

**Update:** and it is still reproducible under stable branch on the same code. So we can cosider it as well tested

[2022-09-27 13:42] domenukk commented on #1534
Actually I think the only thing that needs fixing is the documentation, after all, right?

[2022-09-27 13:46] domenukk commented on #1534
Done in 0f72a7473f994dad89340cca76e62545829ef493 - thanks for reporting

[2022-09-27 13:51] vanhauser-thc commented on #1528
hmm yes, how about this? 3c21e9f0d1b7e40586e200eaac436486b32b0df3

[2022-09-27 14:44] tokatoka commented on #1528
I think it's good now.
(I didn't tested tho, I tried to create a c file with more than MAP_INITIAL_SIZE edges, only to crash clang :sweat_smile: )

[2022-09-27 14:44] #1528 closed, assigned to nobody

[2022-09-27 14:46] tokatoka commented on #1530
marc meant these two
https://github.com/AFLplusplus/AFLplusplus/commit/1ce0dcac3fc8580d549143dc0e8469264900bdce
https://github.com/AFLplusplus/AFLplusplus/commit/3c21e9f0d1b7e40586e200eaac436486b32b0df3

[2022-09-27 15:04] nataraj-hates-MS-for-stealing-github commented on #1530
https://github.com/AFLplusplus/AFLplusplus/commit/3c21e9f0d1b7e40586e200eaac436486b32b0df3 is too new.. it have been commit an hour ago. I ran my tests with 1ce0dcac3fc8580d549143dc0e8469264900bdce only

[2022-09-28 11:28] bheem1007 opened #1536 "how to resolve "Fork server handshake failed""
**IMPORTANT**
hey hello, can u say where am getting wrong
command is :
afl-fuzz -i input -o outq -Q -- ./Accel @@
the output I got:
![Screenshot (178)](https://user-images.githubusercontent.com/105930508/192765956-f82a33eb-c52e-4084-9169-4d5f2c8158da.png)
![Screenshot (179)](https://user-images.githubusercontent.com/105930508/192766014-dfec7228-8115-471d-afd3-f01f6cc857a5.png)

e.g., a copy-paste

[2022-09-29 07:38] vanhauser-thc commented on #1530
good to hear that the patch fixed this issue too :)

[2022-09-29 07:38] #1530 closed, assigned to nobody

[2022-09-29 07:41] vanhauser-thc commented on #1536
the binary you want to fuzz is 32 bit not 64 bit. you have to compile the qemu_mode for 32 bit binaries. (setting CPU_TARGET to i386 and rerun build_qemu_support.sh)

[2022-09-29 07:41] #1536 closed, assigned to nobody

[2022-10-01 15:17] ele7enxxh opened #1540 "In 4.03c, the qemu_mode performance loss is more than 10x"
Hi all,

I recently used qemu_mode for binary fuzzing(follow this article: https://blog.attify.com/fuzzing-iot-devices-part-1/ ), however in version 4.03c, the performance loss is more than 10x, and on the other hand, it is about 2 times in the old 4.02c version.

After comparing the code of the two versions of qemu_afl, I suspect that the problem lies in the afl_flush_tb function, when I comment

[2022-10-01 18:29] vanhauser-thc commented on #1540
@WorksButNotTested one of your two patches did this, can you please find out which one was it and fix it? thank you!

[2022-10-01 20:46] WorksButNotTested commented on #1540
The change that was made was to flush the translation cache when the forkserver starts. If we don’t then blocks which have been translated before the qemu configuration (environment variables) has been parsed are reused during execution.

If the fork server is not used, then this will result in blocks being translated twice when they may have been only translated once previously. But if you aren’t

[2022-10-01 21:06] WorksButNotTested commented on #1540
Are the binaries being fuzzed statically linked?

[2022-10-02 08:34] nataraj-hates-MS-for-stealing-github commented on #1530
Thanx!

[2022-10-02 11:47] vanhauser-thc commented on #1540
@WorksButNotTested If the performance degrades we would have to roll back. Is the forkserver pr the culprit or the other patch? Have you checked?

[2022-10-02 13:12] WorksButNotTested commented on #1540
I suspect the issue is that the binary is statically linked and code executed before the instrumentation is enabled is being cached without any instrumentation (likely something like memcpy). However, without any excluded ranges it should be instrumented. Therefore we see the performance degrade as a result of things being instrumented per the configuration. Whereas before arbitrary code used both

[2022-10-02 13:12] WorksButNotTested commented on #1540
The comments above point clearly to the flushing of the translation cache, rather than the changes to deal with Asan.

[2022-10-02 17:05] vanhauser-thc commented on #1540
@WorksButNotTested
[code]
if I use HEAD of dev vs 4.02c I get a 10x speed degredation. please fix asap!

[2022-10-02 18:31] WorksButNotTested commented on #1540
Hmm. That’s is unexpected for a dynamically linked binary. Just trying to understand possible failure scenarios and none are making sense right now. Am I right in thinking of AFL_ENTRYPOINT is not set, it should still us the fork server and run it when it reaches main?

[2022-10-02 19:22] WorksButNotTested commented on #1540
I can confirm the issue is caused by this commit.
https://github.com/AFLplusplus/qemuafl/commit/cadd60278b5bd0173e1412ded94c42b1973f8509

If you recall, we discussed this on the discord...
https://discord.com/channels/736989425770168422/737363638851207219/1007282059347230750

We raised this issue...
https://github.com/AFLplusplus/qemuafl/issues/35

And this fix...
https://github.com/AFLplusplus/qe

[2022-10-02 19:39] WorksButNotTested commented on #1540
Only thing I can think of is to expose and call `do_tb_flush` directly. The purpose of `start_exclusive` and `end_exclusive` seems to be to provide resource isolation from other virtual CPUs...
https://github.com/AFLplusplus/qemuafl/blob/dc19175a0bf4cf34e19944d084d92f33f26df93d/include/hw/core/cpu.h#L899

Given we are in `afl_forkserver` and the fork-server is expected to be started before any thr

[2022-10-03 07:41] andreafioraldi commented on #1540
Yes you can assume a single vcpu at the forkserver start.

[2022-10-03 11:35] andreafioraldi commented on #1540
I cannot debug it atm, I have a couple of busy days, what we can do is to revert the change as it was before if we don't find an immediate solution and then I'll look at it later

[2022-10-03 17:51] WorksButNotTested commented on #1540
How does this look?
https://github.com/AFLplusplus/qemuafl/pull/39/files

[2022-10-04 06:40] vanhauser-thc commented on #1540
this fixes the speed bug for me.
@WorksButNotTested thank you! does your test case you did the original PR for still work with this?
@ele7enxxh can you please check this works for you as well?
thank you!

Edit: the changes are in the AFL++ dev branch

[2022-10-04 07:22] WorksButNotTested commented on #1540
I’m fairly confident it will, because I added printfs to make sure do_tb_flush does not bail early. So the cache should be flushed. I’ll try and put a test together as soon as I get a chance.

Just wanted to get a fix out for the regression asap as that is the more significant issue (the one I fixed went unnoticed for a while, whereas this one didn’t!).

[2022-10-04 08:05] andreafioraldi commented on #1540
yes lgtm

[2022-10-04 16:57] WorksButNotTested commented on #1540
The following demonstrates the issue on `4.02c` and remedy in `dev`. Note that assembly is only used to help us easily determine the excluded range and ensure that our code will repeatedly execute a basic block. Obviously this is a contrived example, but my testing showed approx a 200% difference in performance between the two versions, which should be sufficient to confidently show the issue is f

[2022-10-05 09:03] andreafioraldi commented on #1540
great work!

[2022-10-05 19:47] WorksButNotTested commented on #1540
No worries. Sorry again for the regression.

[2022-10-06 02:10] Mem2019 opened #1545 "When execution time of fork run is much longer than one persistent iteration, all fork execuions will timeout."
**Describe the bug**
In persistent mode, there are 2 ways to execute a test case:

1. When child process is not created, fork server will call `fork` to create a process to execute the test case.
2. When child process is created but being stopped at `__afl_persistent_loop`, fork server will send a `SIGCONT` signal to resume the process to execute the test case.

In general, forking a process shoul

[2022-10-07 06:13] guyf2010 opened #1546 "cmplog colorization type_replace often not random"
The type_replace function used to in cmplog's colorization step often does not mutate randomly depending on the data in the current byte.

The switch statement at the following location contains many data values, but a large number of destinations in the switch do not apply any sort of randomness to their replacements. https://github.com/AFLplusplus/AFLplusplus/blob/7e0171006a32bf6b510e08df76ca6d8

[2022-10-07 07:09] #1534 closed, assigned to domenukk

[2022-10-07 07:10] #1540 closed, assigned to nobody

[2022-10-07 07:18] vanhauser-thc commented on #1546
Everything in that function is intentional, also the xor with a fixed value in specific cases.

I am on my phone so can’t write a thesis long rational now, but as with most in fuzzing it is guesswork and experience gathering with targets (fuzzbench).

if you want then make a pr that you think would be better and I do a fuzzbench comparison run.

Theories never help to know what is better in fuzzin

[2022-10-07 07:19] #1027 closed, assigned to nobody

[2022-10-07 07:21] vanhauser-thc commented on #1444
Is this still happening? If yes switching to a different llvm version should fix this

[2022-10-07 07:22] vanhauser-thc commented on #744
Completed

[2022-10-07 07:22] #744 closed, assigned to ButcherAdaCore

[2022-10-08 09:39] ele7enxxh opened #1547 "10x speed degredation when fuzzing android arm64 dynamic binary in qemu_mode"
Hi all,

I'm trying to use afl++ on Android closed source binary programs fuzzing. If the binary program relies on multiple dynamic libraries(Even if the program does not actually use any dynamic library code), the performance will be greatly reduced.

2745/sec exec speed:
QEMU_LD_PREFIX=./rootfs afl-fuzz -Q -i in -o out -- testAflfuzzer

Only 244.7/sec exec speed:
QEMU_LD_PREFIX=./rootfs afl-fuzz

[2022-10-08 09:41] ele7enxxh commented on #1547
The only difference between testAflfuzzer and testLibuiAflfuzzer is that testLibuiAflfuzzer contains a dependent dynamic library libui.so, and libui.so also depends on multiple dynamic libraries.

readelf -d libui.so
Dynamic section at offset 0x484b8 contains 47 entries:
  Tag        Type                         Name/Value
 0x0000000000000001 (NEEDED)             Shared library: [android.hardware.

[2022-10-08 10:02] domenukk commented on #1547
This should be fixed in dev

[2022-10-08 10:03] domenukk commented on #1547
Which version are you using? We fixed some speed issues in the dev branch

[2022-10-08 10:15] ele7enxxh commented on #1547
master version, I will try dev branch later.

[2022-10-08 10:32] ele7enxxh commented on #1547
I have test on dev branch and the problem still exists.

[2022-10-09 03:25] wzunknown opened #1548 "Overflow in <__libqasan_posix_memalign> when len approximately equal to or less than align"
**IMPORTANT**
1. You have verified that the issue to be present in the current `dev` branch.
2. Please supply the command line options and relevant environment variables,
   e.g., a copy-paste of the contents of `out/default/fuzzer_setup`.

Thank you for making AFL++ better!

**Describe the bug**
This line makes the `(orig + malloc_size - data) < len`.
https://github.com/AFLplusplus/AFLplusplus/bl

[2022-10-09 22:35] aleksandraa1 opened #1549 "Can anyone help me? Can You tell me what is the meaning of crashes in this photos above?"
![Picture3](https://user-images.githubusercontent.com/114621134/194782576-cbf65bcd-3a09-4ed0-94e0-3520c5c2b347.png)
![Picture1](https://user-images.githubusercontent.com/114621134/194782578-9983fca9-4342-4739-af6f-c8b905f5e961.png)
![Picture2](https://user-images.githubusercontent.com/114621134/194782579-a07333f5-baac-4e1b-a2f0-6d3a33e8cb16.png)

[2022-10-10 11:06] vanhauser-thc commented on #1547
@ele7enxxh can you please ensure that the dev branch (which means recompiling qemu mode) doesn’t fix your problem?

because I think that is not possible. The 10x speed loss was fixed so if you still have a 10x speed difference in the dev branch it would have been x20+ beforehand otherwise.

You can force afl-fuzz which afl-qemu-trace to use by setting AFL_PATH.
it might just be loading an older ve

[2022-10-10 11:07] vanhauser-thc commented on #1549
That your fuzz target crashed on the input file.
I don’t understand what your question is

[2022-10-10 12:15] andreafioraldi commented on #1548
Looking into it now, problably the fix is simply size = len + align.

For addr2line, it is a binutils bug, you need binutils version >= 2.39 for the fix

[2022-10-10 12:38] andreafioraldi commented on #1548
@wzunknown the fix is now in the dev branch, please check if everything is working on your setup

[2022-10-10 13:12] wzunknown commented on #1548
This works fine. I just think `size = len + align - 1` is enough, however, it makes no difference in most cases.

[2022-10-10 14:19] wzunknown commented on #1548
I have another question about qasan. Is qasan now implemented thread-safe? Thanks a lot.

[2022-10-10 14:27] andreafioraldi commented on #1548
yes the quarantine is protected with a lock.

[2022-10-10 14:27] #1548 closed, assigned to nobody

[2022-10-10 14:30] ele7enxxh commented on #1547
Yes, I'm sure I'm using the dev branch. In this special case, there is no obvious difference between the dev and the master.

[2022-10-10 15:43] wzunknown commented on #1548
@andreafioraldi There is no lock when manuplating the alloc interval tree. Can it cause some race bugs?

[2022-10-10 15:54] vanhauser-thc commented on #1547
Ah, sorry, I misunderstood you.
I thought you were saying that an older version of afl++ had good speed, and the current one 10x slower.

But what you are saying is that it doesnt matter the version of afl++, if a target is loading a complex library that is not even called, it will degrade the speed.

there is no issue with afl++, it is native to the lib code and qemu.
So the obvious problem is co

[2022-10-10 16:16] vanhauser-thc commented on #1547
@andreafioraldi says it is very likely that the exit part is the issue with Android libs.

try to preload this as a shared lib (I dont have android compilers) (AFL_PRELOAD=./speedhack.so):
[code]
please tell us if that makes a difference in speed.

[2022-10-10 16:25] vanhauser-thc opened #1550 "Forkserver sometimes seems to crash in qemu mode on aarch64 (maybe others)?"
@WorksButNotTested bugfix [fix qemu_mode speed bug](https://github.com/AFLplusplus/AFLplusplus/commit/5e04c9693b19038871f3aa93544cac187785bc1a) introduced an issue in the forkserver it seems. It does not happen on all targets, I accidently encountered it when testing some other issues.

[code]

@WorksButNotTested can you please have a look?

because it could be an issue with page layout, addresses

[2022-10-10 16:37] andreafioraldi commented on #1548
Ah yes I was thinking about libqasan. Yes you can have false positives when the rbtree is concurrently accessed for insertion. A fake crash once in a while is not a huge deal for fuzzing, but yes we should find a fix for that that is not introducing any performance penalty

[2022-10-10 16:48] wzunknown commented on #1548
What if just adding mutex to the insertion and the search query? In fact, I just met a race bug and spent long time on debugging it. If I add mutex to both `asan_giovese_alloc_search` and `asan_giovese_alloc_insert`, the crash will disappear.

[2022-10-10 17:00] andreafioraldi commented on #1548
Yes you can, but the slowdown will be impactful in performance. The way to go is to use a lockless solution replacing the rbtree from linux with something else

[2022-10-11 08:25] vanhauser-thc commented on #1452
thank you!

What I don’t understand is that you write “no longer” implying that it worked before. But how it is called in the example it could never have worked. So likely a change in oss-fuzz?

[2022-10-11 13:26] ele7enxxh commented on #1547
Yes, it works on my test fuzzing project! After preload this lib, the speed returns to normal. I will test again in the actual project later.

Thank you!

[2022-10-11 13:40] vanhauser-thc commented on #1547
in the dev branch this is actually now to be found in qemu_mode/fastexit/

[2022-10-11 13:40] #1547 closed, assigned to nobody

[2022-10-12 06:47] WorksButNotTested commented on #1550
As this issue only occurs when running in the fuzzer, and only after the flush has been completed (rather than during it). I removed qemuafl's signal handlers using:
`signal(SIGSEGV, SIG_DFL)`
and managed to generate this core dump ([crash.zip](https://github.com/AFLplusplus/AFLplusplus/files/9762216/crash.zip)). I have included the binary too. However, the crash appears to be from executing code

[2022-10-12 07:29] WorksButNotTested commented on #1550
Ok. So I've tried a different approach here...
https://github.com/AFLplusplus/qemuafl/pull/40

I flush the translation cache from the host context (when translating the entry point) rather than from the guest context when executing it. This seems to avoid the flush being deferred as well as the gnarly translation cache corruption issues we were seeing.

It seems to fix both the aarch64 crash above

[2022-10-12 21:46] jonathanmetzman commented on #1452
I'm not sure, but I guessed (and I can't remember if I had evidence) that this used to work. I assume it did with vanilla AFL. So I was guessing that AFL++ changed. I suppose it doesn't really matter now.

[2022-10-14 07:27] kritgpt commented on #1241
Hey! I am trying to work on this issue. `CLOCK_MONOTONIC_COARSE` is Linux-specific and has been included since Linux 2.6.32, which would affect portability. It is also less precise than `CLOCK_MONOTONIC` but _does_ update once per tick.  Which one do you suggest I use?

[2022-10-14 07:30] kritgpt commented on #1241
Could we try to use `CLOCK_MONOTONIC_COARSE` when supported and `CLOCK_MONOTONIC` otherwise?

[2022-10-14 08:48] domenukk commented on #1241
That sounds best, yes. We can assume it'll be supported on all Linux systems since the kernel is old enough

[2022-10-14 10:02] #1549 closed, assigned to nobody

[2022-10-17 15:48] vanhauser-thc commented on #1550
fingers crossed :)

[2022-10-17 18:33] j3s5e4 opened #1558 "shmget() not implemented"
I'm running `afl-fuzz -Q -i input -o output -- ./target @@` and I'm getting
[code]

When I run the afl-system-config, it can't create `/sys/kernel/mm/transparent_hugepage/enabled` because the `transparent_hugepage` directory  does not exist. It also can't run `sysctl -w kernel.sched_autogroup_enabled=1` as it is an unknown key.

It leads me to believe that the kernel I am running on was not compil

[2022-10-17 19:01] vanhauser-thc commented on #1558
Can you please paste the output of
uname -a
id
id -Z
please?

[2022-10-17 19:50] j3s5e4 commented on #1558
[code]

[2022-10-18 07:01] vanhauser-thc commented on #1558
I have never seen that.

you can try:
[code]

[2022-10-18 07:01] #1550 closed, assigned to nobody

[2022-10-18 15:58] edmcman opened #1559 "afl-showmap has a default timeout of 1 second, but the usage says there is no timeout"
**Describe the bug**
afl-showmap has a default timeout of 1 second, but the usage says there is no timeout

**To Reproduce**
[code]

**Expected behavior**
I expected showmap to run the above example for 30 seconds.

**Screen output/Screenshots**
[code]

[2022-10-18 15:58] edmcman commented on #1559
https://sourcegraph.com/github.com/AFLplusplus/AFLplusplus@stable/-/blob/src/afl-forkserver.c?L99&subtree=true

[2022-10-18 16:24] vanhauser-thc commented on #1559
My mistake, that none was meant for -m and changed the wrong line. If you want you can send a pr to fix this, I am afk

[2022-10-18 16:56] #1559 closed, assigned to nobody

[2022-10-18 20:58] kritgpt commented on #1241
I am done with the code, how should I test this?

[2022-10-18 21:11] j3s5e4 commented on #1558
That does seem to replace the `shmget()` syscalls, however afl-fuzz fails to run with `TEST_MMAP=1`.

I can reproduce this with:
[code]

Which results in the `Fork server handshake failed` error.

[2022-10-18 22:03] domenukk commented on #1241
Run it for a bit, suspend your computer, see if the time is correct (?)

[2022-10-19 06:50] vanhauser-thc commented on #1558
yes, only source code mode is supported (as the MMAP support is only needed for platforms where qemu doesnt work).
you could easily port that into qemuafl and send a PR

[2022-10-19 15:57] j3s5e4 commented on #1558
I may be misunderstanding, but why would MMAP only be needed for a non-qemu platform? I was under the impression I can cross compile afl to my target, and that the binary to be fuzzed runs under qemu, so any syscalls from afl-fuzz would still need to be implemented in the OS right?

[2022-10-19 18:48] domenukk commented on #1558
The point is, if you are already using QEMU mode, you might as well just run that on your main operating system (with a normal Kernel)
There are probably good reasons to run qemu mode on weird operating systems as well, we just never implemented these cases (and never needed them).
It should be fairly simple to do, if you need it.
Take a look at how it's done in AFL++, and copy that to qemuafl - o

[2022-10-19 19:36] vanhauser-thc commented on #1558
few systems that afl++ runs on do not support shmat, eg. MacOS and Haiku. On these systems qemu doesnt run so there was never the need to support MMAP in qemuafl.
This concerns only the connection of afl-fuzz to qemu, not what qemu is emulating.

[2022-10-20 19:07] j3s5e4 commented on #1558
Thanks so much for the help, I did a dirty fix from `shmat` to `shm_open` and `mmap` in qemu and it seems to work!

[2022-10-20 19:07] #1558 closed, assigned to nobody

[2022-10-21 11:28] nbars opened #1564 "Unify environment variable handling"
**Is your feature request related to a problem? Please describe.**
Grepping through the code-base reveals many locations using `getenv` with hardcoded constants, even though there seems to be an interface (`afl_env_vars_t`) to unify the handling of environment variables. This makes it hard to keep track of which tool (`afl-fuzz`, `afl-cmin`, ...) implements which functionality.

**Describe the sol

[2022-10-21 14:45] domenukk opened #1565 "Reconsider Persistent Mode in the Compiler Runtime"
Right now, persistent mode is enabled the following way:

- afl-fuzz scans the complete binary and checks if `PERSIST_SIG` was inserted (which is automatically done by afl-cc if __AFL_LOOP is used) (and of course this will break for shared objects or wrapper scripts/libraries)
- afl-fuzz sets the `PERSIST_SIG` env variable before launching the target
- When the target starts, it checks the value o

[2022-10-21 17:05] vanhauser-thc commented on #1565
this would break multiharness files if different techniques are used there. it is a rare thing sure, but breaking something that currently works ....

how would you want to set a value in the client at compile time? I dont see a way how this could work. the target forkserver must know if it is persistent mode, but the AFL_LOOP comes later so you cannot set a global var with the AFL_LOOP macro, tha

[2022-10-25 14:46] fuzzah opened #1566 "libAFLDriver: fork server crashed with signal 6"
Hi!
libAFLDriver.a exits with assert error [on line 341 of aflpp_driver.c](https://github.com/AFLplusplus/AFLplusplus/blob/a075cddef6ae71516a960116f3d944efd5671e5d/utils/aflpp_driver/aflpp_driver.c#L341).

**Reproduce with**:
1. build current dev branch (a075cdd) with `NO_NYX=1 make source only && make install`
2. build libFuzzer target and link it with ~/AFLplusplus/libAFLDriver.a (i built [this

[2022-10-25 14:55] fuzzah commented on #1566
also:
I know about running without arguments or with `-` instead of `@@`, but shouldn't all three variants be supported? :)

[2022-10-25 15:03] domenukk commented on #1565
How so? If anything, this can *fix* multiharness files. Right now, it will always default to persistent mode, if one of them is persistent.
Setting the variable to 1 in `__AFL_LOOP` is early enough, the target doesn't need to know it before it either exits, or it doesn't. AFL++ itself doesn't need to know if it's persistent mode or not (we can keep the binary signature around if we really want to,

[2022-10-25 20:16] vanhauser-thc commented on #1566
that was a change request by @domenukk  - because people use the @@ version and are not aware that what you are doing is having a 50% speed loss because files are used instead of shared memory. so what is happening now is that the @@ parameter is ignored and shared memory usage is enforced.
and in that process somehow the @@ handling got a bug. fixed it. thanks for reporting

[2022-10-25 20:16] #1566 closed, assigned to nobody

[2022-10-25 20:23] vanhauser-thc commented on #1565
`forkserver -> persistent_loop`. the forkserver must know if there is a persistent loop. look in the code (for the waitpid).
maybe it is possible but I would prefer that you first check if what you want is actually possible without killing compatability - otherwise the discussion is a waste of time :)

[2022-10-27 06:40] vanhauser-thc commented on #1564
a few vars are required before parsing the environment, but yes, in general that could be done and would be more clean.
but it is also effort. if you do not like it the way it is - please supply a PR.

[2022-10-29 08:30] ricardo-kcc opened #1571 "how to use queue2csv.sh?"
the error as below.
![image](https://user-images.githubusercontent.com/64991294/198821966-cff78b5e-82cb-41a9-9360-c4a9430d54ac.png)

and afl++ command is ` ./afl-fuzz -m none -d -i ../jpeg -o ./out -- ./jhead_afl @@`

[2022-10-29 09:16] vanhauser-thc commented on #1571
`utils/analysis_scripts/queue2csv.sh out/default foo.csv "./jhead_afl @@"`

[2022-10-29 09:16] #1571 closed, assigned to nobody

[2022-11-03 10:23] #1444 closed, assigned to nobody

[2022-11-03 10:25] vanhauser-thc commented on #1546
@guyf2010 any thinking about this? would you want to try?

[2022-11-03 13:32] guyf2010 commented on #1546
From what I've seen so far, the issue is dependent on the tested program. The programs I have tested with that encounter the issue, I cannot release. I recognise this makes it a difficult problem to demonstrate. Additionally, if Fuzzbench doesn't have any  binaries prone to these issues, no benefits can be shown from the benchmark.

I spoke to a colleague who said he had observed input-to-state be

[2022-11-04 09:51] vanhauser-thc commented on #1546
I would not mind having another option to `-l` like `R` that would put out random bytes instead of the table.

[2022-11-07 03:56] shandianchengzi commented on #1361
It works for me, too! Thanks for your comment! My OS: Ubuntu 18.04.

[2022-11-08 10:48] guyf2010 commented on #1546
That seems pretty reasonable. I'll take a look at adding it in and making a pull request in the next few days.

[2022-11-09 18:50] spacexnasa opened #1577 "llvm 17 issues"
#### system info ####
centos 7.9 x86_64
source /opt/rh/devtoolset-9/enable
gcc --version
gcc (GCC) 9.3.1 20200408 (Red Hat 9.3.1-2)
########################################
#
https://github.com/AFLplusplus/AFLplusplus/blob/stable/instrumentation//README.lto.md
#
git clone --depth=1 https://github.com/llvm/llvm-project && cd llvm-project && mkdir -p  build && cd build
# Add -G Ninja if ninja-build

[2022-11-09 19:33] vanhauser-thc commented on #1577
dont set PATH or LD_LIBRARY_PATH, just set LLVM_CONFIG.
what is the full output of afl++ `make` ?

[2022-11-10 03:25] spacexnasa commented on #1577
ok, i will try
##################
cd /root/AFLplusplus
source /opt/rh/devtoolset-9/enable
make LLVM_CONFIG=~/llvm-project/build/bin/llvm-config

[*] Compiling afl++ for OS Linux on ARCH x86_64
[*] Checking for the default compiler cc...
[*] Testing the PATH environment variable...
[*] Checking for the ability to compile x86 code...
[+] shmat seems to be working.
[+] Python 3.10.7 support seems to

[2022-11-10 10:31] zhou1615 opened #1578 "Compatibility with llvm-16"
It seems that LLVM 16 removes "-fexperimental-new-pass-manager" options, therefore if I compile AFL++ with LLVM 16, it will be compiled successfully, but when I try to run the command "afl-clang-fast++ --version", I get

**clang-16: error: unknown argument: '-fexperimental-new-pass-manager'**

[2022-11-10 10:54] domenukk commented on #1578
Seems like it's simply the default now, I assume we just need to drop this flag?
@zhou1615 can you try removing all occurances in afl-cc, like this one:
https://github.com/AFLplusplus/AFLplusplus/blob/a075cddef6ae71516a960116f3d944efd5671e5d/src/afl-cc.c#L517

[2022-11-10 10:55] vanhauser-thc commented on #1578
can you try the new dev branch state please?

[2022-11-10 10:56] vanhauser-thc commented on #1577
that is once again a bug in llvm 16, it has bugs in it's own includes. maybe it is already fixed as someone was able to compile it (see #1578), or it broke afterwards.

[2022-11-10 20:46] vanhauser-thc commented on #1578
@zhou1615 how did you get llvm 16 compiled and working? or did you install the packages via apt.llvm.org and apt-get?
because via github compiled the includes of llvm are buggy.

[2022-11-10 20:47] vanhauser-thc commented on #1577
I can confirm that the current llvm github state doesnt work for plugins ... :(

[2022-11-10 20:47] #1565 closed, assigned to nobody

[2022-11-11 00:49] spacexnasa commented on #1577
that's a badly news

[2022-11-11 05:26] zhou1615 commented on #1578
I compile the most recent commit in llvm 16 through [github](https://github.com/llvm/llvm-project) by myself.

[2022-11-11 05:31] zhou1615 commented on #1578
It seems dev branch can not even be compiled through llvm 16 for errors.

[2022-11-11 05:38] zhou1615 commented on #1578
Oh I am sorry that I get it wrong: AFL can not be compiled by LLVM 16. Error messages are buried under tons of outputs, therefore I will close this comment.

[2022-11-11 05:38] #1578 closed, assigned to nobody

[2022-11-14 09:31] lbw1023 opened #1581 "How can I get a suitable starting input file?"
For example, I want to fuzz source-level gcc, but the test case may have problems with exceeding the size limit, or I don't have enough input. Is there any way I can get enough suitable input?
Thanks a lot for your answer.

[2022-11-14 10:50] lbw1023 commented on #1581
My goal is to obtain input with high coverage, so I hope to obtain a relatively complete test input set.
Can you give me some advice?

[2022-11-14 11:37] vanhauser-thc commented on #1581
a) this is is not an issue with afl++ itself and rather a generic fuzzing question. this is not a help forum :)  read docs/fuzzing_in_depth.md which covers this aspect, otherwise look here for a help channel: #681

[2022-11-14 11:37] #1581 closed, assigned to nobody

[2022-11-17 14:02] AltayAkkus commented on #1495
I don't think a reasonably sized/reasonably fast ML model could help penetrate deeper into more edges/paths.
[Also, AFL already does a pretty good job.](https://lcamtuf.blogspot.com/2014/11/pulling-jpegs-out-of-thin-air.html)
The model would have to accurately predict which value, which manipulation will lead the program to meet it's condition, aka. correctly represent and predict the full program

[2022-11-18 15:12] SanWieb opened #1586 "CmpLog Taint Mapping + Cache tryout"
Hi,

During a small research project, I analysed the CmpLog feature performance. In particular the poor performance on the bloaty_fuzz_target. A major cause is the low entropy generated in the colorized input, in combination with no relation checking between the 'taint' and the 'comparison'. This all results in an explosion of I2S candidates and thus executions.

I started to implement several imp

[2022-11-18 15:51] vanhauser-thc commented on #1586
thanks for the two PRs!
Have you tested the impact also on the other fuzzbench targets? Optimizing for a specific target is easy, but if the average performance is worse than before than either we would not want it or make it an optional parameter (e.g. like the new `-l R` option for random colorization, not sure if you have seen it).

We only accept PRs to dev so I rebased the two PRs.

I think I

[2022-11-18 15:57] ThomasTNO commented on #1586
Very much in favor of your suggestion to validate this work on FuzzBench, thanks!

[2022-11-18 16:50] SanWieb commented on #1586
Thanks, that would be helpful!

Previously, the changes of #1587 were also included in #1585. In the newly pushed commit I disabled the additional optimisations, think it is better to see the performance independently as you suggested.

So now for test d): you could also define "CMPLOG_ADDT_OPTIMISATIONS" in #1585 to enable the additional optimizations instead of doing a merge.

[2022-11-19 16:41] vanhauser-thc commented on #1586
submitted with https://github.com/google/fuzzbench/pull/1558, let's wait for the merge and then the results :)

[2022-11-22 07:25] qijiale opened #1589 "afl-qemu-trace"
I can't find afl-qemu-trace in /AFLplusplus.
What should I do?

[2022-11-22 07:30] #1589 closed, assigned to nobody

[2022-11-23 09:37] vanhauser-thc commented on #1586
sorry guys my dev state had a crashing bug for some queue analysis thing I am researching, resubmitting experiment ...

[2022-11-23 09:39] ThomasTNO commented on #1586
No worries. I also spotted that among others bloaty_fuzz target was not included in the benchmark. Maybe nice to add it as well (for confirmation purposes), as the research was mainly based on that target.

[2022-11-23 09:47] vanhauser-thc commented on #1586
they are currently redesigning the benchmark, upgrading to ubuntu 20.04, removing outdated fuzzers.
not sure how/if I could add bloaty ...

[2022-11-23 22:42] vanhauser-thc opened #1594 "Hooking function on macOS Ventura does not work anymore"
libtokencap and libdislocator do not work anymore on macOS in the newest OS release.

to reproduce:
[code]

`DYLD_INSERT_LIBRARIES` still works (constructors are triggered), however trying to hook libc functions do not seem to work.
e.g. strcmp, _strcmp, __impl__strcmp, __platform_strcmp - none of them are called in a lib that hooks these and a program that uses strcmp() in its code and compiled w

[2022-11-23 22:42] vanhauser-thc commented on #1594
@devnexen any idea?

[2022-11-24 12:54] devnexen commented on #1594
No real idea but no surprise it is becoming increasingly difficult in that area.
However, would using [calls interposition](https://opensource.apple.com/source/dyld/dyld-733.6/include/mach-o/dyld-interposing.h.auto.html) work ?

[2022-11-24 13:37] vanhauser-thc commented on #1594
hmmm that seems to work. but results in a major rework of everything preload. damn.

[2022-11-25 09:53] vanhauser-thc commented on #1586
So the results are mostly in:
https://www.fuzzbench.com/reports/experimental/2022-11-23-aflpp-cmplog/index.html
There will be slight changes in the final results which will take approx another 24 hours.
The left column is the important one, the right one doesn't say much.
I did a more detailed analysis, see below, only where there is a difference of at least 0.30% there is a reason to look.

![ima

[2022-11-28 15:25] Alireza-Razavi opened #1597 "undefined reference to __afl_manual_init"
Hi
I'm gonna compile the code https://github.com/AFLplusplus/AFLplusplus/blob/stable/utils/persistent_mode/persistent_demo_new.c using this command:
[code]
but it gives me these errors:
[code]
What is wrong with it ?

[2022-11-28 18:22] SanWieb commented on #1586
Thanks for the results, this gives some insight!

1585 has quite some big changes, don't think it can be easily converted to be optionally enabled. I will see if I can dive a bit further in the results to see what is causing the huge failures.

1587: I am bit surprised why it sometimes fails (and also hard). It could only be caused by the change below.
To meet the I2C relation for the RTN types, b

[2022-11-28 22:45] Alireza-Razavi commented on #1597
.

[2022-11-28 22:54] Alireza-Razavi commented on #1597
Now it is compiled with ```afl-clang-fast``` but isn't being compiled ```afl-clang```.
To use the ```persistent``` template, the binary only should be instrumented with ```afl-clang-fast``` ?

[2022-11-30 04:14] vanhauser-thc commented on #1597
a) old version
b) do `cd utils/persistent_mode ; make ` and it will compile. likely you made a wrong change in the copy of the source code.

[2022-11-30 04:24] vanhauser-thc commented on #1586
apparently when I posted my analysis the run was not as stable as I thought it to be. now 1587 looks much better, though still slightly worse than the original.
I dont have time to look at your diff until next week, I have put a reminder to look back into this then.

updated stats here:
![image](https://user-images.githubusercontent.com/7396244/204707199-aa1378c8-f0d3-4371-b774-56dcd559ef90.png)

[2022-11-30 11:32] Alireza-Razavi commented on #1597
@vanhauser-thc
https://github.com/AFLplusplus/AFLplusplus/blob/stable/utils/qbdi_mode/template.cpp
Could you apply persistent-mode template on this code ??

[2022-11-30 11:55] vanhauser-thc commented on #1597
you could apply persistent mode to it, yes, but it depends on the target library/function if it will work.
obviously you will have to do it yourself, I wont do it for you :)

[2022-11-30 13:44] #1597 closed, assigned to nobody