[2020-02-24 08:01] andreafioraldi commented on #208
Another easy task, for who is already familiar with QEMU (but I'm here guys and I can tell you what to do), is to add the equivalent of the LLVM CmpLog routines instrumentation (https://github.com/vanhauser-thc/AFLplusplus/blob/master/llvm_mode/cmplog-routines-pass.cc and https://github.com/vanhauser-thc/AFLplusplus/blob/master/llvm_mode/afl-llvm-rt.o.c#L527) to the i386 and arm lifters.
Another a

[2020-02-24 08:02] andreafioraldi commented on #207
Refer #208 for GSoC

[2020-02-24 08:06] andreafioraldi commented on #208
Another thing that we will appreciate a lot is the generalization of the features to other archs that are not x86/arm. As you can see in the table [here](https://github.com/vanhauser-thc/AFLplusplus#the-enhancements-compared-to-the-original-stock-afl) many features of QEMU and Unicorn are not available e.g. on MIPS. If you want to pick this ask always for specific code parts to port, I'll tell you

[2020-02-24 12:55] hexcoder- commented on #207
Hi Andrea,

I don’t understand line 16 in qemu_mode unsigaction/Makefile.

Why is it necessary to exclude libunsigaction on arm architectures?

Thanks,
Heiko

[2020-02-24 12:57] andreafioraldi commented on #207
Cause Wine is only x86 and x86_64 and we need unsigaction for Wine mode.

[2020-02-24 13:02] hexcoder- commented on #207
I see, so it would not harm to activate it.

Von: Andrea Fioraldi <notifications@github.com>
Gesendet: Montag, 24. Februar 2020 13:57
An: vanhauser-thc/AFLplusplus <AFLplusplus@noreply.github.com>
Cc: hexcoder <heiko@hexco.de>; Comment <comment@noreply.github.com>
Betreff: Re: [vanhauser-thc/AFLplusplus] Machine Learning for fuzzing (GSOC) (#207)

Cause Wine is only x86 and x86_64 and we need unsi

[2020-02-24 13:33] ankit2001 commented on #208
Thanks @andreafioraldi

[2020-02-24 15:11] vanhauser-thc commented on #205
@CaBeckmann after this last issue is cleared up we can to make a new release ... :)

[2020-02-24 15:22] vanhauser-thc commented on #184
We could delete the standard afl-llvm-pass and use (fixed) Instrim - or make Instrim standard

[2020-02-24 15:36] CaBeckmann commented on #205
All instances are still running after 5 hours even without SIMPLE_FILES defined. If this is long enough for you I think we can consider this fixed and close this issue. If not I am letting this run until tomorrow anyway. Just let me know and I can post another update.

[2020-02-24 16:27] vanhauser-thc commented on #205
thank you!

[2020-02-24 16:27] #205 closed

[2020-02-24 17:06] hexcoder- commented on #205
@vanhauser-thc @andreafioraldi Just to understand, do you think, the filename corruption was because of the illegal combination of -L and -R?

[2020-02-24 17:53] vanhauser-thc commented on #205
the filename corruption was because of a memory corruption in MOpt. then the tought was that there might be another issue with long filenames, but that was thankfully not the case.

[2020-02-24 20:08] hexcoder- commented on #205
Thanks!

[2020-02-25 14:38] aar0nge opened #210 "error while running 32bit assembly?"
while running a simple "push ..." instruction, I get this problem:
![image](https://user-images.githubusercontent.com/20163299/75257081-67fbb100-581f-11ea-86db-20b3b7d1546c.png)
the current esp is 0xbffff0a0, but the "push" instruction's write address has become 0xf09c, and I get an invalid write.
I have mapped memory in 0xbfff000 correctly and I don't want to change it to 0xf000, has anyone met t

[2020-02-25 14:43] hexcoder- commented on #210
I do not see any relation to AFL++.

[2020-02-25 14:45] aar0nge commented on #210
I run it by unicornafl, is here the right place?

[2020-02-25 14:55] hexcoder- commented on #210
Aha, yes it is.

But a good bug report provides as much information as possible for developers to reproduce the issue. For example, platform and operating system being used, command line used, complete screenshots, and so on.

@domenukk This is probably your area.

[2020-02-25 15:01] domenukk commented on #210
@aar0nge also, can you try if the bug exists in vanilla unicorn (https://github.com/unicorn-engine/unicorn) ? If so, this would be the better place for a bug report :)

[2020-02-25 15:06] aar0nge commented on #210
Thanks for your advice, there are some other context and environment setup (specifically: [unicorefuzz](https://github.com/fgsect/unicorefuzz)), I am trying to make it simpler to reproduce. Let me debug for a while...
(It's ubuntu 18.04, unicorn 1.0.2 btw)

[2020-02-25 15:17] fuzzah opened #211 "How to properly use AFL++ docker image?"
Hi.
I've never used docker before :(

**Q1**
What i've come to so far is that to build AFLplusplus docker image, i should do the following:
[code]
Seems like `docker build` should be started as root, otherwise i receive error, that docker can't connect to docker daemon socket.
Also `docker build` requires path to directory that holds Dockerfile.

If that's correct, i suppose README.md needs to be

[2020-02-25 15:29] vanhauser-thc commented on #211
Hi fuzzah,

well the README is for people who know and use docker :) so your Q1 is rather obvious for those people ;) but I will update the readme for Q1.

Q2 - same. you can commit changes to a docker container, read up how to do that.

Q3 - same. you can import directory with the -v option. the dependencies should never be an issue as you need to compile (mostly) static to fuzz a target effiecie

[2020-02-25 15:47] aar0nge commented on #210
So... I can't not reproduce it by unicornafl... looks like it's a problem in unicorefuzz, maybe avatar2 or something. Then here is not the place, I would close this now.

[2020-02-25 15:48] #210 closed

[2020-02-25 15:52] fuzzah commented on #211
@vanhauser-thc thank you.
Could you please explain what happens if i don't compile my fuzzed targets as static binaries in terms of efficiency? If i statically build my targets, what about libraries like libdislocator and sanitizers? I thought it's better to use them for efficiency in bugs discovery.

[2020-02-25 16:47] vanhauser-thc commented on #211
You build static the libraries you want to fuzz (e.g. with libxml2.a). but you would not compile all library static to your target (e.g. glibc)

[2020-02-25 18:57] wideglide opened #212 "build error for qemu_mode (i386-linux-user)"
error log when building 32-bit `afl-qmeu-trace` from 3f6bfbd (2.61c):
[code]
Just need to use `target_ulong` instead of `uint64_t` in `afl-qemu-common.h`?

[2020-02-25 19:03] andreafioraldi commented on #212
ah f*ck , this was unnoticed by travis cause fine for x86_64.
No, it needs to be uint64_t, to be consistent with the persistent hook. I'll fix it ASAP when at home, ty @wideglide

[2020-02-25 20:24] #212 closed

[2020-02-25 20:56] #211 closed

[2020-02-25 22:53] gaintcome commented on #208
I thought it might be interesting for some of you that how ML can be used in hybrid fuzzing.
https://arxiv.org/pdf/2002.08568.pdf

[2020-02-26 18:49] ankit2001 commented on #208
No grp yet for gsoc?? I have used mailing list but no reply .

[2020-02-26 18:53] ankit2001 commented on #208
No grp yet for gsoc?? I used gsoc@aflplus.plus but no reply.

[2020-02-27 10:47] vanhauser-thc commented on #207
@ashish493 can you please send an email to gsoc(at)aflplus(dot)plus - then I can send you an informational message about afl++ and GSOC 2020

[2020-02-27 10:49] vanhauser-thc commented on #208
@utkarshshri1016 if you are interested in submitting a project proposal please write a short email to gsoc(at)aflplus(dot)plus to receive an informational message about the process

[2020-02-27 10:53] ashish493 commented on #207
Yeah, sure..

[2020-02-27 13:57] wideglide opened #214 "unknown regression in v2.61c"
I'm experiencing a significant (?) regression when using v2.61c versus v2.60c and I can't isolate what might have changed to cause this result.

I'm running tests on the LAVA / Rode0day corpora.

Both experiments were identical except for rebuilding my docker container with either
- `git clone -b 2.60c` or
- `git clone -b 2.61c`

The coverage exposed is roughly the same, but v2.61c doesn't find an

[2020-02-27 13:59] ankit2001 commented on #208
Okk

[2020-02-27 13:59] andreafioraldi commented on #214
Hi, are you using qemu or llvm?

[2020-02-27 14:11] wideglide commented on #214
llvm 9.0, compiled with afl-clang-fast

On Thu, Feb 27, 2020, 8:59 AM Andrea Fioraldi <notifications@github.com>
wrote:

[2020-02-27 15:30] andreafioraldi commented on #214
This is unlikely. Try to put a crashing input in the initial folder. If a crash is detected during the dry run of the initial corpus, AFL++ aborts. If it doesn't abort, the problem is that the fuzzer doesn't detect crashes.

[2020-02-27 16:16] wideglide commented on #214
I ran another experiment, this time rebuilding from master instead of `2.61c` and it was able to find one crash after 6 minutes, but then no more.  So, I don't think it is the ability to detect crashes, but I can try your suggestion, it would validate my hypothesis.
here's the log from that run: https://test.fuzz.tr0gd0r.com/stats/show/2504

I've diff'd the afl-fuzz source between 2.60c...master a

[2020-02-27 16:18] andreafioraldi commented on #214
At least we know that is not an llvm mode issue. Try dry run and let me know.

[2020-02-27 16:24] wideglide commented on #214
dry run works
[code]

[2020-02-27 16:46] vanhauser-thc commented on #214
A lot of things in afl are random, which input is selected, what bytes are changed, etc.
if you want to compare the two versions, then run them with the same command line options and add  -s 123   <- this fixes the random number initialization so the randomness is the same.

also - what is your full command line? I see no deterministic mutation in the screen shot.

[2020-02-27 16:51] wideglide commented on #214
There's certainly a lot of randomness in AFL, but 5 experiments that produce > 80 crashes and 5 experiments that produce < 2 crashes is a good indicator that randomness is not at play which the only variable that changes is the commit hash that I use to build AFL++.

Here's the full command line:
[code]

I'm starting a search for the code change, and just ran a test on commit c7167190a6abe9884787b

[2020-02-27 17:07] andreafioraldi commented on #214
Try with https://github.com/vanhauser-thc/AFLplusplus/commit/54bbddec602feef0bd4e3bdc066c50779825d178.
If it is broken, may be a issue due to cmplog. If so, we have to do a binary search for the broken commit :(

[2020-02-27 17:13] wideglide commented on #214
I tried b133fa3b6e18d46e53fddba10f09097c9bef6868 which still works, so its something after 15 Feb

[2020-02-27 17:18] andreafioraldi commented on #214
There should not be code that touch the mutator or the crash handler modified after 15 feb.
This is strange. Test https://github.com/vanhauser-thc/AFLplusplus/commit/249cd2c7669f9dc9f49e96756b6683744213ee08

[2020-02-27 17:28] vanhauser-thc commented on #214
Please do all comparisons tests with a fixed same -s value so that there are false positives/negatives because of randomness.

Thank you for your effort!

[2020-02-27 17:29] wideglide commented on #214
It appears it was actually introduced between b133a3 and 3beee6da772f88f1bd7987b4b2e7c56a53ec3270  (15-18 Feb)?  I'm double checking.

[2020-02-27 19:22] wideglide commented on #214
ok, It was something introduced on the 17th, but I'm having trouble isolating it because `afl-fuzz` crashes within 10 seconds on many of those commits.

"good" means it still finds crashes

b133fa3b6e18d46e53fddba10f09097c9bef6868 16th -- good
4bca8af499a6ecbd2c6111f4820b66c2ba4710b5 16th -- good
8acd503526eda9d8c87374d8cf570aeac54ced73 16th -- good
d41f4130168629ec01f420b79fce42f4f0c11961 16th --

[2020-02-27 20:00] andreafioraldi commented on #208
I added the port of [perf-fuzz](https://github.com/sslab-gatech/perf-fuzz) into AFL++ in the list of proposed ideas. If you are familiar with Linux Kernel programming, this is your proposal.

[2020-02-27 20:04] wideglide commented on #214
It's the changes to `alloc-inl.h`.  I just used the version from https://github.com/AFL with master and everything works fine.

[2020-02-27 20:10] andreafioraldi commented on #214
Thank you man for the great effort, I'll backport it from AFL as a workaround and meanwhile, I'll work for a better solution.

[2020-02-27 20:12] andreafioraldi commented on #214
Now you can use master

[2020-02-27 20:13] andreafioraldi commented on #214
@vanhauser-thc we need a hotfix release when I'll finish with this.

[2020-02-27 21:54] vanhauser-thc commented on #214
Write here when you are done

[2020-02-27 23:37] vanhauser-thc commented on #214
@wideglide can you please try the new github state? I made some changes to alloc-inl.h and it works fine for me (15 crashes in 8 minutes for my test target tiff-4.0.4)

If this works for you I make a new release with this version, if this also produces a problem then I revert to the original one and make with that a new release.

[2020-02-27 23:52] wideglide commented on #214
the most recent commit caused an error for me:
[code]

[2020-02-27 23:58] vanhauser-thc commented on #214
have you done a "make clean" first?

[2020-02-28 00:00] vanhauser-thc commented on #214
sorry my mistake!

[2020-02-28 00:02] vanhauser-thc commented on #214
fix is in, now you can test. sorry. I am very tired ...

[2020-02-28 00:04] wideglide commented on #214
built from f526bb2ecb6dbbf6b155f12f6e8e12596cd1b84c which works!
the changes you made to `alloc-inl.h` seem to be fine.

[2020-02-28 00:05] vanhauser-thc commented on #214
so all the crashes that should be there are being found now?

[2020-02-28 00:10] wideglide commented on #214
yes, the differences I was seeing were immediately obvious.
I just was able to build from master as well.

[2020-02-28 00:12] vanhauser-thc commented on #214
perfect then I will do the new release now and then fall into my bed :)
thanks a lot for your great effort!!

[2020-02-28 00:12] #214 closed

[2020-02-28 05:02] vanhauser-thc commented on #207
I will close this, please use issue #208 for GSoC as Andrea mentioned.
:)

[2020-02-28 05:02] #207 closed

[2020-02-28 05:03] #200 closed

[2020-02-28 05:52] vanhauser-thc commented on #201
@fuzzah I made a simple change - does it work now for you?

@andreafioraldi I am not happy with my solution. it is easy and quick, but the internal capstone version is 3.0.5-rc3. Having 3.0.5 would be better (or even 4.0.1) but that means downloading,
overwriting the existing capstone directory, etc. and I would not want to make such a big change in your domain :)

[2020-02-28 06:20] vanhauser-thc commented on #173
thinking about it, adding minimum and maximum length of mutated input and minimum offset from start and minimum offset from end could be useful.

[2020-02-28 06:22] vanhauser-thc commented on #8
@domenukk so we can close this? MacOS works? how about iOS?

[2020-02-28 08:47] andreafioraldi commented on #208
Another initial task (easy) to start contributing is to reuse freed region as guard pages in libdislocator.
Libdislocator's malloc map a PROT_NONE region after the allocated region (always mmapped) to catch out of bounds accesses.
Libdislocator's free simply marks also the allocated region as PROT_NONE. This allows catching user-after-free bugs but increases the memory overhead.
We want that the a

[2020-02-28 10:20] fuzzah commented on #201
@vanhauser-thc , yes, now it compiles normally. Thanks!

[2020-02-28 10:41] vanhauser-thc commented on #201
@andreafioraldi do you want to keep the issue open and get a newer capstone version? (I can also take care of this if you are busy with other stuff.) Or are you fine with 3.0.5-rc3?

[2020-02-28 10:52] bruce30262 opened #215 "[Suggestion] Some advice for creating a better commit history"
This issue is more like a suggestion/discussion thread for creating a better code commit history in AFL++.

When I saw the discussions in #214 and start browsing the commit history in AFL++, I found the commit history kind of messy. Some of the commit message aren't clear enough to provide the information of the code modification ( for example fc77f0bb969b0d6f2add 😅 ). Also I believe some of the c

[2020-02-28 11:20] andreafioraldi commented on #201
If your fix works, I'll not touch it. We don't need to update capstone, it is used for debugging not when lifting (our use case). QEMU would hardly benefit from new capstone features.

[2020-02-28 11:28] hexcoder- commented on #215
Yes, it is not ideal this way, but i think the committers are aware of that. The priority of this point compared to fixing bugs is of course pretty low, so only when we do easy changes we have the inclination to think about a nice reading experience and optimized commits. Otherwise it is just too hard to commit in an optimal fashion. Thats life, i guess.

[2020-02-28 12:08] #201 closed

[2020-02-28 12:14] vanhauser-thc commented on #215
I am calling myself a security professional or hacker - not a developer, hence my development skills are rather limited ... On the other hand I handle projects with quite some users (hydra, thc-ipv6, afl++) so better code quality, testing, commits, etc. is a pretty good thing to have/do ;-)
I would say I am getting there slowly ... test framework is there, travis integration, code formatting ... w

[2020-02-28 12:28] bruce30262 commented on #215
@hexcoder- @vanhauser-thc thanks for replying ! Here are some of my thoughts about the topic you've mentioned in the reply:

I agree bug fixing is more important than this. However I think it's not that hard to re-organize the local commits before pushing them to the remote github repo -- a few `git rebase -i` command should do the trick. I wouldn't mind waiting for a few more minutes/hours ( even

[2020-02-29 14:46] domenukk commented on #8
Mac OS works, however I never got around to test it on iOS as I just don't know how to set this up easily. Will try with my rooted phone later.

[2020-03-01 02:25] wideglide opened #218 "build failure in travis"
Seems like this should cause travis-CI to report a failure instead of success?

[code]

[2020-03-01 10:10] emocat commented on #218
I've met this problem too. One simple way is just to commet out code below at 323, src/afl-commen.c:
[code]

[2020-03-01 10:12] andreafioraldi commented on #218
`[-] llvm_mode not compiled, cannot test` @vanhauser-thc we should add an env var that tell test.sh to about when running on travis

[2020-03-01 10:16] #218 closed

[2020-03-01 11:21] andreafioraldi commented on #191
I produced some examples about how will be the unified API:

C mutator: https://github.com/vanhauser-thc/AFLplusplus/blob/custom_mutator_unified_api/examples/custom_mutators/new_custom_mutator.c
Py mutator: https://github.com/vanhauser-thc/AFLplusplus/blob/custom_mutator_unified_api/examples/python_mutators/example.py

[2020-03-01 20:38] SWW13 commented on #185
In my experience having an ASAN build during fuzzing isn't worth the slow-down and may also fail too early with an OOB-read before the interesting crashes are happening. All inputs in the queue can be run again with an ASAN build to find additional crashes independent from the fuzzer.

[2020-03-01 22:20] vanhauser-thc commented on #191
afl_custom_queue_get(char* filename) <- filename is a fully qualified pathname?

afl_custom_fuzz(uint8_t *buf, size_t buf_size, uint8_t *add_buf,size_t add_buf_size,...) <- what is add_buf and where does that come from?

otherwise it looks good IMHO

[2020-03-02 10:27] vanhauser-thc commented on #191
and I have a feature request:

afl_custom_queue_new_entry(char *filename_new_queue, char *filename_orig_queue)

This would allows for additional analysis (e.g. calling a different tool that does a different kind of coverage and saves this off to use for the custom mutator)

[2020-03-02 10:30] andreafioraldi commented on #191
I agree, and I want to add also afl_custom_havoc_mutation that add a custom mutation to the set of the stacked mutations performed in havoc (bitflips, range insert, etc...). I'll add also afl_custom_havoc_mutation_propability that will be used to configure the probability to execute that mutations during havoc. This allow to stack mutations like in AFLSmart.

[2020-03-02 10:32] vanhauser-thc commented on #185
in regards to WSS13 I want to add these two twitter entries:
https://twitter.com/moyix/status/1231725775218298880
https://twitter.com/moyix/status/1231726068886695936

[2020-03-03 02:55] h1994st commented on #191
Hi @andreafioraldi @domenukk @vanhauser-thc ,

I have several questions while implementing this feature (#221) and may need your help:

1. How do we use multiple custom mutators? I haven't implemented this feature, as I could not come up with a good use case. Thus, for now, the current implementation either uses the custom mutator or a Python module.

2. `fuzz` in Python module and `afl_custom_mut

[2020-03-03 03:08] h1994st commented on #191
Oh, I just saw the latest discussion. Thus, as shown in the latest examples, we decided to ignore the backward capability?

[2020-03-03 06:24] ashish493 commented on #208
@domenukk

For the part of integrating ML, do we we have to create it's python based mutator? Or should we have to integrate it in the main code base for detection?

[2020-03-03 08:24] vanhauser-thc commented on #191
yes we dont do backward compatability on this.
it is a 1 minute thing to upgrade an old custom mutator but would require us to keep along old code.

[2020-03-03 09:47] vanhauser-thc commented on #185
I want to add -p fast as default as in most cases it is slightly better than explore.

Also by default enabling MOpt after 30-60 minutes without new path discovery would be beneficial (then we need an option to disable MOpt though)

[2020-03-03 09:52] domenukk commented on #191
BTW @andreafioraldi while we're redoing the custom mutator api, we might want to account for running multiple fuzz tests in parallel in the future, that would mean at least passing a `void *data` ptr to all executions, probably also an afl object of sorts containing some info about the current run (?)

[2020-03-03 10:03] Hanseltu opened #222 "how to build afl-clang with different version"
Hi, I want to know how to build afl++ with a different clang version.

Now, I get clang version 3.8.0 using `afl-clang --version`, and the output is

[code]
I used `make CC=clang-6.0` to build, but it didn't work for me.  So how to build afl++ with clang version 6.0 or higher?

Thanks.

[2020-03-03 10:06] domenukk commented on #208
Heavily depends on the actual concept ;)
It might be a custom mutator, it might feed new seeds to afl as separate process, be in the codebase directly, or some other magic.
First, what do we try to achieve?
ML to find better mutations valid for all binaries? -> Some sort of mutator
ML to find specific inputs for a specific binary? -> Drop them in the queue directly, probably
Some better idea XY ->

[2020-03-03 10:34] andreafioraldi commented on #191
I agree with passing an apaque pointer to the custom mutator API. In Python is a bit more problemamtic, we can skip it. @h1994st good job, when teh API is inconsitent keep the most expressive. Or you can always ask here.

[2020-03-03 10:34] andreafioraldi commented on #191
Also, merging python and custom in a single stage is better IMO.

[2020-03-03 10:35] vanhauser-thc commented on #222
If you look at llvm_mode/README.md you will find that you need to set LLVM_CONFIG pointing to the llvm-config-6.0 or whatever version to achieve this ... ;)

[2020-03-03 10:35] #222 closed

[2020-03-03 10:41] andreafioraldi commented on #208
ML for mutations in python seems a very bad idea. Your code has to be very fast, python mutators are a feature that allows fast prototyping of mutators to the users, not somewhat that we use to add features to AFL++.

[2020-03-03 10:55] ashish493 commented on #208
Thanks for the feedback @domenukk @andreafioraldi
I will try to find a new idea, but it's going to be really tough..

[2020-03-03 12:50] andreafioraldi commented on #185
Before doing this we have to extend mopt to the other mutators imo

Il mar 3 mar 2020, 10:47 van Hauser <notifications@github.com> ha scritto:

[2020-03-03 13:17] h1994st commented on #191
That would be easier if we do not consider backward capability. Thank you guys for the feedback!

[2020-03-03 14:16] domenukk commented on #215
I think we will try to keep the history a wee bit tidier from now on.
Thanks for the ping, definitely true :)
Closing this issue.

[2020-03-03 14:16] #215 closed

[2020-03-04 06:15] h1994st commented on #191
Finished refactoring existing Python and custom mutator APIs. Pull request #221 is ready for review.

The following features are not implemented for now. I may submit a separate pull request to integrate them.

- afl_custom_queue_get(char* filename)
- afl_custom_queue_new_entry(char *filename_new_queue, char *filename_orig_queue)
- afl_custom_havoc_mutation
- afl_custom_havoc_mutation_propability

[2020-03-04 17:44] andreafioraldi commented on #191
@vanhauser-thc what about testing the XML python mutator in travis?

[2020-03-04 18:27] h1994st commented on #191
Hi @andreafioraldi,

You said you want to implement `afl_custom_havoc_mutation` on your own.

So, if you do not mind, I think I can work on `afl_custom_queue_get` and `afl_custom_queue_new_entry` these days.

Thanks!

[2020-03-04 18:31] andreafioraldi opened #224 "test.sh does not aborts when there are errors"
See this https://travis-ci.com/vanhauser-thc/AFLplusplus/jobs/294050859
There is a Null Ptr Deref in the fuzzer reported by ASan and Travis says that all tests are fine.

[2020-03-04 18:33] andreafioraldi commented on #191
Yes, ty, remind to always build with make ASAN_BUILD=1 and run test.sh, there was a null ptr deref!

[2020-03-04 18:35] h1994st commented on #191
OK, got it. I will keep that in mind.

[2020-03-04 18:54] vanhauser-thc commented on #191
that is a good idea. Not sure how to do this intelligently.
First LTO fixing then I will think about that

[2020-03-05 02:51] jepler opened #225 "Short write [bad address], Stop location : trim_case(), src/afl-fuzz-run.c:796"
I'm getting this message fairly regularly while trying to fuzz circuitpython, usually before well under 1 hour of fuzzing.  However, I had previously fuzzed circuitpython on this system for multiple days without problem.  Apparently the relevant difference is that in the failing runs I (needlessly?) specified -N to afl-fuzz.

debian buster amd64, kernel 4.19.0-6-rt-amd64, AFLplusplus 2.62c-18-g3e0

[2020-03-05 06:44] vanhauser-thc commented on #225
What is your full command line?

[2020-03-05 08:44] vanhauser-thc commented on #225
The -N is a special case. It is for fuzzing on devices (e.g. /dev/foobar1), as unlinking them is a bad idea. Dont use -N for normal fuzzing, as it slows down fuzzing.

Nevertheless - there is a bug and it should be fixed.

[2020-03-05 09:11] vanhauser-thc opened #226 "Please report LTO issues here"
Please report all issues that happen with afl-clang-lto/afl-clang-lto++ in this issue. Thanks!

[2020-03-05 09:35] vanhauser-thc commented on #226
ffmpeg fails with: /bin/x86_64-linux-gnu-ld: libavcodec/libavcodec.a: error adding symbols: file format not recognized  (or similar "file format not recognized" messages"

bogofilter fials with: error: Linking globals named 'process_arg': symbol multiply defined!

libjpegturbo fails with: error: Linking globals named 'jpeg_abort': symbol multiply defined!

[2020-03-05 09:35] vanhauser-thc commented on #226
The following targets compile fine (motivational message for me):
* libpng-1.2.53
* libxml2-2.9.2
* tiff-4.0.4
* unrar-nonfree-5.6.6
* exiv 0.27
* jpeg-6b

[2020-03-05 10:06] vanhauser-thc commented on #224
ah damn. yes that was something I tried to workaround the arm64 travis issue.
now it reports correctly again. sorry

[2020-03-05 10:06] #224 closed

[2020-03-05 10:08] vanhauser-thc commented on #225
This happens in src/afl-fuzz-run: u8 trim_case(char** argv, struct queue_entry* q, u8* in_buf):
[code]

@hexcoder- / @andreafioraldi  I am gone until Sunday, can you have a look?

[2020-03-05 10:25] andreafioraldi commented on #225
I have no clue why this write should return EFAULT only when no_unlink is 1.

[2020-03-05 10:37] vanhauser-thc commented on #225
it makes no sense to me either :)

[2020-03-05 10:37] vanhauser-thc commented on #225
but I can reproduce this issue

[2020-03-05 14:35] jepler commented on #225
Sorry I was slow to provide a full commandline, it was something like `afl-fuzz -i- -o findings -N -- ./mpy-cross @@`.  I'm glad you reproduced it, and I agree it's a bit perplexing.

[2020-03-05 17:02] fuzzah commented on #212
Hi.
build_qemu_support.sh fails when compiling for i386 support:
[code]

Relevant part of compile log:
[code]

Some info:
[code]

[code]

[2020-03-05 17:05] fuzzah opened #227 "build_qemu_support.sh for i386 fails"
Hi.
build_qemu_support.sh fails when compiling for i386 support:
[code]

Relevant part of compile log:
[code]

Some info:
[code]

[code]

[2020-03-05 19:14] localh0rs7 opened #229 "ModuleNotFoundError"
I do not understand how the mutator modules are getting parsed from the commandline.
If I execute...

`AFL_PYTHON_MODULE="pathto/module.py"` PYTHONPATH=. afl-fuzz`
AFL says:

Failed to load ""pathto/module.py"

I also tried to link /usr/bin/python3.7 in the AFL_PYTHON_MODULE variable.

Best,
Christian

[2020-03-05 19:34] andreafioraldi commented on #227
stime(2) is a libc function, it seems to be deprecated after GLIBC 2.31 (that no system have, apart Arch, that is always a PITA).
Here the fix for the same issue in busybox
https://git.busybox.net/busybox/patch/?id=d3539be8f27b8cbfdfee460fe08299158f08bcd9
I'll backport it from QEMU 4 when I'll have some free time, meanwhile you can simply use docker and fuzz on Ubuntu.

[2020-03-05 19:38] andreafioraldi commented on #227
Code to backport (reference for myself) https://github.com/qemu/qemu/blob/master/linux-user/syscall.c#L7838

[2020-03-05 19:43] andreafioraldi commented on #227
Ok the patch is super simple, wait a minute I'll do it now.

[2020-03-05 19:43] #227 closed

[2020-03-05 19:43] andreafioraldi commented on #227
Pull & try it please @fuzzah

[2020-03-05 22:25] domenukk opened #230 "Unexpected Behavior in afl-cmin When Exiting With Ctrl+C"
Hitting `ctrl+c` cancels execution of `afl-showmap`, yet the awk script continues to process the output files:
[code]

Btw. in my current build (a few days old) the `afl-cmin` is awfully quiet after the forkserver spun up.
In contrast, `afl-cmin.bash` informs about the current file progress.

[2020-03-05 23:41] domenukk opened #231 "Use select instead of alarm"
Most timeouts in afl are implemented using signals.
The future goal is to make afl++ properly multi threaded, or at least support different use cases like embedding it into other processes.
One part, refactoring it without globals, is handled by pr #220 however a big problem still remains: afl uses unix signals in many places.
Instead, timeouts at least, could instead be replaced by `select` with

[2020-03-06 04:42] domenukk opened #232 "C-Minimized Corpus Without New Instrumentation"
On unicornafl, my ~200k test cases get reduced to ~1300.
So far, so good.
However, after I resume fuzzing with my test-cases previously minimized using `afl-cmin`, I get a ton of "no new intrumentation" errors.
I recon this should never happen.

[2020-03-06 08:56] rish9101 commented on #231
Hi, I am a GSoC 2020 aspirant. I was looking for good simple issues, to begin with. Can I take this issue up?

[2020-03-06 09:39] fuzzah opened #233 "docker image build fail"
Hello.  Seems like docker image is not buildable as of now:
[code]

Relevant log part:
[code]

[2020-03-06 10:51] fe7ch opened #234 "QEMU mode for 32bit binary on 64bit host"
I would like to fuzz a binary compiled for x86 system on the x64 host.

I've compiled QEMU with TARGET_CPU=i386 and verified that I can fuzz the binary with the following command line:

`afl-fuzz -i in -o out -Q -m none ./test @@`

I have troubles with the qemu persistent mode. I have specified the address of the main function into AFL_QEMU_PERSISTENT_ADDR (I know that specifing main doesn't make

[2020-03-06 10:53] andreafioraldi commented on #234
have you set also AFL_QEMU_PERSISTENT_GPR=1 ?
it make sense of course to specify main, you avoid the overhead of fork().

[2020-03-06 10:54] fe7ch commented on #234
Yes, AFL_QEMU_PERSISTENT_GPR=1 is set.

[2020-03-06 10:54] andreafioraldi commented on #234
If you continue to experience the issue. set AFL_DEBUG_CHILD_OUTPUT=1 and post the output here

[2020-03-06 11:14] fe7ch commented on #234
The output with the activated `AFL_DEBUG_CHILD_OUTPUT`:
[code]

[2020-03-06 11:16] fe7ch commented on #234
The `unsupported ioctl` and `libGL error` shouldn't be a problem, it's printed even without persistence mode.

[2020-03-06 11:18] hexcoder- commented on #230
ok, Ctrl-C should terminate afl-cmin, but currently only terminates its child afl-showmap.
I will investigate how to change that.
@van-hauser: What exit code does afl-showmap set, when Ctrl-C'ed?

Regarding verbose progress while producing trace files:
That would have to be added in afl-showmap (-i dir mode).

[2020-03-06 11:20] fe7ch commented on #234
Also I've read in documentation that `AFL_QEMU_DEBUG_MAPS=1` might help with determening the correct image base for `AFL_QEMU_PERSISTENT_ADDR`, but as far as I see my binary is loaded with different image base on every run of afl-qemu-trace (thanks aslr, probably).

[2020-03-06 11:28] hexcoder- commented on #232
Can you reduce to two minimized test cases that produce 'no new instrumentation' and run
afl-showmap -A on them?
It would be interesting to know if the shown tuples are different or not.
That should cast some light on this issue.
Thanks.

[2020-03-06 11:33] fe7ch commented on #234
Okey, after poking around with deferred initialization I've found out that VA where QEMU loads x86 PIE binary is `0xffffa000` instead of `0x40000000000` that's used for x64 binaries.

When I ran the persistence mode with this offset I had a crash (deferred mode runs fine):

[code]

[2020-03-06 11:45] fe7ch commented on #234
@andreafioraldi Thank you for pointing `AFL_DEBUG_CHILD_OUTPUT ` option. The problem is solved. Bugs:

1. The documentation lacks image base for x86 PIE for QEMU mode
2. For unknown reason QEMU wasn't able to correctly determine the end of function (ret instruction). It caused the crash. This one solved by manually setting `AFL_QEMU_PERSISTENT_RET` option.

[2020-03-06 15:39] rish9101 commented on #231
I did a little finding on implementing timeouts without signal and alarm. For a simple read(from stdin) of course, select would work fine. And for other time handling cases, POSIX timers could also be used and a separate(callback) function could be called after each timeout. Would this work? Also, I don't think any timeout is needed while reading from a specific file, right?

[2020-03-06 15:53] domenukk commented on #231
Ah yes kill()ing the child inside a posix timer callback might also work, I've not worked with this api before but it reads like it could work. :)

[2020-03-06 16:13] rish9101 commented on #231
afl-analyze.c, afl-fuzz-runner and afl-fuzz-cmplog are the ones that run an ALARM handler, right? So, basically run the function to be handled inside a child and kill that process if it exceeds the timeout inside the callback. So, can I try and implement it?

[2020-03-06 16:58] domenukk commented on #231
Of course, thank you! ;)

Maybe even work on top of #220 (the wip/nonglobal branch) for now, that way we can build a complete threading PoC at some point. But it's up to you.

BTW initial select try was here:
https://github.com/vanhauser-thc/AFLplusplus/commit/7a20abedbd260001092f8b7d08fef91f452d6def

[2020-03-06 18:05] localh0rs7 commented on #229
thanks for the hint, got this.
there is also a flag mentioned:
`AFL_PYTHON_ONLY`

I tried to set this to "1" or TRUE but get the following warning:

`[!] WARNING: Mistyped AFL environment variable: AFL_PYTHON_ONLY=`

What is the value of the env variable supposed to be?
There is no specification about this as far as i saw.

[2020-03-06 18:11] rish9101 commented on #231
Cool. I'll start with it. Thanks. BTW, if you don't mind, any other contact of yours that I can have? Maybe, a telegram or something? It'll be a little easier to contact :)

[2020-03-06 18:14] h1994st commented on #229
@localh0rs7  In a recent commit, `AFL_PYTHON_ONLY` has been removed in the master branch. This is why you saw the warning. If you want to only use the custom mutator, try to set `AFL_CUSTOM_MUTATOR_ONLY`. (See [docs/custom_mutators.md](https://github.com/vanhauser-thc/AFLplusplus/blob/master/docs/custom_mutators.md))

[2020-03-06 18:35] hexcoder- commented on #230
I found a way 0d4f2da to detect a terminated child under GNU awk (Linux), which seems to be the only
awk implementation, where signals are (correctly) ignored during system():

[code]
Under nawk (*BSD) and mawk (Raspbian) system() does not switch to ignoring the signals (which it should!), so this problem with not terminating is not there anyway.

[2020-03-06 18:49] hexcoder- commented on #230
@vanhauser-thc : Regarding
[code]
Line 354 in afl-showmap.c looks wrong to me.
If it is only reached in folder mode (as the message suggests) I would delete it
(in folder mode `out_file` only contains the output directory path, not a file path).

[2020-03-06 20:14] andreafioraldi opened #236 "AFL_QUIET ignored in some parts of LLVM mode"
There is some code in LLVM mode that prints additional info on stderr (e.g. laf-intel) also when AFL_QUIET=1.

[2020-03-06 20:26] andreafioraldi commented on #191
If I compile afl-fuzz without the Python support, there are routines that are not linked @h1994st
[code]

[2020-03-06 20:27] andreafioraldi commented on #191
You can check if USE_PYTHON is defined using the preprocessor

[2020-03-06 20:30] h1994st commented on #191
@andreafioraldi I see. Thank you. I should use `USE_PYTHON` to wrap up `load_custom_mutator_py`.

Will submit the pull request to fix it and the two new hooks.

[2020-03-07 10:00] andreafioraldi opened #237 "Not colliding edge coverage in QEMU"
My idea for this is the following:
- we need a variable-sized shared map
- th edge ID is taken from a monotonic counter
- edge ID is assigned at translation time (so the child has to communicate it to the parent)

To achieve this, we will lose thee feedback from indirect jumps. The idea is to patch the chaining mechanism (when a target of a jump is known it is hotpatched in the block) to jump to a

[2020-03-07 11:12] andreafioraldi commented on #191
https://github.com/vanhauser-thc/AFLplusplus/commit/172d384bf26b57beecbe084d19530ebc34a6e3fc
I changed a bit afl_custom_fuzz to avoid to allocate a huge amount of memory, @h1994st can you check it?

[2020-03-07 16:14] h1994st commented on #191
Yes, I will check it today.

[2020-03-07 18:58] h1994st commented on #191
Hi @vanhauser-thc (maybe @andreafioraldi as well),

May I know why you think we need two arguments for `afl_custom_queue_new_entry`. It seems this hook will only analyze the newly added queue entry. What is the purpose of passing `filename_orig_queue`? Thank you.

[2020-03-07 19:02] andreafioraldi commented on #191
filename_orig_queue is the testcase from which this new testcase is generated. You can use queue_cur->filename to take it.

[2020-03-07 19:15] h1994st commented on #191
OK, I am just not very sure about the reason behind it. :(

Do you mean that, with two arguments (original and new), the custom mutator can analyze whether the mutation strategy works effectively or not? If we only take `filename_new_entry`, I think thatwe can still analyze the coverage information. Is it necessary to also include `filename_orig_entry`?

[2020-03-07 19:32] andreafioraldi commented on #191
You may want to keep track of the generator testcase in general, is a nice thing to have it.

[2020-03-07 19:48] rish9101 commented on #231
Hi, I replaced the alarm function with select for forkservers. https://github.com/rish9101/AFLplusplus/commit/8e541c3086f52569486793e3ecad767d4d758372
Also, I am now working on using POSIX timers for dumb-mode and cases when we don't have an fd to monitor. But I have a question, in afl-fuzz-cmplog also, the same timer handling was used as in afl-forkserver, so why do we have to handle the same tim

[2020-03-07 20:12] domenukk commented on #231
Of course! Better architecture is always appreciated. :)
As for telegram I don't have it yet but Andrea does. I could invite you to our signal group?

[2020-03-07 20:23] rish9101 commented on #231
Yes, Please. That would be nice. :)

[2020-03-07 21:44] h1994st commented on #191
I see. Just submitted the pull request. You can take a look. @andreafioraldi Thank you!

[2020-03-08 13:50] vanhauser-thc commented on #233
the custom mutator interface is currently rewritten hence this can fail for a while I guess.

[2020-03-08 13:51] andreafioraldi commented on #233
Are you using the current git master?

[2020-03-08 14:38] vanhauser-thc commented on #237
The map doesn’t need to be variable necessarily - just very large and the highest count given out so far transferred via the fork server. With qemu the map is in the qemu binary and not in the target hence a large map size should not degrade the performance like it does in normal targets

[2020-03-08 14:40] andreafioraldi commented on #237
I mean this with variable sized, as written on Signal we will create a 2^20 + sizeof(u32) map to track also the highest count

[2020-03-08 14:43] vanhauser-thc commented on #237
2^20 should be more than enough :) still there should be an env var to increase/decrease it

[2020-03-08 15:55] vanhauser-thc commented on #225
For me its  happening with any command after about 5 minutes.
I will have a look at it on Monday

[2020-03-08 15:55] vanhauser-thc commented on #229
It was still in the custom_mutators.md - removed it.
@localh0rs7 - thanks for reporting!

[2020-03-08 15:58] #229 closed

[2020-03-08 19:01] localh0rs7 opened #242 "Feature Implemetation: afl python fuzz() response parameter"
I am currently working at a project for my university where i want to create a custom AFL mutator which reacts on a response buffer from my binary.

I looked into the implementation for a way to modify the prototypes and calls to my needs, such that i can add an additional parameter to the python fuzz() definition.

I searched and modified the calls for `mutator->afl_custom_fuzz(...)` from `src/af

[2020-03-08 19:10] h1994st commented on #242
Hi @localh0rs7, the function definitions of the python wrappers are located at:

https://github.com/vanhauser-thc/AFLplusplus/blob/783f3b0957094fd04b5a9cde085359c26be1fbb4/include/afl-fuzz.h#L686-L695

Are these what you were looking for?

[2020-03-08 19:15] h1994st commented on #233
I think @andreafioraldi has fixed this problem in the master branch, as I forgot to use `USE_PYTHON` to wrap up `load_custom_mutator_py`. That's why this error occurs while compiling without Python support.

[2020-03-08 19:19] localh0rs7 commented on #242
yes, i already looked at this but did not found the code that defines the exact prototype of the python function for the inserted hooks in `afl_fuzz_python`. So only modifying them (adding another buffer) and push them to `pyargs` did not work, because the prototype wants the last argument to be the custom defined  `max_size` and not the one I added.

So is there another logic I have to care about

[2020-03-08 19:25] h1994st commented on #242
It seems an execution error. Did you check the implementation of your python module? I mean the Python module you pass into AFL++.

If you add extra arguments for the custom mutator, you have to also update your implementation, while developing the python module. Otherwise, your python module will not match the interface you define in AFL++.

[2020-03-08 19:27] domenukk commented on #233
Why don't we include python in the docker btw? Especially now that the mutators are more powerful

[2020-03-08 19:31] localh0rs7 commented on #242
Yes, i added the argument to my python module. So far i only get a memory address error if i modify the  py_args:

`
size_t fuzz_py(u8** buf, size_t buf_size, u8* add_buf, size_t add_buf_size, size_t max_size,u8* response_buf, size_t response_buf_size){
[...]
py_args = PyTuple_New(4);
[...]
py_value = PyByteArray_FromStringAndSize(response_buf,response_buf_size);
PyTuple_SetItem(py_args, 3, py_val

[2020-03-08 19:33] h1994st commented on #242
OK, may I take a look at the code snippets of all your modifications and the execution log?

[2020-03-08 21:16] andreafioraldi commented on #191
We should insert typechecks on the return values in the python mutator. If a method returns a value of a wrinf type, the fuzzer segfaults. We shout insert a descriptive error.

[2020-03-08 21:25] localh0rs7 commented on #242
changed prototypes:

https://github.com/vanhauser-thc/AFLplusplus/blob/783f3b0957094fd04b5a9cde085359c26be1fbb4/include/afl-fuzz.h#L687

https://github.com/vanhauser-thc/AFLplusplus/blob/783f3b0957094fd04b5a9cde085359c26be1fbb4/include/afl-fuzz.h#L492

[code]
Implementation:

https://github.com/vanhauser-thc/AFLplusplus/blob/783f3b0957094fd04b5a9cde085359c26be1fbb4/src/afl-fuzz-python.c#L181

[cod

[2020-03-08 21:30] h1994st commented on #242
https://github.com/vanhauser-thc/AFLplusplus/blob/783f3b0957094fd04b5a9cde085359c26be1fbb4/src/afl-fuzz-python.c#L218-L226

Did you add the response buffer after Line 223?

[2020-03-09 00:30] domenukk commented on #191
I'm working on getting this ready for the non-global branch, however advanced custom mutators would still depend on globals with the current api.

I suggest adding the following to the c api:
`afl_custom_init` should be of `void *` return type.
Each function should take a `void * mutator` param, receiving the pointer returned by init. A new method `afl_custom_destroy` is called on exit to free all

[2020-03-09 02:36] domenukk commented on #226
Building a single .c file and running it directly leads to an uninstrumented binary (as there is no linking phase, probably)
I just stubled upon this when compiling `./AFLplusplus/unicorn_mode/samples/persistent/persistent_target.c` with lto.
We may want to document this as not everybody knows what LTO means?

[2020-03-09 06:10] vanhauser-thc commented on #226
this is a special issue with persistent mode. I have not looked into it but noticed that there is an issue and it is on my list. Thanks for reminding me though.

Single C files work fine, e.g. try test-instr.c

[2020-03-09 07:33] andreafioraldi commented on #191
Ok i approve the changes.
@h1884st do you want to join the signal group?

[2020-03-09 07:44] vanhauser-thc commented on #226
OK I am finished with reviewing LTO.

I fixed several bugs I had in the code, but for the targets that were not working there is not much I can do. Several reasons:

* If a target has defined several times the same global function or variable this can be worked around  with "-Wl,--allow-multiple-definition". However there is no option for this in llvm-link and there is no reaction to that when I p

[2020-03-09 07:50] rish9101 commented on #231
Hi, I've added the POSIX timers to the afl-fuzz-run code. #241

[2020-03-09 07:52] vanhauser-thc commented on #232
@domenukk please dont forget to send hexcoder- the info :)

[2020-03-09 07:53] vanhauser-thc commented on #233
@domenukk python is in the Dockerfile :)

The dockerfile builds fine now. closing the issue. Thanks for reporting!

[2020-03-09 07:53] #233 closed

[2020-03-09 09:04] hexcoder- commented on #225
How about adding `O_EXCL` to the first open also?
I would reason that the file needs to be used exclusively in any of both variants.

[2020-03-09 09:40] localh0rs7 commented on #242
I already added this like the checks for the other arguements.
The problem is only the call to `mutator->afl_custom_fuzz`.
The response buffer is defined in `src/afl-fuzz-one` directly after the add_buffer (the normal fuzz() paramter). I also did try to insert this one as additional parameter a second time, but it also does not work.

[2020-03-09 09:43] vanhauser-thc commented on #225
@hexcoder- well as this is for "no unlink" it means the file is already there hence the O_EXCL will make this fail and the fuzzing will abort. and this will happen at the second generated input.

[2020-03-09 09:57] vanhauser-thc commented on #236
I hope I got them all in dcf7d85

[2020-03-09 10:01] vanhauser-thc commented on #236
no there are passes which use errs() ... sigh

[2020-03-09 10:08] vanhauser-thc commented on #236
OK got them now all I think. several were in your code ;)

[2020-03-09 10:09] vanhauser-thc commented on #236
df74ede

[2020-03-09 10:19] andreafioraldi commented on #236
yes I copy-pasted from laf passes

[2020-03-09 10:19] #236 closed

[2020-03-09 10:35] domenukk commented on #191
Be aware: for the non-global AFL I'm passing `afl_state_t` to each custom function call right now as python mutators wouldn't work otherwise.
I can change it to take the first global afl for the time being (?)

[2020-03-09 14:43] h1994st commented on #242
If you add codes at Line 223, `py_args` would have been destroyed at Line 222. That's probably why you had the error before.

For the new problem, yes, the response buffer has to be freed. I cannot see the reason for now. It would be nice to see the execution log and the backtrace.

[2020-03-09 14:59] localh0rs7 commented on #242
I try to figure that out over the next couple of days.
Is there any efficient ways to pass buffers from instrumented binaries directly to afl, e.g over custom desfined shims or similar?
I am yet searching for an efficient way to do this without logfile parsing.

[2020-03-09 15:59] domenukk commented on #242
The best way would right now be to patch in another sharedmap or increase the normal map's size reuse parts that one.
alternatively you could patch in more interaction over pipes.

[2020-03-09 16:01] domenukk commented on #191
@h1994st send us your phone number to gsoc@aflplus.plus

Also can you adapttthe mutator api according to
https://github.com/vanhauser-thc/AFLplusplus/issues/191#issuecomment-596450115

Thanks

[2020-03-09 16:07] h1994st commented on #191
@domenukk
Sure, I can try to port the custom mutator to non-global AFL.
Sent the number.

[2020-03-09 16:08] domenukk commented on #191
Already ported it, but I had to break the api/add a pointer to the afl state.
This should be replaced with its own data pointer as discussed above.
Thanks :)

[2020-03-09 16:09] h1994st commented on #191
Got it!

[2020-03-09 18:44] vanhauser-thc opened #244 "fixing "no globals""
@domenukk I am out of time for today for fixing.

afl-tmin and afl-showmap do not work if the input is sent via stdin (but fine in file/@@ mode).

[2020-03-09 20:35] domenukk commented on #244
Worked on it with commit 1136e88.
Keeping this issue open until travis finishes

[2020-03-09 20:53] domenukk commented on #244
Leaks are gone, albeit afl-cmin and afl-tmin still seem broken.
I sadly don't have the time to fix it right now.

[2020-03-10 05:58] vanhauser-thc commented on #244
The issue was that neither afl-tmin nor afl-showmap were initializing their fsrv structure like afl_init() is doing in afl-fuzz.
So what I implemented is that in afl-forkserver.c fsrv_init() checks if use_stdin is 1 (which is the default), and if not then set the necessary defaults.

afl-tmin and afl-showmap work now and test.sh runs through clean with ASAN enabled

I think we should keep the issu

[2020-03-10 06:42] vanhauser-thc opened #245 "Keep master stable and use a dev branch?"
In the last week we did a major change to afl++ that has a high impact and can have yet unknown consequences. And it broke our master for over a day.

We develop a lot in the master, so sometimes the master is broken for some time.
For people who clone, compile and work from master this can be problematic as they might get a state that has a big bug or doesnt compile.
So a solution for that would

[2020-03-10 07:09] vanhauser-thc commented on #244
I did a speed comparison and it might be a little bit slower, but it is so minimal (maybe < 0.5%) it is not important IMHO.

What is however a big issue is that the results are not uniform.

What I mean is: with "old" afl-fuzz if we set a fixed random number initialization (e.g. `-s 123`) then the results would be uniform meaning the path discovered etc would happen at the exact same step and are

[2020-03-10 08:27] andreafioraldi commented on #245
As I said before, a devel branch is the right choice to take. People use AFL++ mainly cloning master, we got issues about dead bugs fixed in master by people that cloned master just one day before the fix many times.

[2020-03-10 08:30] andreafioraldi commented on #244
`fsrv_init() checks if use_stdin is 1` this is a dirty hack, I'll find a better solution in the next days (maybe this evening).

Regards the mutation yes this is a problem, but the bug can be in any part of the code that calls UR not only in fuzz_one. I'll take a look.

[2020-03-10 09:34] domenukk commented on #244
Why not always initialize?
Init is called at the very beginning anyway, the variables will be overwritten afterwards.

[2020-03-10 10:22] domenukk commented on #245
I second this.
- only push to dev and accept PRs against dev
- only merge/rebase into master if Travis is happy with dev
- lock down master in github settings

[2020-03-10 10:23] domenukk commented on #245
(or alternatively have a `stable` branch and communicate this fact in the docs)

[2020-03-10 10:37] vanhauser-thc commented on #244
there are 3 clients to the forkserver -> tmin, showmap and fuzz. fuzz performs its own init and the adding to the list function, tmin and showmap call fsrv_init which did nothing else than calling the adding to the list function.

hence I think we can remove the if() check there and hard code the initialization.

that was before I checked who is doing what.

[2020-03-10 10:54] domenukk commented on #244
In the long run we should probably initialize the forkserver inside the forkserver method, with all consumers passing in the variables.
that way other tools can use the forkserver more easily and we can swap it out against different implementations

[2020-03-10 11:32] vanhauser-thc commented on #244
I checked the random init - it is still the same and all var assignments etc. look good.
As with the same -s value the "non global" afl-fuzz produces different results it seems like there is a bug in the mutator

[2020-03-10 13:17] vanhauser-thc commented on #230
@hexcoder- I think this is fixed now?

[2020-03-10 14:40] hexcoder- commented on #245
Ok, one question would be, when is new code considered to be stable? Without rigerous testing that is sometimes difficult  to decide.
So we would have several levels then:

- The releases (which should be very stable)

- The master branch, which consolidates the dev branch and passes `make tests` on travis

- The development branch for active work in progress

- Other experimental branches for con

[2020-03-10 14:50] vanhauser-thc commented on #225
OK I get a little further.
The issue is that in_buf is an illegal address.

making this change:
[code]

Gives this output:
[code]
The question is then - why is in_buf an illegal address when -N but not without? weird.

[2020-03-10 14:55] hexcoder- commented on #230
@vanhauser-thc: Please check afl-showmap.c (now at line 334) first. See my comment above.

[2020-03-10 15:01] hexcoder- commented on #225
Looks to me like `q` is corrupted.

[2020-03-10 15:09] vanhauser-thc commented on #225
But the bad address space is on in_buf, accessing q produces no memory errors.

Another thing that is weird - the faster the execution the earlier this bug shows. and the more debug statements, ASAN etc. - the slower the program gets and the longer it takes to trigger (or it doesnt trigger the bug at all). so some kind of race condition or so.

[2020-03-10 16:07] vanhauser-thc commented on #225
and now I cannot trigger it anymore. I don't get it

[2020-03-10 17:07] domenukk commented on #231
This was fixed by #243

[2020-03-10 17:07] #231 closed

[2020-03-10 18:21] h1994st commented on #245
I agree with the design of multi-level branches.

Here is a very good example and commonly used by many software teams: [Gitflow Workflow](https://www.atlassian.com/git/tutorials/comparing-workflows/gitflow-workflow). A quick summary:

We can take a look at it. This workflow model is also shipped with a tool called `git-flow`. If necessary, we can transition to it.

[2020-03-10 18:27] domenukk commented on #245
I'm pro `dev` instead of `develop`, less typing/tabbing

[2020-03-10 18:29] h1994st commented on #245
Yeah, I agree.

[2020-03-10 21:55] domenukk commented on #244
Do you run MOpt-based mutators? These were the largest change I had to make.
Apart from that, either one variable now that was supposed to be local now uses `afl_state_t` by accidents, or the different results are simply cause by more allocations that may also call random()?

[2020-03-10 22:23] vanhauser-thc commented on #244
No, not MOpt ... "classic" ... also no radamsa or custom

[2020-03-10 23:46] domenukk commented on #245
So all in favor. @vanhauser-thc, make the changes if you find the time :)

[2020-03-11 00:23] vanhauser-thc commented on #245
I dont have the time, I am leaving tomorrow for a vacation without laptop - you guys make the necessary changes :) you are all grown up! :p

[2020-03-11 00:27] domenukk commented on #245
Enjoy

[2020-03-11 09:21] andreafioraldi opened #248 "perf-fuzz virtual machine"
The speedup of the snapshot() syscall is so high that would be a pity to not use it, especially after having AFL++ scaling on all the threads of the CPU.
Reding the code, it cannot be ported to a LKM due to the patch to the page fault handler.
We don't need the code to share the testcases in memory, just the snapshot() syscall.

My proposal is to port https://github.com/andreafioraldi/perf-fuzz-li

[2020-03-11 09:24] vanhauser-thc commented on #230
it is in the forkserver handler so yes, it is only folder mode, and yes then out_file is actually an output directory.
It would however say that in this case afl-cmin could wipe the directory as the caller and we remove that close() from afl-showmap?

[2020-03-11 09:30] vanhauser-thc commented on #248
I know the patch and that is what I thought that is cant be put into a lkm - but I am not a kernel expert, just a novice.

would the speedup be so beneficial that is still performing better in a qemu-kvm vm compared to a stock native kernel?

[2020-03-11 09:50] andreafioraldi commented on #248
Yes, and a native kernel performs almost like a kernel in a modern hypervisor.

[2020-03-11 09:59] andreafioraldi opened #249 "LTO deprected setAlignment warning"
I got this warning when building in fuzzbench

[code]

[2020-03-11 10:01] andreafioraldi commented on #249
Got also `[!] WARNING: Mistyped AFL environment variable: AFL_LLVM_INSTRIM_SKIPSINGLEBLOCK=1`
That is wrong, I coped the env var from the Reame

[2020-03-11 10:07] andreafioraldi commented on #249
There is also AFL_QUIET so this warning should not be here anyway

[2020-03-11 10:08] hexcoder- commented on #230
Yes, ok, I will remove the line in afl-afl-showmap.c, add clearing the output directory to afl-cmin when Ctrl-C'ed and then close this issue.

[2020-03-11 10:38] vanhauser-thc commented on #248
Copying Dominik's link here about memory snapshots for Docker: https://dl.acm.org/doi/10.1145/3357526.3357542
(no clue how performant or production ready or even code availability is)

[2020-03-11 10:41] vanhauser-thc commented on #249
fuzzbench align warning: which llvm version is that?

mistyped env var warning:
this might be because you use a specific checkout? because in trunk:
[code]

I agree on the warning -> afl_quiet, just added that.

[2020-03-11 11:35] #230 closed

[2020-03-11 15:17] fuzzah opened #251 "uninstall target in makefile"
Hi.
Please add uninstall target in makefile.

[2020-03-11 15:31] vanhauser-thc commented on #251
How about you send a PR?

Also an uninstall is a rare thing to be supported

[2020-03-11 15:48] andreafioraldi commented on #249
idk which LLVM version is, it is the OSS-Fuzz docker.
fuzzbench wants a specific checkout, I updated it now to the latest commit in master.

[2020-03-11 15:48] andreafioraldi commented on #249
Probably is LLVM 8 I guess

[2020-03-11 18:39] vanhauser-thc commented on #249
That might be llvm 8. In the current state lto only builds with 9+ because the SplitEdge function produces bugs on older llvm versions

[2020-03-12 12:48] ChakshuGupta opened #255 "Error building gcc_plugin"
![afl-gcc_plugin](https://user-images.githubusercontent.com/6474622/76522943-ca7fbe80-6467-11ea-9ae2-3845d45e822c.png)

"make all" command failed when trying to build "gcc_plugin"

Env - Ubuntu 18.04
gcc (Ubuntu 7.4.0-1ubuntu1~18.04.1) 7.4.0
clang version 6.0.0-1ubuntu2

[2020-03-12 12:51] andreafioraldi commented on #255
Install the gcc headers, the error is clear

[2020-03-12 15:05] fuzzah commented on #255
for dpkg based distros:
`# apt install gcc-9-plugin-dev`

for rpm based distros:
`# yum install devtoolset-9-gcc-plugin-devel`

[2020-03-12 15:05] domenukk opened #256 "Extend afl-whatsup"
`afl-whatsup` does not show time since last path nor hangs, but it would be interesting to know these.

[2020-03-12 15:18] fuzzah commented on #256
It could also:
1. work as status screen (I simulate it with `watch -t afl-whatsup -s -o out`).
2. use colors to indicate 'good & bad' things as in status screen.
3. show more / better stats, e.g. total speed & average speed, more precise number of execs (not only millions of execs), number/percent of timeouts, path discovery speed etc.
4. show summary by default (-s).
5. show binded cpus / cpu usa

[2020-03-12 16:40] ChakshuGupta commented on #255
Thanks. Maybe this can be added to the build instructions?

[2020-03-12 16:41] #255 closed

[2020-03-13 05:52] chibinz commented on #256
Interested in working on this.
If my understanding is correct,  `afl-whatsup` looks for fuzzer_stats in the output directory and prints it to the command line. However, I am not sure what this line(88) of code in `afl-whatsup` does. Could you give some explanation?
[code]

[2020-03-13 17:56] fuzzah opened #258 "Questions regarding fuzzing workflow using AFL++ / Best practices?"
Sup. My questions as of today:
1. Do we have some place for silly questions like this one?
2. Do we have some 'best-practice' fuzzing workflows using new AFL++ features? / How do maintainers use AFL++ to maximize fuzzing efficiency? (there are so many options and new features though tutorials on the net are just some 'stories of success' literally only demonstrating some fuzzing capabilities using

[2020-03-14 07:26] chibinz commented on #256
@fuzzah
Regarding your suggestions, I have a few questions
3. I think million is a unit accurate enough for measuring fuzzing executions. You typically fuzz for hours, if not days, and the program is usually executed thousand times per second. So, may be it's not that interesting to know the number below millions.
4. afl-whatsup shows briefing for **all** running fuzzers. However, setting -s omit

[2020-03-14 11:19] fuzzah commented on #256
@chibinz , thank you for PR.
Millions of runs is good once you reach millions of runs. If you have speed like 10 execs / second, then it will still show as 0 million runs for few days in a row. It may show at least something like 0.03 million runs, but not 0! Same goes for total run time. "0 days, 0 hours", it would be great to also show minutes, at least for early run stages.
Regarding -s for afl

[2020-03-15 11:05] #251 closed

[2020-03-15 11:05] #249 closed

[2020-03-15 11:08] vanhauser-thc commented on #245
Will do so mid of the week

[2020-03-15 11:09] vanhauser-thc commented on #244
@domenukk @andreafioraldi @hexcoder- we really need to find this issue. I have a longer train ride today where I will try to dig deeper into it ... please help out and have a look too if you have the time

[2020-03-15 13:12] chibinz commented on #258
+1
AFL++ is iterating very fast and many features are added constantly.
- Some features are inherited from AFL and may not work so well nowadays(deprecate them?).
- Other features work well under specific circumstances but not all the time(There are readmes for each individual feature, and the --help print out. Maybe gather them together, better docs?)
- There are also features that suit most fuzz

[2020-03-15 15:36] vanhauser-thc commented on #258
Some input from me:

Stage 1 stept 2 + 3 ... I would not waste my time on it, but it might be a useful move for horribly bad targets. but on such target you dont need fuzzing as the project is already broken.

Stage 2 step 2: Try afl-clang-lto/afl-clang-lto++ first (it is the fastest instrumentation and has 0 map collision/pollution), if it this does not build then use afl-clang-fast/afl-clang-fas

[2020-03-15 15:39] vanhauser-thc commented on #258
We should wait for more comments from @hexcoder- @andreafioraldi @domenukk and maybe other users/reader, and then you can create a docs/README.best_practices.md and send a PR :)

[2020-03-15 16:28] vanhauser-thc commented on #244
OK, one step forward:

there is no bug in the mutation. The mutations are exactly the same if the `-s` option is used - I verified this with afl-fuzz-document (`make document`).

However: post-"no globals" reports 77 paths on a given test case, whereas pre-"no globals" reports 75 paths. Same instrumented binary, same mutations being performed. and different post-"no-globals" runs can result in dif

[2020-03-15 17:10] vanhauser-thc commented on #255
You mean like in the README.md of gcc_plugin? well ...

[code]

;)

[2020-03-15 17:15] vanhauser-thc commented on #244
the two variables that become wrong are: afl->pending_not_fuzzed and afl->queued_paths. They are between +0 to +2 higher in my tests than the real value they should be.

[2020-03-15 19:32] vanhauser-thc commented on #244
I think I found the issue.
the UI is rendered at different times when stop_soon is reached, hence a different state is displayed in the end. I will fix this by rendering it one last time before the exit print screen message is written

[2020-03-15 21:51] vanhauser-thc commented on #244
fixed with 61ba214

[2020-03-15 21:51] #244 closed

[2020-03-16 22:43] domenukk opened #260 "Segfault for ctrl+c on a new instance"
This happens at least in QEMU mode and non-instrumented mode:
When I hit ctrl+c before fuzzing starts (after `All set and ready to roll`), AFL dies with `SIGSEV` and destroys the console output on it's way.
![image](https://user-images.githubusercontent.com/297744/76805563-69494980-67df-11ea-9db9-f92ca3089174.png)

[2020-03-16 22:46] domenukk commented on #260
Looks like it tries (and fails) to paint the ui one last time
[code]

[2020-03-16 23:01] domenukk commented on #260
Fixed with Commit a57896a - it was a sideproduct of the new extra rendering step at the end.

[2020-03-16 23:01] #260 closed

[2020-03-17 04:38] buptsseGJ opened #261 "build_qemu_support.sh for arm fails"
Hi,   The build_qemu_support.sh fails when compiling for arm support with the following command:
`$ env CPU_TARGET=arm ./build_qemu_support.sh`

For the i386 and x86_64 supports, it works well. However, for any other architecture supports, it has the same issue. For example, the `armeb` architecture has the following relevant error.
[code]
There seems to be a problem with qemu-3.1 used here, and n

[2020-03-17 12:34] buptsseGJ commented on #261
With another run, the error also contains `unknown type name ‘CPUX86State’; did you mean ‘CPUARMState’?`.
[code]
Thanks.

[2020-03-17 13:34] hexcoder- commented on #256
As a first step i accepted the PR #257 (after some portablity changes). We can incrementally enhance it from here.

[2020-03-18 04:30] NishanthMolleti commented on #208
I'm good at C , C++ and Python . I've also done a few small projects on them and I'd rather say that I'm a complete beginner in this field . Would I be selected If I'm just innately curious to bring out something catchy?

[2020-03-18 08:45] vanhauser-thc commented on #208
@NishanthMolleti  to be able to write useful mutators etc. you need to know what you are doing and be able to test the effect of what you doing on the fuzzing process (and of course, their results). its not super complex rocket science that needs to be studied for years, but it will take a few months to understand how fuzzing works, how afl++ works, get hands-on experience, etc. - so as you have t

[2020-03-18 14:08] TheFrogRammer opened #263 "Passing filename to new crash script execution"
Hi,
When using the -I flag, a commad/script is executed for each new crash. It would be great if the script that is called will receive the new crash filename. It's a minor change, though in case of a command it might interfere with the command parameters. Maybe replace @@ with the new crash filename?
What do you think?

[2020-03-18 16:10] GrosQuildu opened #264 "Coverage metrics, afl-sensitive"
Good morning.

I wonder if you plan to implement more coverage metrics? Question inspired by https://github.com/bitsecurerlab/afl-sensitive

Not sure if that would be beneficial in practice, but the paper concluded so.

[2020-03-18 20:05] andreafioraldi commented on #261
Oh sorry, this is a regression of a recently added feature.

[2020-03-18 20:19] #261 closed

[2020-03-18 20:19] andreafioraldi commented on #261
Should be fixed now, can you double check the fix @buptsseGJ ? ty.

[2020-03-18 20:26] andreafioraldi commented on #264
Can you link the paper?

[2020-03-18 20:33] strongcourage commented on #264
I think this one: https://www.cs.ucr.edu/~heng/pubs/afl-sensitive.pdf

[2020-03-18 20:44] andreafioraldi commented on #264
For sure collisions will increase a lot, I'll be not surprised to see that this approach is decremental on larget targets. However we should evaluate it, IMO we will not do it immediately cause there is a lot of pending work in AFL++ atm.

[2020-03-18 22:07] vanhauser-thc commented on #263
This brings unnecessary complexity IMHO.
it is easy to get the filename. its in the -o out directory, crashes and there the last written file. (eg `ls -tr out/crashes/| tail -n 1`) - so your script can easily do that.

[2020-03-19 03:56] buptsseGJ commented on #261
I have tried the 2e4fda6 commit, it works well. Thanks again.

[2020-03-19 08:46] vanhauser-thc commented on #245
So this is going down as follows:

step 1: creating a new organization - DONE
step 2: Dominik (DONE), @hexcoder- and @andreafioraldi join the organization
step 3.1: I move the repository to the organization and
step 3.2: I create the branch "dev"
step 3.3: I update all pointers in the repo to the new repo location
step 3.4: I update the readme to describe the dev/trunk concept

steps 3.1-3.4 will

[2020-03-19 08:51] domenukk commented on #245
Github allows you to lock down master in the repo settings.
Also I'd stick with calling it master, trunk is _very_ svn 🙃

[2020-03-19 09:04] vanhauser-thc commented on #245
guess what I am using :p

[2020-03-19 14:54] vanhauser-thc commented on #245
moving, renaming, etc. all done.

I did not create a release branch because we have release downloads and it would mean managing one more branch ...

[2020-03-19 14:57] vanhauser-thc commented on #245
I modified the setup so a review is required to pull from dev to master - lets see if it works.

any other things that still have to be done?
btw I gave you all admin status.

@andreafioraldi @domenukk @hexcoder-

[2020-03-19 15:02] domenukk commented on #245
The main branch, if cloning from aflplusplus/aflplusplus is now dev.
I think this should still be the master branch, else a simple clone && make
will still fail.

Apart from that, it looks good :)

On Thu, Mar 19, 2020 at 3:57 PM van Hauser <notifications@github.com> wrote:

[2020-03-19 15:08] vanhauser-thc commented on #245
@domenukk ah damn. I dont know how to config this then so that PRs always go to dev but master is still the main.
you have admin perms and maybe can set it up like it should be.

alternative would be that every PR has to be reset by hand to dev ...

[2020-03-19 15:55] vanhauser-thc commented on #264
qemu_mode code: https://github.com/bitsecurerlab/afl-sensitive/tree/elf_and_lava
llvm_mode (just ngram-X) code: https://github.com/adrianherrera/afl-ngram-pass

from the paper results ngram-2/4/8 seem to make the most sense plus we already have branch coverage.

Once I am done with my scheduling tests (added one yesterday, currently working on second), I will check this out (the llvm_mode one) in

[2020-03-20 08:32] #263 closed

[2020-03-20 08:33] vanhauser-thc commented on #245
I think we can close this now?
If not just reopen or put comments here :)

[2020-03-20 08:33] #245 closed

[2020-03-20 08:35] vanhauser-thc commented on #226
LTO mode is well documented with its limitation now.
We can only make it really good if lld receives pass plugin support: https://reviews.llvm.org/D75879
so closing it for now

[2020-03-20 09:05] vanhauser-thc commented on #8
It works in iOS if the other shmget implementation is used. I hope we get a PR for this.

[2020-03-20 09:07] vanhauser-thc commented on #18
with the current state of afl++ and the large area of change that fairfuzz brings I dont see it a good move to implement :-(
well it can still run as a slave and bring good new paths.
also I added a -p schedule target that should help concentrate on rare branches.
so closing this for now.

[2020-03-20 09:07] #18 closed

[2020-03-20 09:08] vanhauser-thc commented on #197
OK I gave this some thought.

I understand the need to stop the fuzzer when it seems to make no sense to run longer. or at least detect that it is not useful to let it run further.

however when would that be? that is kinda up to the decision of the person running the fuzzing campaign, so this is not something we should code hard.

instead: we expose the necessary information. the missing informat

[2020-03-20 11:27] vanhauser-thc commented on #197
@fuzzah I added it. I think now a script running afl-whatsup can decide if it should terminate the fuzzing campaign or not.

[2020-03-20 11:29] vanhauser-thc commented on #256
Is there anything else afl-whatsup needs?

[2020-03-20 11:33] vanhauser-thc commented on #197
@fuzzah please close the issue if you think its fine now

[2020-03-20 16:12] vanhauser-thc commented on #264
llvm_mode ngram prev_loc coverage is in the dev tree now :)
@GrosQuildu  and @strongcourage - it would be great if you find time to test it. Not only if it works ;) but also how it helps coverage on some targets to compare with and without.

[2020-03-22 00:24] domenukk commented on #256
Closing this for now. :)

[2020-03-23 09:11] andreafioraldi commented on #237
This issue will take some time, I fond that on some target the speed decrease too much with the current patch.

[2020-03-23 09:13] andreafioraldi opened #267 "Use global variables"
Yes, no global is cool but...

There are some state variables, like the status screen vars, that are global and really don't need to stay in a per-thread state structure.

To gain a bit of speed, we should restore them as global vars (sry @domenukk).

[2020-03-23 09:14] andreafioraldi commented on #242
See CmpLog, it uses a shmem of several megabytes to log comparisons.

I'm going to close this issue because is not related to the development of AFL++.

[2020-03-23 09:14] #242 closed

[2020-03-23 09:15] andreafioraldi commented on #185
Now that @vanhauser-thc added the rare schedule, we should deeply test it and evaluate if it can be the default schedule of AFL++.

[2020-03-23 09:22] andreafioraldi commented on #173
I propose to expose havoc as a subroutine to the custom mutator so that you can parse the input in `afl_custom_queue_get` (maybe with a simple memem to find offsets) and apply havoc in a surgical way only on the parts of the input in which you are interested. I'll create a "custom mutator helpers" header that defines this special havoc (without chunk addition /deletion) and other useful helpers fo

[2020-03-23 09:46] vanhauser-thc commented on #185
I also add the mmopt schedule (which is similar to what MOpt does plus ignoring runtime of queue entries).

The plan is to test all schedules in fuzzbench once we are allowed to run many combinations in parallel.

[2020-03-23 09:49] andreafioraldi commented on #173
https://github.com/AFLplusplus/AFLplusplus/blob/dev/examples/custom_mutators/example.c#L64

You can now invoke this routine on a parte of the input to randomly mutatate it.

[2020-03-23 10:31] domenukk commented on #267
I'm not sure that causes the speed decrease (most vars in question now live on the stack instead of global) . I made some functions safer by passing in buffer sizes, we can make them unsafe again for that awesome ugly c feeling

[2020-03-23 12:54] vanhauser-thc commented on #267
for UI they can be global, also sprintf is fine.
Once this is in we can merge IMHO

[2020-03-23 12:54] domenukk commented on #267
I think some proper benchmarking is needed to see where we lose speed. The ui isn't even rendered too often, so...

[2020-03-23 13:21] fuzzah commented on #197
@vanhauser-thc , thank you!

Please take a look at this screenshot of my fuzzing situation:
![image](https://user-images.githubusercontent.com/60884276/77320397-8fac3f00-6d21-11ea-928f-49d245802077.png)

Still with knowledge of `cycles_wo_finds` I couldn't catch that moment when all fuzzing jobs have e.g. 3 hours of not finding paths.

[2020-03-23 13:33] vanhauser-thc commented on #267
If we do benchmarking this will take 2+ days and pile up more stuff we have to merge ... can you revert the snprintf stuff? and the global stuff after the merge?

[2020-03-23 14:54] GrosQuildu opened #268 "Use LLVM instrumentation"
Currently afl [can use](https://github.com/AFLplusplus/AFLplusplus/tree/master/llvm_mode#8-bonus-feature-3-trace-pc-guard-mode) trace-pc-guard [sanitizer coverage](http://clang.llvm.org/docs/SanitizerCoverage.html#tracing-pcs-with-guards). But it is noted that its slower than normal instrumentation, maybe because of inlining.

Maybe we should try to use newer [8bit-counters](http://clang.llvm.org/

[2020-03-23 16:36] vanhauser-thc commented on #268
trace pc guard is a historical feature IMHO. so mabye 8bit counters can improve, it is marked as experimental though

With 8bit counters we need lld to function correctly. On the other hand it might be a way to have non-colliding coverage.

I will keep this open and experiment with it the coming weeks.

[2020-03-23 17:35] vanhauser-thc commented on #173
Of course you can do this in a custom mutator. however it might be nice to have this as a standard feature as well so you can use radamsa, deterministic mutation etc. too

[2020-03-23 22:16] GrosQuildu commented on #268
I think so.

As i have read libfuzzer source code, it uses it, so should be usable.

[2020-03-24 06:37] vanhauser-thc commented on #197
you do. per fuzzer afl-whatsup displays also when the last path was found.
so what information is still missing?

[2020-03-24 10:27] sijohans commented on #258
First when i started using AFL i had something like this:
[code]
I'm just showing a very basic example here. Assume that the **prase_my_data** is buggy and reads perhaps 5-10 more bytes than the input size parameter. Assume further that **bytes_read < sizeof(buffer) - 10)**. Here, AFL would not detect a crash, even if using ASAN. To improve this, i copy the input data to a newly allocated buffer.

[2020-03-24 10:51] domenukk commented on #256
![image](https://user-images.githubusercontent.com/297744/77417501-c471d200-6dc5-11ea-8646-be2b04877ff3.png)

[2020-03-24 11:38] vanhauser-thc commented on #256
that bug should not be there yes.
but last new path ... you want afl-whatsup to parse all childs and then select the one if the newest value?

[2020-03-24 11:49] domenukk commented on #256
Yes that would be great. I have 80 workers running so it's good to know what happens at a glance.

[2020-03-24 12:37] fuzzah commented on #197
Created PR #271
I think in future afl-whatsup could also have some sort of verbose mode or maybe output stats in CSV format, in which all the time intervals would be represented as unix timestamps or "number of seconds since event X" so that it would be easier to parse by third-party tools.

[2020-03-24 14:15] vanhauser-thc commented on #256
I think this is was @fuzzah in #271 is trying to do, however currently he shows the last path of the fuzzer which is the most behind.

[2020-03-24 16:47] vanhauser-thc commented on #268
OK I looked at the 8bit-counters.
They only work when the fuzzing in a thread. so maybe for persistent llvm_mode this could be used. I will look into that

[2020-03-24 19:20] ashiscs commented on #208
@vanhauser-thc sir, interested to participate in this project under GSOC'20.

[2020-03-24 20:46] thebabush opened #273 "custom mutator docs"
According to the docs:

[code]

While according to the code:

[code]

@andreafioraldi should stop drinking during the quarantine maybe

[2020-03-24 20:47] andreafioraldi commented on #273
@domenukk is drinking almost like I guess

[2020-03-24 20:48] domenukk commented on #273
That must have been my booze.
Sorry, I sneakily added that and forgot to adapt the docs.

[2020-03-24 21:04] domenukk commented on #273
I think what is also missing is a proper testcase in test.sh for the custom mutators and python mutators.

[2020-03-24 21:12] thebabush commented on #273
also `afl_custom_deinit` is missing from the docs

[2020-03-24 21:22] thebabush commented on #273
also, it doesn't look to be the best idea to make `afl_custom_pre_save` malloc every time... maybe?

[2020-03-24 21:33] domenukk commented on #273
I agree, that's a super strange API decision. Especially since the code after the call frees the pointer oO
https://github.com/AFLplusplus/AFLplusplus/blob/82432195a8e46f67394b528fbfe8749903c7f064/src/afl-fuzz-run.c#L223

[2020-03-24 21:35] thebabush commented on #273
Yup. I'm 99% positive that in the original API that pointer is owned by the custom mutator's shared lib.

[2020-03-25 11:41] vanhauser-thc commented on #268
@GrosQuildu  it works from llvm 6.0 to 11 so looks good.

I have implemented a solution for llvm_mode persistent mode (the only feature where this would work here: https://github.com/AFLplusplus/AFLplusplus/tree/sanitize_coverage

`AFL_LLVM_TRACE_LOCAL=1 ./afl-clang-fast -o test-instr examples/persistent_demo/persistent_demo.c`

please test and report

[2020-03-25 11:46] vanhauser-thc commented on #268
I can already tell you one big issue already:
as AFL_LOOP persistent mode is not running threaded, the counters gathered can not be written to the shared map if a crash is found. and therefore all crashes look the same.

[2020-03-25 11:52] vanhauser-thc commented on #273
@domenukk are you taking care of the fix? or do you want to tell the original author to do that?

[2020-03-25 12:10] #197 closed

[2020-03-25 12:41] domenukk commented on #267
I need a good idea what to do exactly
@andreafioraldi preallocating a large mem page and passing in the maxsize?
we could even realloc if the return > maxsize.

[2020-03-25 15:06] thebabush commented on #273
Btw sorry for the additional message, but if you ping me after you stabilize a bit the API situation I'll update my custom mutator (protobuf). Looking at @andreafioraldi ofc.

[2020-03-25 17:47] domenukk commented on #273
@thebabush @andreafioraldi instead of buffering, the `pre_save` could also get the fd to write to, that would save the whole copying around etc. alltogether - what do you think?

[2020-03-25 17:53] andreafioraldi commented on #273
Makes sense to avoid write_to_testcase. pre_save is not the right name so.

[2020-03-25 17:56] domenukk commented on #273
But it may be less flexible in case we want non-file based testcases in the future.

[2020-03-25 19:06] geeknik commented on #226
Trying to build curl from Git source fails with afl-clang-lto and I'm not quite sure how to fix it on my end. Running on Linux 5.3.0-40-generic with Ubuntu 18.04.

[code]
[code]
[code]

[2020-03-25 20:57] domenukk commented on #273
For now I've edited `afl_custom_pre_save` to stay flexible in the future in commit eeb7e12b9fcc8d9881c1825805371ebd5fcb10a8 . Docs haven't been touched yet and tests are... non existant still :D.
Out of time though, maybe you can give it a whirl still @thebabush

[2020-03-25 20:57] domenukk commented on #273
The markdown is clearly broken :/

[2020-03-26 06:09] vanhauser-thc commented on #208
@ashiscs we expect students to already actively contribute to afl++ prior their final proposal submission so we can see how they code and approach problems, how good they get into the afl++ structure etc. as the end of submitting the final proposal in 5 days plus a good proposal is to be written I don't think that is achievable

[2020-03-26 10:33] fuzzah opened #274 "[ideas] Dashboard, exit confirmation, better resuming"
Just lost my status screens with few billions of execs :(
So, my ideas:
1. Can we store all the fuzzer stats as shown in status screen, and then restore it when resuming (with both AFL_AUTORESUME and '-i' option) ? If it somehow affects or depends on inner state of AFL++ instance, can we restore this inner state too?
2. Can we prevent random Ctrl+C presses for example, by asking to confirm? You kn

[2020-03-26 11:46] vanhauser-thc commented on #274
well the fuzzer_stats could be loaded on resume and variables set accordingly. This is however nothing important. you lost something that looked cool, but you lost nothing of real value :)
If you would like to have that in, send a PR, I think everybody else has something with higher priority on their plate

[2020-03-26 17:50] domenukk commented on #273
For all stakeholders here, I will touch this again: the custom mutator should simply allocate the buffer it needs for `afl_custom_pre_save` and return the pointer to it - without freeing.
I think this leads to less code paths in afl and a less... strange... api.
The pre_save hook can even decide to do in-place changes on the buf.

[2020-03-27 08:57] andreafioraldi opened #277 "Core Concepts for Refactoring as a Framework"
We should start to define the core concepts before starting this job.

ATM, we can add forkservers in a list.
My idea is to generalize it exposing a virtual interface (i.e. a structure of callbacks) called executor_interface.
Forkserver will be an instance of this interface (with some configurable bits, eg. multiple shared memories).
The idea is to have something like FuzzFactory for the shared me

[2020-03-27 08:59] andreafioraldi commented on #277
IMO we have to do all in C, but then provide also C++ and Rust bindings

[2020-03-27 09:00] andreafioraldi commented on #277
This issue is just for a discussion, before starting this we need a software engineering effort in defining all the requirements to avoid to do shit

[2020-03-27 09:04] andreafioraldi commented on #267
In theory, we can mmap MAX_FILE and pass it. However will we use a lot of virtual memory (maybe not too much physical thanks to te fact that the kernel does not map unused pages)

[2020-03-27 14:13] vanhauser-thc commented on #185
in a real effective fuzzing campaign you have a master and several slaves. By default deterministic fuzzing is only done on the master which is the optimal behavious IMHO.
If we change this we a ) need another command line parameter to allow to enable deterministic fuzzing and b) enable it automatically for the -M master switch.

[2020-03-28 06:39] vanhauser-thc commented on #268
I added threading so crashes also now have their counters gathered.

The issue is that the coverage has to be copied to the shared memory buffer after every run and that costs time. hence we have a 10-15% speed decrease.

for libfuzzer the main thread does all the control, mutation, coverage etc. - they it is faster and has no overhead. in the afl model this is a disadvantage.

once afl++ is a lib

[2020-03-28 12:03] domenukk opened #279 "Merge Post library and Custom Mutators"
In my eyes, the afl post library should become one part of the custom mutator API.
Especially once multiple custom mutators can be chained, there is no reason to keep two distinct APIs around.
Maybe we should change the name from custom mutator simply to AFL API, once this is done.

[2020-03-28 12:06] domenukk opened #280 "Support Multiple Mutators"
Right now, only a single custom mutator is supported at a time.
In the future we probably want to chain multiple of them.

[2020-03-28 12:16] domenukk opened #281 "About Error Handling"
This is a discussion issue about AFL's error handling.
The current strategy if an error is encountered is to abort with `FATAL`.
This makes it very easy to reason about, and changing this behavior would be a massive undertaking, however in order to make afl an embeddable lib, we should at least consider it.
Any bug in a thread, custom mutator, etc. can crash the whole fuzzing campaign, even though

[2020-03-28 12:42] vanhauser-thc commented on #279
I agree

[2020-03-28 12:42] vanhauser-thc commented on #280
especially if we only have one API

[2020-03-28 12:43] vanhauser-thc commented on #281
Make it configurable? or the lib returns -1 and an errno or something like that. and the afl-fuzz calling the API could then do FATAL

[2020-03-28 16:25] vanhauser-thc commented on #277
Also mutation should be like  `mutate(struct mutate_state state, uint32_t number_of_mutations, u8* seed, uint32_t seed_len, (void*)consume_callback)`
This way it can be called as a lib function.

[2020-03-28 16:34] domenukk commented on #277
Why consume callback instead of returning an **out_buf?

[2020-03-28 16:36] subho-13 commented on #281
We may keep on defining Error Codes progressively as we develop the library. The error codes can be documented.

For Error Handling, we can create a routine that takes the error code and sends to the proper error handler. We may create a separate source file, containing error handling codes. The Error Handler then may return 2 values : FIXED / FATAL based in the severity of the error.

[2020-03-28 16:41] vanhauser-thc commented on #277
because then the mutate function would need to return after every mutate. hence the "number_of_mutation" would be how often the callback is called with different mutations

[2020-03-28 18:22] domenukk opened #283 "Refactor PyMutator and radamsa mutator as custom mutator"
While developing the custom mutator API further, we should eat our own dogfood.
For this, the python and radamsa mutators could both be implemented as custom mutator libs, fixing roadblock along the way.

[2020-03-29 15:07] Lancern opened #284 "Automatically restart forkserver after it crashes"
I use forkserver deferred initialization mode to increase fuzzing speed. However, for some unknown reasons yet, the forkserver crashes after some time. I think it might be better to automatically restart the forkserver after it crashes than simply terminate the fuzz process.

[2020-03-29 15:28] domenukk commented on #284
As a quick fix, you can wrap your AFL call in a bash loop and set `AFL_AUTORESUME=1`.
In the long run we could consider restarting the forkserver, although it would be interesting to know why it happens (I don't think it ever should)

[2020-03-29 15:38] vanhauser-thc commented on #284
@Lancern I disagree. if there is an issue where the forkserver crashes - it needs to be fixed. however I dont know why it should crash. it does basically very very little. can you share the setup?

[2020-03-30 02:22] Lancern commented on #284
I'm fuzzing nodejs using a strategy similar to micro-fuzzing, i.e. the individual functions inside nodejs is tested directly rather than the whole program (More precisely, it is the functions that can be called directly from JavaScript, not arbitrary functions). Each test case consists of a sequence of functions and parameters to these functions, pretty much like syzkaller. Test cases are generate

[2020-03-30 09:25] vanhauser-thc commented on #284
@Lancern great so it is not a bug in the forkserver :)

the correct solution is then to modify your target so that node::Kill(getppid(), SIGKILL)) cannot happend, e.g. bei return always 0 for getppid or something like that

[2020-03-30 09:34] domenukk commented on #284
... or ldpreload a library that does this or overwrites kill.
Still @vanhauser-thc we could add an optional forkserver restart for this use-case (something like `AFL_STICKY_FORKSERVER`, because why not?
It's probably slower than the other options, but there is a clear use case.

[2020-03-30 10:13] vanhauser-thc commented on #284
if it is optional and not a default and an env var (to save on command line parameters that we might need in the future) then why not

[2020-03-30 10:43] Lancern commented on #284
@vanhauser-thc thanks for your advice. I have modified it and the forkserver no longer crashes (at least for a while).

I wonder another question: why is AFL_PERSISTENT discarded? I know AFL can automatically figure out whether the binary supports persistent mode, but what if the persistent signature is contained in a shared library that is loaded by the executable at runtime?

[2020-03-30 11:34] vanhauser-thc commented on #284
then you are using it wrong. persistent mode (__AFL_LOOP) must be in your own main() (or at least in the binary created) and not somewhere down in a library.

Also loading shared libs is a point of trouble. if you are sure you are loading instrumented libraries you are fine (if you want them with coverage), but if the same libraries exist on the system without instrumentation and because of a forg

[2020-03-30 12:20] domenukk commented on #284
I think the use case does exist.
Unicorn mode is such an example: python itself is not instrumented, the unicornafl.so is.
If it would load the wrong lib, the forkserver couldn't start so afl catches this.
for now @Lancern in theory you can use the -U switch to afl to get this result.

[2020-03-30 16:49] domenukk commented on #273
I have added the correct function signatures in ac48b58184393b65ef351a69d04e1c6bce052a99 and merged the PR adding the testcase.
We are now stable-ish.
The descriptions in `custom_mutators.md` are still not 100% correct, it's better to refer to the docs in `example.c` for now.

[2020-03-30 21:54] domenukk commented on #273
Think this is done, reopen if needed :)
ping @thebabush

[2020-03-30 21:54] #273 closed

[2020-03-31 15:42] andreafioraldi opened #286 "Report a Trophy"
Comment here if you found bugs using AFL++ and want to be listed in the trophies section.

[2020-03-31 20:02] geeknik opened #289 "Weird issue with displaying bit flips yields?"
Whilst fuzzing PHP with afl++ built from 5cc50bb, I'm seeing a strange issue with bit flips, note the value is 3583/3581 however my total paths is only 207? All of the other values appear normal. Did I miss a change or is this a bug?

![2020-03-31-14-58-44](https://user-images.githubusercontent.com/466878/78069859-4e073e00-738a-11ea-930d-a5f67d862a59.png)

[2020-04-01 00:22] domenukk opened #290 "Troubles running with ASAN"
When compiling afl++ 33dd55 with `ASAN_BUILD=1 make`, the forkserver start fails.
Target was compiled with afl-gcc.
It works fine when compiled without.
Debug output with `AFL_DEBUG_CHILD_OUTPUT = 1`:
[code]

[2020-04-01 07:19] andreafioraldi commented on #289
Yes ty this seems a bug, I'll look into it asap

[2020-04-01 10:20] vanhauser-thc commented on #290
can you check if this is fixed with a5c09e4 ?

[2020-04-01 10:41] domenukk commented on #290
Nope and the ASAN output is not printed. I'll see why.
`-m none` works, so once the check works, it should be fine.

[2020-04-01 10:44] domenukk commented on #290
Fixed in ba4f018

[2020-04-01 10:44] #290 closed

[2020-04-01 16:42] domenukk opened #291 "Odd bug in list.h"
While writing unittests, I found out the current lists don't work.
To reproduce, check out:
https://github.com/AFLplusplus/AFLplusplus/tree/fix/list
and then run `make unit_list`.
I'm in need of a fresh pair of eyes. :)

[2020-04-01 18:01] vanhauser-thc commented on #291
found it:

in `test_foreach` you are using `testlist`, however it is not a fresh structure but one you have been using in the previous functions/tests.

and the list_append entries of that function are still present and point to values that were on the stack on that function - which are now gone (in `test_foreach`).

I find the list implementation problematic. you just keep pointers to the values

[2020-04-01 18:07] kallsyms commented on #248
FWIW I have a (seemingly mostly working*) LKM port of perf-fuzz here: https://github.com/kallsyms/snapshot-lkm. It's pretty rough code (weekend project) but wanted to share in case someone else wanted to take it further - e.g. making it work on other kernels besides whatever version I happened to have built :)

\* It seems to yield identical output to the test/example program in the perf-fuzz repo

[2020-04-01 18:10] domenukk commented on #291
Thank you! 😘
Yeah the idea was to store pointers and have the objects, in turn, use their own prealloc.
I got carried away engineering, and maybe making it faster for a few objects 🙈

[2020-04-01 18:44] #291 closed

[2020-04-01 18:45] domenukk commented on #291
fixe in https://github.com/AFLplusplus/AFLplusplus/commit/1cce581ffe071c027d5af665cf9909e77886332e

[2020-04-02 08:42] vanhauser-thc commented on #248
@kallsyms hey that is very cool!
and a lkm would make it much more portable than having it on a fixed kernel, we didnt think that would be possible though - so great job :)
I fear however as this is your code that it will be difficult for someone else to understand everything you did and take over your achievement.

[2020-04-02 13:16] fuzzah opened #292 "Negative stability"
During some runs this happens.
![image](https://user-images.githubusercontent.com/60884276/78252148-0f44c580-74fb-11ea-9721-fbae48fe0dc4.png)
Some of other 15 instances also have negative values, some don't. And usually it goes only to something like -95%.
This tested binary was compiled with ASAN & UBSAN, others - in non-hardened mode (it doesn't seem to affect the issue).  All instances have dif

[2020-04-02 14:22] vanhauser-thc commented on #292
Seems to be a math bug. stability can not go lower than 0 ... will look into it

[2020-04-02 14:44] vanhauser-thc commented on #292
at first look I can't say where the issue comes from. var_bytes might be too large maybe.

can you check out the current dev state and run that version?
there are new values written to out/fuzzer_stats that help to pinpoint the problem.
so once stability gets negative and (after a few minutes) the fuzzer_stat file is written just post the file here.

[2020-04-02 14:47] vanhauser-thc commented on #289
copy paste bug in the UI display function ... fixed in d40866a

thanks for reporting!

[2020-04-02 14:47] #289 closed

[2020-04-02 16:43] hexcoder- commented on #292
var_byte_count cannot be greater than `MAP_SIZE` IMO, but greater than t_bytes. Are var_bytes initialized?

[2020-04-02 22:07] vanhauser-thc commented on #292
var_byte_count can only be as large as t_bytes but not greater. but it looks like we have a bug there somewhere. so a posting form @fuzzah with a fuzzer_stats output where the stability is negative would help a lot.

[2020-04-02 23:32] domenukk commented on #292
Both `var_byte_count` and `t_bytes` are `u32` when stability gets calculated:
https://github.com/AFLplusplus/AFLplusplus/blob/d40866add2d44c88a40f6f55afa23f02162b0969/src/afl-fuzz-stats.c#L260
so I recon this must be a display bug.

[2020-04-03 05:17] fuzzah commented on #292
fuzzer_stats of instance # 3 (out of 16 total)

[2020-04-03 07:28] vanhauser-thc commented on #292
That shows the issue. Thanks!

BTW @fuzzah your target is way too large. You have so many coverage collisions that you results degrade. Try afl-clang-lto or the sanitize_coverage branch with persistent_mode and the env  AFL_LLVM_TRACE_LOCAL

[2020-04-03 08:55] vanhauser-thc commented on #292
OK I looked in the code and I dont understand how this can happen.

t_bytes (found_edges/edges_found in fuzzer_stats) counts the total bytes that have been seen set in every map. this includes all calibration runs.

var_byte_count counts the bytes that are seen different for the same inputs - over all inputs.

so: `t_bytes >= var_byte_count` ... however the fuzzer_stat output shows that var_byte_c

[2020-04-03 14:03] andreafioraldi commented on #248
@kallsyms good job! @vanhauser-thc I understood well what he did, just submitted a patch to have it working on lastest ubuntu lts. However, as Marc said, the code is rude (I guess cause is based on the original implementation) and I want to re-engineer it a bit when I'll have free time. For instance, maybe ftrace is much better than kprobes, avoid to trigger another trap each page fault is better.

[2020-04-03 15:17] kallsyms commented on #248
@andreafioraldi yeah most of the actual snapshot logic is straight from the original repo with a few small changes to read out of the associated data structs we store instead of reading out of the modified kernel structs. Thanks for the PR! Just approved and merged. Re ftrace: I _think_ kprobes can optimize to use the ftrace call stubs under the hood so _in theory_ we aren't actually double faulti

[2020-04-03 15:18] andreafioraldi commented on #248
I started to refactor it in https://github.com/AFLplusplus/AFL-Snapshot-LKM. For now, I just cleaned a bit obscure stuffs and ported to an ioctl instead of a new syscall. @kallsyms want to be added as maintainer of the repo?

[2020-04-03 15:18] kallsyms commented on #248
Sure!

[2020-04-07 12:31] andreafioraldi opened #294 "Not deterministic paths ignorelist"
I was reading again the kAFL paper today for the work on my thesis. https://www.usenix.org/system/files/conference/usenixsecurity17/sec17-schumilo.pdf
See the section 3.4, I forgot about it but it is very interesting. They blacklists variable paths to improve the fuzzer, maybe we should port it in AFL++.
When has_new_bits returns 2 (new edge coverage) we should run the testcase again (almost other

[2020-04-07 13:53] vanhauser-thc commented on #294
I would not blacklist it - however downgrade the likelihood that it is chosen.

[2020-04-07 14:00] vanhauser-thc commented on #294
and we could blacklist the the edges that are variable?

[2020-04-07 15:30] subho-13 commented on #294
The testcase may uncover deterministic paths too. So, blacklisting the testcase will lead to loss of future corpus.
Rather, blacklisting that particular block transition may help. This will not give unnecessary feedback(new edge coverage).

[2020-04-07 21:51] geeknik opened #296 "afl-cmin: munmap_chunk(): invalid pointer"
Having some issues when running afl-cmin on a Debian 10.3 box running clang / llvm 10. Not sure how to go about debugging it. It has happened with 2 different binaries compiled with 2 different versions of afl++.  I currently have it built from commit d40866a.

[code]

clang -v
[code]

I don't believe this is a bug in the software I'm fuzzing as none of the inputs trigger a crash with or without A

[2020-04-07 22:50] vanhauser-thc commented on #296
hmm weird.
for a workaround you can use `afl-cmin.sh`.
But of course this needs to be fixed.
To try yourself you can build afl++ with ASAN: `make ASAN_BUILD=1` and then use afl-min again (set AFL_PATH to the build directory though - or do `make install`). It should report where exactly the bug is triggered.
Or you upload the directory plus binary (and libs) in a package here or somewhere else and

[2020-04-08 12:23] vanhauser-thc commented on #296
@geeknik yeah I cannot reproduce this bug :( will need your help/input/result/testcase ...

I thought it is because you increased the MAP_SIZE to 2^17 (the "Processing tuple ..." values) and did the same:

[code]

[2020-04-08 16:56] #248 closed

[2020-04-08 17:09] geeknik commented on #296
That triggered a memory, I increased the map size for one thing I was fuzzing and didn't switch it back to defaults before I started another. Thanks @vanhauser-thc

[2020-04-08 17:09] #296 closed

[2020-04-08 17:16] vanhauser-thc commented on #296
:)

[2020-04-09 07:24] andreafioraldi commented on #267
Close?

[2020-04-09 07:24] #191 closed

[2020-04-09 11:42] neoni opened #305 "ki_oncpu=-1 in FreeBSD"
Hi, I perfromed parallel fuzzing in my FreeBSD vitual machine, but it binds the same CPU always.

So I dived into the code and found that

In my FreeBSD virtual machine, every proc's ki_oncpu is -1.
Maybe we can use ki_lastcpu when ki_onpu = -1. ( It works in my machines. ) Here's [reference](https://lists.freebsd.org/pipermail/svn-src-stable-9/2013-June/004608.html) .

By the way, I think we can

[2020-04-10 09:03] hexcoder- commented on #305
Thanks, since I merged your corresponding PR#306, I am closing this issue.

[2020-04-10 09:03] #305 closed

[2020-04-10 09:34] hexcoder- commented on #258
Nice roundup!

One thing that was a bit irritating to me at first was the realization that many of AFL++'s reported many 'unique crashes' are very often manifestations of the same bug triggered on multiple ways.
So triaging and evaluating the crashing test cases can be a lot of duplicated (manual?) work.

I work mostly with open source, so I went into the habit of regarding a crashing test case on

[2020-04-10 10:04] domenukk commented on #258
I wonder if `-D_FORTIFY_SOURCE=2` would spot most of the bug in the first example 🤔

[2020-04-10 10:09] domenukk commented on #258
I wonder if `-D_FORTIFY_SOURCE=2` could spot bugs similar to the first example of @sijohans 🤔
If the function isn't too complex, at least?

[2020-04-10 16:04] hexcoder- commented on #225
did not succeed in reproducing the problem.

[2020-04-10 16:43] vanhauser-thc commented on #225
It seems to be triggered easier if the CPU is very, very fast (and no load). But have been unsuccessful  to reproduce.

[2020-04-10 19:16] domenukk commented on #52
Fuzzing no longer uses `alarm()`. A precise -V could now be added to afl-fuzz.

[2020-04-10 19:16] #267 closed

[2020-04-10 23:11] domenukk opened #308 "Unify run_target"
Currently, each afl tool has its own implementation of `run_target`.
Most of this is needlessly duplicated code.
Once we get closer to afl as library, tools should no longer have to implement their own versions.

[2020-04-11 07:17] vanhauser-thc commented on #52
@domenukk thank you for the reminder! instead I implemented it in the UI which is called regularly and so they are now precise enough without having a noticable overhead.

[2020-04-11 07:17] #52 closed

[2020-04-11 11:31] vanhauser-thc opened #310 "laf-intel does not work on static variables"
The laf-intel compare-transform-pass is not able to find fixed variable compares:
[code]

If it is a global variable this is able to extract it (haven't found out what the first dyn_cast needs to be though. `GetElementPtrConstantExpr` would work but that is internal to llvm lib :-( )
[code]

And something similar should be possible for local variables.

[2020-04-11 11:32] vanhauser-thc commented on #310
@hexcoder- / @andreafioraldi - you guys have an idea what the dyn_cast needs to be for both cases?

IMHO this would be a major improvement (or fixing an oversight) :)

[2020-04-11 11:56] vanhauser-thc commented on #310
OK this works for global variables:
[code]
Now for local vars ...

[2020-04-11 16:28] thebabush opened #312 "wrong flags in llvm_mode"
I think this is wrong (and made me waste quite some time lol)

[https://github.com/AFLplusplus/AFLplusplus/blob/504529c3aa5c80937f9f722f90d0ec55e09c6dd2/llvm_mode/GNUmakefile#L145](https://github.com/AFLplusplus/AFLplusplus/blob/504529c3aa5c80937f9f722f90d0ec55e09c6dd2/llvm_mode/GNUmakefile#L145)

[2020-04-11 16:31] thebabush commented on #312
spoken with fioraldi in pvt

[2020-04-11 16:31] #312 closed

[2020-04-11 22:17] vanhauser-thc commented on #310
local vars are an issue. I found a way which works, but we will have to see for how long and for which llvm version this will work.

[2020-04-12 10:06] vanhauser-thc commented on #310
before:
[code]
after:
[code]
caveat: we are unable to detect local strings <= 4, e.g.
[code]
now testing if it works :)

[2020-04-12 10:18] vanhauser-thc commented on #310
works perfectly :)
[code]

[2020-04-12 10:19] vanhauser-thc commented on #310
@andreafioraldi @domenukk @hexcoder-  is that something we need in the other laf-intel llvm_mode passes as well? I have no clue about them.

[2020-04-12 18:02] Mindavi opened #316 "llvm-bindir does not contain clang on NixOS"
On NixOS, the LLVM directory does not contain the clang binary. Rather, it's in another directory. In the Makefile there is a comment about this:

[code]

The Makefile works around this by having some conditional logic that ultimately delegates to the PATH (which is a good default IMO, but maybe there's good reasons for having the full path).

However, in the code itself the LLVM_BINDIR is still a

[2020-04-12 18:08] Mindavi commented on #316
Oh, I see this can be worked around by setting the AFL_CC and AFL_CXX path. However, I think it's not a very good assumption that the bindir contains clang, even if it might be so 'by accident' in most distros.

Should I keep this open for discussion?

[2020-04-12 18:34] vanhauser-thc commented on #310
does not look like this helps anything else laf-intel is doing so I am closing this

[2020-04-12 18:34] #310 closed

[2020-04-13 14:36] andreafioraldi commented on #316
Hi, PATH as default is not good. Many ppl have multiple LLVM builds and want that afl-clang-fast uses only one of them. Said that, the solution to this problem should be more Makefile magic, I'm working on it.

[2020-04-13 15:02] domenukk opened #317 "Examine potential mem leak in afl-fuzz-redqueen:colorization"
Clang notices a potential leak in this function:
https://github.com/AFLplusplus/AFLplusplus/blob/12a7059ae8c7a3bd016f0d62b03a76baffcde24b/src/afl-fuzz-redqueen.c#L205

[2020-04-13 15:07] andreafioraldi commented on #316
Maybe fixed in https://github.com/AFLplusplus/AFLplusplus/commit/4b88e059efb29e21290bfae9ebae8f9521e2e91c
@hexcoder- can you double check?

[2020-04-13 15:09] domenukk commented on #317
![image](https://user-images.githubusercontent.com/297744/79131835-89056a80-7da9-11ea-9c24-7dab358f3866.png)
It seems to happen on `checksum_fail`

[2020-04-14 10:15] floyd-fuh commented on #258
+1. It is hard to keep track at all.

Suggestion so this is not too much documentation overhead: Examples with a list of recommended features to check out. Maybe just explain strategies that can be derived from https://www.fuzzbench.com/reports/2020-04-08-aflplusplus-and-2020-04-01/index.html and use those targets as the examples.

Off topic: I'm super excited about the new features and really loo

[2020-04-14 10:42] vanhauser-thc commented on #258
I agree too much documentation is an issue.
I already started on a picture that shows the important features and decisions to make, basically an SVG that shows the command line / environment option to set when using that feature

off topic: compile llvm-11 and use afl-clang-lto and AFL_LLVM_LTO_AUTODICTIONARY .... :)

[2020-04-14 15:21] #317 closed

[2020-04-14 17:27] #308 closed

[2020-04-14 18:07] Mindavi commented on #316
I've checked it, and this seems to fix the issue for me. Thanks for fixing it this quick! Will keep this open until hexcoder has had time to validate it.

[2020-04-16 07:35] #316 closed

[2020-04-16 16:54] bobslept opened #319 "Problems with persistent mode when finding crash"
Hi,

I have noticed a problem with the persistent mode of afl++. You can verify this by the persistent mode example. It runs alright, until a bug/crash is found, then afl-fuzz hangs. If you hit control-c you see it happend on the moment a crash is found.

I have build 2.63c (llvm-10) and 2.63d (llvm-11), both seems to have the same issue.

Would love to see this fixed.

[2020-04-16 17:03] domenukk commented on #319
Hey @bobslept thanks for the report.
Just to make sure, can you see if the issue also exists in the `dev` branch?
What tool to you use for instrumentation? (llvm mode?)

[2020-04-16 17:07] bobslept commented on #319
I have build with clang-fast and clang-lto from both master (2.63c) and dev (2.63d) branch. master was built with llvm-10, dev was built with llvm-11.

Both afl-clang-fast and afl-clang-lto has the same issue. On both branches.

[2020-04-16 17:22] bobslept commented on #319
Easy steps to repro:

git clone https://github.com/AFLplusplus/AFLplusplus.git
cd AFLplusplus
make source-only
cd examples/persistent_demo
../../afl-clang-fast persistent_demo.c
mkdir IN OUT
echo x > IN/a
../../afl-fuzz -i IN -o OUT -- ./a.out

Wait till afl-fuzz hangs, that happends when the crash is found. Hit control-c and you see the crash in the gui before exiting.

[2020-04-16 17:41] domenukk commented on #319
Great, yes I've fixed a bug in persistent mode earlier today. Happy to hear it also fixed your issue. :)

[2020-04-16 17:45] bobslept commented on #319
Fantastic! Great work.
If I notice any other problems, I will let you know. Thanks for the fast response!

[2020-04-16 17:45] #319 closed

[2020-04-16 19:25] bobslept opened #320 "afl-plot generates wrong graph"
I like creating graphs with afl-plot. But before I can use it correctly I need to manually remove some lines from plot_data to make a nice graph.

Crazy plot_data:
[code]
Double header seems not right, and the two first lines of data seems of. If I remove those two lines I get a nice graph.

I'm currently using 69bd7c1.

[2020-04-17 05:11] vanhauser-thc commented on #320
I commited a fix, can you please check if that looks fine now?

[2020-04-17 05:55] vanhauser-thc commented on #264
ngram and ctx are implemented. closing this now.

[2020-04-17 05:55] #264 closed

[2020-04-17 05:56] vanhauser-thc commented on #268
closing this for now as it does not look beneficial to add in the current state

[2020-04-17 05:56] #268 closed

[2020-04-17 05:57] vanhauser-thc commented on #256
is this done and can be closed or are there left open item? @domenukk @fuzzah ?

[2020-04-17 08:23] vanhauser-thc commented on #187
this is now implemented. if anyone wants to test.
not in afl-gcc, afl-gcc-fast and non LTO afl-clang-fast.
might do it for afl-clang-fast (afl-llvm-pass.so) in a next release though.

[2020-04-17 09:27] tareq97 opened #322 "afl-fuzz-document command creates same mutation mentioned in input test data path"
I have executed the afl-fuzz-document command, I need some
clarification on below-mentioned observations,

Below are my comments and analysis.

1. Sample program used for fuzzing is triangle.c give in a zip file.
2. Three inputs provided by me in the folder as mentioned in below format
FIle i1.txt - 1 2 3
FIle i2.txt - 5 5 5
FIle i3.txt - aa
3. Used the command ./afl-fuzz-document -i ./input1 -t 3

[2020-04-17 09:38] strongcourage commented on #322
Hi,
"-t " is timeout for each run with an input.
Please add "timeout -sHUP 60m ./afl-fuzz ..." to specify the fuzzing timeout 60 mins.

[2020-04-17 10:18] vanhauser-thc commented on #320
@bobslept please check it as soon as you can, we want to make a new release :)

[2020-04-17 10:23] vanhauser-thc commented on #322
for 5: cannot confirm. just tried it, and the mutations are different.
[code]

[2020-04-17 10:36] tareq97 commented on #322
I am not sure where I was clear in explaining the issue earlier. The three inputs are given from my side. Check the folder queue it has the given data as mentioned below in the files.
FIle i1.txt - 1 2 3
FIle i2.txt - 5 5 5
FIle i3.txt - aa

If the mutation were to happen the files should have data different than the data mentioned above.
For example
File 000000023:src:000000,time:9,op:(null),pos:

[2020-04-17 17:42] bobslept commented on #320
I did a quick test with 9900c92 and it seems to be fixed!
Great work guys.

[2020-04-17 17:43] #320 closed

[2020-04-18 13:28] #187 closed

[2020-04-18 18:02] vanhauser-thc commented on #322
can you upload your target? (source or binary)

[2020-04-18 18:16] vanhauser-thc commented on #322
What is your command line?
mine is `afl-fuzz-document  -i in -o out -- ./triangle` and creates multiple different outputs in out/mutation

[2020-04-18 22:29] tareq97 commented on #322
Hi @vanhauser-thc,

I have used the below command,
Command used : ./afl-fuzz-document -i ./input1 -o ./output5 -m 100 -- ./triangle -i @@

Also find the attachment which contains all inputs(input1 folder), binary(name is triangle) and source code(name is triangle.c)
[Attachement consisting of inputs, binary, source code afl-run1.zip](https://github.com/AFLplusplus/AFLplusplus/files/4497923/afl-run

[2020-04-19 07:38] vanhauser-thc commented on #322
You see the text "some of your tests look useless" and that no paths are discovered?
You are using your own example wrong.

` scanf("%d %d %d", &side1, &side2, &side3);`  <- you are reading from stdin but you tell afl-fuzz to send the data via an input file with @@.

run it like `afl-fuzz-document -i in -o out -- ./triangle` and you are fine.

[2020-04-19 07:38] #322 closed

[2020-04-19 17:14] domenukk opened #324 "Core Files Generated on Arch Linux"
Right now, every crash in AFL++ creates a coredump. As crashes are reproducible anyway, how about (optionally?) changing the core pattern to `kernel.core_pattern=|/bin/false`?

/edit: This is on arch linux.

[2020-04-19 17:19] domenukk commented on #324
It's actually there for a reason, but maybe there are less "loud" ways to achieve it?
https://github.com/google/fuzzer-test-suite/issues/60

[2020-04-20 08:56] vanhauser-thc commented on #292
I hope I found the issue causing this. Anyone who can reproduce the issue please use a checkout of the `break` branch and report if it FATALs or runs though. thanks!

[2020-04-21 15:17] wideglide opened #328 "Cmplog in qemu_mode"
I have two instances of AFL++ 2.64c fuzzing file and pcre2 trying to use the RQ/cmplog functionality with qemu_mode.  The fuzzer seems to be having success with the colorization stage, but no success for the input-to-state stage.  Is there a good way to determine if the input-to-state stage is working correctly?   Seems like the ITS stage should have had some finds by now?

stats after 18 hours:
p

[2020-04-21 21:21] 0x4d5a-ctf opened #329 "x86 PIE address in persistent qemu mode"
I tried to get the qemu persistent binary only mode to work. Unfortunatly the qemu load address for x86 binaries seems broken. According to the [qemu persitent mode readme](https://github.com/AFLplusplus/AFLplusplus/blob/master/qemu_mode/README.persistent.md), the PIE x86 binary should be mapped at `0x40000000`. I can observe the behaviour only for x86-64 binaries with a successfull mapping to `0x

[2020-04-24 09:42] andreafioraldi commented on #328
Hi, can you try the dev branch? Btw, how large are your testcases?

[2020-04-24 09:47] andreafioraldi commented on #329
Yes, ofc 0x40000000 is for x86_64, and we cannot guarantee that it is true for all cases.
Can you also post the AFL_QEMU_PERSISTENT_* vars that you are using?
Have you tried AFL_QEMU_PERSISTENT_RET (if QEMU cannot find the return address to patch)?

[2020-04-24 09:51] andreafioraldi commented on #328
In general, if your initial corpus is very good input-2-state is not needed. Try to start with a single testcase and see what happens.

[2020-04-24 09:57] andreafioraldi commented on #328
With readelf is working: `   custom/rq : 0/0, 0/0, 24/277, 29/2433 `
With file is not working.
This is due to, I guess, the fact that file doesn't use CMP instructions but a lookup table or a switch-case to compare magic bytes. Switch-cases are not handled in QEMU but are transformed to if-else in LLVM mode during compilation.

[2020-04-24 10:01] hexcoder- commented on #329
0x40000000 is also for aarch64 (arm 64-bit raspberry Pi 4).

[2020-04-24 10:40] vanhauser-thc commented on #324
how is this a problem? (with the core_pattern being core?)

[2020-04-24 10:40] vanhauser-thc commented on #279
this is done and can be closed right?

[2020-04-24 10:40] #256 closed

[2020-04-24 10:41] vanhauser-thc commented on #232
anything happening here? or can/should this be closed?

[2020-04-24 10:41] domenukk commented on #324
I have hundreds of useless crash.1234 files everywhere

[2020-04-24 10:44] vanhauser-thc commented on #234
this should not have been closed.

[2020-04-24 10:50] domenukk commented on #279
I'm not aware that somebody worked on it yet

[2020-04-24 10:54] vanhauser-thc commented on #324
ah so your kernel.core_pattern is not "core" but "core.%p" (or something like that).
so you didnt call afl-system-config or another script change the core_pattern.

I do not have a single core file in my fuzzing targets.

[2020-04-24 11:02] domenukk commented on #324
Actually I do use `afl-system-config`. I've seen this happen at least on other Arch Linux systems, so it may be the distrubution's fault.

The wiki specifically names
`kernel.core_pattern=|/bin/false`
and
[code]

Thinking of it - which problem is not caused by systemd?

[2020-04-24 11:05] domenukk commented on #232
Let's close it for now, I'm working on a different project atm. If the issue pops up again, I'll reopen.

[2020-04-24 11:05] #232 closed

[2020-04-24 11:12] vanhauser-thc commented on #324
so maybe this needs an update in afl-system-config to systems that need something different. I dont have/use Arch - so if you find out why try to find the workaround :)

[2020-04-24 15:16] 0x4d5a-ctf commented on #329
Thanks for the quick response!

I think I narrowed down the problem. Lets consider the binary from above, compiled with `g++ bug.cpp -o bug -m32 -no-pie`. I also added output for the loaded function, via:

```printf("Some uninteresting main, hooks into binaries... %p\n", doActualFuzzing);```

The binary is placed on `0x8048000`:
`objdump -d bug -M intel`
[code]
The output confirms the right addres

[2020-04-24 18:29] Mindavi opened #333 "Libdislocator Makefile tries to install README.libdislocator.md"
This is incorrect, as the file seems to be renamed to README.md.

https://github.com/AFLplusplus/AFLplusplus/blob/ce9c6df45639db922feafb55259e20c7e82af0bf/libdislocator/Makefile#L42

[2020-04-25 19:29] hexcoder- commented on #333
Thanks, should be fixed in dev with https://github.com/AFLplusplus/AFLplusplus/commit/2a60ceb6944a7ca273057ddf64dcf837bf7f9521.

[2020-04-25 21:10] #333 closed

[2020-04-26 12:42] geeknik opened #338 "Features request: Status screen visual cues and exporting AFL environment variables at crash time"
Good morning, many thanks for keeping AFL alive. Would it make sense and/or be possible to add the compilation mode to the status screen for example ASAN, UBSAN, TSAN, MSAN, maybe up near the top where it says (app_name) [fast] {-1}? In my old age I often forget how I compiled the software and a visual cue would be helpful. Lastly, would it be possible to export the AFL environment variables in us

[2020-04-27 06:02] hexcoder- commented on #338
These features would certainly be useful.
But any information that cannot be extracted back from the compiled binary is lost to afl++.
The mere presence of an environment variable does not mean, the target is compiled that way, of course.
The last point should be doable and is a good proposal imo.

[2020-04-27 08:01] vanhauser-thc commented on #338
you can see the compiled options via an object dump (or strings) for some things, e.g. asan and msan, but to my knowledge not for cfisan or ubsan. afl-fuzz could detect that (and does that for msan, for internal reasons), but displaying that would be bad as people would then expect seeing also cfisan etc. and that is not possible.

environment variables - we could do that but I am not sure I see t

[2020-04-27 10:11] fe7ch opened #339 "afl-showmap passes LD_BIND_NOW=1 to afl-qemu-trace instead of the path"
Hello,

I was preparing my test suite for fuzzing and came across a weird issue with afl-showmap.

I run the afl-cmin with the following command line:

[code]
However, my test binary reports that file is not found. When I check the process tree I see the following:

[code]
Instead of input file a `LD_BIND_NOW=1` was passed as an argument to the afl-qemu-trace.

Do you have ideas what's going on th

[2020-04-27 11:41] vanhauser-thc commented on #339
this bug is triggered when using `AFL_DEBUG_CHILD_OUTPUT=1` ... as a workaround just leave it away.

[2020-04-27 17:31] vanhauser-thc commented on #339
should be fixed in a56354a - please test and report

[2020-04-27 18:25] fe7ch commented on #339
@vanhauser-thc Thank you, it's working now.

[2020-04-27 18:42] fe7ch commented on #339
@vanhauser-thc Out of curiosity, why do you have by default different values for this two settings?
[code]

When TMIN_MAX_FILE > MAX_FILE, it's possible to waste time on minimizing the test base, because some files that meet criteria for afl-cmin, won't be accepted by afl-fuzz

[2020-04-27 18:57] fe7ch opened #341 ".cur_input is not generated with AFL_ENTRYPOINT parameter"
Hello,

I'm continuing to setup the fuzzing environment and it continue to throw some unexpected results to me.

With the fix for the issue #339 I was able to run afl-cmin with the following command line:
[code]

Everything works fine there, the minimized test base was generated.

Then I run the afl-fuzz with almost identical command line:
[code]
and it doesn't work. In order to get some hints wha

[2020-04-27 19:40] vanhauser-thc commented on #339
well tmin is minimizing inputs. this setting allows it to get a a larger file down to the file that afl-fuzz accepts. it makes sense :)

[2020-04-27 19:40] #339 closed

[2020-04-27 19:46] fe7ch commented on #339
Yep, I understand what those settings are for. I don't understand why do you have TMIN_MAX_FILE value bigger than MAX_FILE. As far as I understand, it should be `MAX_FILE >= TMIN_MAX_FILE`. Otherwise, some of the samples in the minimized test base won't be accepted by afl-fuzz and you will either drop them or rerun the afl-cmin.

[2020-04-27 19:48] vanhauser-thc commented on #341
I cannot reproduce this:

[code]

[2020-04-27 19:57] fe7ch commented on #341
Just reproduced your test and it works for me too...

Do you have any tips what to look for to debug the issue with those parameters and my binary?

The most confusing part for me that exactly the same env variables passed to afl-cmin works fine. Or maybe afl-cmin/afl-showmap just ignore them?

[2020-04-27 20:01] vanhauser-thc commented on #341
hmm I dont think they ignore them as they are used by afl-qemu-trace, and all tools call it when the -Q option is used (as it would not work otherwise).

you could do an "strace -f -o trace.out -v -- afl-fuzz ..." and then check what is happening to /home/ubuntu/out/.cur_input . maybe the target is deleting it and then not finding it?

[2020-04-28 08:39] andreafioraldi commented on #329
I see the problem. The mappings are dumped from QEMU and not from the target, that may add guest_base to each address. A solution is to parse the mappings and add guest_base before pritning it.

[2020-04-28 08:55] andreafioraldi commented on #329
Fixed.
[code]

[2020-04-28 08:56] #329 closed

[2020-04-28 09:02] andreafioraldi commented on #341
The issue should be in your setup. I guess the code is similar to the following:

[code]

The forkserver does not create the input file when it is spawned, you can do two things:
1. place the input directly in memory using the persistent hook
2. add a line in the afl++ code that creates a dummy .cur_input before forking in start_forkserver()

[code]

[2020-04-28 09:14] fe7ch commented on #341
@andreafioraldi Thank you very much!

Indeed, if I create a dummy .cur_input file in advance, than the afl-fuzz proceeds to fuzzing without errors.

[2020-04-28 09:14] #341 closed

[2020-04-28 20:23] hexcoder- opened #343 "unicorn problems with 32-bit systems"
On Debian-Linux-32-bit-Intel platform all tests for fuzzing with unicornafl do not succeed in test/test.sh.
`make test` in unicorn_mode/unicornafl also does not succeed.
[code]
Running `make test` in the original unicorn-engine/unicorn however does succeed.

[2020-04-28 21:53] vanhauser-thc commented on #343
is that something that would be useful? I doubt it to be honest.
for llvm_mode, afl-gcc, afl-fuzz to be as cross-platform and old-new-version support as possible is a good thing.
but unicorn - its emulating a potentially foreign CPU code. so we only need to support this on systems that are fast and make sense to support. So Linux amd64. maybe linux arm64. and perhaps a BSD on amd64 and/or Mac OSX.

[2020-04-28 22:24] domenukk commented on #343
Since upstream unicorn works on 32 bit x86, there might be some real bug hidden in the code, so I think it's worth investigating.
That being saidyyou'll most likely fuzz on 64 bit, indeed.

[2020-04-29 01:02] vanhauser-thc commented on #30
@JoeyJiao
I just added examples/afl-proxy/ which is afl-proxy-client in my previous description. in that you can just forward the data wherever you want, wait for coverage data, put it to the map and thats it.

the server part you would need to be implemented, basically reusing src/afl-forkserver.c.

in case you implemented something yourself - I think a PR would be appreciated by people

[2020-04-29 08:32] hexcoder- commented on #343
I should have opened this issue probably in AFLplusplus/unicornafl, but forgot. Will open it there too and reference this one. In the travis log for AFLplusplus/unicornafl you can see the segmentation violation for 32-bit also.

[2020-04-30 10:29] vanhauser-thc commented on #2
qemu 5 is out now, maybe the performance is better now?

[2020-04-30 10:30] vanhauser-thc commented on #30
client/server over the network is now implemented in the `dev` branch in `examples/afl_network_proxy`.

obviously I was bored ... ;)

[2020-04-30 10:30] #30 closed

[2020-04-30 10:34] vanhauser-thc commented on #185
in llvm_mode make LTO the default when available and otherwise use INSTRIM.
retire afl-llvm-pass.
implement ctx + ngram in instrim.

[2020-04-30 10:35] vanhauser-thc commented on #292
this seems fixed now :)

[2020-04-30 10:35] #292 closed

[2020-04-30 19:35] fuzzah commented on #292
@vanhauser-thc , I confirm that.
3 days without negative stability and with no afl-fuzz crashes in branch 'break'.
Nice job!

[2020-04-30 21:25] vanhauser-thc commented on #292
I am relieved :)
thanks a lot for your effort!

[2020-05-02 19:56] Mindavi commented on #184
Maybe the symlinking of afl-clang to afl-clang-fast (or afl-gcc, it's 'conditional' I think) could be removed. Doesn't add anything as far as I can tell, and may be confusing.

[2020-05-02 19:58] andreafioraldi commented on #184
mmm no. afl-gcc can instruments handwritten assembly, LLVM can't.

[2020-05-02 20:03] Mindavi commented on #184
I didn't mean afl-gcc, but the symlinking of afl-clang to afl-clang-fast.

[2020-05-02 21:13] domenukk commented on #184
I agree. Maybe even only have `afl-gcc` and `afl-clang`, with different flags for lto and the other insns we want to support

[2020-05-02 23:17] dpmdpm2 opened #346 "Using -f option with afl-tmin will cause a double free crash on exit"
afl-tmin copies its command line arguments first thing in main:
[code]

If you use the -f option, the argument following -f will be stored in out_file:
[code]

On exit, out_file is freed:
[code]

However, each argument in argv is also freed:
[code]

This causes a double free of the -f option and, depending on your system, potentially a crash.

To fix this, you should duplicate optarg before assign

[2020-05-03 12:16] vanhauser-thc commented on #184
I would rather want to remove afl-clang and keep afl-gcc and afl-clang-fast.
afl-gcc is well known and removing it would break things, same as for afl-clang-fast.
note that we also have afl-gcc-fast which is neither of both.
removing afl-clang-lto is an option, however I would currently want to keep it to encourage usage of it.

[2020-05-03 12:19] vanhauser-thc commented on #346
thanks and added the fix.
if you would have put that as a PR your github account would come up in the github contributor list.

[2020-05-03 12:19] #346 closed

[2020-05-03 12:33] Mindavi commented on #184
That sounds like a good solution. I think domenukk meant that too, but (I think) the idea there was to remove the `fast` postfix and only keep `afl-clang`? Anyhow, either way is fine, it just doesn't feel very useful to keep `afl-clang` around if it's just a symlink to `afl-clang-fast`.

I understand you don't want to remove afl-clang-lto right now, because I think it's very nice :smile:.

[2020-05-03 13:05] domenukk commented on #184
Obviously we'll have to depreciate each first, so why not depreciate `afl-clang-*` and `afl-gcc-*` and move everything to flags or env variables inside `afl-clang`/gcc?

[2020-05-03 13:19] nataraj-hates-MS-for-stealing-github opened #348 "malloc_usable_size in libdislocator leaks memory"
I am using ```libdislocator``` to trace memory problems

In my project ```malloc_usable_size``` is used when it is built in some modes.

When I came to testing these modes, I was happy to find out, that ```malloc_usable_size``` have been recently implemented in ```libdislocator```

But after running it, I found out, that some tests started to fail with "Out of memory" failure.

I've double checked

[2020-05-03 19:46] domenukk commented on #348
Hey, thank you for your report.
What you're experiencing is actually the behavior of libdislocator, see:
https://github.com/AFLplusplus/AFLplusplus/blob/c7de368dc20078116bcb2e34b0f2237127802841/libdislocator/libdislocator.so.c#L353

It never actually frees, so that use-after-free bugs will be detected.
I guess the idea is that at the end of the comparably short run, the memory is reset, anyway.
On

[2020-05-03 19:49] domenukk commented on #343
Think the bugs are fixed now, right?
Should be add a 32 bit version to travis, btw?

[2020-05-04 08:11] vanhauser-thc commented on #184
I would rather have more symlink and less environment variables to be honest. environment variables can be forgotten that they are set with export (or thought to be set), so more error prone.
the afl-clang basically serves no purpose so removing this is IMHO good. having more environment variables just to get rid of symlinks make things worse not better

[2020-05-04 08:15] vanhauser-thc commented on #343
My argument would be (see above) that whoever wants to run unicorn on a 32 bit platform should be punished :) you need to run it on something fast to be useful and that means 64 bit, right? Or am I wrong?

[2020-05-04 08:24] domenukk commented on #184
Why not make it proper arguments then?
Make lto default, and then the user may `-fafl=fast`

[2020-05-04 08:45] hexcoder- commented on #343
From a software quality point of view it makes sense to at least understand the causes when 32 bit variants fail. So testing with 32-bit from time to time would not be wasteful I think, but probably not for every dev-commit with travis. Before a new release would be nice, so maybe add it in travis for the master branch.

[2020-05-04 09:06] vanhauser-thc commented on #184
we can not get rid of afl-gcc, afl-gcc-fast and afl-clang-fast (or whatever their names will be) as these are totally different binaries. removing afl-clang is good. removing afl-clang-lto is an option.

For options we could do argument, but it also means that setting it up requires CFLAGS and/or CPPFLAGS (and knowing which to set to which project) and targets to honor this (I have seen cmake proj

[2020-05-04 09:36] vanhauser-thc commented on #343
would it not make more sense to add it to the unicornafl travis config instead?

but I think the main problem is that there is no 32 bit system for travis. you would need to to -m32 instead and that is not the same?

[2020-05-04 10:36] domenukk commented on #343
Unicorn Travis already has some `-m32` testcases btw.
That being said, it may also be useful for other afl tools? It makes sure our code is portable

[2020-05-04 16:09] floyd-fuh opened #350 "Include recidivm"
You probably all know recidivm (http://jwilk.net/software/recidivm), which is very helpful to estimate the amount of memory used by a fuzzing target. As you already included preeny's desock I thought I might kick off this discussion. My questions are:

* Where would I put it in a pull request? Somehow next to preeny's desock in "examples"?
* Do you want it to be part of the project?

I don't see a

[2020-05-04 18:56] Mindavi commented on #184
I think using the symlinks is fine. There are 2 more point I have to discuss:

1. I've seen that `afl-gcc.c` has references to `gcj`, but according to wikipedia it's not supported anymore. I'm also unsure if anyone ever tested if it still works. That might be a good candidate for deletion.
2. The `afl-gcc.c` source also mentions `afl-clang`, but if you compile llvm_mode the symlink seems to be ove

[2020-05-04 19:28] vanhauser-thc commented on #348
maybe "USE_ASAN=1" will be better for your target if you run out of memory and your -m value you need is getting too high (but ASAN memory requirements are high too :) )

[2020-05-04 19:35] vanhauser-thc commented on #350
it is more a tool than an example, but creating a tool directory just for this ...
you can put it to examples/get_memory_requirements ... or something like that, maybe less long :)
(nobody would know what "recidivm" is).

I am not sure autodetecting -m is a good idea.  lots of things can go wrong. when you have send a PR with it, you can play around and see if you can get it to work (for 16.04 and

[2020-05-06 12:10] hexcoder- commented on #343
Agreed. Ok, all my tests on Debian i386/32-bit were successful. Raspbian 32-bit is not yet ok, but that is not that important.

[2020-05-07 07:41] #348 closed

[2020-05-07 07:43] #328 closed

[2020-05-07 07:47] vanhauser-thc commented on #343
@hexcoder- the raspbian 32 bit issue is unicorn? if not then we need to fix that.

for -m32 testcases this would mean compiling afl, llvm_mode etc. for -m32. The only useful way I see to do this is via an additional travis check. do we want this? It would make travis take even longer.

[2020-05-07 07:48] vanhauser-thc commented on #324
@domenukk any progress on this?

[2020-05-07 07:49] vanhauser-thc commented on #338
@geeknik what is your opinion?

[2020-05-07 07:49] vanhauser-thc commented on #279
@rish9101 is that something you can add to your work on the custom mutators?

[2020-05-07 07:53] vanhauser-thc commented on #234
@fe7ch

can you share your target and config for bug  number 2?

[2020-05-07 07:56] vanhauser-thc commented on #184
@Mindavi we still support old platforms like Ubuntu 14.04. And there gcj is still present.

for afl-clang/++ - we should just remove the symlink. nobody is using this. and it is pointless.

[2020-05-07 07:56] #208 closed

[2020-05-07 07:57] rish9101 commented on #279
A few reviews from Dominik I saw today. They won't take much long. But I do have to add a testcase to it though 😅

[2020-05-07 08:03] fe7ch commented on #234
@vanhauser-thc unfortunately, it's a proprietary binary that I can't share.

However, as far as I see, it has been fixed on 8th March with the commit: https://github.com/AFLplusplus/AFLplusplus/commit/81179b48290be597ac04cdcd2105d1044517ee81#diff-8fc1422430fd2e14e56388fd0bc8eb43

[2020-05-07 08:05] domenukk commented on #279
@rish9101 this issue is a bit different : it is another library one can add to afl++ with almost the same features as custom mutators. We can drop support for it and add any missing features to custom mutators

[2020-05-07 08:17] hexcoder- commented on #184
@vanhauser-thc: For removing afl-clang/afl-clang++symlinks, I disagree.
The behavior of afl-clang is different from afl-gcc in that a different underlying compiler is used.
This is needed on platforms where no gcc is present IIRC.
See `test.sh` where the right afl-<compiler> is selected for variable AFL_CC.

[2020-05-07 08:21] nataraj-hates-MS-for-stealing-github commented on #348
Thanx!
This all added more understanding about what is happening...

[2020-05-07 09:50] rish9101 commented on #279
Sure. I'll have a look at it, and try and integrate it to the custom mutators api only.

[2020-05-07 09:53] vanhauser-thc commented on #184
but if there is clang then shouldnt we force people to use afl-clang-fast?
as @Mindavi pointed out, our current code would not work when called with afl-clang

[2020-05-07 09:54] vanhauser-thc commented on #234
thanks!

[2020-05-07 09:54] #234 closed

[2020-05-07 12:22] #343 closed

[2020-05-08 05:46] Mindavi commented on #184
Yeah it's kinda confusing, because the afl-clang symlink can either point to the afl-gcc binary or to the afl-clang-fast binary. It depends on if you build llvm_mode.

[2020-05-08 12:18] domenukk commented on #324
I don't have any core files lying around in my current setup. Chances are this only happens after some update or refresh with afl already running, resetting the core pattern?
Or maybe some other setup changed in arch in the meantime. That stuff definitely happens...
Closing for now until it comes back.

[2020-05-08 22:59] domenukk commented on #338
I guess env variables should be pretty easy to implement now that we check them all in a central location here
https://github.com/AFLplusplus/AFLplusplus/blob/62ec52dd956d62957b431ef804b7956124823f00/src/afl-fuzz-state.c#L167

[2020-05-09 18:45] hexcoder- commented on #184
ok, i agree that afl-clang-fast should be preferred over afl-clang, but when there is no LLVM and no gcc, afl-clang will be the only choice.

[2020-05-09 19:10] vanhauser-thc commented on #184
In which situation would there be afl-clang only and not afl-gcc or afl-clang-fast? To be honest - if people don’t invest their time for a minimal efficient fuzzing environment I don’t care if they can’t run it. They don’t deserve it

[2020-05-13 16:40] vanhauser-thc commented on #184
post library support should be removed, custom mutators used instead

[2020-05-13 16:42] vanhauser-thc commented on #279
rishis patch moved post lib to be a custom mutator.
the removal of post library altogether is documented in #184

[2020-05-13 18:00] domenukk commented on #279
This it not really fixed, rather we now have a strange zombie post library and a custom mutator with less features :)

[2020-05-13 23:15] #279 closed

[2020-05-18 07:58] jmberg opened #366 "creates temporary files badly"
AFL++ creates temporary files like this:

[code]

That's bad, if the machine is fast enough to recycle the PID within a second, things clash. Happened here, I believe.

[2020-05-18 08:39] vanhauser-thc commented on #366
Hi, the code you are quoting is from "afl-as.c" which is very likely not where your issue is.
But I get your point. workaround is easy, should land in the dev branch today.

[2020-05-18 08:39] jmberg commented on #366
Or maybe not, I see it uses `O_WRONLY | O_EXCL | O_CREAT`.

I've replaced that code above though, will see if the issues persist.

[2020-05-18 08:41] jmberg commented on #366
Well, I am still using afl-gcc (yeah, will fix that soon), and am seeing random and unexplained linker errors, so I thought maybe the files were clashing here. But with O_EXCL it should run into a PFATAL() at that point, so now I'm not so sure...

Need to watch this a bit more I guess.

[2020-05-18 08:43] vanhauser-thc commented on #366
I am performing an online training at this moment (break time), thinking about your problem, the pid is only used in filenames for compiling. so it is really just an issue there. highly unlike to happen, but can.

[2020-05-18 08:47] jmberg commented on #366
I thought we'd have a conversation via a github issue anyway :-)

I agree it's not likely, but I have some very fast build machines at hand (96 CPU cores or so), so they do run through these things very quickly. And a significant percentage of our builds see highly random linker errors, so I started looking around.

This _seemed_ like a candidate until I saw the O_EXCL, and since we're not seeing

[2020-05-18 08:48] vanhauser-thc commented on #366
checked in, please test

[2020-05-18 08:49] vanhauser-thc commented on #366
a FATAL would still be a problem for building.

[2020-05-18 08:52] jmberg commented on #366
yes, but it would explain what was going on, and not result in broken binaries...

patch looks good, but I can't really test it quickly since the problem is intermittent.

[2020-05-18 08:52] #366 closed

[2020-05-18 08:52] jmberg commented on #366
Thanks!

[2020-05-18 17:39] jmberg commented on #366
FWIW, this wasn't my issue.

And I'm not actually sure what I said made sense - the pid cannot be recycled while we're still running, and the only use of the file is while we're running ... Sorry for the noise.

[2020-05-18 17:42] jmberg commented on #366
(of course, on a sufficiently fast machine this might still matter for AFL_KEEP_ASSEMBLY, but not for me)

[2020-05-18 18:44] vanhauser-thc commented on #366
well it could happen as afl-as generates the file, but the linker is linking it. so in theory it is possible that another afl-as run received the same pid and then generates the same file. think "make -j 4" and a highly process volatile system.

[2020-05-18 19:35] jmberg commented on #366
Yeah, I thought so too, but that's not what happens.

What happens is this
1. gcc is invoked
1. gcc invokes cc1 on test.c -o /tmp/ccXXXXXX.s, that name is picked by gcc, cc1 finishes
1. gcc invokes as (afl-as) -o /tmp/ccXXXXXY.o /tmp/ccXXXXXX.s
1. afl-as creates its temp file, invokes the real as, that writes the result to the file gcc picked - /tmp/ccXXXXXY.o, and, most importantly, afl-as waits

[2020-05-18 19:51] jmberg commented on #366
FWIW, I think I figured it out. What was going on is that part of the build system is not written in make, and different sub-projects are built in parallel (but outside make). Now several of the sub-projects require the same library, and if those sub-projects are built in parallel, the system will attempt to build the same library (in the same filesystem location and all) multiple times in paralle

[2020-05-22 15:15] vanhauser-thc opened #370 "cmplog has issues with lto"
[code]
errors with:
[code]
sadly no clue what the issue is.
without -flto it compiles fine.
It happens with llvm 10 and llvm 11, with lld-11 and system ld calling llvmgold vom llvm-10.

[2020-05-22 15:17] vanhauser-thc commented on #350
@floyd-fuh will you send a PR at some point?
if you have other tasks on your plate I would say we close the issue for the time being.

[2020-05-22 21:30] vanhauser-thc commented on #370
could be a similar problem however results in a segfault:

[code]
errors with:
[code]
Same happens with `LDFLAGS=-flto=full AR=llvm-ar RANLIB=llvm-ranlib CFLAGS=-flto=full CXXFLAGS=-flto=full CC=afl-clang-fast CXX=afl-clang-fast++`.

This one too happens with llvm 10 and llvm 11-dev.

[2020-05-23 07:54] floyd-fuh commented on #350
You are right, daily routine got me, I still have it on my list but won't be able to finish it any time soon. Closing for now, I'll reopen once I work on it.

[2020-05-23 07:54] #350 closed

[2020-05-23 15:57] vanhauser-thc opened #371 "laf-intel has issue with lto"
In a few circumstances laf-intel will crash the compilation process if a target is compiled with -flto.
[code]
results in
[code]

I could trace the reason to the instrumenation of this call in `tjunittest.c`:
[code]

This is what is instrumented into, looks fine to me though ... :(
[code]

[2020-05-24 00:06] vanhauser-thc commented on #371
fixed, it was an incorrectly instrumented call to tolower

[2020-05-24 00:06] #371 closed

[2020-05-24 00:38] vanhauser-thc commented on #370
one step further: bug is in `cmplog-routines-pass.so` (when commenting out the pass in afl-clang-fast jasper compiles)

[2020-05-24 00:38] vanhauser-thc commented on #370
@andreafioraldi any idea?

[2020-05-24 12:59] vanhauser-thc commented on #370
Getting closer:
[code]
the beauty of this one is that it is happening in the compilation of a single file, no library.
And I found out an easy way to debug a problem with LTO and llvm passes: `-S -emit-llvm` and then compiling without LTO :)
[code]
results in:
[code]

[2020-05-24 14:22] vanhauser-thc commented on #370
pushed fix.
that seems to have been the only issue, all tested fuzzbench targets so far have compiled.

[2020-05-24 14:22] #370 closed

[2020-05-24 15:12] am06 opened #372 "porting Superion to AFL++"
Hi,

I'm trying to port Superion fuzzer to afl++, in order to use  LTO mode, some tips on this please?

I see afl++ changed quite a bit on the internals of AFL (which I like in a way, but makes porting harder), so i can't just copy paste a few methods in order to add a new mutation stage.

[2020-05-24 15:20] vanhauser-thc commented on #372
Hi!

I think the easiest would be to make it a custom mutator module. This way you need not to make any changes to afl++ modes and for different targets (xml, json, etc) you just compile a different custom mutator module.
Here is the documentation: [https://github.com/AFLplusplus/AFLplusplus/blob/master/docs/custom_mutators.md](https://github.com/AFLplusplus/AFLplusplus/blob/master/docs/custom_mut

[2020-05-25 15:15] am06 commented on #372
thanks @vanhauser-thc , I did my way which is pretty hacky......just seen the docs, I'll have a look at that.

Now, I get an error like
"
[-] PROGRAM ABORT : No instrumentation detected
         Location : check_binary(), src/afl-fuzz-init.c:2094
"

Any idea, what might cause it? did I miss a config option, or I broke something? I'll start debugging anyway.....

[2020-05-25 15:45] am06 commented on #372
I'm trying to recompile webkit with my modified version of AFL++ and I get this error:

"The C++ compiler

    "/home/adrian/AFLplusplus/afl-clang-lto++"

  is not able to compile a simple test program.

  It fails with the following output:

    Change Dir: /home/adrian/Downloads/webkit/WebKitBuild/Release/CMakeFiles/CMakeTmp

    Run Build Command:"/usr/bin/make" "cmTC_44b1f/fast"
    /usr/bin/m

[2020-05-25 22:09] am06 commented on #372
I managed to compile it again.......might have been a cache CMakeCAche file.....now it's unstable af.....need to check why the map size is 65K in size....I was pretty sure I've read somewhere that it should be bigger now...

[2020-05-25 22:19] vanhauser-thc commented on #372
with afl-clang-lto the map size is ignored when compiling. just start fuzzing it and afl-fuzz will abort nad tell you the exact environement variable value you have to set.

[2020-05-27 01:53] chmeeedalf opened #377 "afl is broken on non-x86/aarch64 64-bit architectures"
https://github.com/AFLplusplus/AFLplusplus/blob/fb8da3e4b1748a428588f8785d3dca7adb6cd225/include/types.h#L50

afl is broken on powerpc64, and other 64-bit archs (mips? riscv?) because uint64_t is defined as unsigned long.  The better check would be '```#ifdef __LP64__```', or a similar portable define.

Additionally, the comment above this block is not entirely correct, because unsigned long long

[2020-05-27 02:40] bdragon28 commented on #377
Technically the PRI macros are simultaneously both POSIX.1 and ISO C99, as well as C++11, any C99 compliant compiler will have the PRI macros in ```<inttypes.h>``` (when not -ffreestanding), and any C++11 compliant compiler will have the PRI macros in ```<cinttypes>```.

[2020-05-27 04:20] arnow117 opened #378 "Implement for MOpt in aflplusplus may cause invalid mutation selection"
From MOpt-AFL, [the swarm_fitness is updated](https://github.com/puppet-meteor/MOpt-AFL/blob/master/MOpt-AFL%20V1.0/afl-fuzz.c#L8602) with the new paths after one round havoc mutation
![image](https://user-images.githubusercontent.com/6059476/82976905-f21c0700-a012-11ea-92b1-e59bad2b1b0a.png)

However [the order of updating temp_puppet_find](https://github.com/AFLplusplus/AFLplusplus/blob/master/s

[2020-05-27 09:04] vanhauser-thc commented on #377
Yes __LP64__ is the better solution. also in regards to #376
thanks!

[2020-05-27 09:09] vanhauser-thc commented on #377
b81df11

[2020-05-27 09:29] #378 closed

[2020-05-27 13:32] zhanggenex opened #380 "Incorporating EcoFuzz?"
**EcoFuzz: Adaptive Energy-Saving Greybox Fuzzing as a Variant of the Adversarial Multi-Armed Bandit** is accepted in Usenix Sec 2020.
It is based on stock AFL and optimizes the power schedule and search strategy of AFL with an **Adversarial Multi-Armed Bandit** model. EcoFuzz outperforms AFLFast with almost no performance overhead according to the evaluation. Is it necessary to incorporate the po

[2020-05-27 13:33] zhanggenex commented on #380
https://github.com/MoonLight-SteinsGate/EcoFuzz

[2020-05-27 13:44] chmeeedalf commented on #377
Hm, I think what you really want is just a straight up typedef, no conditional.  You *want* a unsigned long long across the board, so why guard it in the first place?

[2020-05-27 13:50] vanhauser-thc commented on #380
we first need to check if it really improves. just because there is a paper does not mean there is :)
(comparing it against vanilla afl, not afl++). we are all very busy for the week.
If you want you can test against 4 targets for 2-4 hours?

[2020-05-27 14:02] zhanggenex commented on #380
Sure, I would like to.

[2020-05-28 00:38] zhanggenex commented on #380
Any suggested/required target programs?

[2020-05-28 08:32] ivachyou opened #381 "qemu mode + persistent mode arm failure when running with AFL_QEMU_PERSISTENT_GPR=1"
Hi,

I ran afl++ 2.65c in qemu mode with enviroment variables AFL_DEBUG_CHILD_OUTPUT=1 AFL_QEMU_PERSISTENT_ADDR=0x400004 AFL_QEMU_PERSISTENT_GPR=1, and qemu crashed with segfault.

When I compiled it with --enable-sanitizers and ran again, I had this error log:
[code]

To fix this bug, you should change AFL_REGS_NUM from 32 to 16 for TARGET_ARM in qemu_mode/patches/afl-qemu-common.h file.

[2020-05-28 09:03] vanhauser-thc commented on #381
can you send a PR? this way you are in the github contributor list :)

[2020-05-28 09:20] ivachyou commented on #381
yes, sure

[2020-05-28 10:53] vanhauser-thc commented on #380
libxml2 (xmllint) and one of tiff (tools/thumbnail), libpng, libjpeg-turbo (djpeg)  :)

[2020-05-28 20:54] vanhauser-thc commented on #377
it is the original code. but you are right this could be simplified, will do that

[2020-05-28 20:56] vanhauser-thc commented on #377
done, thanks!

[2020-05-28 20:56] #377 closed

[2020-05-29 15:23] am06 commented on #372
what do you mean the map size is ignored when compiling? how is coverage/instrumentation done in lto mode?

I managed to port Superion partially, but now I have low stability and I want to investigate this....any tips? thank you.

[2020-05-29 17:24] domenukk opened #387 "`read_timed` for Non-Linux (and maybe move to poll())"
Right now, `read_timed(...)` uses `select` for timeouts.
One important piece is that, for multiple short reads, the timeout is calculated accordingly.
Right now, the code depends on `select` updating the time struct for each call, however, according to @dgmelski in #383 this may not apply to all systems (i.e. non-Linux).

This should probably be addressed.
While we're at it, we might want to consi

[2020-05-29 17:31] vanhauser-thc commented on #372
you you compile with LTO instrumentation it ignores the defined map size in config.h and instruments what is necessary. when you run the binary and the map size in afl-fuzz is lower than the binary needs then afl-fuzz aborts and tells you which environment variable to set to which value. thats it.

if you have a low stability it means your target harness is not good. use persistent mode for exampl

[2020-05-29 17:55] vanhauser-thc commented on #387
just read it up. the difference is that linux keeps the time not waited in the time struct, whereas *BSD does not. so for linux it works as expected, for BSD basically an undefined value is returned.
poll needs a little bit more for setup.
I would propose we keep the implementation like it is and just add an #ifdef not linux stuff that ... dunno, real time measurement between the two.
@devnexen ?

[2020-05-29 18:11] domenukk commented on #387
Any good ideas, how to get the time measurements quickly?
About `poll`, how do you mean "more for setup"? More code or more time?
More code might be worth it if it gets faster, actually (and if we need if for BSD anyway).

[2020-05-29 18:25] dgmelski commented on #387
`get_cur_time_us` is using `gettimeofday` which uses VDSO to avoid going all the way to the kernel (as I understand it). In contrast, I'd expect the system calls (select, read) and I/O to be much slower. Or perhaps gettimeofday is not sufficiently precise?

[2020-05-29 18:26] am06 commented on #372
what does persistent mode have to do with this, I don't get it.....it should have high stability by default.

I'm running jsc  with my custom mutator fo Superion like this:

`#!/bin/bash
export AFL_CUSTOM_MUTATOR_ONLY=1
export AFL_CUSTOM_MUTATOR_LIBRARY=~/Downloads/afl++/tree_mutation/js_parser/libTreeMutation.so
export AFL_LLVM_INSTRUMENT=CFG

#export AFL_DEBUG=1
#export AFL_LD_VERBOSE=1

unset L

[2020-05-29 18:49] vanhauser-thc commented on #372
high stability is not a default.
stability decreases if the target reacts to things that has nothing to do with the input. for example hashmaps (often with memory allocations), randomness, dependencies on system state that changes etc.
javascript does a lot of memory stuff, measure stuff, garbage collection, etc.
naturally the stability can not be 100%.

[2020-05-29 18:53] vanhauser-thc commented on #387
well we need select (or something different, however poll and epoll are not faster, same speed for 1 fd).
because of how select works on linux it does automatically what we want and do not need extra code. for poll and epoll we would need extra code.
therefore IMHO a simply ifdef for not linux that uses get_cur_time before and after the call and returns that keeps linux the (minimal) advantage and

[2020-05-29 19:23] devnexen commented on #387
As a matter of fact indeed poll is not faster albeit it depends on the os but not with just one file descriptor. However I would suggest using this for all oses or still using select but not using the timeout to avoid all the ifdef things magic. What do you think ?

[2020-05-29 19:50] domenukk commented on #387
I agree. Not a fan of ifdef if we don't gain anything (with get_cur_time not leading to a syscall) .
If I remember correctly, the Linux docs specifically state poll is faster but I don't know about the internals...

[2020-05-29 19:59] vanhauser-thc commented on #387
epoll is the fastest - if you have thousands of file descriptors.
fuzzing is about speed - not only but in this context it is.
its a few instructions but that for every fuzz.
its 2 ifdefs with altogether 3 lines. no thing.

[2020-05-29 21:30] dgmelski commented on #387
If you want the total time to stay below timeout_ms, you need to adjust the timeout passed to select() in every iteration of the loop, which I think makes it slightly longer, though still simple enough.

In AFL++'s use of this function, the loop probably never executes more than once.  The bug I reported has likely never occurred, for this reason. You could possibly get by with a less general func

[2020-05-29 22:14] toralf opened #388 "(hardened) Gentoo Linux install issues"
I tried to compile+install it under a hardened Gentoo but got during that sth like
[code]
from the Gentoos sandbox. Any hints how to circumvent that?

[2020-05-29 22:48] dgmelski commented on #387
Actually, is that read() non-blocking?

[2020-05-29 22:51] domenukk commented on #387
Ah... It should be blocking, but at this point should never block, right? Could mean the select time is a bit too long in a short read case, though.

[2020-05-29 23:43] domenukk commented on #388
These look like the startup checks afl does to see if the environment is set up correctly.
There are a range of env variables you can try to set (all documented here https://github.com/AFLplusplus/AFLplusplus/blob/master/docs/env_variables.md) like`AFL_SKIP_CPUFREQ`, `AFL_NO_AFFINITY`, and `AFL_I_DONT_CARE_ABOUT_MISSING_CRASHES`.

[2020-05-30 00:51] dgmelski commented on #387
Won't blocking IO usually block until all of the requested blocks are available? It means the following is possible:
1. The select returns true, because some, but not 'len', bytes are available.
2. The read blocks until 'len' bytes are available, exceeding timeout.
3. The loop never has a second iteration (the loop is pointless).

Mind you, this will never happen, because AFL++ is asking for just

[2020-05-30 04:55] vanhauser-thc commented on #387
@dgmelski is right that in an incomplete read the second read would block.
and the timeout would need to be adjusted every time the select is called.

and I agree that an incomplete read should never happen, even if this would be on tcp/ip in the future - as long as this is just these 4 bytes.

so basically overengineered :)

I simplified the function and documented the assumption that the len byt

[2020-05-30 04:58] vanhauser-thc commented on #387
now looks like this:
[code]
IMHO so two little ifdefs are fine, as as cheap get_cur_time_us is, it is still an unnecessary overhead on Linux which is by far the most used platform.
(opposing opinions?)

[2020-05-30 05:11] vanhauser-thc commented on #381
thank you!

[2020-05-30 05:11] #381 closed

[2020-05-30 07:37] domenukk commented on #387
Let's leave the potential loop here please, and make the read non-blocking instead(?)
I have plans to use it for other things in the future.
The ifdef is fine, I don't have a strong opinion on it.

[2020-05-30 08:32] toralf opened #389 "symling to afl-clang did not work in configure step"
At a hardened Gentoo
```export CC="/usr/bin/afl-clang"```
didn't worked with Tor sources ("configure: error: C compiler cannot create executables"), whereas
```export CC="/usr/bin/afl-clang-fast"```
made it. FWIW:
[code]

[2020-05-30 09:09] domenukk commented on #387
How about this?
https://github.com/AFLplusplus/AFLplusplus/commit/38e5c32a55086d36c8b9ee38e4b20c15517fc4b2
Not that I opted for the `ioctl` to set nonblocking mode, as it is only one syscall and appears to be widely supported.
It had no measurable performance impact on my machine, however feel free to benchmark and potentially add a `read_timed_4` method for the 4 byte special case, based on the f

[2020-05-30 09:09] #387 closed

[2020-05-30 11:09] vanhauser-thc commented on #389
without pasting the failure messages etc - how should we know what went wrong?

[2020-05-30 11:30] vanhauser-thc commented on #389
I remembered that we got a PR that changed the detection of the binary name. and there afl-clang missing. please test, the fix is in the dev branch.
in the future please write paste failure message so we can have a good chance to guess what the problem is.

[2020-05-30 12:09] domenukk commented on #387
After discussing with @vanhauser-thc again, we don't need a general `read_timed` function as we always read 4 bytes, so I removed it again. New solution here: 2450819

[2020-05-30 14:31] am06 commented on #372
I meant if the fuzzing is stable in non-persistent mode it should be stable in persistent mode too.

Anyway I managed to start fuzzing Spidermonkey in LTO mode and stability is stable at 95% :)

now I'm trying to compile JSC and I get an error when linking

`[ 42%] Linking CXX executable ../../bin/LLIntSettingsExtractor
afl-clang-lto++2.65c by Marc "vanHauser" Heuse <mh@mh-sec.de> in mode LTO
clan

[2020-05-30 15:08] vanhauser-thc commented on #372
no. a normal target can be stable or unstable and there is nothing you can do.
a persistent target can be stable or unstable, but that is in your hand - and also how the functions behave.

the best thing you can do is finding out which functions are responsible for the instability (with LTO that is easy, in all other modes impossible - each edge has a unique ID, so find the unstable IDs (patch afl

[2020-05-30 15:25] vanhauser-thc commented on #372
also add --allow-multiple-definition in the shell script

[2020-05-30 15:58] am06 commented on #372
LD='/usr/lib/llvm-11/bin/ld.lld -mllvm -load=/home/adrian/Downloads/afl++/afl-llvm-lto-instrumentation.so $*  --allow-multiple-definition'

like this? doesn't seem to be working........I'm not familiar with the linking process.......

[2020-05-30 19:15] vanhauser-thc commented on #372
maybe you should start with easier stuff.

cat > ld.sh
/usr/lib/llvm-11/bin/ld.lld -mllvm -load=/home/adrian/Downloads/afl++/afl-llvm-lto-instrumentation.so  --allow-multiple-definition $*
^D
chmod 755 ld.sh
LD=`pwd`/ld.sh CC=afl-clang-lto CXX=afl-clang-lto++ etc. .. ./configure

also I want to help with you porting superion. not generic fuzzing assistance.

[2020-05-31 11:58] am06 commented on #372
fair enough, but this is for testing AFll++ with Superion as a custom mutator on v8 engine.

I'll do some more digging cheers.

[2020-06-02 19:46] jonasmollerlarsen opened #391 "Shared mem persistent mode doesn't seem to work"
Hi there. I was curious to try the new redqueen strategy and noticed what seems to be an issue in shared-mem persistent mode. As follows:
The fork server communicates the size of a test case by setting the global variable __afl_fuzz_len in afl-llvm-rto.o.c:
[code]
which is available to the fuzz target (as in examples/persistent_demo/persistent_demo_new.c):
[code]
However, the mechanism doesn't see

[2020-06-02 21:16] vanhauser-thc commented on #391
I fixed that sunday evening. it was a dumb oversight on my part :)
are you sure your dev checkout is current?

[2020-06-03 14:37] jonasmollerlarsen commented on #391
Confirm it's working the dev branch. Thanks much!

[2020-06-03 14:43] thapr0digy opened #393 "wireguard-linux-compat fails compilation in llvm_mode"
I've attempted to compile wireguard-linux-compat kernel modules in llvm_mode and continue to get clang assembler errors. The problem is clang, gcc and afl-gcc compile the modules without issue.

10.0.1

afl-clang-fast++2.65d by <lszekeres@google.com> in PCGUARD mode
Ubuntu clang version 10.0.1-++20200529024103+a634a80615b-1~exp1\~20200529124721.169
Target: x86_64-pc-linux-gnu
Thread model: posix
I

[2020-06-03 15:42] thapr0digy commented on #393
A little extra testing with instrumentation options lead me to finding PCGUARD mode was not working, but CFG did via AFL_LLVM_INSTRIM=1. The question I now have is why does PCGUARD mode not work?

[2020-06-03 16:17] geeknik commented on #393
Have you tried setting an alternate `as` via ` AFL_AS` such as `llvm-as`?

[2020-06-03 18:26] vanhauser-thc commented on #391
we are still working on it, so wait for a few days until it is stable and all bugs fixed.
its already implemented for qemu and unicorn, and there is one issue so far in llvm_mode persistent mode

[2020-06-04 01:01] vanhauser-thc commented on #391
now it is fixed and done. have fun and report :)

[2020-06-04 01:03] vanhauser-thc commented on #393
I have seen this error too (in ffmpeg). however I had not thought about @geeknik idea. please report if it works :)

[2020-06-04 15:46] thapr0digy commented on #393
Just attempted but same errors. Used this command: `AFL_AS=llvm-as make CC=afl-clang-fast`. Dang I was really hoping that would work.

[2020-06-04 20:44] thapr0digy commented on #393
Yeah no luck still. As you mentioned, doesn't seem to be a big deal if INSTRIM still is pretty good. The output was the same again with bad .section directive. Not sure what's going on with the assembler especially since clang works without PCGUARD instrumentation

[2020-06-05 07:53] vanhauser-thc commented on #393
your best option would be llvm11 -> afl-clang-lto ... but not sure that target compiles with that.

remember to close the issue once it is resolved for you

[2020-06-05 15:05] thapr0digy commented on #393
Yeah I've tested afl-clang-lto with no luck as well so I'm stuck with CFG. Thanks anyways though!

[2020-06-05 15:05] #393 closed

[2020-06-05 19:53] toralf commented on #388
well, seems to be sandbox related used by Gentoos portage - so deactivated "sandbox" feature for now here.

[2020-06-05 19:53] #388 closed

[2020-06-05 20:02] toralf commented on #389
https://github.com/AFLplusplus/AFLplusplus/pull/331/commits/82b6b8c87e1bc5394349fd2931b306f671c4da1a fixed it here

[2020-06-05 20:08] toralf commented on #389
I tried to cherry pick both commits but they didn't applied cleanly on top of 2.65c.
Will wait for a next release.

[2020-06-06 09:58] vanhauser-thc commented on #389
just do a "git clone https://github.com/AFLplusplus/AFLplusplus  ; cd AFLplusplus ; git checkout dev ; make source-only install " and you are fine

[2020-06-06 13:55] toralf commented on #389
I patched 2.65c with "git swithc dev; git diff 2.65c.. > /etc/portage/patches/app-forensics/AFLplusplus-2.65c/dev.patch"
and tested the excuteabled - seems to solve the issue.

[2020-06-06 14:19] #389 closed

[2020-06-08 23:24] wideglide opened #397 "question: why trace-pc-guard is better?"
Do you have additional details/ insight as to why trace-pc-guard is a [better default](https://github.com/AFLplusplus/AFLplusplus/pull/374/commits/5d0bcf8152136df83337c8ae9808d2aacc1e6693) in llvm mode?

I looked around for some comments in issues or commits, but didn't see the reasons why.  I would suspect this is a finding from Fuzzbench, but I'm curious why it works better.

If there's a better

[2020-06-09 07:58] vanhauser-thc commented on #397
Originally pcguard was very slow, it instrumented every block, etc.
However somewhere in the llvm versions they rewrote that and now do the same as InsTrim is doing - with less bugs though (compared to classic afl instrumentation instrim looses a bit of coverage, on the other hand it is 20% faster). so it has good coverage, and - that is surprising to me, the speed is also good (which does not mak

[2020-06-10 18:48] geeknik opened #401 "Non-printable characters in line 74 of http.dict"
According to afl++:
[code]

https://github.com/AFLplusplus/AFLplusplus/blob/12bdefe00e38cdc3dd8cb028eeac325ab2e94e16/dictionaries/http.dict#L74

Looks like there is a TAB after P3P and before the ".

[2020-06-10 19:55] #401 closed, assigned to nobody

[2020-06-11 09:54] domenukk commented on #401
Is there a good reason we don't accept non-printable chars? Sounds like they could be useful?

[2020-06-11 10:31] hexcoder- commented on #401
This decision was made by Michal Zalewski.
Non printable characters can be expressed by `\xNN`, other escapes are `\\` and `\"`
Do you have a good reason to include them in raw form;-)?

[2020-06-11 11:54] vanhauser-thc commented on #397
OK, here is a result.
This was actually not easy to build the fuzzbench benchmark targets with lcov coverage so that they give meaningful results. Only one in the end compiled correctly:

|BENCHMARK|FUZZER|LINES|BRANCHES|PC|
|:-:|:-:|:-:|:-:|:-:|:-:|
|freetype2-2017|aflplusplus_classic|965|352|1758|
|freetype2-2017|aflplusplus_nosingleblock|965|352|1756|
|freetype2-2017|aflplusplus_nozero|943|345|

[2020-06-11 13:54] domenukk commented on #401
All right, if there is a way to express these, this seems fine. Thanks for the clarification :)

[2020-06-11 17:14] jonathanmetzman commented on #397
Thanks for trying this.
I think `os.environ['FUZZER_LIB'] --coverage /libAFL.a'` is problematic for FuzzBench. Many benchmarks depend on this being a library rather than arguments to the linker. I assume this is why most benchmarks couldn't build.

[Clang's source based coverage](https://clang.llvm.org/docs/SourceBasedCodeCoverage.html) is used in OSS-Fuzz so i think it is supported much better by

[2020-06-12 17:55] geeknik opened #402 "Resizing a PuTTY window while AFL++ is running causes AFL++ to abort"
I'm fuzzing with AFL++ built from `12bdef` on a remote VPS and I'm connected using PuTTY v0.73 from a Fedora 31 host. My setting for the PuTTY window is 80 x 26 with a font size of 14. Makes for a pretty comfortable read for my old eyes. I'm also using screen on the remote VPS if that factors into this at all.  (EDIT: It doesn't, AFL++ aborts the same way when run under tmux)

Anyways, I accidenta

[2020-06-12 21:41] vanhauser-thc commented on #402
actually the same happened to me today when I resized a local window where afl-fuzz was running.
My guess is it is a resize signal that is not handled.
thanks for reporting!

[2020-06-12 22:15] vanhauser-thc commented on #402
fixed with 615ab1a

[2020-06-12 22:15] #402 closed

[2020-06-15 08:03] #380 closed

[2020-06-15 08:31] zhanggenex opened #405 "Looking into taint inference?"
Hi, guys.
Latest papers such as [ProFuzzer](https://www.cs.rutgers.edu/~sm2283/papers/SP19.pdf), [GREYONE](https://www.usenix.org/system/files/sec20spring_gan_prepub.pdf) and [SLF](https://www.davidmitchelperry.com/publication/slf-fuzzing-without-valid-seed-inputs/SLF-Fuzzing-without-Valid-Seed-Inputs.pdf) introduce a new technique to help AFL pass conditional checks and mutation: **taint inferenc

[2020-06-15 08:58] vanhauser-thc commented on #405
there is an input2state implementation in llvm_mode and qemu_mode -> redqueen/cmplog.
see llvm_mode/README.cmplog.md and qemu_mode/README.md

Is this what you are looking for? Or is there a feature missing?

[2020-06-15 11:43] zhanggenex commented on #405
@vanhauser-thc
Similar to GREYONE, the idea of REDQUEEN is also to identify the positions in input that corresponds to a check. I quote from the GREYONE paper:

But the paper did not conduct comparing evaluation on REDQUEEN, and it is not open source, that I cannot tell which one is better.
Thanks.

[2020-06-15 14:24] motokokusanagi20 opened #406 "AFL++ Setup on Ubuntu ARM64"
Hi

I'm trying to setup AFL++ in a Ubuntu ARM64 environment.
I decided to use an Amazon AWS EC2 Ubuntu 18.04 ARM64 instance.
The installation process went quite smoothly (apt + make distrib).
I decided to give a try, I build a simple test program and compile it with afl-clang-fast.

[code]

Then I try then to run afl-fuzz but I get the following messages:

[code]

NOTES:
- The test inputs are not

[2020-06-15 14:31] vanhauser-thc commented on #406
most likely there are higher memory requirements.
try if it works with "-m none"

if not - can you please try two things:

[code]
and check what output the target might print out

[code]
and check if that target binary works

[2020-06-15 14:52] motokokusanagi20 commented on #406
By setting the environment variable

[code]
Seems to work perfectly now!

The "-m none" option did not change a thing in the output.

Anyhow here the output with AFL_DEBUG=1 (with the binary compiled without setting AFL_LLVM_INSTRUMENT=CLASSIC)

[code]

Thanks!

[2020-06-15 15:24] vanhauser-thc commented on #406
good :)

it would still be good to find out what the issue is with pc guard mode.
which llvm/clang version are you using?

does the crash/error also happen if you use  `echo foo | afl-showmap -o - -- ./test` ? does it crash if you just call it with "echo foo | ./test" ?

[2020-06-15 18:03] motokokusanagi20 commented on #406
Actually I'm using the default 18.04 Ubuntu version (clang-6.0).

[code]

In the meanwhile I setup also on AWS an Ubuntu 20.04 ARM64. There I have a more recent version of clang / llvm:
[code]

Here afl-fuzz works perfectly without passing the env variable "AFL_LLVM_INSTRUMENT=CLASSIC" afl-clang-fast.  So basically by updating to a more recent version of clang ( or distro) you don't have the probl

[2020-06-15 19:22] vanhauser-thc commented on #406
yeah that was my feeling that is was an llvm aarch64 problem and not us :)
thank your for verifying!

[2020-06-15 19:22] #406 closed

[2020-06-16 09:34] vanhauser-thc commented on #391
@jonasmollerlarsen please note that another important shmem fix was applied 3 days ago. Now it should work as expected.

[2020-06-16 12:59] Minilulatsch opened #407 "Fuzz target crashes on dry run when AFL++ is compiled with LLVM 6.0, but not with LLVM 11.0"
I am using AFL++ to fuzz PcapPlusPlus (https://github.com/seladb/PcapPlusPlus). I'm working on a Ubuntu 18.04 machine, which uses LLVM 6.0 as the default LLVM version. I installed AFL++ from source, i. e. it is compiled with LLVM 6.0. The fuzz target compiles perfectly fine using afl-clang-fast/afl-clang-fast++. But when I start afl-fuzz, the process aborts, as the fuzzing target crashes on a dry

[2020-06-16 13:25] vanhauser-thc commented on #407
I guess this is the same issue we have been seeing for a few days now.

llvm 6.0 is buggy and does not work with trace pc guard instrumentation.

2 solutions:

1.
`export AFL_LLVM_INSTRUMENT=CFG`
then compile the target with afl-clang-fast

2. use llvm > 6

please report if that works for you

[2020-06-16 13:34] Minilulatsch commented on #407
Solution 1 works for me, thank you for the information.

[2020-06-16 20:08] wmmc88 opened #409 "AFL++ GCC plugin Instrumentation Ratio"
When instrumenting code with the gcc plugin and setting AFL_INST_RATIO=100, the gcc plugin outputs diagnostics that say `Instrumented 2/4 locations in <function name>`,  `Instrumented  9 /14 locations in <other function name>`, etc.

Is it intended behaviour that the plugin doesn't instrument every location, even when AFL_INST_RATIO is set to 100?

[2020-06-16 20:37] vanhauser-thc commented on #407
I also added a patch that sets the default to classic instrumentation for llvm <= 6

[2020-06-16 20:37] #407 closed

[2020-06-16 20:59] vanhauser-thc commented on #409
Yes this is correct. from the afl-gcc-pass.cc:
[code]
the pass automatically skips basic blocks that are not the destination of a decision. this makes the runtime faster, less map pollution and at no loss of precision.

[2020-06-16 21:04] jonasmollerlarsen commented on #391
Thanks for your updates. I'll give it another go.

[2020-06-17 12:25] fe7ch opened #410 "afl-fuzz instances don't import paths in parallel mode"
I have single computer parallel fuzzing with 1 master and 2 slaves.

The relevant part of the shell script file used to launch afl-fuzz:

[code]
`-M master` or `-S slaveX` are passed as parameters to the script.

At this moment those instances have the following stats:

master: 4 cycles done, 3231 paths
slave1: 960 cycles done, 3292 paths
slave2: 772 cycles done, 3267 paths

All of the instances h

[2020-06-17 13:04] vanhauser-thc commented on #410
which version are you using? or if you are using a git checkout, which commit id?

also please send an "ps auxwwww|grep afl-fuzz"

[2020-06-17 13:16] fe7ch commented on #410
Commit id: 70a67ca67d0ea105d2b75dae388be03051cf0bf3

The requested ps output:
[code]

There are the following setups:

in/out folders - 1 master, 2 slaves, QEMU mode
in2/out2 folders - 1 master, 1 slave, QEMU mode
rar_min/rar_out fodlers - 1 master, 1 slave, LLVM mode - it's the only setup where path importing is functioning at this moment.

[2020-06-17 13:45] geeknik opened #411 "afl-fuzz ignoring -p command line switch?"
Attempting to fuzz a target with afl++ built from commit 0dc996 like so:
`afl-fuzz -m none -p fast -L -1 -i in -o out -x dict -- ./target`

I'd like `-p fast` however the status screen shows [coe] at the top instead of [fast]. This is recent breakage as afl++ built from commit 12bdef does not exhibit this behavior.

[2020-06-17 14:36] vanhauser-thc commented on #410
wow that is ancient. update, compile, install - retry please :)

[2020-06-17 14:47] vanhauser-thc commented on #411
oh you are right. fixed now.
Thanks!

[2020-06-17 14:47] #411 closed

[2020-06-17 17:44] Minilulatsch opened #413 "Compiler error with cmplog + ASAN + lto"
Consider the following example for a shared library, that shall be used for fuzzing.

Shared library funcs.cpp:
[code]
When using `AFL_LLVM_CMPLOG=1 afl-clang-lto++ -o libfuncs.so -shared funcs.cpp` to create the shared lib with afl-clang-lto++ and cmplog, everything works fine and the library can be linked against the fuzzing target afterwards. But when trying to compile with ASAN (`AFL_USE_ASAN=

[2020-06-17 18:06] fe7ch commented on #410
Oups, my bad. Forgot that I've started playing with AFL++ on this PC some time ago.

I'll let you know if pulling a fresh version fixes the issue.

[2020-06-17 18:21] Minilulatsch commented on #413
The error also occurs when linking to the shared library with afl-ld-lto and afl-clang-lto

[2020-06-17 18:45] vanhauser-thc commented on #413
and what if you do not use CMPLOG? so only ASAN + lto? then it works too?

[2020-06-17 18:47] Minilulatsch commented on #413
Yes, ASAN + lto works fine.

[2020-06-17 18:56] vanhauser-thc commented on #413
Sorry for the questions I am out of the house so I want to collect all information in the mean time :)

What if you use “ AFL_LLVM_INSTRUMENT=AFL afl-clang-fast“ instead?

[2020-06-17 19:04] Minilulatsch commented on #413
No problem, I'm glad if I can help. Using ASAN + cmplog + AFL_LLVM_INSTRUMENT=AFL afl-clang-fast asks for -fPIC, but with this it works, too.

[2020-06-17 19:07] vanhauser-thc commented on #413
and if you add -fPIC to the afl-clang-lto command line?

[2020-06-17 19:08] Minilulatsch commented on #413
Nope, this doesn't influence the error, still gives `ld.lld: error: Invalid record (Producer: 'LLVM11.0.0' Reader: 'LLVM 11.0.0')`

[2020-06-17 19:10] vanhauser-thc commented on #413
And you are using the most current master or dev checkout?

[2020-06-17 19:14] Minilulatsch commented on #413
Yes, I also just pulled the official Docker image and tried with that and it also gives this error.

[2020-06-17 19:39] vanhauser-thc commented on #413
Thank you that is all I need. With luck the fix is in in a few hours

[2020-06-17 20:22] vanhauser-thc commented on #413
Fix is in, please test @Minilulatsch.
This is definitely a bug in llvm. a parameter to createcall is misinterpreted in the very current llvm 11-dev versions.
@andreafioraldi

[2020-06-17 21:11] Minilulatsch commented on #413
Good news first: The workaround seems to work! The example from above now compiles correctly, just like the actual project I wanted to fuzz. For the latter one, fuzzing also works great, I would therefore consider this problem as solved in general. Thanks a lot for that!
The example I posted above however now has a problem with fuzzing:
`Target requested sharedmem fuzzing, but we failed to enable

[2020-06-17 21:21] Minilulatsch commented on #413
But there is another question, that just came to my mind. Do I need cmplog + ASAN at all? It's probably sufficient if the binary version without cmplog is compiled with ASAN for fuzzing, but the cmplog binary does not need it, as it only needs to do its input-to-state-correspondence stuff, right?

[2020-06-17 21:27] vanhauser-thc commented on #413
my intuition would be to agree - @andreafioraldi ?

[2020-06-17 21:29] vanhauser-thc commented on #413
you did not share the main file to which you link the target.
also if you do that you have to create a static library (.a) and link that instead of a shared library. it can work with the shared library, but it would need special env vars to be set. and you would not know if the correct shared lib is actually used (if fuzzing a common lib)

[2020-06-17 22:09] Minilulatsch commented on #413
My main file looks like this:
[code]
But actually, using a shared library was not the problem. As you can see, I used the macros to prepare the target for Persistent Mode, but I did not include
 `while (__AFL_LOOP(1000))`
Adding the missing Persistent Mode loop fixed the sharedmem error, even when using a shared library. So that was simply my mistake, but I guess everything is figured out now. Tha

[2020-06-18 05:02] #413 closed

[2020-06-18 07:25] andreafioraldi commented on #413
You can just use afl-clang-fast without ASan for CmpLog.

[2020-06-18 07:33] vanhauser-thc commented on #413
I think the question is if we actually ignore any USE_.... sanitizer for cmplog as they likely just slows cmplog down and give no value?

[2020-06-18 13:20] #409 closed

[2020-06-18 20:57] toralf opened #417 "afl-plot check for shared /tmp directories is wrong"
I do use output directories under /tmp/AFLplusplus/, eg.: /tmp/AFLplusplus/diff-apply_48ff6a41ae_20200618-193030
The afl-plot complaints about them. Cd'ing into it and running "afl-plot . ." however works fine.
Does the grep pattern in the appropriate check lacks a "$" ?

[2020-06-19 08:58] hexcoder- commented on #417
Thanks. I will look into it. It currently only checks whether arguments contain (/var)/tmp.

[2020-06-19 09:05] vanhauser-thc commented on #417
@toralf @hexcoder-  I think that was for security (symlink attacks etc) however as output directories are usually not 777 created that should not be an issue and could be removed IMHO

[2020-06-19 22:15] fe7ch commented on #410
It seems that it still works randomly...

Setup 1 (QEMU mode):
Master - 2 cycles done, 3207 paths, *2 imported*
Slave1 - 900 cycles done, 3258 paths, 0 imported
Slave2 - 844 cycles done, 3259 paths, 0 imported

Master imported the 2 paths around the time when it completed the first cycle. So I was expecting it will import other paths when it finishes the second cycle, but it didn't happen.

Setup

[2020-06-20 11:14] hexcoder- commented on #417
Until I am sure this not a security problem anymore, here is the fix: https://github.com/AFLplusplus/AFLplusplus/commit/eb4561e3a67231e34f772bdc6b0175e385692d50. It enables the check also when directories are given with relative paths.

[2020-06-20 11:36] vanhauser-thc commented on #417
it is not.
you have to run a sytem insecurely for fuzzing anyway to be effective (no aslr, no kernel protections for cache attacs etc.) - and running them in /tmp (data away on reboot) with a umask of 0000 - yeah ... no. :)

[2020-06-20 12:57] toralf commented on #417
Whilst I'd just kick off that check entirely IMO ```realpath``` and/or ```readlink``` should be used for any improvement of that - currently completely broken - check

[2020-06-20 15:40] hexcoder- commented on #417
`realpath` and `readlink` are not portable as we have seen on other OS. We don't want extra dependencies just for that, I guess. BTW: I did not add the original check (Michal did), just wanted it to be consistent. And I don't understand what else is broken currently (you did not tell us). Feel free to do an PR (against the dev branch).

[2020-06-20 15:47] toralf commented on #417
Oh with "broken" I meant that giving the args ". ." makes the whole check senseless.

[2020-06-20 17:14] jonasmollerlarsen opened #419 "[bug] afl-fuzz -R (Radamsa) no longer works"
Since the port to Haiku in
https://github.com/AFLplusplus/AFLplusplus/commit/67d87dd2a9dbc393b56162e77ff3178f4e3f59fa

[code]
quits with exit code 1, at the point of starting the radamsa stage, under Ubuntu 16.04.6 LTS (WSL) llvm-9.0.0.

strace output:
[code]

libradamsa.c isn't exactly easy to follow, but it appears that the order of constants matters in

[code]
Undoing just this change is enough

[2020-06-20 20:35] hexcoder- commented on #419
Thanks for a good error analysis! The order of items seems to be relevant here.

[2020-06-20 20:41] hexcoder- commented on #419
Now fixed with commit https://github.com/AFLplusplus/AFLplusplus/commit/b3b016a4a3f15ea22eccd06b47dbf9749b6f08ec

[2020-06-21 09:54] vanhauser-thc commented on #417
@hexcoder- I would vote for removing the /tmp checks. they can be circumvented plus IMHO they give little value.

[2020-06-21 09:55] vanhauser-thc commented on #405
that is the issue with people who do not release their code. IMHO these papers should not be accepted anywhere as they "results" can not be verified independently.

[2020-06-21 09:55] vanhauser-thc commented on #410
weird. I will try to look into this the over the week

[2020-06-21 09:56] vanhauser-thc commented on #419
@jonasmollerlarsen please verify that the fix works for you. if so please close the issue :)

[2020-06-21 09:58] zhanggenex commented on #405
@vanhauser-thc
Agree.

[2020-06-21 09:58] #405 closed

[2020-06-21 10:14] jonasmollerlarsen commented on #419
Thanks for the fix, -R runs without error now.
On Haiku though, I guess we may need
[code]

Ignoring Radamsa for a second, the latest master (and dev) branch still doesn't work for me, e.g. it fails to find new paths in a toy 2-byte magic word target. Where 2.65c works fine.

[2020-06-21 10:15] #391 closed

[2020-06-21 10:28] vanhauser-thc commented on #419
this needs way more information.
please provide everything so we can try to reproduce this :)

[2020-06-21 10:44] jonasmollerlarsen commented on #419
@vanhauser-thc I'll do some more digging and attempt to provide reproduce info

[2020-06-21 11:37] jonasmollerlarsen commented on #419
Here's more info:
The issue I see (no new paths found on a simple target) happens only when using "afl-fuzz -s 0" (fixed random number seed). Without -s the latest master works fine. Different seeds than 0 results in some paths being found, but fuzzing still seems to get stuck (because havoc isn't working?). The issue wasn't there in 2.65 nor https://github.com/AFLplusplus/AFLplusplus/commit/12bde

[2020-06-21 11:53] domenukk commented on #419
@vanhauser-thc sounds related to the new random function?

[2020-06-21 12:04] vanhauser-thc commented on #419
oh yes -s0 is an issue. every random input will be 0 ... OK I think will change this

[2020-06-21 12:09] vanhauser-thc commented on #419
@jonasmollerlarsen please again try with the new dev commit

[2020-06-21 13:01] TheAifam5 opened #420 "Compilation errors on ArchLinux"
Build with `make distrib PREFIX="/usr"`

[code]

Building QEMU mode:
[code]

Building UNICORN mode:
`make install` does not install python bindings for unicorn mode.

[2020-06-21 13:57] jonasmollerlarsen commented on #419
With the latest dev b0866f59ccbcd90c2c3e0ecbb5ba2d9badc60319 and -s0, rand_next() always returns zero, so afl-fuzz doesn't find paths.
With other seeds -s1 -s2 -s3 the output looks more random.

[2020-06-21 14:23] vanhauser-thc commented on #419
I compared the wrong variable ... ;)
eb3cb4bb should fix this.

[2020-06-21 14:27] jonasmollerlarsen commented on #419
Both -R and -s 0 work now.

[2020-06-21 14:27] #419 closed

[2020-06-21 14:42] vanhauser-thc commented on #420
Error 1: your environment needs another include. Added it and removed -Werror. @hexcoder-  as good as this is, with all the different platforms we support it is killing the build process for users if there is a warning ... and with llvm 3.5 up to 11, NetBSD to Gentoo etc ...

Error 2: you (or your build system) are overriding CFLAGS, I would recommend not to. But changed it so libdislocator will c

[2020-06-21 14:45] domenukk commented on #419
Should we add a unittest for random with seed 0?

On Sun, Jun 21, 2020, 16:27 jonasmollerlarsen <notifications@github.com>
wrote:

[2020-06-21 16:01] TheAifam5 commented on #420
I was using the `master` branch.

Error 1: Fixed, shows warnings now.
Error 2: Fixed, shows warnings now.
Error 3:

New `Error 4` in samples. Should be `samples` be compiled for `distrib`?
[code]

[2020-06-21 16:08] vanhauser-thc commented on #420
can you try again? should work now.

[2020-06-21 16:18] TheAifam5 commented on #420
Everything compiled successfully. Thank you. Now I need to find out how to get unifornafl python bindings to be installed system-wide.

[2020-06-21 16:30] vanhauser-thc commented on #420
maybe make install as root? @domenukk ?

[2020-06-21 16:53] TheAifam5 commented on #420
What about just executing `python setup.py build` and then in `install` task install it?

[2020-06-22 04:49] hexcoder- commented on #420
Yes, I agree, -Werror is not recommended in the general case (and I did not add it).

[2020-06-22 04:57] hexcoder- commented on #417
@vanhauser-thc : If my fix can be circumvented, it is ok with me to remove the checks.

[2020-06-22 05:05] vanhauser-thc commented on #420
apologies I thought you had added it

[2020-06-22 06:48] vanhauser-thc commented on #417
I removed the /tmp checks from afl-plot, afl-cmin.bash (plus a fix for afl-cmin.bash not finding afl-showmap -- funnily afl-cmin.awk did not have the /tmp check) and afl-fuzz.

[2020-06-22 06:51] vanhauser-thc commented on #410
how long have you been waiting?
because for me it is working fine. the imports just take long to trigger (longer than in afl-fuzz) for performance reasons.
[code]
give it 10-15 minutes after all are started up.

[2020-06-22 09:22] domenukk commented on #420
That should work(after calling `make` in unicornafl), yes. :)
That's pretty much what our build script does

[2020-06-22 09:39] fe7ch commented on #410
It has been running for 4+ days already, but the imported paths are the same as in my previous message.

Is there any differences with path importing for QEMU mode in comparison with other modes? I have an llvm setup running on this PC as well and it seems like llvm setup is not affected by this problem.

[2020-06-22 09:58] vanhauser-thc commented on #410
have you also recompiled and installed qemu_mode with the current version?

[2020-06-22 10:02] fe7ch commented on #410
When you said that my setup is ancient, I've made git pull + make distrib. I thought it've rebuilt everything, but now I'm not sure :/

I can completely remove it all and install from scratch if you still have no ideas what's going on.

[2020-06-22 11:06] vanhauser-thc commented on #410
well I have a lot of work to do (you know, professional life etc. beside this hobby :) if I set up a testcase for this it will mean I have to invest time to do that. before I do that I want to be sure that it is not a local problem of yours.

[2020-06-22 12:54] TheAifam5 commented on #420
In the unicornafl there is a shell script which installs python bindings in user-scope, or when the VIRTUALENV is defined - installs in it. Would be IMHO better if the shell script builds only and the makefile decided where to install.

[2020-06-22 13:38] fe7ch commented on #410
Sure, I understand you.

I've just rebuilt AFL++ from scratch:

[code]
It seems that the problem haven't gone away. After 25 mins I have the following stats:

Setup 1 (QEMU mode):
Master - 0 cycles done, 3139 paths, 0 imported
Slave1 - 12 cycles done, 3165 paths, 2 imported
Slave2 - 7 cycles done, 3124 paths, 0 imported

It's interesting that again only 2 paths imported, but this time by Slave1 in

[2020-06-22 16:55] vanhauser-thc commented on #410
![Screenshot from 2020-06-22 18-53-13](https://user-images.githubusercontent.com/7396244/85314345-acd7e180-b4b9-11ea-9dda-d7b08f439a3c.png)

this is with `AFL_INST_LIBS=1 AFL_QEMU_PERSISTENT_GPR=1 AFL_QEMU_PERSISTENT_ADDR=0x4000002380 afl-fuzz -Q -i 1 -o out -M master ./pngfix -q --out=x.png -o @@`  and two others with -S slave1 and -S slave2 (libpng)

as you can see they import from each other.
I

[2020-06-22 16:57] vanhauser-thc commented on #410
you could try to set AFL_QEMU_PERSISTENT_ADDR with the addr of AFL_ENTRYPOINT and remove AFL_QEMU_PERSISTENT_ADDR and AFL_QEMU_PERSISTENT_RET

[2020-06-22 20:44] TheAifam5 opened #421 "`make install` installs object files"
Hey,

I spotted that following files are getting installed, are they required?
- /usr/lib/afl/afl-llvm-rt-64.o
- /usr/lib/afl/afl-llvm-rt-32.o
- /usr/lib/afl/afl-llvm-rt.o
- /usr/lib/afl/afl-gcc-rt.o

PS. What is the `libLLVMInsTrim.so` ? Is installed too.

Regards,
TheAifam5

[2020-06-22 20:47] TheAifam5 commented on #421
Nvm :) They are needed for `afl-clang*` and `afl-gcc*`.

[2020-06-22 20:47] #421 closed

[2020-06-23 06:26] #417 closed

[2020-06-24 07:05] vanhauser-thc commented on #410
@fe7ch
you can also check (if `out` is the directory):
`ls -ltr out/*/.synced/*`

[2020-06-24 09:45] toralf opened #423 "first plot_data value for execs_per_sec is huge"
Fuzz testing the Tor software I do wonder about the very first value for few fuzzers (others likes reasonable), eg.:
[code]

[2020-06-24 10:20] vanhauser-thc commented on #423
@toralf are you using a release or a current github dev/master state?

[2020-06-24 12:14] toralf commented on #423
Ick, sry for lacking that info: whilst I used the -dev in the past, currently I'm back on 2.65c

[2020-06-24 13:33] fe7ch commented on #410
@vanhauser-thc

[code]

... a couple hours later:

[code]

However, imported stats remain unchanged - one slave imported 2 paths, master and another slave imported 0 paths.

Regarding the environment variables - when I remove AFL_QEMU_PERSISTENT_RET, I get a crash:

[code]

I haven't checked yet with a simple binary if the crash can be reproduced. I'll check it during this week.

[2020-06-24 13:35] vanhauser-thc commented on #423
@toralf  please use the current master or dev as there was a change for the plot (but forgot if that was pre or post 2.65)

[2020-06-24 13:40] vanhauser-thc commented on #410
basically it is syncing, however there is nothing in the other queue(s) it considers new.
what you can try to test: add another slave fuzzer with a new input corpus (like 5-15 different inputs that use different features).
this can take quite some time to propagate (for performance reasons) but will result in everyone importing queue entries.

that is not what I meant :)
put the address of main()

[2020-06-24 14:27] toralf commented on #423
-dev is better, has now "inf" for the first line, so it is just an issue in 2.65c.
BTW - is `unicorn_mode/unicornafl` a candidate for `.gitignore` ? Currently  have to do:
[code]

[2020-06-24 15:05] vanhauser-thc commented on #423
you are right, it is, just added it to gitignore, thanks :)

[2020-06-24 15:12] domenukk commented on #423
It doesn't really belong in gitignore, the diff only occurs if the config.h differs from the one in the linked unicornafl (in which case the reference should probably be fixed on our end)
Hard to explain... but yeah don't think it should be ignored? Else I'll have to force update unicornafl each time

[2020-06-24 15:15] vanhauser-thc commented on #423
@domenukk I already added it, remove it if wrong.
(I dont use git so ... ;)

[2020-06-24 15:17] toralf opened #424 "low_freq.png graph displays integers and should therefore scale its y-values without decimal places"
well, it is just cosmetic, but ....

[edit]: and the x-axis should indicates that times are in UTC[/edit]

[2020-06-24 19:37] toralf commented on #423
And unfortunately it seems, that the first value is not always `inf`, sometimes it is however a big number, for the same fuzzer, no build change, just stopped and started it

[2020-06-25 06:51] vanhauser-thc commented on #423
I pushed a new commit to dev that allows writing of plot data only after the fuzzer running at least 60 seconds. can you please test if this works for you?

[2020-06-25 10:14] toralf commented on #423
yep, works

[2020-06-25 10:50] #423 closed

[2020-06-30 08:12] vanhauser-thc commented on #380
@zhanggenex what was the result? did it not perform well or did you not have the time?

[2020-06-30 08:56] zhanggenex commented on #380
@vanhauser-thc based on my evaluation, it did not perform well

[2020-06-30 18:59] andreafioraldi opened #430 "Double filled bitmap in parallel fuzzing"
The bug can be triggered by running 1 main 2 secondaries but is not present with just 1 main and 1 secondary.
The bitmap usage of the secondaries is the double of the real usage, that can be checked running https://gist.github.com/borzacchiello/62d72be33abe02036f11f6989e801caa
The bug does not affect AFL.

Discoverer: @borzacchiello