[2020-12-31 05:25] StevenJiang1110 opened #669 "How to understand the edge coverage infomation genarated by showmap with option "-C"?"
I want to know the code coverage information when I finish fuzzing a target. I notice that afl++3.0 has added an -C option to the showmap tool to show the coverage information. However, the coverage result seems confusing. I have run showmap for several different target. The results are as follows.
<img width="1008" alt="截屏2020-12-31 下午1 05 36" src="https://user-images.githubusercontent.com/277646

[2020-12-31 10:31] vanhauser-thc commented on #669
you are using an instrumentation that uses colliding coverage. is it binary only? (-Q, -U)  if not that you will not get meaningful information unless you switch to afl-clang-fast, afl-clang-lto or afl-gcc-fast.
Then you will see the exact number of edges instrmented (not 65536) and the percentage reached. note that for real targets it is common not to be able to reach all code (e.g. an archiving

[2020-12-31 10:39] vanhauser-thc commented on #643
@virtuald can you please give context what you are trying to achieve and why this is important for you?

I looked everywhere and cannot find a single repository or code using ijon. The burden of adding this to a target is high, so my guess is this is the reason for it.
The results are impressive when done, however I question the usefulness. as a developer you will usually have example input that r

[2021-01-01 14:27] toralf commented on #485
In moment I do stay at release versions for my fuzz tests and plan to wait till -dev is merged into next release.

[2021-01-01 18:13] vanhauser-thc commented on #485
it is better to stay with stable than with release, but up to you ...
closing this then for now

[2021-01-01 18:13] #485 closed, assigned to hexcoder-

[2021-01-01 19:32] fxlb opened #671 "Very big log file"
Using AFLplusplus with docker, I got a very big log file (many Gb) like
'/var/lib/docker/containers/xyzt-json.log'
Did I miss something?
Any way to avoid this?

[2021-01-01 23:20] MeVsTech opened #672 "mips*/microblaze/sparc* qemu_mode build error"
Sorry if this is not an AFLPlusPlus issue, i wasn't sure by the code itself so I decided to open an issue. I will remove it if wrong.

What I am running:
OS: Arch
Kernel: 5.9.14

Issue:
Receive the following errors when compiling qemu mode with any mips, sparc, or microblaze CPU_TARGET (this error does not occur on ARM, i386, etc):

[code]

This error repeats several times being called by various

[2021-01-02 10:37] andreafioraldi commented on #672
Hi @MeVsTech , thanks for the report, it is now fixed in the dev branch.

Can you checkout it and test?

[2021-01-02 13:40] domenukk commented on #671
Logging stdout to a json is the default configuration in docker.
One obvious way to avoid it would be to pipe the output to `/dev/null` instad.
The "right" way is to configure your docker daemon to use log rotation, see
https://docs.docker.com/config/containers/logging/json-file/
For example, set `"max-size": "10m"`.

[2021-01-02 14:16] fxlb commented on #671
Thank you! I will try this config.

[2021-01-02 14:16] #671 closed, assigned to nobody

[2021-01-02 16:45] tushargoyl123 commented on #274
Hi this is Tushar , I want to work on this issue , I am new to open source Can u guide me through??

[2021-01-02 17:52] MeVsTech commented on #672
Works perfectly with the dev branch, @andreafioraldi , thank you for the quick support!

[2021-01-02 17:52] #672 closed, assigned to nobody

[2021-01-03 15:41] geeknik opened #673 "error: call to non-static member function without an object argument"
Whilst attempting to compile AFL++ 3.0.0c on Ubuntu 20.04.1 and Clang/LLVM 12, I encountered these errors which I did not see with Clang / LLVM 10.

# llvm-config --version
12.0.0

# clang --version
Ubuntu clang version 12.0.0-++20210102052625+d8af31006351-1~exp1~20210102163324.272
Target: x86_64-pc-linux-gnu
Thread model: posix
InstalledDir: /usr/bin

Starts out fine:
[code]

[code]

and then a b

[2021-01-03 21:44] vanhauser-thc commented on #673
oh nice, llvm changed something ... again ... ;)
it works if you can downgrade to an older llvm12 checkout - or llvm 11.
I will check out how to make it work for this new change soon.
thanks for reporting!

[2021-01-04 16:56] vanhauser-thc commented on #673
can please try the dev branch and see if it is fixed for you?

[2021-01-04 16:58] vanhauser-thc commented on #669
if this did not answer the question then dont hesitate to reopen this issue

[2021-01-04 16:58] #669 closed, assigned to nobody

[2021-01-04 16:58] vanhauser-thc commented on #644
reopen if it is the change broke your setup

[2021-01-04 16:58] #644 closed, assigned to nobody

[2021-01-04 16:58] #635 closed, assigned to nobody

[2021-01-04 16:59] #626 closed, assigned to nobody

[2021-01-04 17:01] vanhauser-thc commented on #572
@domenukk  what is the output of `uname` on Mac OS?

because there should be no fortify_source in there:

[code]

[2021-01-04 17:02] #557 closed, assigned to nobody

[2021-01-04 17:03] vanhauser-thc commented on #274
@tushargoyl123 do have you a strong experience in coding C/C++?

[2021-01-04 17:43] tushargoyl123 commented on #274
Yes I know it very well...

[2021-01-04 17:59] vanhauser-thc commented on #274
@tushargoyl123 the only relevant feature request for this repo is the first one IMHO (2 is undesired, 3 is out of scope and rather an own project):

[code]

basically what has to be done is that if `afl-fuzz` is started in resume mode, then the existing "$out_dir/fuzzer_stats" file has to be loaded, the values read in and assigned to the internal variables. pretty easy and fast to do - if you know

[2021-01-04 18:18] tushargoyl123 commented on #274
@vanhauser-thc  ok once I go through all the things I will let you know...

[2021-01-04 21:47] virtuald commented on #643
My motivation is best expressed via this excerpt from their paper:

As stated, one of the goals for their set of changes is for a tool to help expand your search once coverage has been exhausted, and that's my motivation as well.

I created a commit showing a diff between AFL 2.51b and their fork at https://github.com/virtuald/ijon/commit/dbb80e4058dc196caf5f95ab1297400ccee31a02 -- ignoring their

[2021-01-04 22:30] vanhauser-thc commented on #643
hmm it is actually quite a large change. e.g. the changes that you see in the afl-llvm-pass have to be done in LLVMInsTrim.so.cc,
  SanitizerCoverageLTO.so.cc and SanitizerCoveragePCGUARD.so.cc as well.

plus the coverage on/off functionality has to be implemented differently as this way costs too much IMHO.

and all that for something that nobody seems to be using. so I am still not convinced ...

[2021-01-05 01:26] virtuald commented on #643
Fair enough.

[2021-01-05 01:26] #643 closed, assigned to nobody

[2021-01-05 08:21] jonasmollerlarsen opened #675 "Add mechanism (constraint-guided fuzzing) to pursue particular inputs"
@vanhauser-thc @virtuald @domenukk
Allow me to continue where #643 stopped, since I (too) would like AFL++ to support this use case (constraint-guided fuzzing) if it doesn't already.

To motivate why this is useful, suppose we're fuzzing an image processing application with an embedded JPEG decoder, and suppose that it sits behind a (trusted) JPEG encoder, so we're only interested in checking the

[2021-01-05 09:09] vanhauser-thc commented on #675
we were discussion internally if adding something like __AFL_COVERAGE_ON();/__AFL_COVERAGE_OFF(); macros. and an __AFL_COVERAGE_DISCARD();/__AFL_DISCARD_TESTCASE(); would work too.
that is something I see as useful, less code changes as implementing IJON and more likely to be used.
the issue with COVERAGE_ON/OFF is that it would require a larger amount of memory to be used, e.g. if you use cmplog

[2021-01-05 09:22] domenukk commented on #675
As for the "disregard input" part, why don't you just return back to the afl loop from there? Too deep in the stack? Try how bad an exit will be for your speed?

[2021-01-05 09:44] jonasmollerlarsen commented on #675
If the fuzz target just bails out on jpeg_parse_error (in my JPEG example), afl-fuzz might still consider this input interesting (because it triggered a new branch in the JPEG decoder) and continue to spend (unproductive) time on creating variations of invalid JPEG, rather than exercising the target with valid JPEG.

__AFL_DISCARD_TESTCASE() sounds really useful.
What would __AFL_COVERAGE_DISCARD

[2021-01-05 09:44] vanhauser-thc commented on #675
have a look here: 7acf410ab6a15de0ed339ad0b2a334943e24491f
the __afl_coverage_abort() and __afl_coverage_discard() can already be used if you define the functions by hand in your target.

for a general coverage_on/coverage_off I am unsure because of the memory increases it brings, but I know @domenukk would like to have that :)
also IMHO if there is a coverage_on/off feature - should it then start

[2021-01-05 09:49] domenukk commented on #675
I would leave the coverage on by default, the speed won't change (at least if we write to a nop page), but it's a lot harder to misuse. There will be some users complaining because they forgot to enable the coverage in the first place 😀

[2021-01-05 10:02] vanhauser-thc commented on #675
I just came up with a workaround that will just use < 1MB extra memory for the coverage on/off feature instead of ~260MB.

we should have a __AFL_FUZZ_COVERAGE_START_OFF or something like that so it can be started without coverage.

[2021-01-05 10:05] jonasmollerlarsen commented on #675
In 7acf410 does the exit(0)-call break (as in, slow down) persistent mode? I imagine the fuzz target would be calling __afl_coverage_discard at a high frequency...

[2021-01-05 10:20] vanhauser-thc commented on #675
yes. I see no other way. it must be possible to cancel from everywhere, and that is only possible with exit.
only if you are directly in the __AFL_LOOP() { ... } you could do a `continue;`.
or do you see a different way to achieve this?

[2021-01-05 10:38] domenukk commented on #675
Resetting the shared map, and then disabling coverage collection for the rest of the exec, would make sure this input doesn't get captured - but will still spend time executing the rest of the parser/target.

For c++ I guess unwinding the stack with a try catch situation could work? but I don't know how stable it will be and how speedy it is... For C, longjumping to the __AFL_LOOP and resetting th

[2021-01-05 10:39] domenukk commented on #675
QEMU Mode, on the other hand, could do a proper state reset without exiting or reforking.

[2021-01-05 10:40] jonasmollerlarsen commented on #675
In the fuzz target, from a deeply nested location far away from __AFL_LOOP(), instead of calling (expensive) __afl_coverage_abort(), I could set a global flag "this_input_is_going_to_be_ignored=true". At the end of the __AFL_LOOP(), check this flag and call __afl_coverage_discard().

I guess something similar could be done in afl-fuzz(?) i.e. __afl_coverage_abort() sets a flag, and when control re

[2021-01-05 10:43] vanhauser-thc commented on #675
that might work, however what if the target crashes later? that would still be detected and saved.
Also there is additional runtime after the disabling, but I guess this could be faster than exit/fork.

this sounds hacky and error prone ...

[2021-01-05 10:47] vanhauser-thc commented on #675
another reason just doing coverage_off after the abort() is error prone is that a step of coverage_off and and coverage_start, it would start again getting coverage information.
so that would need another variable that is reset every persistent loop ...

[2021-01-05 10:53] vanhauser-thc commented on #675
on the other hand if later crashing is an issue or a longer runtime, then after afl_coverage_abort() an exit() can be written by the user ...

[2021-01-05 10:56] vanhauser-thc commented on #675
have a look here: https://github.com/AFLplusplus/AFLplusplus/blob/caf1fbd6323f4069bed20e386d425e529be48a27/instrumentation/afl-compiler-rt.o.c#L1378

I think it is done.

Now the macro defines for afl-cc have to be done, then a README - then it is done.

for @virtuald I added a stub too: void __afl_coverage_interesting(u32 id, u8 val) ... it does not work yet and I am not sure if it actually can w

[2021-01-05 10:59] domenukk commented on #675
I'm not sure if `afl_coverage_abort` is a perfect name, as a normal abort() call will be counted as crash. This may be confusing. maybe `afl_ignore_testcase` or something?

[2021-01-05 11:24] vanhauser-thc commented on #675
I think coverage_abort makes it clear that it will not abort the program. and it should follow the same naming __afl_coverage_...
We could name it different to _abort though, although I did not find alternatives to be so clear what they mean ...
maybe:_ignore, _cancel, _skip, ... but I found these to be less clear.
but I am open to suggestions or other opinions :)

[2021-01-05 11:31] vanhauser-thc commented on #675
it is done, have a look at instrumentation/README.instrument_list.md - of course we can still make changes to it (_abort changes ... etc.)

please review.

[2021-01-05 11:34] tushargoyl123 commented on #274
#272

[2021-01-05 12:09] domenukk commented on #675
Even then, it sounds like it would just abort the collection of coverage from this point on, not completely ignore the testcase. Why not _testcase_ignore? `coverage_ignore` sounds fine, too. But not a big issue either way

[2021-01-05 17:31] tklengyel opened #676 "How does AFL++ detect timeout?"
AFL used to detect it by setting a timer and receiving `SIGALRM`. I've been struggling to understand how it's implemented now because it doesn't seem to work correctly when integrated with KF/x (https://github.com/intel/kernel-fuzzer-for-xen-project/blob/master/patches/0001-AFLplusplus-Xen-mode.patch). Only thing special about KF/x is that AFL/++ ought not to kill the forkserver & child under any

[2021-01-05 18:15] domenukk commented on #676
We use select to read timed, that way we don't have to set process wide signal handlers for each run, for example here:
https://github.com/AFLplusplus/AFLplusplus/blob/271116f8705e08d1b4f924cda6c6cae1b0b5de2b/src/afl-forkserver.c#L1086

[2021-01-05 18:16] domenukk commented on #676
Replacing the kill with term, according to an env var, should be a good solution here.

[2021-01-05 18:46] vanhauser-thc commented on #676
we can do an `#ifdef` in the code so only the forkserver is terminated, just tell me what name you want to have

[2021-01-05 18:50] domenukk commented on #676
https://github.com/AFLplusplus/AFLplusplus/blob/271116f8705e08d1b4f924cda6c6cae1b0b5de2b/src/afl-forkserver.c#L1094

I suggest adding the signal id as env variable/to afl state, and reading it here. Timeouts are slow by definition, a single additional deref won't hurt.

[2021-01-05 19:17] tklengyel commented on #676
Well, the child pid should not receive any signal under KF/x cause it's a fake pid. KF/x itself doesn't fork at all, it forks a VM on Xen instead.

So with using `select` the idea is that the forkserver will `flock` it's FD while running?

[2021-01-05 20:23] jonasmollerlarsen commented on #675
Thanks a lot for adding this, it seems to work, it will be useful 👍

Some minor issues noticed
- got a linker error from afl-clang-fast++ "undefined reference to `__afl_coverage_abort()".
The fix was to change
[code]
to
[code]
in my main.cpp. Maybe the extern "C" can be baked into -D__AFL_COVERAGE ?
- If I didn't misunderstand the code, calling __AFL_COVERAGE_OFF() followed by __AFL_COVERAGE_DISCA

[2021-01-05 21:11] vanhauser-thc commented on #675
does it work now?

yes that was an oversight, fixed now.

for me coverage_ignore sounds like coverage_off. it should be clear that there is no way t enable the coverage again until the next test case. coverage_skip maybe?

[2021-01-05 21:35] tklengyel commented on #676
Alright, I got it working. The issue was that since there is no child PID with KF/x the timeout was never recorded due to WIFSIGNALED being false.

[2021-01-05 21:35] #676 closed, assigned to nobody

[2021-01-06 03:44] virtuald commented on #675
@vanhauser-thc with respect to `__afl_coverage_interesting`, it seems like it would be useful to have range of IDs available that would guarantee no conflicts? Though maybe that's only doable in LTO mode.

[2021-01-06 07:59] D0nYu opened #677 "Broken Android.bp"
The Android.bp file was directly copied from the original AFL repo thus cannot be used to compile the AFL++ under AOSP.
How can I compile a version which can be executed on a physical Android device？

[2021-01-06 08:40] vanhauser-thc commented on #677
None of us have an Android phone so we don't know.
We would appreciate if you can fix the Android.* files (and what else does fail compiling) and send a pull request.
We can help you when you encounter errors that you do not know what they mean or what the source of the issus could be.

[2021-01-06 08:48] vanhauser-thc commented on #675
@virtuald is it just a dead stub and not used so far.

for classic afl instrumentation it gets a random ID like any other basic block. for non-colliding coverage it gets it own unique id.
the effort is that is has to be added in afl-llvm-pass.so.cc, LLVMInsTrim.so.cc,  SanitizerCoverageLTO.so.cc and  SanitizerCoveragePCGUARD.so.cc. and the implementation will have to differ in every file.
(IJON ha

[2021-01-06 09:53] vanhauser-thc commented on #676
@tklengyel out of curiosity - what differences to you see when running afl vs afl++ for your xen fuzzer, like exec/s, coverage?
afl++ should be better in both but just slightly. afl++'s strong points are the instrumentation in llvm_mode and qemu_cmode (cmplog, laf, autodict, in-mem testcases) - and that is not something you are able to use.

[2021-01-06 10:20] tklengyel commented on #676
Right, we don't see much difference compared to plain AFL in terms of speed. Coverage is different because there are more types of mutators in AFL++ and their use strategy differs. That also leads to AFL++ taking a bit longer to find the planted bugs in our test cases and seems to have more non-determinism how fast it finds them.

[2021-01-06 10:52] vanhauser-thc commented on #676
yes it takes longer because the coverage should be more, hence more other paths being explored where the planted bugs are not. and in our experience larger non-determinism helps in fuzzing campaigns with more fuzzer instances to have better results. we run in the same "problem" though with our test cases, e.g. we have a very hard to solve testcase that takes between 2 and 45 seconds :)

[2021-01-06 13:36] jonasmollerlarsen commented on #675
yes, thanks.

Regarding __afl_coverage_interesting, could this be emulated with
[code]
(added a printf to prevent the compiler from optimizing the loop away, and hoping that other transformations (unrolling) won't interfere)

[2021-01-07 06:59] #675 closed, assigned to nobody

[2021-01-09 12:16] figbux opened #681 "Online channel for afl++"
Wouldn't it be nice to have one? Or did I miss the link to the IM platform of the afl++?

[2021-01-09 18:21] vanhauser-thc commented on #681
We are present here: https://fuzz.zulipchat.com/

[2021-01-10 07:48] NishantPuri99 commented on #274
Hi! Can I try this issue? I'm good with C/C++ and have a very basic knowledge of Fuzzing.

[2021-01-10 13:28] vanhauser-thc commented on #274
@NishantPuri99 I am not sure if @tushargoyl123 is working on this already.

Another open issue is that afl++ compiles and works on Android - if that is something one of you are interested in doing.

[2021-01-10 13:31] NishantPuri99 commented on #274
Hi again, I'll work on that then, could you please guide me regarding it?

[2021-01-10 13:34] NishantPuri99 commented on #677
@vanhauser-thc is this the issue that you had mentioned to me in #274 ?
How should I proceed with this perhaps?
Thanks

[2021-01-10 13:38] tushargoyl123 commented on #274
@vanhauser-thc hi i am so sorry my practical exams were going on in my college I have set up the chapel environment, have run some basic commands now coming on the issue I need to learn a little bit from you like i can't understand the meaning of status screen(here) Also tell me how would you approach to solve this issue Would be a great help... Will be back with this issue solved very soon :)

[2021-01-10 16:30] rchildre3 opened #682 "Unsigaction Cross Architecture"
Setup:
[code]

[2021-01-10 17:32] vanhauser-thc commented on #682
try:
export CPU_TARGET
make

[2021-01-10 23:04] rchildre3 commented on #682
No change, I believe the error is a result of the qemu process getting the `LD_PRELOAD` as opposed to the wine process set here:
https://github.com/AFLplusplus/AFLplusplus/commit/ff1f6af7e900ab4d76c91b9f2f4a60da259cd91d#diff-32bc3ae4a5b2a1629765c41e0a86a5552b346525a1da197cbde8d08c7673eb64

confirmed with `LD_DEBUG=all`:

[code]

[code]

Although I am emulating the 32-bit architecture I cannot prel

[2021-01-11 09:35] vanhauser-thc commented on #677
well you need to install an Android development environment to your Linux.
just search for how to do that for your Linux distribution, e.g. https://elinux.org/Android_Build_System

then try to build afl++ within that build environment and fix the things until it builds.
when it builds, transfer it to an Android device and try to run a simple fuzz testcase.

[2021-01-11 09:41] NishantPuri99 commented on #677
Okay, I'll try this out

[2021-01-11 09:57] vanhauser-thc commented on #274
@tushargoyl123 all your questions on status screen, basic command, etc. are answered in the documentation, e.g, the main README.md and docs/status_screen.md

[2021-01-11 21:00] vanhauser-thc commented on #682
well you do not show how you are loading unsigaction32.so. the correct way is to use AFL_PRELOAD (an alternative is QEMU_SET_ENV which is what afl-fuzz sets internally when calling), if you do that then there is a bug.
if you use LD_PRELOAD, well that would be unsurprisingly wrong and afl-fuzz warns about that on start.

[2021-01-12 08:55] selfbypass opened #683 "Segmentation fault"
I hava met a segmentation fault after i added an new C++ custom_mutation API. I hava added it to afl-fuzz.h.
Why?
![image](https://user-images.githubusercontent.com/38554806/104291686-cba1d200-54f6-11eb-825e-2f0ecde149cf.png)

[2021-01-12 09:04] vanhauser-thc commented on #683
how should we know from that screenshot?
it must be because of the changes you made.
` make clean ; make ASAN_BUILD=1 ; ulimit -c unlimited` -> run afl-fuzz and inspect the core with gdb

[2021-01-12 09:14] selfbypass commented on #683
I just added a new function "afl_custom_fuzz_test" in "afl-fuzz.h" and "simple_example.c".But if i use the original function “afl_custom_fuzz”, it's all right.

[2021-01-12 09:23] wizche opened #684 "Statsd when in main/secondary configuration"
When running multiple afl-fuzz instance on the same host (e.g. master/slaves) the statsd reporter will submit for each instance its own findings (crashes, fuzz cases, speed, ...) and you have no way to find out which instance sent which data.

Now to proper visualize the data it would be good to:
- Add a `instance_name` property so that you can group the data afterwards in grafana
- Add a "cumulat

[2021-01-12 09:29] vanhauser-thc commented on #683
I have no clue what you want from us :)
you change something in the program that makes it crash ... and seem to expect us to know why? without any code or anything? and why would you need to add/change anything? you provide no usable information ...

[2021-01-12 09:30] vanhauser-thc commented on #684
sounds useful. none of us have statsd knowledge, the PR came from someone else. so best is if you add that and send a PR? the name should be the sync_id name (-M/-S name)

[2021-01-12 10:37] wizche commented on #684
So I checked the code, and the author already included that as banner, but I guess since banner is dependent on the flavor you need to specify one to get it.

For example if I specify AFL_STATSD_TAGS_FLAVOR="dogstatsd" the following is being reported:
[code]
So this is actually already fixed, maybe we could add a small note that to have a banner one need to specify a flavor.

[2021-01-12 17:50] sleicasper opened #685 "[feature request] automatically create ramdisk only for `.cur_input`"
AFL has to write input to file which is stored on hard disk. Normally we use SSD because of it has faster speed. However, SSD has the wear-out issue which would cause host hard disk to corrupt. So my idea is to automatically create a ramdisk directory in fuzzing output directory and only store `.cur_input` in that directory.

We would have some directory structure like this below.

[code]

By doin

[2021-01-12 19:11] domenukk commented on #685
Just two initial comments:
First I would suggest you use persistent mode where possible, there, testcases are delivered via shared map.
Second, creating a ramdisk won't be possible without admin priviledges, whereas AFL usually don't need them.

[2021-01-13 09:09] vanhauser-thc commented on #685
Hi @sleicasper ,
that is what the AFL_TMPDIR parameter is for that is in afl++ since its first release 1 1/2 years ago:
[code]
or are you missing something there?

[2021-01-13 09:11] vanhauser-thc commented on #685
in several distributions /tmp is a ramdisk, and usually people who fuzz are root on the system which is needed to change core file generation, disable ASLR, etc. that someone who fuzz does not have root privs is highly unusualy and undesirable.

[2021-01-13 09:32] sleicasper commented on #685
This is helpful. Thanks.

[2021-01-13 13:23] #685 closed, assigned to nobody

[2021-01-13 18:24] iamvineeth23 commented on #659
Maybe this helps..
switch the Terminal to run with Rosetta 2 and everything works good like on intel Mac :)

For switching the terminal to x86_64:
[code]

then I did the following:

install brew and llvm as above
[code]

now compile using make and everything works as usual..  (haven't tried Frida though)

[2021-01-14 04:13] localacct opened #687 "[Question] Checking if usage of afl++ is correct"
Hi

I am trying to learn to use AFL++ and I want to make sure I got it right, as right now my fuzzing of a sample program that has a buffer overflow is not showing any crashes at the moment.

Sample code snippet taken from https://www.geeksforgeeks.org/buffer-overflow-attack-with-example/
[code]

My command line is
[code]
There is a seed file inside ````afl_in```` called input that contains ````zz

[2021-01-14 07:47] vanhauser-thc commented on #687
afl-fuzz sends the fuzzing data either via stdin or writes them to a file (pass a `@@` parameter for the target program where a filename would be).
it is possible to send the fuzz data as a command line argument but this requires a preload library which complicates your simple test.
take a look at the `test-instr.c` example. also read the README and follow the "Good examples and writeups" links th

[2021-01-14 07:47] #687 closed, assigned to nobody

[2021-01-15 10:58] nataraj-hates-MS-for-stealing-github commented on #632
I've translated the description of function_to_fuzz into English

https://gitlab.com/dhyannataraj/fuzzing-examples/-/blob/master/README.md

I am not sure this will help to solve the case, but since you asked for it, I did it.

[2021-01-15 17:48] nataraj-hates-MS-for-stealing-github commented on #567
I've written a step by step guide how to pass STDIN to target binary via preeny setstdin

Now it is here https://gitlab.com/dhyannataraj/fuzzing-examples/-/wikis/How-to-pass-STDIN-data-to-target-binary-via-preeny-setstdin

Where should I PR it to make it easily available for anyone may need it?

Or should I put it here in local wiki? Where exactly?

[2021-01-17 20:50] virtuald commented on #286
Here's a trophy -- took maybe an hour to write a test harness: https://github.com/mjansson/mdns/commit/4c64fbaa4a5dcac567c63f182cac2d7a4adc903c

[2021-01-18 13:41] aivendil opened #690 "Configure script for python failed with afl-clang-lto"
# afl-clang-lto --version
[code]

# Way to reproduce
[code]
[config.log](https://github.com/AFLplusplus/AFLplusplus/files/5830473/config.log)
# Description
I'm trying to compile python 3.9 with afl-clang-lto, but configure script failed with
[code]
afl-clang-fast works fine.

[2021-01-18 14:45] vanhauser-thc commented on #690
please read the main README,  https://github.com/AFLplusplus/AFLplusplus/blob/dev/instrumentation/README.lto.md etc. - you will notice that they point out that you have to set RANLIB and AR too

if this does not fix the issue please tell me

[2021-01-19 07:08] aivendil commented on #690
./configure also failed with
[code]

[2021-01-19 11:03] vanhauser-thc commented on #690
I get it compiled with with:
[code]
But the resulting binary crashes on start. Though not on anything the afl++ instruments. weird.

[2021-01-19 13:03] #673 closed, assigned to nobody

[2021-01-19 13:05] vanhauser-thc commented on #675
@jonasmollerlarsen @virtuald please note that we renamed __AFL_COVERAGE_DISCARD to __AFL_COVERAGE_SKIP

[2021-01-19 13:06] vanhauser-thc commented on #682
@rchildre3 ? is it solved for you?

[2021-01-19 13:06] #683 closed, assigned to nobody

[2021-01-19 13:11] vanhauser-thc commented on #684
I agree that this should be noted somewhere and I can see that we have no README for that feature.

@Edznux would you be so kind and add a docs/rpc_statsd.txt file that explains how to use the feature? and if you would add how to actually run a statsd service etc. in a few lines - that would be awsome!

[2021-01-19 13:23] #611 closed, assigned to nobody

[2021-01-19 17:45] rchildre3 opened #692 "Bump Submodule pseudo-pointers"
`qemuafl` and `unicornafl` submodule pointers pointers moved in 292f91a55f6af5e06b41b429e55f65b7df4d8d16, but the pseudo-pointers (`QEMUAFL_VERSION` and `UNICORNAFL_VERSION`) have not been changed

[2021-01-19 18:47] domenukk commented on #692
Great catch, thanks. Fixed in 473b3e5
@vanhauser-thc use `./unicorn_mode/update_uc_ref.sh` and `./qemu_mode/update_ref.sh` if you ever need to do it (only works in git for obvious reasons)

[2021-01-19 18:47] #692 closed, assigned to nobody

[2021-01-19 19:35] vanhauser-thc commented on #692
I did that for the cmplog_merge PR. what rchildred3 reported was not my doing :)

[2021-01-19 20:23] Edznux commented on #684
So, yes, StastD by default doesn't support tags and thus doesn't really provide a way to make each host "independant".

AFAICT, most StatsD providers/vendors stepped in and created their own "tags format" to support this use case but since there is no standard, they are incompatible. So I added the AFL_STATSD_TAGS_FLAVOR  to fix this issue.
And I agree, after reviewing the few bits of doc I wrote

[2021-01-19 22:29] rchildre3 commented on #682
No

Correct, the diff in my previous comment shows how the shared object is being loaded  in `afl-wine-trace` now (not with `AFL_PRELOAD` or `QEMU_SET_ENV` but directly with `LD_PRELOAD`)

This error appears for every PE32 image file I have tried (e.g. `clang-format.exe` extractable from: `LLVM-11.0.1-win32.exe` downloadable here: https://github.com/llvm/llvm-project/releases/tag/llvmorg-11.0.1)

[2021-01-20 09:17] vanhauser-thc commented on #682
I have never used the wine feature, andrea did that. glad that you found out the issue and even provided a fix! thanks!

[2021-01-20 09:17] #682 closed, assigned to nobody

[2021-01-20 18:29] domenukk commented on #684
Some simple blog post or readme on how to set up something open source (prometheus + grafana sounds good?) would indeed be awesome! It's may just be one docker up away?

[2021-01-20 20:00] vanhauser-thc commented on #684
just a small text file that explains why this is a cool feature and how to set it up - best with open source. that would be amazing :)

[2021-01-20 23:53] joeyjiaojg commented on #677
Fixed in https://github.com/AFLplusplus/AFLplusplus/pull/695, so can be closed.

[2021-01-21 01:15] #677 closed, assigned to nobody

[2021-01-21 06:16] QiuhaoLi opened #696 "[Question] How to get ASAN report (stderr) in real time?"
Hi,

AFL++ (2.68c) seems to suppress the stderr during fuzzing. I tried setting the `AFL_DEBUG_CHILD` and `AFL_DEBUG_CHILD_OUTPUT`, but nothing output when the target built with ASAN crashed.

As a compromise, the following code is inserted to redirect stderr to a file:

[code]

Does anyone know if there is an option or a better solution to get the output in real-time?

[2021-01-21 09:42] vanhauser-thc commented on #696
of course it does supress it. it costs precious time. and the fuzzing should concentrate on fuzzing.
if you want to analyse crashes then set ASAN_OPTIONS as you like and call your target, eg. `cat out/default/crashes/id:000000,*|./fuzz-target`. for real time there is the `-I` option to execute a command on found crashes where you could do that.

[2021-01-21 10:58] QiuhaoLi commented on #696
Hi Marc,

Thank you for the detailed explanation :)

But the thing is, I can't reproduce the crash after a fuzzing session because there exist state leaks between rounds for performance sake. In my case, although these leaks prevent us from reproducing the crash, the fuzzer can quickly find the bug - I analyze the err.log mentioned above, and the stack trace, which is helpful for code audit, is th

[2021-01-21 11:23] vanhauser-thc commented on #696
you can do the following (though it is exotic):

[code]
this will allow full ASAN output to stderr for targets plus it should create a coredump (that will be overwritten with every crash)

does that work for you?

[2021-01-21 12:00] QiuhaoLi commented on #696
The `AFL_DEBUG` does exactly what I need, thanks!

I thought it is a compiler option since it is in *Settings for all compilers* section: [Environmental variables](https://github.com/AFLplusplus/AFLplusplus/blob/stable/docs/env_variables.md#1-settings-for-all-compilers).

But the `ASAN_OPTIONS=symbolize=1` will trigger an error in afl-fuzz:

[code]

Since without it, AFL++ may have difficulty tell

[2021-01-21 14:24] vanhauser-thc commented on #696
yes and this is correct, but this should not be triggered when AFL_DEBUG is set - otherwise tell me as this is then a bug

done, thanks.

[2021-01-21 15:15] QiuhaoLi commented on #696
I updated AFL++ to 3.01a (seems fixed in 2e8ec1e, thank you!), everything works fine except the ASAN report isn't symbolized:

commands:

[code]
output:

[code]

[2021-01-21 16:15] vanhauser-thc commented on #696
please try the new dev state

[2021-01-21 17:20] rchildre3 opened #697 "Build failure in dev afl-forkserver.c (afl undeclared)"
at commit b850951c726258053c5635d6597704cf346fe3c4
[code]

[2021-01-21 17:31] rchildre3 commented on #697
fixed in 040bf5a61db5fa939c6e2a884207f18b62bf1522

[2021-01-21 17:31] #697 closed, assigned to nobody

[2021-01-21 19:04] domenukk commented on #697
Thanks for reporting :)

[2021-01-21 19:28] wizche opened #698 "afl-cmin qemu mode fails"
I think there is a regression in afl-cmin, when running it on v3.0c in qemu mode (-Q) I get
[code]
With version v2.68c was still working.

[2021-01-21 19:42] wizche commented on #684
@Edznux yeah exactly I use prometheus + grafana with statsd_exporter
The additional text explaining the banner looks good to me

[2021-01-21 20:42] vanhauser-thc commented on #698
can you try the current dev state please?

[2021-01-22 02:52] QiuhaoLi commented on #696
Thank you.

[2021-01-22 02:53] #696 closed, assigned to nobody

[2021-01-22 16:14] rchildre3 opened #700 "perform_dry_run stack usage"
commit 609f3d02651381215815eeadb7a10999c2041ffe changes the storage of the testcase data in `perform_dry_run` from the heap to the stack. With larger values of `MAX_FILE`, the max stack size can be overrrun, can the storage go back to the heap? Or if not can the code print out / warn / error if we were to approach `getrlimit(RLIMIT_STACK)` (8MB on my machine)?

[2021-01-22 16:28] wizche commented on #698
I checkout dev and tested, same issue (I didnt rebuilt afl-qemu-trace though, I guess its not relevant anyway)

[2021-01-22 16:37] vanhauser-thc commented on #632
multiple reasons why it does not work.
you PRELOAD the libary + you dlopen it as well - does not work.
the forkserver is installed before main() is called, resulting in reloading the lib via dlopen - super bad.

solution:

[code]
`make CC=afl-clang-fast`

`afl-fuzz -i in -o out  ./main_shared-lib_fuzzing-loop @@`

just takes 2-3 seconds to find the crash

if you want to fuzz via AFL_PRELOAD then y

[2021-01-22 16:37] #632 closed, assigned to nobody

[2021-01-22 17:45] julihoh opened #701 "Custom Mutator Rust Support"
Dear Community,

I have created some basic rust bindings for the custom mutator API. I've polished it a bit now and pushed it to a separate repository [here](https://github.com/julihoh/aflpp_custom_mutator_rust) for inspection.

Has anybody else tried this yet? Feedback would be greatly appreciated. Of course, if you are interested, it would probably be cool to integrate this into AFL++ properly,

[2021-01-22 19:47] vanhauser-thc commented on #700
@domenukk why did you go for that change? I switched it to `u8  *use_mem = afl_realloc(AFL_BUF_PARAM(in), MAX_FILE);`, that should be fine right?

[2021-01-22 19:48] vanhauser-thc commented on #698
if you want to use cmplog for qemu then you have to recompile it.

but for your issue - it works fine for me, so without an example I can reproduce there is nothing I can do.
try with `gcc -o test-instr test-instr.c` as the target maybe.

[2021-01-22 19:53] vanhauser-thc commented on #701
nice!
It does not seem to need any changes in afl++ as it looks like.

so ... you could do a PR to create e.g. custom_mutators/rust_example/ (and then no need for an afl++ submodule)

what do @domenukk and @andreafioraldi think?

[2021-01-22 20:22] wizche commented on #698
I tested ur official docker image (v3.0c) and a /usr/bin target and it works, I guess its something wrong with my target/setup.
Will try to find out, thanks for the hints

[2021-01-22 23:09] domenukk commented on #701
Uuh awesome! Definitely nice to have.
The first thing I notice though, is that the bindings give the user access to the (what was supposed to be) internal `afl_state`.
I see why this may still be needed, but maybe hide that behind a feature flag so not everybody uses it and is sad when we break their code...
The few things people need from it should be exposed via proper api one by one.

[2021-01-23 09:12] vanhauser-thc commented on #700
the same issue was in check if text for cmplog, fixed.

[2021-01-23 09:12] #700 closed, assigned to nobody

[2021-01-23 18:24] domenukk commented on #700
To get rid of allocations. Didn't really think think about these implications. I wonder if we have the testcase on the stack at some other place too? We could also have a testcase sized scrap buf in the afl state in this case

[2021-01-23 18:31] rchildre3 commented on #700
@domenukk @vanhauser-thc  does the file even need to read into memory? I don't see where the `use_mem` buffer is being touched. could it be copied versus read in then written out?

[2021-01-23 19:11] vanhauser-thc commented on #700
look closely, it is passed to calbirate_case:
[code]
all as it should be

[2021-01-24 12:42] nataraj-hates-MS-for-stealing-github commented on #632
If you checkout AFL++  b38837f and comment out

[code]
from the code `main_shared-lib_fuzzing-loop.c`, and then build and run
[code]
Everything will work.

So at least there is no fundamental problems in this case. It _can_ work.

---------------------------------

The bit problem, is that I have bit project, that can load plugins. If I put fuzzing loop inside the plugin, it will work in proper en

[2021-01-25 03:44] ampanasiuk opened #703 "sync_fuzzers doesn't preserve the 'src' attribute"
The queue elements that are introduced with the sync stage have their src attribute garbled. As can be witnessed by comparing the file sizes below:

[code]

the names were mapped like:

[code]

where the lhs id should equal the rhs src, but instead, we have lhs_id + rhs_src constant for the particular syncing stage.

I think this code in `sync_fuzzers` is responsible for this:

[code]
where `next_

[2021-01-25 08:36] julihoh commented on #701
Yes, that's definitely unfortunate... For my current project I need access to the internals, that's why I added it.

I can create a pull request with these changes as soon as a have time for it :) Thanks for the feedback!

Btw, is anyone actively working towards offering more APIs? Looking at the research landscape it seems like a lot of engineering effort could be avoided if people wouldn't be im

[2021-01-25 08:53] vanhauser-thc commented on #701
as long as we dont have a way to expose internal afl structures to custom mutators accessing them like that is fine IMHO.
people will need to recompile if we change something though but that is life.

it is very easy to add new hooks when they are needed. we already added many, but sure some could still be added, eg. for queue selection or cmplog solving.
if you need something - just add it and se

[2021-01-25 09:26] vanhauser-thc commented on #703
yes this looks wrong.
can you please send a pull request with a fix?
I dont have the time to fix this until Thursday/Friday.

[2021-01-25 11:17] Zherya commented on #644
Hello!

I'm so sorry that I didn't respond for so long time. Today I've checked the dev branch and it again have the same issue for me, unfortunately:

https://github.com/AFLplusplus/AFLplusplus/blob/9a7531942dd02797c69dd23ee8e13f504a8a30a7/GNUmakefile#L519-L521

If fix produces problem, I think it is okay if I change it manually before compilation. Just wanna let you know.

[2021-01-25 11:22] domenukk commented on #701
Also, we are working on a rust library for people that want to have a very flexible fuzzer to implement ideas on, see https://youtu.be/3RWkT1Q5IV0

[2021-01-25 21:01] vanhauser-thc commented on #632
sorry I do not fully understand your english.
I have zero clue what you testcase actually that you are want to fuzz.
do you have source code for all targets and have that properly instrumented?
if so, why do you need to fuzz in a library instead of writing a quick harness to call the APIs you want to fuzz?

[2021-01-26 01:34] ampanasiuk commented on #703
Hi,
I'll take a look.

[2021-01-26 21:33] Edznux commented on #684
Is there anything left to do there ?

Now more documented, so should be clearer.

IMO it's more a job for the UI, Grafana and most other graph provider offer this kind of possibility, but allows you to still see which instance is doing what (using stacked lines chart).
It also adds quite a bit of complexity: we would need to communicate StatsD data between secondary and primary (so need to listen

[2021-01-26 22:02] vanhauser-thc commented on #684
@Edznux IMHO yes, thank you!

[2021-01-26 22:02] #684 closed, assigned to nobody

[2021-01-27 02:29] fuzzah opened #705 "llvm-mode fails to build on FreeBSD 12.2-RELEASE"
Error happens because variable PATH_MAX used in afl-ld-lto.c is not defined.
Attaching relevant part of gmake log:

[code]

AFL++ version 3.01a:
[code]

[2021-01-27 03:15] ampanasiuk opened #708 "read_foreign_testcases does not process testcases in sorted order"
The comment is inconsistent with the code (afl-fuzz-init.c):
[code]

Similar code is in read_testcases, which indeed does sort with `alphasort`.

[2021-01-27 07:31] vanhauser-thc commented on #708
true, was a blind copy pate, will be fixed in the next push

[2021-01-27 07:37] vanhauser-thc commented on #705
fix is in, thanks

[2021-01-27 07:37] #705 closed, assigned to nobody

[2021-01-27 10:11] #708 closed, assigned to nobody

[2021-01-27 10:31] TheCrott opened #709 "Update AFL++ Tutorials"
Update AFL++ tutorial to use AFL++ 3.0 [AFL++ libxml tutorial](https://aflplus.plus/docs/tutorials/libxml2_tutorial/)

[2021-01-27 11:42] vanhauser-thc commented on #709
is anything not working in the tutorial? only the screenshot is of an older version but I think everything else works the same

[2021-01-27 11:42] vanhauser-thc commented on #698
just reopen or write here if you find an issue in afl++, good luck hunting :)

[2021-01-27 11:42] #698 closed, assigned to nobody

[2021-01-28 21:34] bat-serjo opened #713 "Exclusive mutators."
Not a bug, request.

Like custom mutators but a lot simpler. Maybe in a separate operation mode.
AFL++ calls this mutator exclusively and after every generated input calls back with the full coverage map.

Should have 2 functions:
def generate_input() -> bytes
def coverage_result(coverage_map: bytes)

The coverage map inside the target should be cleared before executing each new input.
Having the

[2021-01-28 21:59] vanhauser-thc commented on #713
You can already do that.

In the custom mutator init you copy the afl structure pointer and use it in the mutate function to access the virgin bits, eg restore them to the saved state. Check out the honggfuzz custom mutator on how to do this.

And by setting the afl_custom_mutator_only environment variable no other fuzzing is performed.

[2021-01-29 01:08] domenukk commented on #713
Eventually, having proper apis for each use case would be neat.
For now, if you want to do it in python, you may have to resort to ctypes to access the afl state directly, this may get messy.

[2021-01-29 06:36] bat-serjo commented on #713
Great thanks for the info.

[2021-01-29 07:48] vanhauser-thc commented on #713
I will be closing this for now.
if you encounter something is missing to make this work just post here.

[2021-01-29 07:48] #713 closed, assigned to nobody

[2021-01-29 16:55] wideglide opened #716 "missing `ifdef WORD_SIZE_64`"
I think there's a missing ifdef in [afl-fuzz-redqueen.c:1704](https://github.com/AFLplusplus/AFLplusplus/blob/66c290f804636de19017ecc3c9ece4a7af9eed28/src/afl-fuzz-redqueen.c#L1704).

[2021-01-29 17:23] vanhauser-thc commented on #716
yes I think you are right, thanks

[2021-01-29 17:25] vanhauser-thc commented on #716
fixed

[2021-01-29 17:25] #716 closed, assigned to nobody

[2021-01-29 18:14] #486 closed, assigned to nobody

[2021-01-31 14:06] vanhauser-thc commented on #675
@jonasmollerlarsen @virtuald I just added `__afl_coverage_interesting`support to the dev branch

[2021-02-01 08:31] tyrone2015 opened #717 "The "fuzzing strategy yields" data shows that the exception is always 0 After the test exception is terminated."
I have test in my multi-mode test，the master mode continued testing with AFL AutoResume after the test was terminated,but the first data in fuzzing strategy yields was always 0. Is this a display problem or something?
![image](https://user-images.githubusercontent.com/11013814/106432501-c9091b80-64a9-11eb-8153-70fb679de52a.png)

[2021-02-01 10:24] domenukk commented on #717
The stats are not (yet) saved persistently.
They are not needed for fuzzing progress, though.

[2021-02-01 11:19] vanhauser-thc commented on #717
I fixed a bug in -Z (and therefore in -M) - can you please test the dev state?
might have nothing to do with this though

[2021-02-01 14:40] zhoulaifu opened #720 "AFL++ seems to complain that the dry run results in a timeout whereas it does not"
I am trying to understand this:

Running afl++ on a binary that has been compiled with afl-g++:
`afl-fuzz -m none -t 5000  -i in -o out -- mybinary
`
gives me this error below:

[code]

Yet when I actually perform a dry run myself and measure the time, namely,
`time cat in/myparameters.txt | mybinary
`
i find that the dry run does not result in the 5000 ms timeout. Strange?

[code]

[Edit] If I us

[2021-02-01 15:55] vanhauser-thc commented on #720
from when is the checkout? and dev or stable? if it is dev from today please checkout and try again

[2021-02-01 15:56] vanhauser-thc commented on #720
`afl-fuzz 2.52b` - this is https://github.com/google/afl - this is afl++ ... better and different software

[2021-02-01 15:56] #720 closed, assigned to nobody

[2021-02-01 16:52] domenukk commented on #720
You should find out what makes it slow, is there a sleep in the binary for example?
Probably you should pick sub parts to fuzz, like a parser.

[2021-02-01 17:00] domenukk commented on #572
The right llvm seems to work

[2021-02-01 17:00] #572 closed, assigned to vanhauser-thc

[2021-02-01 17:01] domenukk commented on #717
I think this is covered in #274, please reopen if that is not the case.

[2021-02-01 17:01] #717 closed, assigned to nobody

[2021-02-01 17:20] #709 closed, assigned to nobody

[2021-02-01 17:20] #703 closed, assigned to nobody

[2021-02-02 00:36] davidgith opened #722 "Possible to use Mitigation_CFLAGS?"
Hello,
I want to build the [sgx-sdk](https://github.com/intel/linux-sgx) with afl but unfortunately it is prepared to build it with gcc. Therefore, it uses Mitigation_CFLAGS like -mindirect-branch-register and -mfunction-return=thunk-extern which can't be used by clang. But as far as I understand AFLplusplus, it works much better with clang. I already tried it with the gcc-plugin, but if it's poss

[2021-02-02 06:51] vanhauser-thc commented on #722
the difference between the old afl-gcc and the newer afl-gcc-fast is that the newer has faster instrumentation and supports features like persistent mode, selective instrumentation.
llvm on the other hand additionally has solving capabilities (LAF, CMPLOG) and collision free coverage.
llvm is better my a long way.

however - there are targets that do not compile with llvm. not because of C*FLAGS b

[2021-02-02 15:38] davidgith commented on #722
Thank you for your fast reply and explanations!
If I remove these FLAGS, I get an error with implicit conversion changing signedness from int to unsigned long.
But these are obviously no errors caused by afl, so I try to work on it;)

[2021-02-02 17:42] domenukk commented on #722
Enjoy :)

[2021-02-02 17:42] #722 closed, assigned to nobody

[2021-02-02 21:21] b1gr3db opened #723 "Static afl-qemu-trace is broken in dev"
1. Built with ` STATIC=1 CPU_TARGET=i386 make binary-only`
2. `./afl-qemu-trace` immediately segfaults

Traced the problem to AFL not stripping the resulting binary after copying, where a `make install` would have stripped the DT_RUNPATH from the binary. Binaries built with `--static-pie` assert that DT_RUNPATH is null, and meson adds this via `-Wl,-rpath` during the build process, but strips it o

[2021-02-03 18:22] marekzmyslowski opened #725 "Docker building - compile issues"
Hi,
While I'm building the Docker from a file, two components don't compile:
[code]

[code]

The issue in my opinion is related to the wrong compilation command.
When you run make in the directory, the include folder is added
[code]
[code]

[2021-02-03 20:20] andreafioraldi commented on #723
I confirm that chrpath works as fix, but the problem is that the tool is not standard and need to be installed. IMO we should simply remove static pie.

[2021-02-03 20:22] andreafioraldi commented on #143
I guess we can close this issue, eventually we will expose something IJON-like.

[2021-02-03 20:22] #143 closed

[2021-02-03 21:09] b1gr3db commented on #723
I agree that's a better fix. I tried out adding `--disable-pie` to the `QEMU_CONF_FLAGS` in `build_qemu_support.sh` under the static options, moving `--enable-pie` to only non-static,  and it worked for me.

[2021-02-04 18:11] vanhauser-thc opened #727 "new feature: full replay for persistent mode"
AFL_PERSISTENT_REPLAY_KEEP=1000
[code]
keep it in memory

[2021-02-04 21:32] b1gr3db opened #729 "Support libqasan and libcompcov together"
libqasan hooks several functions that libcompcov uses, but doesn't initialize the hooks until main, whereas libcompcov's init routine runs earlier, resulting in a segfault. I could get it to work for afl-qemu-trace if I added back the init routing for libqasan, then ordered the preloads libcompcov - libqasan, but that didn't look like a great solution.

It would also be nice if afl-qemu-trace hand

[2021-02-04 22:02] vanhauser-thc commented on #729
I would not recommend that as a best approach.
You want one qasan instance, one laf instance, one cmplog instance - and the rest of the cores you fuzz either with normal qemu_mode or - if possible - use a binary rewriter on the target and use that.

[2021-02-04 22:15] b1gr3db commented on #729
Gotcha, that will work together

[2021-02-05 10:54] vanhauser-thc commented on #725
fixed qemu and unicorn mode plus updated llvm to 12, thanks for reporting!

[2021-02-05 10:54] #725 closed, assigned to nobody

[2021-02-05 11:15] #729 closed, assigned to nobody

[2021-02-05 17:32] virtuald opened #731 "compiler flags instead of environment variables?"
I've got some changes locally that allow you to pass flags to the clang-lto pass instead of using environment variables. I find this particularly useful for a cmake-based build system, which doesn't allow you to configure per-target environment variables as part of the build process. If you have multiple executables or shared libraries that have different settings only configurable via environment

[2021-02-05 17:44] vanhauser-thc commented on #731
how does that look like?
you can already pass a few things to the compiler e.g. `afl-cc --afl-lto` but no options like cmplog or laf.
I dont mind to accept a PR adding command line parameter options for env var features.
note that all such options must start with `--afl-...`

[2021-02-05 17:47] b1gr3db opened #732 "afl-cmin not working with -f flag"
I'm working on a binary with no source, using preload to input data and using afl-qemu. The program validates the command line when started, so I didn't use @@ in the command line, but instead used an environment variable to point to .cur_input and that worked fine (although not the most elegant solution).

I'm now trying to use afl-cmin, and attempted to use -f to set the name. It copies the firs

[2021-02-05 18:00] virtuald commented on #731
You can register command line options in the pass. You can pass the option to the pass via a linker option... something like `-Wl,-mllvm,option=whatever`. I guess the afl-cc wrapper could add `--afl-...` options which it could convert to the underlying LLVM option.

[2021-02-05 20:36] vanhauser-thc commented on #731
most env options are for afl-cc to load specific plugins. very few are actually for plugins, and those are mostly for corner cases.
what specific options are you thinking about?

[2021-02-05 20:37] vanhauser-thc commented on #732
@hexcoder- it is your baby :) if you have the time to look into this.

[2021-02-06 10:28] hexcoder- commented on #732
ok, I will have a look.

[2021-02-06 11:59] hexcoder- commented on #732
If you set your environment variable to `<outdir>/.traces/.cur_input` (with `<outdir>` being the directory given for `-o`) during the run of afl-cmin it should work, since this is the location where `afl-cmin` is placing the file with input data. `-f` should not be necessary, because you did not use that for fuzzing either (if I understood correctly, you did not give the command lines used...).

[2021-02-06 15:36] vanhauser-thc commented on #732
@hexcoder- which environment variable are you talking about?
and if the `-f`option is missing then it should be supported as otherwise afl-cmin cant be used for a target that requires it.

[2021-02-06 17:03] hexcoder- commented on #732
@vanhauser-thc: This setup is a bit more complicated from what I get. I am talking about the env var the OP has mentioned (nothing to do with AFL++, i assume).

During fuzzing:
OP used his OWN environment var to point to the input file for the target. Only the target knows this env var.
OP did not use `@@` (so stdin mode was being used but probably ignored by the target, so I concluded `-f` was no

[2021-02-06 18:41] vanhauser-thc commented on #732
I am not about what his special setup is, rather that -f is not supported :) afl-fuzz, afl-cmin.bash etc. all have the option.

[2021-02-06 18:42] vanhauser-thc commented on #732
it is about adding the -f option. not special help support. (he wrote about this on the discord and we told him to create an issue)

[2021-02-06 19:38] hexcoder- commented on #732
So you mean I can (and should) ignore what the OP wrote here, and focus on `-f`. Well then weird, but ok.

[2021-02-07 13:23] Zherya commented on #644
@vanhauser-thc Hello! Is there any possibility to fix that issue without breaking other installations?

[2021-02-07 15:20] vanhauser-thc commented on #644
I do not see an automated way.
What I did now is removing AFL_CC from the unset list.
AFL_CC=whatever-your-compiler-your-want-for-afl-cc   make
should now succeed for you.

[2021-02-08 08:44] jackfromeast opened #733 "“Fork server handshake failed” Error when fuzzing an arm binary without source code"
anybody here?<br>
I have been working on using afl-qemu mode fuzzing IoT binaries. But I got a "Fork server handshake failed" problem when started to run the binary.

The information of the binary is here:
[code]

After setting the QEMU_LD_PREFIX, I tried the suggestion like 'afl-showmap -o fuzz_out.txt -Q -m none ./bin/busybox' and it turned out to be fine.
[code]

But when I tried command 'sudo

[2021-02-08 09:31] vanhauser-thc commented on #733
you need to be build the afl-qemu target for i386 but that you have done as otherwise afl-showmap would not have worked.

Also not this problem, but you are targeting busybox wrong. @@ will be a filename that contains the fuzzed data. busybox expects a command though as first parameter.

what is the output if you do `export AFL_DEBUG=1 AFL_QEMU_DEBUG_MAPS=1` before running the afl-fuzz command?

[2021-02-08 09:36] vanhauser-thc commented on #733
Ah I think I know what the issue is. as it is not an x86_x64 binary you need to copy all libs the busybox binary is using, e.g. the libc and likely even the ld.so...
use ldd on the binary and copy all libs to the target location and read the qemu README on how to use QEMU_LD_PREFIX

[2021-02-08 09:38] jackfromeast commented on #733
But I already set the QEMU_LD_PREFIX otherwise the afl-showmap wouldn't work.

[2021-02-08 09:40] vanhauser-thc commented on #733
so what is the debug output?

[2021-02-08 09:41] jackfromeast commented on #733
I tried the command 'export AFL_DEBUG=1 AFL_QEMU_DEBUG_MAPS=1'. It's seems nothing changed from the previous outputs.
[code]

[2021-02-08 09:42] vanhauser-thc commented on #733
and did you do a make install for afl++ after compiling the qemu_mode? maybe afl-fuzz is calling the old vanilla afl qemu that you might have installed. afl-showmap does not care, but for afl-fuzz it is important

[2021-02-08 09:47] jackfromeast commented on #733
Yeah, after I run the script, I did a make install again. But it seems a few errors reported during installing when I checked again.
[code]

[2021-02-08 10:17] vanhauser-thc commented on #733
and what is the output of `ls -l afl-*` in that directory?

[2021-02-08 10:49] domenukk commented on #733
Also, can you try showmap on a folder as input, instead of a single file? My guess is that may also fail (?), thx :)

[2021-02-08 11:50] jackfromeast commented on #733
@vanhauser-thc The output of `ls -l afl-*` is shown below.
[code]
@domenukk And when I followed your suggestion, it would cause Error `[-]  SYSTEM ERROR : Unable to create 'fuzz_out/'. But the program can run properly. So what can this indicate?
[code]

[2021-02-08 12:03] vanhauser-thc commented on #733
dominik asks you to use an internal option that is not documented :)
basically use `afl-cmin -Q -i in_dir/ -o not_existing_out_dir -- ./busybox @@`

[2021-02-08 12:19] jackfromeast commented on #733
Wow! It worked!
[code]
But what is the difference between `afl-cmin` and `afl-fuzz` and how can I fix the problem with afl-fuzz?

[2021-02-08 12:46] vanhauser-thc commented on #733
weird.
can you please print your environement variables and zip+attach the busybox + libs here?

[2021-02-08 13:19] jackfromeast commented on #733
Here are my variables.
[code]
The binary comes from an arm based Webcam firmware, and I just attached the whole file system here. The path to the binary is `./bin/busy` and the libs related to are in `./lib` or `./usr/lib`.
[squashfs-root.tar.gz](https://github.com/AFLplusplus/AFLplusplus/files/5943851/squashfs-root.tar.gz)

[2021-02-08 18:05] Pamplemousse commented on #662
@vanhauser-thc any fix in sight?

I am having the same issue with [Xeon(R) CPU E5-2670 v2](https://ark.intel.com/content/www/us/en/ark/products/75275/intel-xeon-processor-e5-2670-v2-25m-cache-2-50-ghz.html), instruction `rorx`.

[2021-02-08 19:02] vanhauser-thc commented on #662
sadly not as docker is unable to provide logs what fails - and it makes no sense it is failing at all. I and everybody can build it with the Dockerfile - why cant the hub?
I opened an issue at docker hub - but nothing ...

[2021-02-09 04:00] Pamplemousse commented on #662
@vanhauser-thc one option is to not have the hub build it, but GitHub Actions. See #734 .

Sadly, I don't see how this is supposed to help for this issue:
The resulting `afl-fuzz` still contains `rorx` instructions...

[2021-02-09 08:02] vanhauser-thc commented on #662
@Pamplemousse I had to make a few adjustments but it works, thank you.
I had defered the march=native change until the docker issue was fixed - it is done now.

[2021-02-09 08:02] #662 closed, assigned to nobody

[2021-02-10 21:29] b1gr3db opened #736 "qemu mode mapping question"
Whenever I print out the the qemu maps (AFL_QEMU_DEBUG_MAPS), the map never contains the execute flag for target binaries due to ```validate_prot_to_pageflags``` in qemuafl never putting it in when running mmap. I can understand this, but don't see how the following two features work without the execute flag as I had to strip out the checks:

1. AFL_QEMU_INST_RANGES skips all non-executable sectio

[2021-02-11 18:43] powerthe900 opened #739 "Is there a way to limit Execution Speed?"
Currently I am fuzzing a target that cannot handle execution speeds above 100 exec/sec. If it starts fuzzing above that rate, it will continue above that rate for a few seconds and then all new testcases will timeout. Is there a way to limit the speed to a specified value?

[2021-02-11 18:48] domenukk commented on #739
How about inserting a `usleep` into the target? Alternatively, you could do a `usleep` in a custom mutator if you don't want to touch the target

[2021-02-11 19:55] powerthe900 commented on #739
I see. I will try that out. Honggfuzz has an option for this, so i was wondering if afl had a similar thing.

[2021-02-11 20:17] #723 closed, assigned to nobody

[2021-02-11 21:26] andreafioraldi commented on #736
oh good catch, AFL_QEMU_INST_RANGES does not work so with names. libqasan is entirely executed in the target, so does not have this problem.

[2021-02-11 21:29] andreafioraldi commented on #736
mmm seems that the x flag is also not shown when reading maps from the target, but I'm almost sure that was working with QEMU 3

[2021-02-11 21:35] andreafioraldi commented on #736
yes I confirm that all works in QEMU 3

[2021-02-11 21:51] andreafioraldi commented on #736
This seems like a QEMU issue introduced in the newer versions. The target should see the x flag when reading self maps. I'll temporary fix the issue by simply taking the first match by name, but it is very ugly.

[2021-02-11 22:07] domenukk commented on #739
Not at this point in time, sorry. If you have issues solving it, for example, using a custom mutator, feel free to ask further.

[2021-02-11 22:07] #739 closed, assigned to nobody

[2021-02-11 22:36] b1gr3db commented on #736
We temporarily "fixed" it by adding PROT_EXEC to the list of allowed flags that are passed through in ```validate_prot_to_pageflags``` , but that might break intended security a bit by making the pages actually executable. But at least maps reports it!

[2021-02-12 03:08] Kyle-Kyle opened #740 "seemingly integer overflow in pending path"
I consistently see the following behavior in my build, after fuzzing the target for some time, `afl-whatsup` will report something weird.
[code]
It turns out one of the fuzzer instance is doing something weird. the individual status report is as follow:
[code]
The `pending` data is corrupted, probably integer overflow.

[2021-02-12 04:45] Kyle-Kyle commented on #740
[code]

[2021-02-12 08:27] andreafioraldi commented on #736
Probably it is a better solution.

I don't care, afl-qemu-trace is just for fuzzing

[2021-02-12 08:35] domenukk commented on #736
You may miss a ᵗᶦⁿʸ amount of bugs that way ;)

[2021-02-12 08:37] andreafioraldi commented on #736
No it is only in the host side

[2021-02-12 08:41] andreafioraldi commented on #736
Seems that they introduced this feature in QEMU because the host does not need to execute the original X pages of the guest that is ofc true because it executes the jitted blocks. I don't see a real improvement in security to do that, but it affects only the host and we don't care, afl-qemu-trace does not have a threat model.

[2021-02-12 08:43] #736 closed, assigned to nobody

[2021-02-12 10:24] vanhauser-thc commented on #740
@Kyle-Kyle are you using stable or release? it is fixed in dev.
Edit: ah sorry I can see you are using dev. it was fixed 14 days ago. is your dev state older?

[2021-02-12 16:41] Kyle-Kyle commented on #740
Oh. I'm using stable this time. I'll try it again on dev. Thanks!

[2021-02-13 12:33] hexcoder- commented on #732
@b1gr3db : please check current dev branch, it should be fixed now.

[2021-02-14 03:32] joshpearce opened #741 "build_qemu_support.sh fails"
Running the script yields:

[code]

printing `${QEMU_CONF_FLAGS}` right before the error yields:

[code]

Notice the leading open curly bracket, and a closing bracket about 2/3 of the way after `--without-default-devices`.

[2021-02-14 10:47] vanhauser-thc commented on #741
that looks like an old state. please retry on current dev branch

[2021-02-14 12:01] joshpearce commented on #741
I was able to build by editing the script. I just posted here in case it was helpful.

[2021-02-14 12:01] #741 closed, assigned to nobody

[2021-02-14 15:51] tiedaoxiaotubie opened #743 "Asan can't be loaded in the latest version"
I used the latest commit whose commit number is : 91f2f057e4eacab4cd3a1a11cde157e3a31470d0
I want to enable the ASAN, my build method is as follows:
[code]
The error output was:
[code]

I tried the older version, which commit number is 068bef5eab942df0a133c92522f2ab81b28ac636, it compiled successfully, so I think maybe the error was introduced in recent updates.

[2021-02-14 16:42] vanhauser-thc commented on #743
the ASAN_BUILD is for debugging and bug hunting in afl++ - not for use for normal fuzzing.
also I run current dev state with llvm 12 and llvm 13 and do not see this issue.
It looks like the compiler used for building the llvm plugins is not the same that is used by afl-cc.
My guess: if you either remove `export CC=clang` or set it to the correct clang-XXX then it will work.

[2021-02-15 04:28] tiedaoxiaotubie commented on #743
yes, you are right, after removing `export CC=clang`, it worked. Thank you very much.

[2021-02-15 04:28] #743 closed, assigned to nobody

[2021-02-15 06:53] QiuhaoLi commented on #286
Recently I discovered the following bugs using AFL++.

FFmpeg: [HEVC NULL pointer dereference](https://trac.ffmpeg.org/ticket/9099)

GNOME: [Mishandle NULL pointer in the xps converter](https://gitlab.gnome.org/GNOME/libgxps/-/issues/3)

GNU core utilities: [Heap underflow when expr(1) mishandles unmatched `\(...\)` in regular expressions](https://github.com/coreutils/coreutils/commit/735083b)

QE

[2021-02-15 08:15] Zherya commented on #644
I got it, thank you!

[2021-02-15 08:34] Zherya opened #744 "CMPLOG feature for GCC"
Hello! I'm interested in CMPLOG for GCC, are there any plans or developing process of such feature for GCC?

If no, perhaps, I'm interested in developing it in my own.

[2021-02-15 14:03] rchildre3 opened #745 "Leftover conflict markers"
commit c5017945f7f3e352d5b29889c6cc7d31d7206fd9 added conflict markers to `qemu_mode/libqasan/dlmalloc.c`

[2021-02-15 14:19] b1gr3db commented on #732
Thank-you!

[2021-02-15 14:20] vanhauser-thc commented on #745
already fixed, thanks

[2021-02-15 14:20] #745 closed, assigned to nobody

[2021-02-15 14:25] vanhauser-thc commented on #744
I asked @ButcherAdaCore if they wanted to do it some weeks ago, not sure what their plans are, if they have already done it, or if it is currently a  "wont do" :) Lets see what he says.
CMPLOG for the gcc_plugin would be really good and important.

[2021-02-15 14:27] vanhauser-thc commented on #740
@Kyle-Kyle is it fixed for you? note that we just pushed to stable, hence it should be fixed there too

[2021-02-15 14:27] #732 closed, assigned to hexcoder-

[2021-02-15 14:33] rchildre3 commented on #745
Great, thanks! A pre-commit hook with `git diff --check` can help prevent occurrences like that in the future, just as a mild suggestion.

[2021-02-15 14:47] ButcherAdaCore commented on #744
Hi both - it is very much on our todo list.

I'll chase it today and see where we are with it.

[2021-02-15 17:09] mykter commented on #274
Looks like this can probably be closed now that #728 is merged?

[2021-02-15 17:18] domenukk commented on #274
Right, this and statsd (#684 & #702) should do the trick

[2021-02-15 17:18] #274 closed

[2021-02-15 17:22] mykter commented on #286
Technically this was first found with vanilla afl, but it isn't on the original trophy list; don't know if you want to list this type?
CVE-2018-7183 in ntpq: https://www.nwtime.org/network-time-foundation-publishes-ntp-4-2-8p11/

[2021-02-15 20:45] domenukk opened #747 "I'm an Airplane"
This is the mighty #747

[2021-02-15 20:45] #747 closed, assigned to nobody

[2021-02-16 09:13] ButcherAdaCore commented on #744
@vanhauser-thc @Zherya - we're currently clearing a few higher priority tasks and then CMPLOG for GCC will be next. We're predicting a reasonably quick turn around (less than 1 week to implement, test and upstream).

Unfortunately I can't give you a more concrete estimate at this stage but will let you know as soon as work is underway.

No problem at all if in the meantime somebody else wants to c

[2021-02-16 09:49] vanhauser-thc commented on #744
@Zherya if you want to have a go at it, here is a description I gave to Paul:
[code]

[2021-02-16 10:09] Zherya commented on #744
@vanhauser-thc @ButcherAdaCore Thanks for the explanations! I suppose, if @ButcherAdaCore team plans to develop CMPLOG so soon, it is better to leave it to them. Because, I believe, they know GCC much better than me:)

Perhaps, I may choose some another absent gcc_plugin feature for developing it slowly:)

[2021-02-16 10:10] domenukk commented on #744
Would it make sense to use an additional, unified `AFL_CMPLOG` variable that just enables it whenever available? Could make switching modes easier for the user

[2021-02-16 17:12] Kyle-Kyle commented on #740
yeah. it is fixed. thanks!

[2021-02-16 17:12] #740 closed, assigned to nobody

[2021-02-16 17:29] vanhauser-thc commented on #744
@Zherya if you need help just contact us (e.g. by opening a new issue - but ButcherAdaCore with an @ reference as we ourselves do not have much gcc_plugin knowledge)
@domenukk maybe, maybe not? dunno
@ButcherAdaCore looking forward to gcc cmplog!! :)

closing this for now :)

[2021-02-16 17:29] #690 closed, assigned to nobody

[2021-02-16 17:45] vanhauser-thc commented on #733
Sorry I had so much going on ...
for me it works, I built qemu_mode with `export CPU_TARGET=arm`
[code]
and afl-showmap works too:
[code]
can you retry with current stable or dev?

[2021-02-17 12:33] rolandrille opened #749 "Android 11 Scudo allocator does not like the afl-forkserver"
**IMPORTANT**
1. You have verified that the issue to be present in the current `dev` branch
2. Please supply the command line options and relevant environment variables, e.g. a copy-paste of the contents of `out/default/fuzzer_setup`

AFL_KILL_SIGNAL=9
AFL_SKIP_CPUFREQ=1
# command line:
'./afl-fuzz-dev' '-m' '1G' '-t' '9000' '-i' 'inp' '-o' 'out_dev_branch' '--' './myfuzzer'

Thank you for making

[2021-02-17 12:42] domenukk commented on #749
Thank you for your report.
Have you tried it without a memory limit? Since I don't have a debug setup for android here, any additional information you can provide us with, like an strace of the child process etc.?

[2021-02-17 12:59] rolandrille commented on #749
yes, i tried the memory limits starting from none till what is available

for strace:

[code]

[2021-02-17 13:47] andreafioraldi commented on #749
Can you paste the output with AFL_DEBUG=1 ?

[2021-02-17 13:59] andreafioraldi commented on #286
Hi @virtuald @QiuhaoLi (the coreutils one in your case) can you give me an identifier of the bugs that you reported linking just the commit with the patch?
A ticket number is enough.

[2021-02-17 13:59] rolandrille commented on #749
oh, thats nice! wasn't aware of that flag

[code]

[2021-02-17 14:20] andreafioraldi commented on #749
Are your sure that you are followind the child process with strace too? mmap seems ok.
Print the pid also to distinguish the logs of the different processes, or log to a different file for each pid.

[2021-02-17 14:31] rolandrille commented on #749
this is the full strace with -f

[code]

[2021-02-17 15:46] vanhauser-thc commented on #749
what is the output of:
[code]
?

This looks suspicous:
[code]
Not sure where this mmap is coming from though.

[2021-02-17 16:03] hanzolabs commented on #749
it's identical to the previous output.

hex(42949672960)
'0xa00000000'

looks like a weird memory region

[2021-02-17 16:07] rolandrille commented on #749
its identical to the previous log

hex(42949672960)
'0xa00000000'

weird memory region

[2021-02-17 16:11] domenukk commented on #749
You could try if your strace supports `-k` to print stack addresses, that would at least tell us where the allocation happens. It may be somewhere deep in the new allocator, though, then it won't help much. As I see it, if you run afl without mem limit `-m none` that `mmap` should still work, however (the kernel should overcommit this memory)

[2021-02-17 16:24] vanhauser-thc commented on #749
@rolandrille  I dont want an strace, I want the screen outputs of the commands :)

[2021-02-17 16:29] rolandrille commented on #749
ok, could narrow it down with the debug flag.

I fucked up on my part -- afl-forkserver works fine with scudo on android 11!
thanks for your help and sorry for wasting your time!

[2021-02-17 16:29] #749 closed, assigned to nobody

[2021-02-17 16:36] vanhauser-thc commented on #749
can you tell us what your mistake was? Other people usually make similar mistakes and then we have an idea what it could be.

[2021-02-17 16:40] rolandrille commented on #749
beyond stupid. confused the phones i had on the desk and used the wrong one with the wrong android build so my fuzzer could'nt work. i'll go get a p-touch -.-

[2021-02-18 01:37] QiuhaoLi commented on #286
Hi @andreafioraldi

The ticket number of coreutils' bug is [Bug 1919775](https://bugzilla.redhat.com/show_bug.cgi?id=1919775). But this ticket is now private since the Red Hat guys and I thought this was a security-related flaw (the upstream developers disagree with it). It will be public in the future.

Btw, could you change the name `QiuhaoLi` to `Qiuhao Li`? `Li` is my family name  😊.

Thank yo

[2021-02-18 07:41] andreafioraldi commented on #286
yes i just put your github nick, will change asap

[2021-02-18 09:10] julihoh commented on #701
Okay, I finally got around to it. I made exposure to the afl_state entirely optional and off by default. I also fixed some other issues that I found while using it myself.

This looks really great btw :) is there any ETA? I remember you saying something like "coming soon"? can't wait!

[2021-02-18 10:09] jackfromeast commented on #733
Thanks so much! I finally found where the problem is that I shouldn't make the output folder, fuzz_out, by myself which would be created automatically by the `afl-fuzz` command. I am sure it is an easy mistake for beginners.

[2021-02-18 10:16] #733 closed, assigned to nobody

[2021-02-18 18:05] domenukk commented on #701
Coming ASAP :D Refactoring daily at the moment, initial version really soon (tm)

[2021-02-19 17:28] MegaManSec opened #754 "`stdin' does not get reloaded with persistent mode"
Hi,

I am currently using AFLplusplus with persistent mode and am utilising a so-called 'magic byte' to separate inputs within a single input. My code looks something like this:
`while(i < len && (c = getchar()) != EOF && c != 248 /*\xF8 */) buf[i++] = (char)c;`

However, when using AFL++'s persistent mode, it does not work as for most calls (other than the first, I suppose), getchar() always retu

[2021-02-19 18:52] MegaManSec commented on #754
A workaround for this:

[code]

[2021-02-19 19:40] vanhauser-thc commented on #754
well stdin works. it is getc() which makes this an issue though.
You should switch getc() with read(), and read everything.
so rewrite your harness to be a good harness :)

[2021-02-19 20:02] MegaManSec commented on #754
In this case we are 'imitating' both a client and a server in a stateful server, and a magic byte is our delimiter between each part. So read()ing is not possible unless we read() everything, check whether it contains our magic byte, and then puts the 'extra' part back into śtdin.
Of course it isn't preferable to do this instead of, say, running 2 fuzzers against the client part of the code and th

[2021-02-21 12:34] smoelius opened #756 "`-S default` the default?"
The 3.00c release notes state:

This changes `afl-fuzz`'s default search strategy when not run in parallel mode. I.e., after 3.00c, `afl-fuzz` will not do bit-flips, etc. unless additional options are specified.

Could you please give the rationale for this choice? I would have expected `-M default` to be the default.

[2021-02-21 17:24] vanhauser-thc commented on #756
-M has features enabled that are not good for standard fuzzing but should be present in one fuzzer in a fuzzing campaign, e.g. the deterministic mutation (-D), old queue selection (-Z).

[2021-02-21 17:50] smoelius commented on #756
I am not sure that `-S` is good for standard fuzzing, though. For example, in the following Rust program, `-M` finds the assertion failure in just a couple of minutes. But with `-S`, I've run it for several minutes without finding the crash.
[code]
Perhaps the default doesn't have to be `-M` or `-S`?

Anyway, thanks for your explanation. (Closing.)

[2021-02-21 17:50] #756 closed, assigned to nobody

[2021-02-21 18:16] vanhauser-thc commented on #756
there has been so much testing around deterministic fuzzing and the result is always the same - it decreases the performance of fuzzing a lot.
of course in very specific cases this makes it harder to find a bug, but the same can be said about any feature. imagine whatever a feature does and it will be good for some situations and bad for others.
The defaults in afl++ have been extensively tested t

[2021-02-21 22:56] smoelius commented on #756
Thank you again.

[2021-02-21 23:57] samstack6 opened #757 "afl-cov error on AFL++ output directory"
Hi .
Sorry to open-up the issue here, it was not possible to open the issue at the afl-cov github (vanhauser-thc  version)
I am using `https://github.com/vanhauser-thc/afl-cov` to measure the line coverage on an app that is fuzzed with afl++ .

I'm basically using the `afl-cov.sh` to facilitate the process, using `afl-cov.sh` or `afl-cov` will actually results in a error .

I'm using the command :

[2021-02-22 05:16] MegaManSec commented on #757
line 727,
change this:
with open(fh.name, 'r', 'rb') as f:
to this:
with open(fh.name, 'r') as f:

this is my fault sorry :D it will be fixed soon

[2021-02-22 08:20] vanhauser-thc commented on #757
no it was my fault as me as a python n00b tried to do a better fix than @MegaManSec but failed :)
This just happened 10h ago :)
I now switched to his fix - can you please check if it works for you guys?

[2021-02-22 08:36] MegaManSec commented on #757
I still believe your original patch was on a better path. I think there may be some issues for if people use afl-cov for, say, emoji parsing or something.

[2021-02-22 08:47] vanhauser-thc commented on #757
@MegaManSec it should not make a difference. the reason it original broke was that utf8 strings can be illegal, which is not the case with normal iso-.... pages

[2021-02-22 09:15] samstack6 commented on #757
Hi and thanks for your replies .

@vanhauser-thc I applied what @MegaManSec said in the first reply and it just got worked! so did it applied to the current source?

Thanks!

[2021-02-22 10:57] vanhauser-thc commented on #757
@samstack6 no what he proposed was the original state which has an issue if illegal utf8 is present. the fix in the repo is a different one

[2021-02-22 12:37] QiuhaoLi opened #758 "[Question] Why don't we trace non-conditional jmp?"
Hi hackers,

In [afl-as.c](https://github.com/AFLplusplus/AFLplusplus/blob/stable/src/afl-as.c#L395), the non-conditional jump seems don't get traced:

[code]

My question is won't we lose some basic blocks by doing that? Since the target instruction of an unconditional jump may be a start of a basic block.

Sorry if it is a silly question. I tried to use google and search in the mail list but fai

[2021-02-22 12:49] vanhauser-thc commented on #758
there is no value in non-conditional jumps. we have the information of the path already from the current basic block.

note that nobody should use afl-gcc / afl-as.h anymore. it is outdated. state of the art is instrumentation/*.c* in afl-clang-fast/afl-clang-lto

[2021-02-22 12:54] vanhauser-thc commented on #757
as @domenukk pointed out to me @MegaManSec fix is not good, so I went back and tried to fix it correctly. please test.
this showed to me again that python is pretty much crap ... but thats life.

[2021-02-22 12:56] QiuhaoLi commented on #758
@vanhauser-thc Get it, thank you.

[2021-02-22 12:56] #758 closed, assigned to nobody

[2021-02-22 12:57] MegaManSec commented on #757
I will test it soon. Out of interest what goes wrong with the patch I propsed (which I took from google anyways)?

[2021-02-22 13:08] vanhauser-thc commented on #757
python3 seems to convert ascii to unicode internally and then things go wrong from there

[2021-02-22 17:25] MegaManSec commented on #757
Unfortunately not:
Traceback (most recent call last):
  File "/usr/local/bin/afl-cov", line 1227, in <module>
    sys.exit(main())
  File "/usr/local/bin/afl-cov", line 95, in main
    return not process_afl_test_cases(cargs)
  File "/usr/local/bin/afl-cov", line 227, in process_afl_test_cases
    for line in out_lines.decode("ascii"):
AttributeError: 'list' object has no attribute 'decode'

[2021-02-22 18:08] vanhauser-thc commented on #757
that did not come up in my testcase ... sigh. fixed, please try again

[2021-02-23 09:10] Juvojic opened #760 "How is simple_target in unicorn_mode/samples directory actually compiled?"
`COMPILE.md` in `unicorn_mode/samples/c` says that pre-built binary (simple_target_x86_64.bin) was built using -g -O0 in gcc.

1. You probably meant "simple_target_x86_64" without the ".bin", because there is no bin file in this directory, right?
2. The output of `gcc -g -O0 simple_target.c -o simple_target_test` and `objdump -d simple_target_test > simple1.txt` is different to `objdump -d simple_

[2021-02-23 09:15] Juvojic opened #761 "Reference in README.md in unicorn_mode faulty"
README.md in unicorn_mode says `Refer to the samples/arm_example/arm_tester.c for an example of how to do this properly!`
Has this maybe been an old reference? There is no arm_example subdirectory in samples. Or did you mean `unicorn_mode/unicornafl/samples/sample_arm.c` ?

[2021-02-23 09:46] Juvojic opened #762 "Fuzzing new binary in unicorn mode with C harnessing script"
I already managed to adapt the `simple_test_harness.py` in `unicorn_mode/samples/simple` to fuzz an AArch64 target. I wanted to also adapt the `harness.c` in `unicorn_mode/samples/c` to fuzz an AArch64 target.

Since this isn't trivial, I first tried to modify the harnessing file to fuzz another x86_64 target (simple_target.c). Therefore I changed `CODE_ADRESS`and `END_ADRESS` to the corresponding

[2021-02-23 10:40] domenukk commented on #762
First of all, in `unicorn_mode/samples/speedtest/` we have the same harness in C, Python, and Rust, maybe this helps to understand how to port a harness from one language to the other.
If you already have your target running in python, a) you can not continue using that and b) translating to C and Rust should be rather straightforward.
Refer to normal unicorn examples floating around the web. Ther

[2021-02-24 02:22] pureGavin opened #763 "recipe for target 'libtokencap.so' failed"
here is an error "recipe for target 'libtokencap.so' failed" when i use command "make distrib"
what should i do?

[2021-02-24 03:25] pureGavin commented on #763
the problem has been solved :)

[2021-02-24 03:29] pureGavin commented on #763
there is two way to solve it
1、use "cp ./include/* ./util" command, copy all .h file into util/
2、change libtokencap.so.c file from "#include '../config.h'" to "#include '../../include/config.h'" and same as the types.h, i am not sure this way gonna work or not, i just try the first way :p

[2021-02-24 03:30] #763 closed, assigned to nobody

[2021-02-24 15:18] MegaManSec commented on #757
seems to be fine now, thanks :)

[2021-02-24 16:15] vanhauser-thc commented on #757
ty!

[2021-02-24 17:19] MegaManSec commented on #757
Oops I spoke too soon:
Traceback (most recent call last):
  File "/usr/local/bin/afl-cov", line 1227, in <module>
    sys.exit(main())
  File "/usr/local/bin/afl-cov", line 95, in main
    return not process_afl_test_cases(cargs)
  File "/usr/local/bin/afl-cov", line 228, in process_afl_test_cases
    logr("    %s" % (line.decode("ascii")), cov_paths['log_file'], cargs)
UnicodeDecodeError: 'ascii'

[2021-02-24 17:21] MegaManSec commented on #757
and for what it's worth, the rest of the program works fine if i comment out that line :)

[2021-02-24 20:04] vanhauser-thc commented on #757
I hate python.
@MegaManSec what is the target? something open source that we can use for testing?

[2021-02-25 02:41] Kaka201 opened #764 "libqasan build failed"
maybe the libqasan folder is missing the qasan.h header file

[2021-02-25 08:24] vanhauser-thc commented on #764
it is in qemuafl which will be checked out when running build_qemu_support.sh - all good :)

[2021-02-25 08:24] #764 closed, assigned to nobody

[2021-02-25 15:35] MegaManSec commented on #757
@vanhauser-thc  the target is Privoxy, it has its own --fuzz (compile with --with-fuzz or --enable-fuzz i don't remember which). But that error I posted really was the only one 'left', and it to do with logging output, not about actually running the script so commenting it out even worked for me.

[2021-02-25 21:40] fuzzah opened #765 "null pointer dereference in afl-fuzz-init.c when all inputs produce crash"
**Describe the bug**
When all test cases in input dir produce crash of a target, AFL++ also crashes with SIGSEGV.

**To Reproduce**
Steps to reproduce the behavior:
1. `git reset --hard 7ae7b0f3732cfd9d82cf9403818012d00faa07c3 && make source-only && make install`
2. Edit target to include __AFL_FUZZ_INIT, __AFL_INIT, __AFL_LOOP as described in utils/persistent_mode/persistent_demo_new.c
3. Compile

[2021-02-25 22:34] vanhauser-thc commented on #765
can you please (always) verify dev? it should be fixed there :)

[2021-02-26 11:37] fuzzah commented on #765
My bad, this is actually fixed in dev. Closing.

[2021-02-26 11:37] #765 closed, assigned to nobody

[2021-02-26 21:24] MegaManSec opened #766 "Persistent Mode example has an uninitalized memory read error"
Hi there,

On the example given here: https://github.com/AFLplusplus/AFLplusplus/blob/stable/utils/persistent_mode/persistent_demo_new.c#L73
there is no guarantee that 'buf' is NULL terminated, and thus this 'fprintf' would actually read beyond the buffer until it found a NULL byte.

After tackling with an assertion which was akin to this https://cdn.discordapp.com/attachments/736989426298912813/8

[2021-02-26 21:55] vanhauser-thc commented on #766
the fprintf was just for me for debugging when I implemented the shared memory testcases :) I just removed it.

[2021-02-26 21:55] #766 closed, assigned to nobody

[2021-02-26 22:01] MegaManSec commented on #766
Maybe there are other people that are as stupid as me and forget that this __AFL_FUZZ_TESTCASE_BUF is not nul terminate, so maybe it is worth adding a note to the persistent_mode document ;)

[2021-02-26 22:26] vanhauser-thc commented on #766
no fuzz buffer is ever null terminated :) (unless it would be a text grammar fuzzer) If you really think that is important missing information, just send a PR.

[2021-02-27 10:15] hexcoder- commented on #761
Thanks!
It seems that this reference is present from the beginning (https://github.com/AFLplusplus/AFLplusplus/commit/00dc8a0ad577fc9219b2d4999c32005a8fc5cc3a), but the referenced file was never part of that commit (nor was it added later).
@domenukk : Can you have a look?

[2021-02-27 11:44] vanhauser-thc commented on #286
CVE-2021-27804 multiple vulnerabilities in jpeg-xl

[2021-02-27 15:41] #701 closed, assigned to nobody

[2021-02-27 15:41] domenukk commented on #701
Merged #752

[2021-02-27 16:19] domenukk commented on #760
Hey, thank you for pointing that out.
1) yes, correct, fixed in the docs.
2) The target is slightly different here (see `persistent_target.c`) but should also have been made using -O0.
I have tried to work over the documentation :)

[2021-02-27 16:19] #760 closed, assigned to nobody

[2021-02-27 16:20] domenukk commented on #761
I worked over the documentation in 2ad495a feel free to ask further questions, thx

[2021-02-27 16:20] #761 closed, assigned to nobody

[2021-02-28 17:35] DmitryJustDmitry opened #768 "Probably a problem with AFL_DEBUG"
Hi. Working in Ubuntu 20, llvm-11.
Looks like enabling AFL_DEBUG (export AFL_DEBUG=1) breaks further compiling process.

Steps to reproduce the behavior:
1. git clone https://github.com/sqlite/sqlite
2. export AFL_DEBUG=1
3. CC=/var/work/AFLplusplus/afl-clang-lto ./configure
4. make

Without export AFL_DEBUG=1 everything is compiled successfully.

With  export AFL_DEBUG=1 before ./configure it wou

[2021-02-28 17:57] vanhauser-thc commented on #768
AFL_DEBUG is not dir compiling afl++ only for compiling and fuzzing targets :)

[2021-02-28 18:16] DmitryJustDmitry commented on #768
Thanks! It works well when I set it just before make :)

[2021-02-28 18:16] #768 closed, assigned to nobody

[2021-02-28 18:43] rchildre3 opened #769 "qasan refuses to build on Fedora x86_64"
**Describe the bug**
Qasan does not build with Fedora standard packages (tries cross compiling)

**To Reproduce**
Steps to reproduce the behavior:
[code]

**Expected behavior**
qasan builds

[2021-02-28 20:18] andreafioraldi commented on #769
just set CROSS to the compiler for the target architecture

[2021-02-28 20:22] rchildre3 commented on #769
@andreafioraldi I am not trying to cross compile, I am trying to build for native architecture

[2021-02-28 20:39] vanhauser-thc commented on #769
Can you please retry in a new shell and if it fails again please paste the output of ‘env’?

[2021-02-28 20:59] vanhauser-thc commented on #768
ah sorry I had misunderstood. but it is quite common that configure breaks when AFL_DEBUG is set. it checks the print output of the compiler ...

[2021-03-01 00:41] domenukk commented on #757
@MegaManSec can you try https://github.com/domenukk/afl-cov/tree/py3 please?

[2021-03-01 08:37] vanhauser-thc commented on #769
ah I think I found the issue.
@hexcoder- added a useful feature that automatically compiles the supporting libs like qasan for the target CPU that qemu is built for. feodora either doesnt honor the CPU_TARGET-gcc etc filename format or doesnt install anything like that.
so I  added a workaround if the CPU target is the same as the current system then fall back to CC.
can you please test?

[2021-03-01 15:53] rchildre3 opened #773 "qemuafl submodule pointers out-of-sync"
**Describe the bug**
qemuafl submodule pointer and pseudo pointer out-of-sync on dev as of ad7a7fcf075c617e09cb516da000b244be161093

**Expected behavior**
qemuafl submodule pointer and pseudo pointer are in-sync

**Recommendation**
Add rule in pre-commit hook that verifies that `git submodule status` and pseudo pointer file match

[2021-03-01 18:16] domenukk commented on #773
@whoever needs to hear this, always use `update_ref.sh` to update the qemu ref

[2021-03-02 08:54] fuzzah opened #774 "AFL_LIBRARY_PATH"
When compiling complex targets consisting of binary and multiple libraries, I'd like to fuzz everything that I have compiled: this exact binary and all the libraries bundled with it. Usually such libraries are saved in build tree in directories like "build/.libs/". But when I run target it may use libraries that available in OS itself (e.g. bzip2, libxml2). Of course my OS libraries are not same:

[2021-03-02 09:21] vanhauser-thc commented on #774
a PR for this should rather be easy.
just edit afl-forkserver.c and before the exec..() call you do   char *p; if ((p = afl_get_env("AFL_LIB..."))) setenv("LD_LIB..", p, 1);

[2021-03-03 02:56] rchildre3 commented on #769
QAsan builds

[2021-03-03 02:56] #769 closed, assigned to nobody

[2021-03-03 07:15] MegaManSec commented on #757
seems to work for now @domenukk  :)

[2021-03-03 09:45] MegaManSec commented on #757
Although note:

/usr/local/bin/afl-cov:1260: DeprecationWarning: invalid escape sequence '\*'
  print("    " + pstr.decode("unicode-escape"))

[2021-03-03 11:53] MegaManSec commented on #757
also it is 1000x faster (literally). I don't know whether that's because i ran it with --cover-corpus or because of something you did with the script, though

[2021-03-03 11:57] vanhauser-thc commented on #757
you would know if you leave away the --cover-corpus? ;)

[2021-03-03 12:02] MegaManSec commented on #757
"never break things if they are working" -- me ;)  (which is why my replies here are so slow)

[2021-03-03 18:30] domenukk commented on #757
Would make sense that it's a bit faster, it no longer has to parse unicode strings, allocate extra buffers, etc.... :)

[2021-03-03 19:38] domenukk commented on #757
Fixed

@MegaManSec fixed that in my branch ( I think )

[2021-03-03 20:41] vanhauser-thc commented on #773
stash & drop is removed.
we only update the ref by hand and not automatically by a hook.
do you still have an issue or is this ok for you?

[2021-03-03 20:45] vanhauser-thc commented on #757
@domenukk does not look good for me:

[code]
it is missing line feeds, the non-zero exit also doesnt look ok.

I think you really have to try it out yourself ;)

[2021-03-03 21:11] domenukk commented on #757
@vanhauser-thc introduced the newline issue with the last push, should be fixed again. About the non-zero exit, no idea :/

[2021-03-03 21:17] vanhauser-thc commented on #757
yes now it looks much better :)

[code]
now that things are readable: the exit status comes from the target complaining about the input - which is totally fine.
but can you please remove that output?
so that it is just:
[code]
?

[2021-03-03 21:22] domenukk commented on #757
That's a change in comparison to the old `afl-cov` though: if `run_cmd` gets called with `WANT_OUTPUT` or `LOG_ERRORS` they get printed or logged.

I didn't change that behavior

[2021-03-03 21:58] vanhauser-thc commented on #757
I am aware but I think it is good if that is the new default behaviour. a target might write tons of nonsense to the screen otherwise.
plus the error might make a user think something went wrong.

[2021-03-04 02:31] MegaManSec commented on #757
afl-cov -d q/ --func-search Check
Traceback (most recent call last):
  File "/usr/local/bin/afl-cov", line 1532, in <module>
    sys.exit(main())
  File "/usr/local/bin/afl-cov", line 91, in main
    return not search_cov(cargs)
  File "/usr/local/bin/afl-cov", line 616, in search_cov
    cargs.src_file.encode() == src_file
AttributeError: 'NoneType' object has no attribute 'encode'

[2021-03-04 02:46] domenukk commented on #757
pushed a fix for that one

[2021-03-04 02:54] domenukk commented on #757
New behavior: print errors, if `LOG_ERRORS` or (`WANT_OUTPUT` *and* `-v` specified). The -v is new.

[2021-03-05 14:25] #773 closed, assigned to nobody

[2021-03-05 14:46] MegaManSec opened #780 "afl-cmin asterisk in filename gets evaluated"
Hi there,

if you use afl-cmin on a directory which has a file which contains an asterisk, it will get evaluated and mess up the script. (aka; if one of the corpuses has a * in it).

it would be nice to support this :)

example:

corpus minimization tool for afl++ (awk version)

sh: 1: test: ./cxx//*-thurd: unexpected operator
ln: target 'min3//.traces/.link_test' is not a directory
[*] Testing th

[2021-03-05 19:25] vanhauser-thc commented on #780
this needs awk magic I dont have :) @hexcoder-  ?

btw afl-cmin.bash works.

[2021-03-05 19:25] #757 closed, assigned to nobody

[2021-03-05 19:26] vanhauser-thc commented on #630
can you please retry with the current dev state? I think/hope it is fixed

[2021-03-05 19:27] vanhauser-thc commented on #731
@virtuald is this something you still want to follow up?

[2021-03-08 07:20] hexcoder- commented on #780
Thanks for your report!
Sorry, I cannot reproduce with branches `stable` and `dev`. I tried with this on Linux Ubuntu 18.10:
[code]

[code]

[code]
It seems, all 8 files are traced, and i don't see the error messages, you saw.
So there must be more to it.
@MegaManSec: I would need a complete command line and the output of `ls -l ./cxx/*thurd*`, please.

[2021-03-08 11:55] hexcoder- commented on #780
@MegaManSec: could find some problem for filenames with spaces (but asterisks are fine IMO).

[2021-03-08 13:07] MegaManSec commented on #780
It might have been a space, then, sorry. I have since deleted the files from `cxx', but I will try and re-create them soon.

[2021-03-08 13:57] hexcoder- commented on #780
ok, I now have fixed the handling of file names with spaces with commit https://github.com/AFLplusplus/AFLplusplus/commit/eb1e8619ebd01e8a592148b1e1866465c0644cb4.
@MegaManSec: Please retest

[2021-03-08 14:44] MegaManSec commented on #780
I have completely lost the original folder used to create the problem. Also I was 99% sure I had updated my original post with the original command used: maybe I updated the wrong issue..

Anyways, for now, everything seems fine. I'll re-open this ticket if anything comes up later on.
As always thanks for the service @hexcoder-

[2021-03-08 14:44] #780 closed, assigned to hexcoder-

[2021-03-08 20:17] pantrombka opened #782 "Wine mode"
Hello,
I have a problem with -W mode.
I trying fuzz a sample from https://github.com/AFLplusplus/Fuzz-With-Wine-Demo
with this command.
afl-fuzz -W -i in -o out -- ./pnginfo.exe @@
but I get

Maybe using -W mode looks different?
Can you help?

[2021-03-08 20:33] vanhauser-thc commented on #782
set AFL_DEBUG=1  ... maybe the wine script could not be executed.
also note that the README clearly states that AFL_SKIP_BIN_CHECK=1 has to be set.

[2021-03-09 07:51] vanhauser-thc opened #783 "Google Summer of Code 2021"
All questions and discussions about Google Summer of Code 2021 have to be done in this issue, please do not open new ones.

This year we will focus on libafl, the new future component of afl++.
libafl is written in the Rust development language, hence all students must be experienced developing in Rust.

We have various ideas what students can contribute to libafl in GSoC21 and have them documente

[2021-03-09 15:10] pantrombka commented on #782
Thank you.
I got error:
[code]
But when i try run pnginfo under /usr/bin/wine it works great.

[2021-03-09 16:01] maflcko opened #784 "How to compile for LLVM LTO?"
When I build afl++, it prints `[-] LLVM LTO mode for 'afl-cc'  failed to build, this would need LLVM 11+, see instrumentation/README.lto.md how to build it`. However, I do have llvm-11 installed. What is the best way to debug this?

Steps to reproduce:
* Install fresh Ubuntu Groovy
* Install dependencies: `apt update && apt install build-essential libtool-bin python3-dev automake flex bison libgli

[2021-03-09 16:03] maflcko commented on #784
:man_facepalming:

Failed to see this.

[2021-03-09 16:03] #784 closed, assigned to nobody

[2021-03-09 16:20] vanhauser-thc commented on #782
what does `file /usr/bin/wine` say?
likely it is i386 not x86_x64 and then qemu_mode also has to be built for i386. these must match.

[2021-03-09 18:35] pantrombka commented on #782
[code]
I haven't any idea what is wrong

[2021-03-09 18:52] rchildre3 opened #788 "qasan i386 compiling"
**Describe the bug**
libqasan and friends do not use the correct name for the 32 bit x86 compiler (at least on Ubuntu)

**To Reproduce**
Steps to reproduce the behavior:
[code]

**Expected behavior**
It builds

**Additional context**
#769

[2021-03-09 19:39] andreafioraldi commented on #788
You can set CROSS. Btw this seems introduced to "fix" this exact situation on Arch.

[2021-03-09 19:43] andreafioraldi commented on #782
Why don't you do file /usr/bin/wine-stable? It is for sure an x64 ELF.
This is a pointless issue, the QEMU error is quite clear, you are trying to load an ELF for another architecture, your build expects a 32 bit ELF.

[2021-03-09 19:49] andreafioraldi commented on #782
You can se AFL_WINE_PATH to the path of the 32 bit wine binary that you want to use

[2021-03-09 19:51] temp1337temp1337 commented on #783
Hey there,

I understand that Rust experience is mandatory. Can you please let me know if this is the case for all of the proposals? I would be interested in the case of WASM Instrumentation, but I do not have any Rust knowledge.

Thank you.

[2021-03-09 19:55] andreafioraldi commented on #788
https://github.com/AFLplusplus/AFLplusplus/blob/dev/qemu_mode/build_qemu_support.sh#L374 seems ok.
Are you sure that you have i386-linux-gnu-gcc in your path?

[2021-03-09 19:56] vanhauser-thc commented on #783
@temp1337temp1337
from docs/ideas.md:
[code]
sorry!
the wasm sub project is not part of GSoC - if you want to work on this outside of GSoC we will happily support you.

[2021-03-09 19:57] andreafioraldi commented on #788
No ofc you have i686-linux-gnu-gcc, didn't see the comments

[2021-03-09 20:01] tokatoka commented on #783
Hello,

I am interested in "schedulers for libaflrs".
Can I have a look at the libaflrs source code if possible? I can only find LibAFL-legacy repository.

Thanks in advance.

[2021-03-09 20:03] andreafioraldi commented on #788
Can you try dev now?

[2021-03-09 20:04] vanhauser-thc commented on #783
sure! @domenukk will handle the repo invite :)

[2021-03-09 21:37] domenukk commented on #783
invited tokatoka and https://github.com/AFLplusplus/LibAFL/invitations
if you need write access to open a pr let me know

[2021-03-09 21:48] Dhayalanb commented on #783
@domenukk  can I get an invite as well?

[2021-03-09 21:52] rchildre3 commented on #788
Working (with some warnings, but maybe for another issue)
[code]

[code]

[2021-03-09 22:55] domenukk commented on #783
Done https://github.com/AFLplusplus/LibAFL/invitations

[2021-03-09 23:37] domenukk commented on #701
@julihoh in case it's relevant for you, the rust libAFL is part of our Google Summer of Code this year

[2021-03-10 03:13] lvtao-sec commented on #783
Hi @domenukk, I'm also interested in this project. Can I access the source code of libaflrs? Thanks.

[2021-03-10 06:40] ThePwnish3r commented on #783
i am also interested can i have access? and how to apply and proposal stuff like this

[2021-03-10 09:04] MohitPatni0731 commented on #783
Good Afternoon
I am Mohit Patni currently in Freshman Year at Indore Institute of Science and Technology completing my Bachelors in Information Technology. I know languages like HTML , CSS , JavaScript , Python , Shell .I want to contribute to the AFLplusplus but I don't know which project is right for me and how to get started. So can you please guide me to how to get started and propose a projec

[2021-03-10 09:42] julihoh commented on #701
Email ist raus!

[2021-03-10 14:08] domenukk commented on #783
@lvtao-sec @ThePwnish3r @MohitPatni0731 invited you to https://github.com/AFLplusplus/LibAFL/invitations

[2021-03-10 14:17] rchildre3 opened #793 "QAsan + QEMU Wine modes Documentation"
**Describe the solution you'd like**
Documentation / Examples of QAsan mode with QEMU Wine mode (if even such a thing is possible)

[2021-03-10 14:21] vj-27 commented on #783
Hi,
is the Analysis software part of GSOC21?

[2021-03-10 14:37] vanhauser-thc commented on #783
no it isnt, sorry.

[2021-03-10 15:18] vj-27 commented on #783
Ok cool. can i get access to libaflrs?

[2021-03-10 17:11] domenukk commented on #783
@vj-27 https://github.com/AFLplusplus/LibAFL/invitations

[2021-03-10 17:45] RajChowdhury240 commented on #783
can i have the invitation ? that link isnt working btw

[2021-03-10 18:04] domenukk commented on #783
it's working once I've added you. @Rajchowdhury420 done.

[2021-03-10 18:38] sagamusix opened #801 "Don't show crashes from previous session in red"
It seems like there was a change in recent AFL++ versions that accumulates the crashes from previous fuzzing sessions when restarting a fuzzer, so for example the UI says "total crashes: 0 (10 unique)" if there were 10 unique crashes in the previous session. While I can see the usefulness of that (e.g. if the fuzzer was shut down involuntarily), it seems a bit alarming to me that this information

[2021-03-10 22:07] BrMtssk commented on #783
Hello!

I am interested in the forkserver implementation idea. Could I have the invitation for the libaflrs code? :)

[2021-03-11 00:40] domenukk commented on #801
Starting at 16e3e2a old crashes should be yellow, new crashes red. Maybe you find the time to try :)

[2021-03-11 00:42] domenukk commented on #783
Sure thing. You've been invited at https://github.com/AFLplusplus/LibAFL/invitations ;)

[2021-03-11 12:46] ThomasTNO commented on #783
The idea of LibAFL triggers me, I am very interested in the current state of its implementation.  Could I get an invite as well?

[2021-03-11 14:45] domenukk commented on #783
Done. Same link :)

[2021-03-11 15:05] rhtenhove commented on #783
This sounds very promising! The introduction alone was enough to make we want to see what's there. Can you invite me as well?

Thanks!

[2021-03-11 16:32] maflcko commented on #731
I think compiler flags are also needed to make `ccache` work. Right now, if compiled with/without `AFL_USE_ASAN` will just result in the binary that was compiled first? The same probably holds for other compiler options such as `AFL_LLVM_LAF_ALL`, ...

[2021-03-11 17:04] chibinz commented on #783
Second time here.:)

Just as a notice. Angora has an working implementation of the forkserver in https://github.com/AngoraFuzzer/Angora/tree/master/fuzzer/src/executor. It uses std::os::unix for opening sockets and communication, which is part of the standard library, so it won't bring in much dependencies. It is licensed under Apache-2.0, not sure if this is an issue?

As a Rust enthusiast, I am

[2021-03-11 17:27] vanhauser-thc commented on #783
we do more in the forkserver than normal afl, but this will make an easy start, thanks!

that is a possible option. at least that is the current plan. it requires feature parity though by somehow similar speed so I expect this a quite long road until then.

afl++ doesnt have globals :)

[2021-03-11 18:46] sagamusix commented on #801
Thanks for the quick fix, it looks much better now :) Right now it's only applied to the Total Crashes field, I think it would make sense to apply it to the Unique Crashes too.

[2021-03-11 18:48] domenukk commented on #783
@chibinz @rhtenhove you have been invited, https://github.com/AFLplusplus/LibAFL/invitations

[2021-03-11 21:06] Mindavi opened #811 "CMake or meson support / buildsystem improvement"
**Is your feature request related to a problem? Please describe.**

Hey, I'm (trying to be) a maintainer for the aflplusplus package in the [nixpkgs](https://github.com/nixos/nixpkgs) repository. However, for every new release I feel like more patches are required due to the homegrown build system which is quite strongly tied to the [Filesystem Hierarchy Standard](https://en.wikipedia.org/wiki/Fil

[2021-03-11 21:22] vanhauser-thc commented on #811
We can only support one build system. it does not make sense to have two.
I personally would be willing to move to a different build system - if it supports all platforms where afl++ currently runs on ... from Solaris to Dragonfly to .... and old systems like Ubuntu 14.04.
Meson and ninja are too specific, new, and meson is python which I do not like as a dependency.
The only alternative I see is

[2021-03-11 21:33] domenukk commented on #811
Personally, I *love* the usability of meson (and don't like cmake too much), and the dependency on python vs on cmake makes no difference. Plus in fact we already have internal python scripts in the repo.
I do agree it would have to run on all systems then, which could be a massive pain (an may not be possible with meson yet?).

[2021-03-12 02:47] domenukk commented on #801
Next try, d32b1d6b0c03cfc223c26c9af661c2592469a0de

[2021-03-12 07:22] hexcoder- commented on #811
I would like to understand the real issues there are in more detail before comtemplating a new build system (as that would mean more dependencies).
One weak point currently is: no parallel builds of afl++ source-only target.

[2021-03-12 09:17] pranjalsingh008 commented on #783
@domenukk Hey, these projects look interesting, can I get an invite as well?

[2021-03-12 20:41] domenukk commented on #783
@pranjalsingh008 sure thing, the link should work for you now. Welcome aboard :)

[2021-03-13 17:57] sagamusix commented on #801
Thanks again, it's perfect now! :)

[2021-03-13 17:57] #801 closed, assigned to nobody

[2021-03-14 12:17] abbhiishekk opened #814 "Request"
**IMPORTANT**
1. You have verified that the issue to be present in the current `dev` branch
2. Please supply the command line options and relevant environment variables, e.g. a copy-paste of the contents of `out/default/fuzzer_setup`

Thank you for making afl++ better!

**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. ..

[2021-03-14 13:09] #814 closed, assigned to nobody

[2021-03-15 00:06] fuzzah commented on #774
@vanhauser-thc sorry for being late with reply :(
Won't it break things? AFL_PRELOAD logic seems to be kinda different from what you suggest to do.

[2021-03-15 05:05] VishnuPratapagiri commented on #783
Hey @domenukk I am interested in this project can I get  access for source code of libaflrs?

[2021-03-15 09:25] vanhauser-thc commented on #774
what would that break?

[2021-03-15 17:53] MegaManSec opened #815 "cmplog crashes"
as discussed on discord, stable branch cmplog seems to crash:
[code]

When running the binary by itself (no -c program), it does not crash and runs properly.

AFL_DEBUG=1 afl-fuzz -x dict.dict -i fuzzer/corpus/ -o cmplog -c ./program.cmplog -M cmplog ./program

program.cmplog is provided: http://mt-test.op-test.net/cmplog

[2021-03-15 18:01] vanhauser-thc commented on #815
@MegaManSec
[code]

[2021-03-15 18:02] vanhauser-thc commented on #815
ah please also upload the non-cmplog

[2021-03-15 18:07] MegaManSec commented on #815
http://mt-test.op-test.net/normal

[2021-03-15 18:22] vanhauser-thc commented on #815
can can you please also pack all the necessary libs? e.g. I only have nettle in v6 and v8 and this is compiled with v7 etc.

[2021-03-15 18:27] MegaManSec commented on #815
unfortunately not.. static compilation of this does not work 100%. all i can say is that i'm using ubuntu 18.04.
if you would like to try compiling from source the code is https://github.com/squid-cache/squid built with
`./configure --enable-follow-x-forwarded-for --enable-static --disable-shared --prefix=/home/jrogers/tmp-squid --enable-http-violations --disable-ident-lookups --disable-ipv6 --dis

[2021-03-15 19:10] MegaManSec commented on #815
…upon reboot of my system, it no longer crashes..
not really sure what the issue is, but i suppose it's fixed..?

[2021-03-15 19:10] #815 closed, assigned to nobody

[2021-03-15 19:35] vanhauser-thc commented on #815
I found two issues that could be the reason. please checkout dev and retry

[2021-03-16 12:36] ghost opened #822 "taint-guided fuzzer"
Can we integrate the taint-guided mutation like dynamic taint analysis in Angora ? Redqueen is good, but it only can handle the cksum and magic bytes. Taint-guided mutations seems very popular.
Thank you,  Best wishes.

[2021-03-16 23:19] fuzzah commented on #774
I've put some more attention, you're right about it not breaking things.
I've created PR #824 that covers this issue (though FATAL/PFATAL in afl-forkserver.c resulted in afl-fuzz not being able to communicate with forkserver on incorrect values of env var, so I've put this logic in afl-fuzz itself).

[2021-03-17 01:22] MegaManSec opened #825 "LSAN not aborting in persistent mode"
It seems that leaksanitizer (under ASAN) does not work in AFL++'s persistence mode.

The following C code produces a memory leak:
[code]

`export ASAN_OPTIONS='abort_on_error=1:detect_leaks=1:symbolize=0' ; AFL_USE_ASAN=1 afl-clang-lto try.c ; printf "AAAAAA" | ./a.out`
produces the correct report:
[code]

We then run the same program in afl-fuzz:
`mkdir test/ ; printf "AAAA" > test/1`
`afl-fuzz -

[2021-03-17 01:43] MegaManSec commented on #825
In fact, it seems that it does not work in any mode:
[code]
with ASAN_OPTIONS='abort_on_error=1:detect_leaks=1:symbolize=0'
aborts when running ./a.out hello

but not with `AFL_USE_ASAN=1 afl-fuzz -i test/ -o test-out/ ./a.out @@`

[2021-03-17 03:30] domenukk commented on #783
@P-Vishnu-Madhav done, https://github.com/AFLplusplus/LibAFL/invitations - Welcome :)

[2021-03-17 09:54] vanhauser-thc commented on #825
and where is the bug? This is how it is supposed to work :)
afl-fuzz sets default ASAN_OPTIONS that do not abort on leaks, because this would trigger tons of crashes constantly for most software, and that is not what people are looking for.

for people specifically looking for leaks you can set ASAN_OPTIONS and then it works.

BUT - it is a bad approach to finding leaks IMHO.
it is easier to just

[2021-03-17 13:07] vanhauser-thc commented on #822
Taint alone is not good, the solving part is essential for that to have any impact.
Angora does not really have a good track record.
I still have to see a good fuzzer with taint + symbolic solving. So far I am not convinced. Note that there is already support for symcc (custom mutator module).
have you come across any good implementation?

[2021-03-17 13:07] vanhauser-thc commented on #811
@Mindavi so what are you thoughts so far on this?

[2021-03-17 13:08] vanhauser-thc commented on #788
@rchildre3 can this be closed or are there still issues?

[2021-03-17 13:08] MegaManSec commented on #825
Yes, below the code I mentioned I used `export ASAN_OPTIONS='abort_on_error=1:detect_leaks=1:symbolize=0'` but no crash still

[2021-03-17 13:13] vanhauser-thc commented on #825
I dont really know how the leak sanitizer works.
I know that leaks are reported on program exit which would be at the end of an __AFL_LOOP(n), so not what you want.
I would have thought that immediate leaks would be detected in real time, but apparently that is not the case.
I do not know if a leak also results in a core (I do not see how this would help leak analysis).
that is something you shoul

[2021-03-17 13:15] vanhauser-thc commented on #793
I am pretty sure @andreafioraldi is busy doing other things and is not really interested in this combination ;)
what is your analysis on this? if you tried it out and succeeded or failed an update to the docs is appreciated!

[2021-03-17 13:16] vanhauser-thc commented on #782
@pantrombka  did andrea's hints helped you?

[2021-03-17 13:33] MegaManSec commented on #825
They preform at exit unless `__lsan_do_leak_check()` is used, which will perform the leak check wherever it is run. It results in an SIGSTOP if a leak is found:
[code]

I don't know whether this is a bug in my version of clang (unlikely?) but I have now noticed that using __lsan_do_leak_check() only works when I strictly pass -fsanitize=leak to the compiler:
[code]

[2021-03-17 13:47] vanhauser-thc commented on #825
if you want you can write a section in the docs/FAQ,md on how to perform leak hunting

[2021-03-17 14:26] MegaManSec commented on #825
Alright so things discovered:

1. compiling with AFL_USE_ASAN (-fsanitize=address) will cause the program to show leaks when running the program by itself.
2. compiling with AFL_USE_ASAN and using afl-fuzz will NOT show the leaks for some reason at all.
3. editing src/afl-cc.c to add a new option, AFL_USE_LSAN to pass -fsanitize=leak will make the program show leaks when running and when using afl

[2021-03-17 14:30] realmadsci commented on #774
I typically would just use the "env" tool to do environment variable injection in the afl-fuzz command line. Something like:
`AFL_SKIP_BIN_CHECK=1 afl-fuzz -i input -o output -- /usr/bin/env LD_LIBRARY_PATH=/path/to/libs my_target --my-args`

This is now possible with QEMU mode as well as of 3.12a:
`AFL_QEMU_CUSTOM_BIN=1 afl-fuzz -i input -o output -Q --  /usr/bin/env LD_LIBRARY_PATH=/path/to/libs

[2021-03-17 15:13] vanhauser-thc commented on #774
@realmadsci
that is both not the use case.
e.g. you want to fuzz an instrumented binary which needs shared libs that were compiled on a different machine.
so no qemu, no unicorn, just native.
and you cannot set LD_LIBRARY_PATH because afl-fuzz would use that information first.

[2021-03-17 15:37] realmadsci commented on #774
This does not work for that case?

`AFL_SKIP_BIN_CHECK=1 afl-fuzz -i input -o output -- /usr/bin/env LD_LIBRARY_PATH=/path/to/libs my_target --my-args`

Basically, tell it to ignore the binary check, then put `/usr/bin/env` in between afl-fuzz and the instrumented target. Because `env` calls `exec` to run the target, `afl-fuzz` will find the forkserver.

[2021-03-17 16:09] vanhauser-thc commented on #774
This makes it work but introduces other problems - persistent mode and manual forkserver .. that is part of the binary check

[2021-03-17 19:47] krishna619 commented on #783
Hello,  @domenukk ,Schedulers for libaflrs is something which has fascinated me and I'm looking forward to explore more in it. Can I get the invite link for the same.
Thanks

[2021-03-18 03:07] domenukk commented on #783
Of course, just invited you ;)

[2021-03-18 08:10] richinseattle opened #828 "In place AFL resume keeps fuzzer_stats but not plot_data"
When resuming a job in place, it is desirable to be able to keep continuous statistics. This has been implemented in the case of fuzzer_stats but not for plot_data as shown below:

[code]

If this change is not desired, then please add an environment variable to keep plot_data

[2021-03-18 09:33] heiyu121 commented on #227
Hello, I also have the same problem, may I ask how to solve it specifically? Where is patch? I haven't found it yet

[2021-03-18 09:34] Licae commented on #227
Hello, I also have the same problem, may I ask how to solve it specifically? Where is patch? I haven't found it yet

[2021-03-18 12:07] SoftwareApe opened #832 "Installing from source fails on libstdc++-dev and missing gcc-X-plugin-dev"
**IMPORTANT**
1. You have verified that the issue to be present in the current `dev` branch
2. Please supply the command line options and relevant environment variables, e.g. a copy-paste of the contents of `out/default/fuzzer_setup`

Thank you for making afl++ better!

**Describe the bug**
Running `sudo apt install build-essential python3-dev automake flex bison libglib2.0-dev libpixman-1-dev pyt

[2021-03-18 13:05] vanhauser-thc commented on #832
this will fail if gcc is not already installed.
I found a shorter line to extract the version.
plus I rewrote the installation part to be better :)
thanks!

[2021-03-18 13:05] #832 closed, assigned to nobody

[2021-03-18 13:11] vanhauser-thc commented on #825
for 3.: you would normally do CFLAGS=-fsanitize=leak ... but you can send a PR for the USE_LSAN if you want

for the detection: LSAN_OPTIONS="exitcode=32"  <= 32 is the default.

for the implementation check out:
[code]

[2021-03-18 13:23] SoftwareApe commented on #832
@vanhauser-thc nice!

[2021-03-18 13:24] aga7hokakological commented on #783
libaflrs seems interesting, can I get an invite?

[2021-03-18 14:35] andreafioraldi commented on #783
To be clear, we invite people in the alpha testing stage to contribute, so testing , bug fixing, pull requests are welcome, and even just small suggestions but not people that just lurk.
To have a chance to be selected for GSOC, you need these 3 requirements:

* know C and Rust well
* know the basis of fuzz testing (there are many resources in the internet from which you can study and familiarize)

[2021-03-19 10:28] Mindavi commented on #811
I think improving the current Makefile is the easiest solution. I'm going to attempt packaging again and will report back everything I run into, I think that's the easiest way.

I'm gonna close this and open specific issues when I run into them. Since there have been a couple of new releases for AFL++ since I did the packaging I think it would be best if I just report the individual issues I run i

[2021-03-19 10:28] #811 closed, assigned to nobody

[2021-03-19 15:37] Manouchehri commented on #659
@iamvineeth23 unless I'm missing something, why would you want to use Rosetta 2 here, especially if your target is ARM...?

[2021-03-19 23:11] fuzzah commented on #774
The issue is resolved in dev.

[2021-03-19 23:11] #774 closed, assigned to nobody

[2021-03-19 23:40] vanhauser-thc commented on #828
implemented by @richinseattle  :)

[2021-03-19 23:40] #828 closed, assigned to nobody

[2021-03-20 07:13] TaKO8Ki commented on #783
@domenukk
Hi!
I am interested in the "Schedulers for libaflrs" and "UI for libaflrs". Can I get access for source code of libaflrs?

[2021-03-21 15:56] domenukk commented on #783
Invited, https://github.com/AFLplusplus/LibAFL/invitations :)

[2021-03-21 20:21] nataraj-hates-MS-for-stealing-github commented on #630
Yes I guess it is fixed.

I tried 39a4fac941177387578ec856aacea2187588fc13 (Wed Dec 9 11:07:14 2020 +0100) bug is there,
ce9e127529f3ef43d826d3ec17a5b68b99f205da (Sat Dec 12 22:56:09 2020 +0100) bug is not there any more
e98cd008222aa3bfea9b696ad756163302437eb3 (Fri Mar 19 19:04:59 2021) -- current stable, bug is not there too...

Actually I do not know what was wrong, but was reproducible, and is

[2021-03-22 08:07] vanhauser-thc commented on #630
there were a few bugs which are fixed now, likely one of them had this side effect ... thanks for reporting it is not showing up anymore :)

[2021-03-22 08:07] #630 closed, assigned to nobody

[2021-03-22 14:16] rchildre3 commented on #788
Was waiting to see if the compiler warning s should be addressed, but yes the underlying issue has been fixed.

[2021-03-23 15:46] b1tg commented on #783
Hi @domenukk, I am interested in the schedulers part , may i get access to this project?

[2021-03-23 15:57] yangdong02 commented on #783
Hello, @domenukk. I am quite interested in "Schedulers for libaflrs" and "Forkserver support for libaflrs". May I get an invitation to libaflrs as well?

[2021-03-23 16:33] domenukk commented on #783
@b1tg @YangDong2002 invited :) welcome!

[2021-03-24 00:08] b1tg commented on #783
Hi @domenukk, I got a invite link to https://github.com/AFLplusplus/AFLplusplus/invitations, after accept, i still can't access https://github.com/AFLplusplus/LibAFL, is there something wrong?

[2021-03-24 00:43] domenukk commented on #783
@b1tg I see you accepted the request, it should work. Odd.. Are you logged in correctly?

[2021-03-24 00:45] yangdong02 commented on #783
I met the same problem as @b1tg has just stated. Maybe we have been invited to AFLplusplus instead of LibAFL?

[2021-03-24 00:49] domenukk commented on #783
Aaah now I get it! Sorry guys, my bad 🙈 should work now :)

[2021-03-24 06:26] joeyjiaojg opened #841 "relocation error when build target binary with AFL++ on Android"
[code]

See this error recently on one binary with AFL++, but not with google/AFL.
Tried to enable -fPIC or -fpic and/or -fno-stack-protector, but with no lucky.

No idea yet, so keep it here in case anyone has any idea.

Useful link:
https://github.com/openssl/openssl/issues/10842

[2021-03-24 07:19] vanhauser-thc commented on #841
This should be fixed in current dev. Have you tried?

also openssl builds on fuzzbench and oss-fuzz with afl++.

so if this happens in dev it has to be an android issue. if that is the case there is not much I can do because I do not have an Android :(

[2021-03-24 07:59] #788 closed, assigned to nobody

[2021-03-24 07:59] #822 closed, assigned to nobody

[2021-03-24 08:04] vanhauser-thc commented on #173
this can be solved via a custom mutator so I am closing this

[2021-03-24 08:04] #173 closed

[2021-03-24 08:06] vanhauser-thc commented on #754
This is a very special setup and I do not see how this should be a standard feature in afl++.
If you think this is useful to more people reopen the issue :)

[2021-03-24 08:06] #754 closed, assigned to nobody

[2021-03-24 08:08] vanhauser-thc commented on #567
@nataraj-hates-MS-for-stealing-github  sorry for being very late on this.
IMHO this would fit best in docs/FAQ.md

[2021-03-24 11:26] MegaManSec commented on #825
I will get this done.. soon (just a bit busy right now)

[2021-03-24 19:12] vanhauser-thc commented on #825
no hurry. 3.20c release is further away :)

[2021-03-24 20:28] dylanjwolff commented on #783
Hi all! I'm potentially interested in some of the GSOC projects as well. @domenukk, could you send me an invite?

[2021-03-25 01:54] domenukk commented on #783
@wolffdy Done :)

@all the deadline is coming up, try to get some PRs in if you want to participate

[2021-03-25 04:34] joeyjiaojg commented on #841
Tried on dev branch just now, still same error.
The issue should be only Android specific. So when I enabled the hwaddress, it will have this relocation error, but without it, I can build succeed. SANITIZE_TARGET=address will also pass the build.

What does "also openssl builds on fuzzbench and oss-fuzz with afl++." mean?

[2021-03-25 06:11] joeyjiaojg commented on #841
Well, above func+offset all points to __afl_sharedmem_fuzzing, why it failed?

[2021-03-25 07:47] vanhauser-thc commented on #841
ah damn

ah then it seems like a build problem in clang for the hwaddresssanitizer?

sorry I thought the build errors where when you tries to build openssl for Android, and I wanted to point out that openssl in fuzzbench and oss-fuzz build fine with afl++. But I think I just misunderstood you :)

I do not see any error you pasted with that. please copy paste it

[2021-03-25 07:51] joeyjiaojg commented on #841
Here defines the relocation:
[code]
And here's the elf info (ex. .text.__afl_start_forkserver+0x178)
[code]

I tried to understand the elf way, but no, I failed to understand what P is getting from.

[2021-03-25 07:52] joeyjiaojg commented on #841
So I'm trying to find out why __afl_sharedmem_fuzzing failed. And so now, I can build succeed with hwaddress enabled.

Here's the diff
[code]
Is it okay for you if we do this way?

[2021-03-25 07:56] vanhauser-thc commented on #841
I pushed a change into dev, can you try again please?

[2021-03-25 08:22] joeyjiaojg commented on #841
No, it dosen't work,
here's the thing, with your dynamic list change, the symbol is sitll "V"
000000000000000c V __afl_sharedmem_fuzzing

But with my patches, it's "D"
0000000000000028 D __afl_sharedmem_fuzzing

[2021-03-25 09:15] vanhauser-thc commented on #841
well with your patch it compiles but it should not work :)
this needs a different solution.

(edit: with your solution the result should be that afl-fuzz always thinks the target wants in-memory testcases, also when it doesnt)

[2021-03-25 10:02] andreafioraldi commented on #841
Can you try to reproduce the bug using a minimal example?

You can use these two files in this zip:
[test.zip](https://github.com/AFLplusplus/AFLplusplus/files/6203760/test.zip)

Compile both to object files and link them.

[2021-03-25 10:03] andreafioraldi commented on #841
I suspect that this is an hwaddr issue with weak globals

[2021-03-25 10:06] andreafioraldi commented on #841
Btw @JoeyJiao you didn't provide us any information about your setup. Which version of clang are u using, which NDK version? Can you give us a link to download your cross compiler and reproduce the issue? Have you checked, if your ndk version is not too recent, if this is a fixed bug of hwaddr in the lastest release?

There is a  **To Reproduce** section in the bug report template...

[2021-03-25 10:28] joeyjiaojg commented on #841
It's full android build using prebuilts clang in aosp tree for Android R https://android.googlesource.com/platform/prebuilts/clang/host/linux-x86/ version clang-r383902b.

so AFL++ is build as `mmma AFL`, and then target binary build like `SANITIZE_TARGET=hwaddress make <target>`.

I think this info is useful, but I cannot understand yet where the 0x2900000000026000 comes from, is it possible a su

[2021-03-25 10:52] andreafioraldi commented on #841
Are you building afl-compiler-rt.o with hwaddr too? if not, can you try?

And also compile normally weak.c, but compile strong.c with hwaddr and then link with hwaddr

[2021-03-25 12:19] joeyjiaojg commented on #841
hwaddress weak.c + hwaddress strong.c w/o afl=> pass
normal weak.c + normal strong.c w/ afl=> pass
normal weak.c + hwaddress strong.c w/ afl=> pass
normal afl + normal weak.c + hwaddress strong.c => pass
hwaddress afl + normal weak.c + hwaddress strong.c => pass

**hwaddress afl + hwaddress my binary => pass**
**afl + hwaddress my binary => failed**

So it looks like hwaddress did something differ

[2021-03-25 12:55] andreafioraldi commented on #841
Because there is a reason why that symbol is weak, if you remove it, that feature will stop working

[2021-03-25 12:58] vanhauser-thc commented on #841
so this seems to be a bug with hwaddress then. or hwaddress are requirements that are incompatible with afl-fuzz/honggfuzz/... etc.

so you now know two workarounds: 1. compile afl-compiler-rt.o.c with hwaddress 2. use normal asan.

[2021-03-25 13:18] andreafioraldi commented on #841
Yes my guess was right, seems a problem when linking objects compiled with and without hwasan. Would be cool to have a minimal example to reproduce the problem.
 I don't get why __afl_start_snapshots and __afl_start_forkserver are reported in the linker error, they should not be symbols as they are static.

[2021-03-26 02:40] Kaka201 opened #846 "Use AFL++ with qasan and compcov will crash"
I tested with the latest version. the command as fwllows:
[code]
I don't think qasan.ao has been initialized yet. compcov.so may call some functions in qasan.ao and cause it to crash.

so i change the code in libqasan.c , and it work well, the changes as fellows:
[code]

[2021-03-26 06:56] joeyjiaojg commented on #841
After digging more, so if removeing the sanitize : never thing from afl-defaults, I can build succeed with normal AFLpp + my HWASAN binary. https://github.com/AFLplusplus/AFLplusplus/pull/845/files#diff-757cd72756ef920fd2357653c76c087315969557e257a0fc8532ed2c6dca1649L3

so I think Android did some sanitizer things even no SANITIZE_TARGET environment enabled.

So
mmm AFL
SANITIZE_TARGET=hwaddress m

[2021-03-26 06:56] #841 closed, assigned to nobody

[2021-03-27 03:28] geekchenwu opened #849 "how can I build it for aosp？"
king@mars:~/aosp/bonito$ mmm AFLplusplus
============================================
PLATFORM_VERSION_CODENAME=REL
PLATFORM_VERSION=11
TARGET_PRODUCT=aosp_crosshatch
TARGET_BUILD_VARIANT=userdebug
TARGET_BUILD_TYPE=release
TARGET_ARCH=arm64
TARGET_ARCH_VARIANT=armv8-a
TARGET_CPU_VARIANT=generic
TARGET_2ND_ARCH=arm
TARGET_2ND_ARCH_VARIANT=armv8-a
TARGET_2ND_CPU_VARIANT=generic
HOST_ARCH=x86_64
HOS

[2021-03-27 10:12] vanhauser-thc commented on #849
please write a useful issue. What is your issue? do you need frida? it is an optional feature that is very new. none of us has an android, so if that is what you need it would be best if you figure out how to fix it and submit a PR.
from the output it looks like that whatever you changed did not download the frida library.

[2021-03-27 16:38] gerritsangel commented on #783
Hi @domenukk  I might also be interested (I think the schedulers part sounds cooll, but the forkserver, too). :) Is there still time before the deadline?

[2021-03-27 19:18] domenukk commented on #783
Full gsoc timeline is here:
https://developers.google.com/open-source/gsoc/timeline
There's still time until April 13 for the official application, and we have even more time after that to decide  :)
Added you @gerritsangel

[2021-03-27 23:46] irenge commented on #783
I am a C programmer. I am interested in applying for OS fuzzing . Can I learn Rust first?

[2021-03-28 21:26] samstack6 opened #850 "Using unoptimized trace-pc-guard instead of SanitizerCoverage?"
Hello.

I have latest afl++ version installed (3.12c) on ubuntu 18.04.

I have installed llvm-10 on both systems. for one system when I'm instrumenting target with afl-clang-fast/++ i'm getting this :

[code]

However on another system I'm getting this as instrumentation info :

[code]

What is the difference between unoptimized trace-pc-guard and SanitizerCoveragePCGUARD? which is recommended mor

[2021-03-29 02:32] #849 closed, assigned to nobody

[2021-03-29 08:11] vanhauser-thc commented on #783
@irenge thank you for your interest. if you start now, maybe the code quality is good enough. but note that we select on contributations to libafl as well as the code quality. if you are just starting I do not think it is likely you will make it. but maybe you have a strong talent! :)

[2021-03-29 08:13] vanhauser-thc commented on #850
@samstack6
llvm <= 10.0.0 - unoptimized pc trace guard (the native one in llvm)
llvm >= 10.0.1 - optimized pc trace guard (afl++ one)

the difference is that the afl++ one is a bit faster and has more features (e.g. selective coverage).
however we recommend a minimum version of llvm 11 anyway. -> https://apt.llvm.org

[2021-03-29 09:50] Lancern opened #851 "Proposal: thread-local trace bits"
**Is your feature request related to a problem? Please describe.**

The current compiler-level instrumentation works well on single-threaded programs. However, when fuzzing multi-threaded programs, the current instrumentation method suffers from the following problems:

- Trace accuracy issues. Since accesses from multiple threads to the shared bitmap are not synchronized, data races almost always

[2021-03-29 10:06] vanhauser-thc commented on #851
the afl_area_ptr is a pointer to shared memory, so making that thread local wont help for several threads writing at the same time to the same edge.

fuzzing threaded applications is a nightmare and it depends on the circumstances what your chances are to cope with that.
as you write "compile time instrumentation" it means you have source code so

a) only instrument what you want to fuzz and not e

[2021-03-29 10:27] Lancern commented on #851
Thank you for your response and advises.

No, I mean the WHOLE bitmap is thread-local, not just the `afl_area_ptr` static variable. When spawned, each thread will call `malloc` or other stuff to allocate its own trace bitmap and make its thread-local `afl_area_ptr` points to the bitmap. Thus, each thread is accessing its private version of bitmap memory and thus no more synchronization / cache coh

[2021-03-29 10:38] vanhauser-thc commented on #851
I understand you, but that is problematic. if your fuzz is successful and crashes the target then all coverage is lost.
if you want to implement it like that for yourself, go for it. I do not think anyone of us would want to be like this as it adds to unreliability in fuzzing plus slows down fuzzing by a lot. like a lot lot :)

[2021-03-29 10:50] Lancern commented on #851
I understand. Thank you for your help!

[2021-03-29 10:53] vanhauser-thc commented on #851
if you want help on this (or just discussing, feedback, ...) you can leave this (re)open(ed) and add to it

[2021-03-30 08:30] samstack6 commented on #850
Thanks @vanhauser-thc !

Fixed.
Why I'm getting more code coverage with the unoptimized pc trace guard on some targets? Is that mean it's performing better or total path is not the right factor to measure for evaluating the code coverage?

Thanks!

[2021-03-30 08:44] vanhauser-thc commented on #850
how do you measure the code coverage?
fuzzing is random hence unless you run the same fuzzing 20+ times for the same runtime and same CPU load it is hard to compare them.
From the instrumentation it should make no difference, because we took the SanitizeCoverage.cpp from llvm and changed the "trace-pc-guard(location);" to inlined instrumentation (among other enhancements).

[2021-03-30 10:26] samstack6 commented on #850
@vanhauser-thc I'm measuring code coverage with afl-showmap and edges, sometimes measuring number of covered basic-blocks. I'm also measuring with 6/7 (24hours) runs.

Do you have specific formula or method to measure the code-coverage? in case if you're interested to let others know how you personally do this ...

Thanks you.

[2021-03-30 11:18] vanhauser-thc commented on #850
you could use afl-showmap with the same queue but on the two different binaries and see if there is a difference.
the PCGUARD implementation in afl++ is from llvm12, so there might be differences.

[2021-03-31 09:24] MegaManSec commented on #825
does `__AFL_LEAK_CHECK();` seem like a reasonable command to run the leak checker?

[2021-03-31 09:44] vanhauser-thc commented on #825
Imho yes

[2021-04-01 20:14] b1gr3db commented on #846
I've seen this before, but it's not the recommended way to run them together. See #729

[2021-04-02 01:35] Kaka201 commented on #846
I want to know why

[2021-04-02 12:45] samstack6 commented on #850
Thanks for the answer!

Got the answer, closing the issue .

[2021-04-02 12:45] #850 closed, assigned to nobody

[2021-04-02 13:04] samstack6 commented on #286
Can you please share the exact AFL++ config that you set to discover this vulnerability? cmplog, asan, or others?

[2021-04-02 13:10] vanhauser-thc commented on #286
that was a mix of 16 afl++ instances. 2 with cmplog, 1 with laf-intel, the rest a mix of with/without -Z, -L0, -p schedule, no testcase trimming etc.
no asan/ubsan required, I build an asan variant for crash deduping (easiest way IMHO).

with their last release I could trigger crashes with just a few minutes runtime. but did not report anymore as they were not flagging any of the releases - where

[2021-04-02 13:15] samstack6 commented on #286
Thanks.

I heard that ASAN have a good impact on fuzzing as it will makes the fuzzing more sensible to memory corruption bugs. Do you mean it isn't not required anymore for detecting this class of bugs and cmplog is enough?

[2021-04-02 13:40] vanhauser-thc commented on #286
if a memory corruption results not in a crash then this is something asan will find. if it crashes anyway then asan doesnt help. I usually have 1 asan instance in the fuzzing campaign. note that libfuzzer needs asan to solve fuzzing constraints, afl++ doesnt.

[2021-04-03 18:36] AdelNamani commented on #783
Hello, I am Adel, a final-year computer engineering student. I am currently working on my final year project which consists of developing a new technique for automatic code optimization ( An E-Graph-based term rewriting system for simplifying compiler expressions ) which will be implemented in the Halide compiler. I am developing that using the Rust programming language.
I have read about the proj

[2021-04-04 10:34] domenukk commented on #783
Hey @AdelNamani, I invited you to the repo, but keep in mind the deadline is soon and we will favor students with prior contributions. :)

[2021-04-04 11:08] vanhauser-thc commented on #783
very strongly favor!

[2021-04-04 17:39] prRZ5F4LXZ opened #858 "Does AFLplusplus compile on macOS?"
**IMPORTANT**
1. You have verified that the issue to be present in the current `dev` branch

I just used the clone as I don't think the problem is specific to dev.

2. Please supply the command line options and relevant environment variables, e.g. a copy-paste of the contents of `out/default/fuzzer_setup`

LLVM is in the PATH

/usr/local/opt/llvm/bin

**Describe the bug**

I run the following comm

[2021-04-04 18:07] vanhauser-thc commented on #858
have you increased the shared memory size?
MacOS has a ridiculous small default size

[2021-04-04 19:10] MegaManSec commented on #825
Closed by #855

[2021-04-04 19:10] #825 closed, assigned to MegaManSec

[2021-04-04 21:04] prRZ5F4LXZ commented on #858
Could you show me the exact commands on how to increase it on Catalina? I am not familiar with shared memory conf on macOS.

[2021-04-04 21:23] vanhauser-thc commented on #858
I do not have a Mac. I am pretty sure that information is easy to find with Google, did that or a friend like a year ago.

[2021-04-04 21:36] prRZ5F4LXZ commented on #858
Maybe somebody can add this info to the installation instruction?

[2021-04-04 21:52] vanhauser-thc commented on #858
fuzzing is a lot of hands one and troubleshooting. if you fail this step alreay I would recommend to build more basic knowledge about systems, developing and building first.
feel free to submit a PR to add this information.

[2021-04-05 20:44] krishna619 commented on #783
Hi, can we consider Mersenne Twister (PRNG) as rand implementation for black box generation because sequences with too short of a period can be observed, recorded, and reused by an attacker.?
thanks

[2021-04-06 08:39] 3vi1d0g opened #859 "Questions about fuzzing strategy ?"
When the version is greater than 3.0, it doesn't seem to use any other mutation strategy but just havoc.
![image](https://user-images.githubusercontent.com/38744713/113683096-66750b80-96f6-11eb-9d5a-dfdf34e9413c.png)
The Flag for some mutation strategy is N/A (e.g., bit flips,byte flips)

[2021-04-06 09:06] vanhauser-thc commented on #859
it is documented. in 3.0+ deterministic is deactivated by default because it is not effective. enable with -D

[2021-04-06 09:06] #859 closed, assigned to nobody

[2021-04-07 11:47] geekchenwu opened #861 "how to use it in android11"
When I use the target program for fuzzer, it always shows that it is not instrumented

Here are my solutions：
patch the aosp soong buid system（https://gist.github.com/JoeyJiao/cca3bc6c440f7000b4969bb1ab4ccfac）
<= clone afl under the aosp source code
$ git clone https://github.com/AFLplusplus/AFLplusplus.git
$ mmm AFL
​<= clone target
$ git clone https://github.com/xiangxiaobo/afl-android-fuzzme
$

[2021-04-07 12:07] wizche opened #862 "Remove AFL_FORKSRV_INIT_TMOUT env-var"
**Is your feature request related to a problem? Please describe.**
I was missing the AFL_FORKSRV_INIT_TMOUT for a slow target and the error message suggested to adjust the `-t` parameter instead.

[code]

Whereas the error was caused by the forkserver timing out because of the missing (or too small)
 `AFL_FORKSRV_INIT_TMOUT` value.

**Describe the solution you'd like**
Why can't we just propagate

[2021-04-07 12:11] domenukk commented on #862
The `-t` is the timeout for each execution, the env var only changes the timeout before the first exec. It is needed for use cases where the target runs for longer before kicking off persistent mode. Don't use it if you don't need it.

Edit: if the env is not set, the initial timeout indeed grows with the `-t` param.

[2021-04-07 12:11] #862 closed, assigned to nobody

[2021-04-07 12:16] vanhauser-thc commented on #861
@joeyjiaojg can you help here?
@geekchenwu none of us afl++ developers use Android, joeyjiaojg is actively helping on that part.

at a quick look this is wrong: `afl-llvm-rt.o` does not exist anymore and is now named `afl-compiler-rt.o`

[2021-04-07 12:20] vanhauser-thc commented on #862
`AFL_FORKSRV_INIT_TMOUT` is when there is a costly one-time initialization running before the manual forkserver.
Increasing -t in that case would degrade fuzzing as timeouts would cost more.

I agree that the error message is misleading and just fixed that.

[2021-04-07 12:26] joeyjiaojg commented on #861
build/soong needs to be modified, partial of the core code
[code]

[code]

I'm using different afl name (like aflpp-fuzz) for afl++ in my local setup, so you might adjust yours.

[2021-04-07 12:30] geekchenwu commented on #861
@vanhauser-thc @joeyjiaojg nice job ！！！I have to try.Thank you very much

[2021-04-07 13:03] geekchenwu commented on #861
@joeyjiaojg Can you give all the patches.

[2021-04-07 13:09] joeyjiaojg commented on #861
sorry, not allowed to share all. but the idea is simple,
use afl-llvm-rt.a as static libraries to your interested binary. Use afl-clang-fast to instrument it.

AFL++ itself can be built from Android tree and above patch can be used to add the afl-llvm-rt part.

Feel free to add any patch to AOSP android, I can comment anyhow.

[2021-04-07 13:18] joeyjiaojg commented on #861
@geekchenwu One more thing, afl-frida doesn't rely on this instrument. So you can use that with AFL++ without modifying android build system.

[2021-04-07 13:38] geekchenwu commented on #861
@joeyjiaojg it also show:binary is not instrumented .....It's depressing

[2021-04-07 13:42] joeyjiaojg opened #863 "ASAN not work on Android for AFL++"
[code]
I made a simple crash.c and instrumented with AFL++ with ASAN enabled.
however, run the crash program will report above error. So I think there is something wrong in instrumentation/afl-compiler-rt.o.c.

ASAN/HWASAN for google/AFL for the same crash.c works instead.

SO what do you think make this difference? afl-cc or afl-compiler-rt?
(To clarify that it's not related to signal change beca

[2021-04-07 13:45] joeyjiaojg commented on #861
Did you mean afl-frida or afl-clang-fast?
check
`
$ nm binary | grep afl
`

[2021-04-07 13:48] geekchenwu commented on #861
afl-clang-fast .mybe my patch is not suitable

[2021-04-07 13:49] joeyjiaojg commented on #861
And AFL++ works for me on Android with afl-clang-fast(++) if ASAN or HWASAN not enabled.

[2021-04-07 13:50] geekchenwu commented on #861
@joeyjiaojg  I use this patch and make some change (https://gist.github.com/JoeyJiao/cca3bc6c440f7000b4969bb1ab4ccfac）

[2021-04-07 13:51] joeyjiaojg commented on #861
I was lost my 2nd auth for JoeyJiao account, not able to see the gist now.

[2021-04-07 13:54] geekchenwu commented on #861
android/config.go   | 21 +++++++++++++++++++++
 android/variable.go |  4 ++++
 cc/builder.go       | 11 +++++++++++
 cc/sanitize.go      |  5 +++++
 4 files changed, 41 insertions(+)
 mode change 100644 => 100755 cc/builder.go

diff --git a/android/config.go b/android/config.go
index d1db87b..f12ef42 100644
--- a/android/config.go
+++ b/android/config.go
@@ -993,6 +993,27 @@ func (c *config) CFIEn

[2021-04-07 13:55] geekchenwu commented on #861
android/config.go   | 21 +++++++++++++++++++++
 android/variable.go |  4 ++++
 cc/builder.go       | 11 +++++++++++
 cc/sanitize.go      |  5 +++++
 4 files changed, 41 insertions(+)
 mode change 100644 => 100755 cc/builder.go

diff --git a/android/config.go b/android/config.go
index d1db87b..f12ef42 100644
--- a/android/config.go
+++ b/android/config.go
@@ -993,6 +993,27 @@ func (c *config) CFIEn

[2021-04-07 13:59] geekchenwu commented on #861
android/config.go   | 21 +++++++++++++++++++++
 android/variable.go |  4 ++++
 cc/builder.go       | 11 +++++++++++
 cc/sanitize.go      |  5 +++++
 4 files changed, 41 insertions(+)
 mode change 100644 => 100755 cc/builder.go

diff --git a/android/config.go b/android/config.go
index d1db87b..f12ef42 100644
--- a/android/config.go
+++ b/android/config.go
@@ -993,6 +993,27 @@ func (c *config) CFIEn

[2021-04-07 14:00] geekchenwu commented on #861
android/config.go   | 21 +++++++++++++++++++++
 android/variable.go |  4 ++++
 cc/builder.go       | 11 +++++++++++
 cc/sanitize.go      |  5 +++++
 4 files changed, 41 insertions(+)
 mode change 100644 => 100755 cc/builder.go

diff --git a/android/config.go b/android/config.go
index d1db87b..f12ef42 100644
--- a/android/config.go
+++ b/android/config.go
@@ -993,6 +993,27 @@ func (c *config) CFIEn

[2021-04-07 14:01] joeyjiaojg commented on #861
I see now, you don't have AFL_CC AFL_CXX setting, I think.
You can set inside envsetup.sh and export it in ninja.go

[code]

export AFL_CC=prebuilts/clang/host/linux-x86/clang-r383902b/bin/clang

[2021-04-07 14:03] geekchenwu commented on #861
Wow..It's exciting

[2021-04-07 14:20] joeyjiaojg commented on #861
A suggestion, you can normally check out/verbose.log.gz to see if it instrumented or use gdb to debug afl-fuzz on target.

[2021-04-07 14:25] andreafioraldi commented on #863
ASan or HWAsan? because in the CHECK I see an hwasan file

[2021-04-07 14:26] joeyjiaojg commented on #863
It's HWASAN build and the binary is asan.

[2021-04-07 14:34] joeyjiaojg commented on #863
ASAN binary crashes on HWASAN build too for google/AFL, let me flash normal build and try again

[2021-04-07 15:01] joeyjiaojg commented on #863
| Compiler | build | binary sanitizer | Result |
| ---|---|---|---|
| AFL | HWASAN | HWASAN | OK|
| AFL | HWASAN | ASAN | **FAIL**|
| AFL | NORMAL | ASAN | OK |
| AFL | NORMAL | NORMAL | OK |
| AFL++ | HWASAN | HWASAN | **FAIL**|
| AFL++ | HWASAN | ASAN | **FAIL**|
| AFL++ | NORMAL | ASAN | OK |
| AFL++ | NORMAL | NORMAL | OK |

So only HWASAN crashes on AFL++ and HWASAN cannot used together with

[2021-04-07 16:54] WillyPillow opened #865 "afl-clang-lto++: Conflicts between libstdc++ and libc++"
**IMPORTANT**
- [x] You have verified that the issue to be present in the current `dev` branch
- [x] Please supply the command line options and relevant environment variables, e.g. a copy-paste of the contents of `out/default/fuzzer_setup`

Thank you for making afl++ better!

**Describe the bug**

Building the following program with `afl-clang-lto++` results in a invalid pointer dereference, causi

[2021-04-07 18:12] vanhauser-thc commented on #865
Yes I can see the bug and understand.
not sure we can get rid of -lc++, will have to test this thoroughly.
Thanks for reporting!

[2021-04-08 00:10] joeyjiaojg commented on #863
Put the HWASAN failure comment here
[code]

[2021-04-08 08:36] vanhauser-thc commented on #863
that is weird.
can we help you on this somehow? none of us use Android though :(

[2021-04-08 08:37] vanhauser-thc commented on #863
please ensure that you build afl++ not with asan/hwasan itself.

[2021-04-08 10:38] geekchenwu commented on #861
taimen:/data/local/tmp # ./afl-fuzz -i in -o out -m none -- ./afl-fuzzme @@
afl-fuzz++3.13a based on afl by Michal Zalewski and a large online community
[+] afl++ is maintained by Marc "van Hauser" Heuse, Heiko "hexcoder" Ei遞eldt, Andrea Fioraldi and Dominik Maier
[+] afl++ is open source, get it at https://github.com/AFLplusplus/AFLplusplus
[+] NOTE: This is v3.x which changes defaults and behavi

[2021-04-08 10:43] vanhauser-thc commented on #861
@geekchenwu
as an issue will be closed, could you write a short entry for docs/FAQ.md ? so other Android users will have it easier :) thank you!

[2021-04-08 10:54] #861 closed, assigned to nobody

[2021-04-08 12:36] vanhauser-thc commented on #865
tested all fuzzbench targets and they all now compile without -lc++ needed so I can remove it from the added flags.
fixed in #866.
thanks!

[2021-04-08 12:36] #865 closed, assigned to vanhauser-thc

[2021-04-08 19:31] realmadsci opened #867 "Call to afl_custom_queue_new_entry() puts bad filename_orig_queue during sync"
**Describe the bug**
When the `add_to_queue()` function is called from the `sync_fuzzers()` stage, the call to the custom mutator api function `afl_custom_queue_new_entry()` gets called with `filename_new_queue` based on `afl->queue_cur` even though it probably should be NULL in this case since we aren't modifying an existing queued file?

https://github.com/AFLplusplus/AFLplusplus/blob/dev/src/af

[2021-04-09 09:20] vanhauser-thc commented on #867
@realmadsci thanks for reporting.
does 019b26d fix this for you?

[2021-04-09 19:46] realmadsci commented on #867
That looks exactly like what I wanted to write, I just didn't know about the `syncing_party`. :)

I'll assume it works and open another issue if it doesn't for some reason.

[2021-04-09 19:46] #867 closed, assigned to nobody

[2021-04-09 23:03] realmadsci commented on #867
I updated and confirmed that this fixes the issue.

[2021-04-10 09:35] domenukk commented on #858
For MacOS: take a look at https://serverfault.com/questions/10226/how-to-set-the-shmmax-parameter-on-mac-os-x
also, `ipcs` to list and `ipcrm` to remove shared maps are your friend.

For cleaning, see https://stackoverflow.com/questions/8150562/cleaning-semaphores-in-mac-os-x

[2021-04-10 10:06] vanhauser-thc commented on #851
@Lancern well if you keep this open then please update with questions or issues you are encountering :)

[2021-04-10 13:05] domenukk commented on #858
TL;DR: `ipcs -m |  cut -f2 -d' ' | xargs -I {} sudo ipcrm -m {}; ipcs -m |  cut -f3 -d' ' | xargs -I {} sudo ipcrm -m {}` to remove old maps, then
[code]
(or some other high number) to increase count and size.

[2021-04-10 13:05] #858 closed, assigned to nobody

[2021-04-11 21:10] prRZ5F4LXZ opened #870 "Should afl-g++ be pointed to afl-cc?"
**IMPORTANT**
1. You have verified that the issue to be present in the current `dev` branch

Not sure. As this is about the docker image.

2. Please supply the command line options and relevant environment variables, e.g. a copy-paste of the contents of `out/default/fuzzer_setup`

See below.

**Describe the bug**

afl-g++ is pointed to afl-cc. It seems that it should be pointed to afl-c++ instead?

[2021-04-11 21:28] vanhauser-thc commented on #870
No that’s fine. Thanks for asking though (afl-c++ is only a symlink to afl-cc too)

[2021-04-11 21:28] #870 closed, assigned to nobody

[2021-04-13 11:27] RajChowdhury240 commented on #783
proposal template please ?

[2021-04-13 11:46] domenukk commented on #783
Since the deadline is in a few hours, if you ask for a proposal template just now, I don't think it's worth your time. :)

[2021-04-13 12:51] vanhauser-thc commented on #783
also we do not hand out proposal templates :)

[2021-04-13 17:59] adrian-rt opened #872 "building Pdfium fails when using afl-clang-fast"
**IMPORTANT**
1. You have verified that the issue to be present in the current `dev` branch
2. Please supply the command line options and relevant environment variables, e.g. a copy-paste of the contents of `out/default/fuzzer_setup`

Thank you for making afl++ better!

**Describe the bug**
A clear and concise description of what the bug is.

I'm trying to build Pdfium but it fails with the follow

[2021-04-14 07:30] adrian-rt commented on #872
the issue I was getting was due to pdfium coming with it's own ./nasm which was called. Once I started using my local nasm it worked.

[2021-04-14 07:30] #872 closed, assigned to nobody

[2021-04-14 08:03] #783 closed, assigned to nobody

[2021-04-14 19:11] mhlakhani opened #873 "Regression in measuring edge_count in fuzzer_stats?"
Hi!

I'm in the process of upgrading our version of AFL++ from 3.00c to the latest commit in the stable branch; and I noticed an issue in the reporting of `edge_count` inside the `fuzzer_stats` file. I'm not sure if I am using AFL++ incorrectly, or if this is a bug, or if this is an intentional behaviour change.

We currently run AFL++ in parallel across a number of cores, and at the end of the ru

[2021-04-14 20:12] vanhauser-thc commented on #873
what is the exact command you are using with -V0 ?
and can you paste a fuzzer_stats please with edge_count 0 ?

[2021-04-14 21:31] mhlakhani commented on #873
@vanhauser-thc:

We first run the following commands in parallel:

    AFL_EXPAND_HAVOC_NOW=1 AFL_FAST_CAL=1 AFL_I_DONT_CARE_ABOUT_MISSING_CRASHES=1 AFL_NO_AFFINITY=1 AFL_NO_UI=1 AFL_SKIP_CRASHES=1 /tmp/afl-fuzz -i /tmp/corpus/JO6fwfrSz3mrVEDAHVEfK6WpHgxbvlPAAAM -o /tmp/scratch/afl_sync -M fuzzer01 -s 0 -V 60 -t 60000+ -m none /tmp/harnesses/target_name -2147483647
    AFL_EXPAND_HAVOC_NOW=1 AFL_F

[2021-04-14 22:12] vanhauser-thc commented on #873
can you please retry with the current dev state?

also:
1. why are you running two instances in parallel? IMHO that just waits cpu cycles.
2. why are you not using afl-cmin? that is basically the purpose of the script :)

[2021-04-14 22:32] mhlakhani commented on #873
Will do!

one is with -M and one is -S. This was also from a testing setup, in our real production flows we're passing different flags (mutation strategies and the like) - which I hope would not be a waste of CPU?

In our use case, we run the minimization step later, after also collecting seeds from runs on other machines/configs/fuzzers/etc. But we use this initial quick step to see if any of the

[2021-04-14 22:45] mhlakhani commented on #873
This looks to be fixed in the current dev branch; and since I saw https://github.com/AFLplusplus/AFLplusplus/pull/871 is open I can wait for the new stable to be out.

Apologies for the thrash!

[2021-04-14 22:45] #873 closed, assigned to nobody

[2021-04-15 08:26] vanhauser-thc commented on #873
@mhlakhani thank you for reporting, otherwise I would not have been aware.

what is actually your point of running the two instances with -V0 then? is it just to get % coverage information?
For this you can use afl-showmap for some months now which will do it much faster: `afl-showmap -C -i out -o /dev/null -- ./target -params @@` (the -C is the key)

[2021-04-15 14:40] ButcherAdaCore commented on #744
@vanhauser-thc @Zherya just a quick note to state that we have started this work.

The first pass (calls hooks at compares) is currently being tested... we will then look at the other aspects.

[2021-04-15 14:55] vanhauser-thc commented on #744
cool!

btw for testing please use current dev with afl-fuzz options `-Z -l 3` - for effectiveness reasons not every queue entry is used for cmplog. -l 3 forces that though so for testing this is a good thing to set.

[2021-04-15 16:44] mhlakhani commented on #873
@vanhauser-thc  sorry for not being clearer, we first run the two instances with -V{LARGE_NUMBER} (I just did 60 for testing here) - but then the final run is just one instance with -V0, and that is indeed to get coverage information - we're looking for both bitmap_pct and edge_count.

I'll try `afl-showmap` now, thank you!

[2021-04-15 18:44] rveldhoven opened #874 "Weird mmap calls qemu mode"
Thank you for this great project! I've only recently found out about this, after having used the original AFL for a long time. Currently I'm trying to use afl++ in qemu mode on a rather weird system, and I think I've found a bug.

I've compiled afl on an old centos 7 install, to be able to use it on ESXi. Everything appears to work, except for the fact that qemu goes into a weird loop because it a

[2021-04-15 18:48] andreafioraldi commented on #874
have you tried vanilla qemu git master?

[2021-04-15 18:56] rveldhoven commented on #874
I don't understand? You mean on my Centos system? Or another repository altogether? Ohh you mean Qemu itself, no I have not. I will.

I'm guessing the following is also not good for Qemu...

[code]

[2021-04-15 19:59] vanhauser-thc commented on #874
@rveldhoven I think he means that you try qemu compiled by yourself from (non-afl) - most likely this is a bug in qemu and not our patches to it

[2021-04-16 03:11] BharathMonash opened #875 "Instrumenting LLVM IR with a custom function defined in afl-llvm-rt.o.c"
Request - Want to instrument the LLVM IR with a call to a custom function before every conditional Branch (`br`) instruction which logs certain metrics into a shared memory (setup and also read in `afl-fuzz`) and also decides which BasicBlock (True BB or False BB) to enter based on the logic defined in this custom function (This decision is taken at run time). The custom function should read the c

[2021-04-16 07:41] vanhauser-thc commented on #875
@BharathMonash
if that a function that would be just for you for analysis or something that is for everyone and improves fuzzing effectiveness?
Because it sounds like this is just for you - so you have to implement that yourself :)

[2021-04-16 07:45] rveldhoven commented on #874
Vanilla qemu build does work! Seems to imply something to do with afl and/or the memory it requires? Qemu vanilla performs as expected:

[code]

The difference in strace is that vanilla qemu unmaps the pages, but afl-qemu-trace does not. This is the working vanilla qemu:
[code]

This is wat afl-qemu-trace does:

[code]

It looks like it assumes that it assumes the address given to mmap will be the

[2021-04-16 07:47] andreafioraldi commented on #874
break to an munmap call in gdb and use bt to get a stracktrace.

[2021-04-16 07:52] vanhauser-thc commented on #874
also please print the output of `qemu-x86_64 --version` - thank you!

[2021-04-16 07:56] rveldhoven commented on #874
Qemu version:

[code]

System does not natively have GDB :S I'll try to put a static one on there.

I'm having a hard time getting it to break on the correct place. I think GDB itself is having issues with the mmap calls? I'm a novice with gdb, is there a better way of doing this? My current approach is:

[code]
But no break ever happens, even though strace shows that the calls to mmap are in a lo

[2021-04-16 09:34] zhoulaifu opened #877 "AFL for Scala?"
Just a question.

In particular, since AFL uses a lot compiler sanitizing  techniques, I wonder how one should implement a coverage-driving fuzzing backend for the Scala language?

[2021-04-16 09:47] vanhauser-thc commented on #877
@zhoulaifu I have never used scala. is it's compiler based on llvm? if so it could be very easy to add support.

[2021-04-16 09:48] andreafioraldi commented on #877
it is a jvm based language, give a chance to jazzer that is libfuzzer for java

[2021-04-16 09:49] #877 closed, assigned to nobody

[2021-04-16 11:03] lijunqiang123 opened #878 "I want to use USEMMAP instrument. But it don't work."
I add `#define USEMMAP` command  in `include/config.h`. And after `make`, I use `afl-gcc`  or `afl-clang` to compile the program. But it can't work. Here is the error information:
![image](https://user-images.githubusercontent.com/22146584/115015442-38f24400-9ee6-11eb-9e83-fe700c5e9a77.png)
![image](https://user-images.githubusercontent.com/22146584/115015536-663ef200-9ee6-11eb-8e0d-7f3c198906a0.p

[2021-04-16 11:58] vanhauser-thc commented on #878
try `make TEST_MMAP=1` please

[2021-04-16 11:59] vanhauser-thc commented on #878
also dont use afl-clang/afl-gcc. use afl-clang-fast instead (install llvm-dev and clang first)

[2021-04-16 20:26] realmadsci opened #881 "Crash in AFL after afl_custom_trim returns larger than original input"
The grammar mutator can occasionally return inputs that are larger than the original during a trim operation.
This is known and was partially addressed by https://github.com/AFLplusplus/AFLplusplus/pull/463.

AFL no longer fails with an error in this case, but if the size growth it large enough it later experiences memory corruption and crashes.

I believe this is the at-fault line:
https://github

[2021-04-16 20:59] vanhauser-thc commented on #881
can you please test if b6643a8 fixes this?

[2021-04-17 17:09] hexcoder- commented on #851
Instead of thread_local copies (which would need to be merged), I propose synchronized atomic read-modify-write access.
For simple increments (without NeverZero behavior) this involves not too much overhead since it is a single IR instruction for LLVM.

[2021-04-17 20:46] hexcoder- commented on #851
I am investigating this in branch going_atomic.

[2021-04-17 20:55] vanhauser-thc commented on #851
this will be a slow-down even for non-threaded targets. for threaded targets this slowdown could be huge. it is a solution though

[2021-04-19 08:34] vanhauser-thc commented on #881
@realmadsci we want to merge to stable and waiting for your feedback :)

[2021-04-19 08:42] lijunqiang123 commented on #878
I make AFLplusplus using `make TEST_MMAP=1` and the output is:
[code]
But it still can't work. Here  are some information:
![image](https://user-images.githubusercontent.com/22146584/115207285-08045000-a12e-11eb-8234-7fe69136778a.png)

[2021-04-19 08:56] vanhauser-thc commented on #878
why are you using clang 3.8 ? that is so outdated ... theoretically we support that version I think, but practically I wont invest any time for versions before 10, and even that one is outdated.

[2021-04-19 09:04] andreafioraldi commented on #878
afl-clang is deprecated, we don't add features to it such as mmap shared mem

[2021-04-19 09:38] lijunqiang123 commented on #878
I installed the clang11 again. And using make `TEST_MMAP=1` and the output is (seems everything is OK):
[code]
And `afl-gcc afl-clang afl-clang-fast` can work this time. But when I strarted the aflplusplus, there was a error message:
![image](https://user-images.githubusercontent.com/22146584/115215554-3423cf00-a136-11eb-9465-3918af134f0b.png)

[2021-04-19 09:46] lijunqiang123 commented on #878
And when I used `afl-gcc or afl-clang`, the error was different:
![image](https://user-images.githubusercontent.com/22146584/115216303-f5424900-a136-11eb-9bc7-cbd91f9656ae.png)
![image](https://user-images.githubusercontent.com/22146584/115216351-ff644780-a136-11eb-900e-b3710ceb2b6f.png)
Is shared memory not added to `afl-gcc or afl-clang`?

[2021-04-19 09:48] vanhauser-thc commented on #878
I think you have not done a "make install" and hence not the right binaries are called ...

[2021-04-19 09:54] lijunqiang123 commented on #878
Oh, it's running successfully. Thank you. And I hava a question now: How do I know aflplusplus is using MMAP not shared memory?

[2021-04-19 10:33] vanhauser-thc commented on #878
when you run afl-fuzz -h it writes as message either `Compiled with shm_open support.` or `Compiled with shmat support.`

[2021-04-19 10:33] #878 closed, assigned to nobody

[2021-04-19 12:58] realmadsci commented on #881
That particular commit ID is a readme change, so I'll look and see if I can find which one you meant...

[2021-04-19 13:05] vanhauser-thc commented on #881
oops
just try the current dev branch

[2021-04-19 13:06] vanhauser-thc commented on #881
https://github.com/AFLplusplus/AFLplusplus/commit/86a8ef168dda766d2f25f15c15c4d3ecf21d0667

[2021-04-19 13:10] realmadsci commented on #881
Looks good to me, as long as afl_realloc() has a fast-exit for cases where it is already big enough.

[2021-04-19 13:12] vanhauser-thc commented on #881
can you please test it?

[2021-04-19 13:18] realmadsci commented on #881
Will do

[2021-04-19 14:24] realmadsci commented on #881
It works!
I was using an updated grammar_mutator based on https://github.com/AFLplusplus/Grammar-Mutator/commit/2abe1e3aa3212304baadd089d4e2e4e7ec16e494 (HEAD of dev branch) for my testing.

[2021-04-19 14:29] T-S-A opened #884 "GCC + ASAN + Persistent Mode Missing Crashes"
A fuzzing harness compiled with GCC and ASAN is not showing crashes when a persistent mode harness is used. The exact same harness compiled without persistent mode, will detect the ASAN crash. The harness binary is 64-bit. Harnesses are based off the examples included with this project.

**GCC Version:**

[code]
**Harness Compile Flags:**

[code]

**Harness Link Flags:**

[code]

**AFL++ Runtime F

[2021-04-19 14:44] andreafioraldi commented on #884
can you run afl-fuzz with AFL_DEBUG and see if the asan report is printed?

[2021-04-19 14:59] vanhauser-thc commented on #884
@T-S-A
can you please supply an example we can use for testing?

[2021-04-19 15:07] vanhauser-thc commented on #881
thank you!

[2021-04-19 18:08] T-S-A commented on #884
@andreafioraldi I logged ASAN output to a file with the following command:
```ASAN_OPTIONS='log_path=asan_log:symbolize=0:abort_on_error=1'```
No ASAN errors are logged during the persistent mode fuzzing harness run. When trying "AFL_DEBUG" I did not observe any ASAN errors in standard out. When running a standard harness (not persistent mode), the sig6 is caught by AFL++ and logged in the ASAN lo

[2021-04-19 18:26] vanhauser-thc commented on #884
I cannot recreate this.
but for a different reason, I do `char *p=malloc(5); /* and later */ memcpy(p, "12345678", 8);` - and this is not triggering clang gcc ... wtf?  clang asan works as it should.

[2021-04-19 18:35] T-S-A commented on #884
So it might be a gcc asan issue? I'll look into that.

[2021-04-21 08:19] #875 closed, assigned to nobody

[2021-04-21 14:09] joeyjiaojg commented on #861
someone wrote a guideline here https://elphet.blogspot.com/2020/04/aospafl.html even it's in Chinese for vanilla AFL, feel free to translate.

[2021-04-21 21:47] vanhauser-thc commented on #884
@T-S-A any new?

[2021-04-21 21:51] vanhauser-thc commented on #874
@rveldhoven any idea how we can help you?

[2021-04-22 13:37] T-S-A commented on #884
I think it is GCC+ASAN related. I discovered that I could create the same issue with a non-persistent mode harness. Ideally, I should compile with clang+ASAN or try GCC+ASAN with 32bit. I was assuming GCC+ASAN was more stable. :(

When I turned on AFL_DEBUG=1 and ASAN logs, I never saw the ASAN error messages. Sorry for the distraction.

[2021-04-22 14:06] vanhauser-thc commented on #884
so should the issue be closed? or is there something we can improve on our side?

[2021-04-22 19:13] T-S-A commented on #884
closed for now. Thx.

[2021-04-22 19:14] #884 closed, assigned to nobody

[2021-04-23 18:42] moshekaplan opened #885 "afl-cmin: Add support to keep crashing and hanging inputs"
**Is your feature request related to a problem? Please describe.**
In afl-cmin, the only options are either "keep non-crashing inputs" (the default) or "only keep crashing inputs". However, if you're working through a large corpus, wouldn't it make sense to also have an option to copy the hangs and crashes to a separate directory (--crash-dir, --hang-dir ?), since if you're already processing all

[2021-04-24 08:52] vanhauser-thc commented on #885
as a workaround you can write a script that calls afl-showmap on one input after another, the return code tells you if it went ok, crash or timeout. but without a real tool using a forkserver this will obviously be slow.

I personally see this as a niche usage and have other things on my plate, so don't expect someone doing the work for you :) but if you want to code this yourself and send a PR yo

[2021-04-26 09:43] KeuntaeShin opened #887 "Minimum input size"
Is there any way to set a minimum input size for a specific target function? The default start size is too low although the reading code likes:
[code]

[2021-04-26 10:00] vanhauser-thc commented on #887
not on afl side, but afl will learn what the size is automatically.
best is that you supply good example inputs via -i. if you need a minimum length, then just do a quick check in the target like `if (size < 24) return 0;`

[2021-04-27 00:37] KeuntaeShin commented on #887
The min. input size i expected was about 1024 * 1024. I observed for a day, but the value could not be reached. Can you share how the AFL learns the size automatically? I'd like to know the strategy for increasing the size of input.

[2021-04-27 07:29] vanhauser-thc commented on #887
as I wrote - you need a good example input. the fuzzer will not randomly generate such a large input on its own.

[2021-04-27 19:21] andreia-oca opened #888 "Qemu-mode vs Unicorn-mode in AFL++"
Hi all,

This is more of a discussion than an actual issue.
I am failing to understand what is the conceptual difference between qemu-mode and unicorn-mode. A better question would be, why would one choose to use qemu-mode instead of unicorn-mode?
I did some research on this topic, but I am failing to get a clear answer.

I will give a bit more context. I am trying to build a fuzzing platform for

[2021-04-28 08:05] domenukk commented on #888
To clarify:
- `qemu-mode` uses usermode qemu to emulate (usermode) elf binaries.
It forwards/tanslates all linux syscalls to a linux host, and uses the emulation mainly to inject instrumentation (and of course for binary translation, if you are running a different arch). It has threading, socket, ... support.
However, it won't be able to emulate a full-system (unless you adapt its syscall layer ma

[2021-04-28 16:12] andreia-oca commented on #888
Yes, the details are awesome. Thanks a lot!

[2021-04-29 09:34] AgatinoCaruso opened #892 "Qemu fails to start when linking statically"
When trying to link everything statically (for both binary-only and source code fuzzing) by using the `STATIC=1` flag, Qemu fails to start against my target. Also the Qemu mode test `test-qemu-mode.sh` fails.
I have checked and the problem is also present in the `dev` branch.

I am testing this using the Dockerfile to be sure to isolate the problem from my building context.
Steps to reproduce the

[2021-04-29 17:12] simos commented on #681
Discord is nice of messaging but it is not good when you want to keep discussions for future reference, or when you want search engines to index the discussions so that new users would be able to find them.

[Discourse](https://www.discourse.org/) is nice,
1. you write in markdown
2. it is indexed well by search engines
3. can use to maintain documentation. Users can comment in the thread and the

[2021-04-29 19:35] realmadsci commented on #881
After further testing, this case still crashes - it just takes longer to get there.

The https://github.com/AFLplusplus/AFLplusplus/commit/86a8ef168dda766d2f25f15c15c4d3ecf21d0667 commit fixed the immediate memcpy issue but causes a double-free to occur later.

The buffer that `in_buf` is pointing at is "owned" by `afl->testcase_buf` which was allocated by `queue_testcase_get()` inside of `fuzz_on

[2021-04-30 04:55] JackieBinya opened #894 "Google Season of Docs 2021 Applicant"
My name is Jacqueline Binya. I am a technical writer who is passionate about creating docs which are easy to understand but yet still rich, intuitive and engaging. I have previously contributed to various open source organisations as a writer, and the most notable open source organisations I have contributed to include Fedora and Creative Commons.

I hope to contribute to afl during during GSOD 20

[2021-04-30 09:11] vanhauser-thc commented on #888
if you have more questions, just reopen.

[2021-04-30 09:11] #888 closed, assigned to nobody

[2021-04-30 09:12] vanhauser-thc commented on #881
I think you are deeper into this then we are at the moment. can you put a PR with a solution that is in your opinion the best? then we can discuss that. I think that is the easiest (for us) and fastest (for everyone) solution :)

[2021-04-30 09:37] vanhauser-thc commented on #894
Hi Jackie, the link is there: https://github.com/AFLplusplus/AFLplusplus/issues/681
We are looking for a professional writer that is doing this in her/his main job for several years. Does that apply to you?

[2021-04-30 10:35] angelshadow opened #896 "How to fuzz an android binary on x86 host"
I want to use AFL++ to fuzz an android binary. And I found two solutions to do this:
1. Poring the AFL++ to target system which is used to run the android binary. (Can it be possible and where can I find the guide to support me ?)
Might be download ASOP, use mm with Android.bp in the root directory to compile AFL++ then push it to the target?
2. Running the binary on my x86 host.
I am working on t

[2021-04-30 11:02] domenukk commented on #896
As for the QEMU issue: probably your target crashes, try to rerun with `AFL_DEBUG_CHILD=1` to enable output, or directly use `strace` with all features enabled to see syscall interactions.
Depending on the binary, getting it to run on a non-Android Linux Host can be a really hard task, I would not recommend this to start out.

Running AFL++ on the device will be the far easier solution.

[2021-04-30 11:21] andreafioraldi commented on #896
Nah I do, just download the root from your device or unpack a vendor firmware image.

LD_PRELOAD failed in your screenshot, IMO you haven't compiled QEMU for the right arch.

For instance, to fuzz a binary for Android ARM64 you have to:

+ Compile QEMU mode for ARM64 guests with `CPU_TARGET=aarch64 CROSS=/path/to/your/android-ndk/cross-gcc ./build_qemu_support.sh`
+ Start afl-fuzz -Q telling QEMU

[2021-04-30 11:32] andreafioraldi commented on #892
I'm not even able to build it on Ubuntu 20 due to this issue https://github.com/kata-containers/packaging/issues/1060

[2021-04-30 11:32] andreafioraldi commented on #892
Seems that QEMU 5 does not support well static linking. Btw, why do u need it? If it is to redistribute the same AFL++ build on different machines, use the Dockerfile

[2021-04-30 11:38] domenukk commented on #881
@realmadsci can you retry with e9d2f72382cab75832721d859c3e731da071435d please?

[2021-04-30 11:52] andreafioraldi commented on #892
Seems that it compiles even with this warning, but segfaults in the loader. Is it possible that this is your issue @AgatinoCaruso ?

If I simply run ./afl-qemu-trace it faults. With Valgrind, I get

[code]

[2021-04-30 12:02] andreafioraldi commented on #892
I just disables static PIE, @AgatinoCaruso can you pull the latest dev and try if this fix your issue? On my machine now static qemuafl runs fine.

[2021-04-30 13:07] hyounes4560 commented on #681
This is not working. Thank you

[2021-04-30 13:13] hyounes4560 opened #897 "Google Season of Docs 2021 Applicant - Hanan Younes"
Hi, my name is Hanan, and I am interested in contributing to AFL during GSOD 2021. all of my related experience, including open-source documentation experience, is found [**here**](https://github.com/google/season-of-docs/blob/main/2021-participants/interested-technical-writers.md) at the end of the page.

How can I send my statement of interest/proposal? I can't find any emails nor the discord ch

[2021-04-30 14:07] realmadsci commented on #881
I do like that this is explicit about the fact that the trim calls can change the buffer.
However, it doesn't fully fix the issue yet - it still will hit the double-free/use-after-free case here where we (potentially) replace in_buf but then call `queue_testcase_get()` which reallocs against `afl->testcase_buf`.

https://github.com/AFLplusplus/AFLplusplus/blob/e9d2f72382cab75832721d859c3e731da0714

[2021-04-30 14:33] JackieBinya commented on #894
Hello @vanhauser-thc

I worked with Creative Commons as a technical writer for a duration of 3months. And this is the result of my work https://cc-wp-theme-base.netlify.app/

During my time at Create Commons I worked as part of a remotely distributed team which consisted of software engineers as well as designers.

My task as a writer was to ```Create a usage guide for the CC Base Theme```.The  CC

[2021-04-30 14:37] vanhauser-thc commented on #894
@JackieBinya I cant find you here: https://github.com/google/season-of-docs/blob/main/2021-participants/interested-technical-writers.md

[2021-04-30 14:43] JackieBinya commented on #894
@vanhauser-thc let me fix that blooper right now. I was currently just looking up projects trying to find those that are a good fit for my skills. I will contact you once I add my profile.
Sorry about that.

[2021-04-30 18:18] simos commented on #681
The invitation URL is working for me. Do you get an **Invite Invalid** message when clicking on the URL?

[2021-05-03 07:56] andreafioraldi commented on #896
@angelshadow what's the state of this issue? Can I close it?

[2021-05-03 07:57] andreafioraldi commented on #892
@AgatinoCaruso ping

[2021-05-03 07:58] #793 closed, assigned to nobody

[2021-05-03 08:40] andreafioraldi commented on #782
For future reference: keep sure that AFL_WINE_PATH points to the real wine binary and not to the bash shell wrapper. I'm closing this issue now.

[2021-05-03 08:40] #782 closed, assigned to nobody

[2021-05-03 08:59] AgatinoCaruso commented on #892
No time during last weekend, sorry. I am gonna check right away.

[2021-05-03 09:04] AgatinoCaruso commented on #892
That could be a problem for me. I need this because the binaries I need to fuzz run just in a specific environment (they need tons of internal dependencies that I cannot install on another environment). In brief if these binaries are not in that specific environment they don't run. Thus I cannot use the Dockerfile. I need a portable version of AFL++ with Qemu mode. That's why I would like to have

[2021-05-03 09:20] vanhauser-thc commented on #892
I could also need a statically linked afl-qemu-trace ... I often have similar setups.

[2021-05-03 09:27] vanhauser-thc commented on #892
works for me now when compiled with STATIC=1 (@andreafioraldi you pushed the fix to stable, not to dev. I merged it backwards to dev)

[2021-05-03 10:43] AgatinoCaruso commented on #892
Qemu works for me as well when compiled with STATIC=1.
I have run some tests for the static build also in other environments in which dependencies are not met.

[2021-05-03 11:05] #892 closed, assigned to andreafioraldi

[2021-05-03 12:48] realmadsci commented on #881
I'll try and make a PR for my "option 2" above, if nobody else has started yet.

[2021-05-03 12:59] domenukk commented on #881
Great, thanks ! :)

[2021-05-03 21:12] PRUBHTEJ opened #902 "Application - Season of Docs 2021"
Greetings,
My name is **Prubhtej Singh** and I'm pursuing my Bachelors in Information Technology.
I've previously worked with **NRNB** as a technical writer under Google Season of Docs 2020.
I'd written the technical documentation for SynBioHub, a genetic biological repository and the technical documentation for the same is present here: *https://wiki.synbiohub.org/*
I would like to contribute to

[2021-05-05 14:55] dkasak commented on #324
Interestingly, this just started happening to me too after I updated from about a year ago to the latest stable. I'm also on Arch Linux.

[code]

The `-M` instance is not producing any core files, but as soon as I start an `-S` instance, I get loads of them named as `core.NUM`, which exhausts my disk space. The UI of the `-S` instances does not appear to be showing crashes, so this may or may not

[2021-05-05 15:00] domenukk commented on #324
Have you tried this?
The core dumps may also occur when the target gets killed due to timeouts, I guess.
It's an odd beast, and only seems to affect Arch...

[2021-05-05 15:19] dkasak commented on #324
I just did, doesn't help.

There are no timeouts either. The coredumps were created by a SIGABRT and the backtraces are all like this:

[code]

This is with LTO binaries so I'll have to try without LTO to verify it's not some weirdness related to that. Though it's still a mystery why it's not following the core pattern in the first place...

[2021-05-06 14:12] andreafioraldi commented on #902
we already have a candidate, sorry

[2021-05-06 14:12] #902 closed, assigned to nobody

[2021-05-06 14:24] JackieBinya commented on #894
@vanhauser-thc, I added myself to https://github.com/google/season-of-docs/blob/main/2021-participants/interested-technical-writers.md .
But unfortunately I had to deal with an unexpected family emergency this week.

You already have all my details listed in the Interested Google Season of Docs 2021 participants file, aside for my resume which you can view in this link https://drive.google.com/fil

[2021-05-06 14:32] vanhauser-thc commented on #894
@JackieBinya we hired a writer, the announcement was yesterday (and we were in talks for two weeks)

[2021-05-06 14:32] #894 closed, assigned to nobody

[2021-05-06 14:33] vanhauser-thc commented on #897
the discord invite link works fine.
but we hired a writer, already, we were in talks for 2 weeks now.

[2021-05-06 14:33] #897 closed, assigned to nobody

[2021-05-06 14:33] vanhauser-thc commented on #881
@realmadsci we want to push to stable, and a fix for this issue in there would be great :) how far are you, and do you need help?

[2021-05-06 14:35] vanhauser-thc commented on #744
@ButcherAdaCore what is the status? :)

[2021-05-06 14:35] #896 closed, assigned to nobody

[2021-05-06 14:35] #887 closed, assigned to nobody

[2021-05-06 14:45] ButcherAdaCore commented on #744
Hi @vanhauser-thc - to date we have implemented the pass that calls hooks at compares. The one that calls hooks at function calls taking pointers is yet to be implemented. This was actually done a couple of weeks ago, however, due to other priorities we have only just started testing the additional compilation pass (and benchmarking the capability). I expect we'll have our testing and benchmark re

[2021-05-06 14:50] vanhauser-thc commented on #744
@ButcherAdaCore please use `AFL_GCC_CMPLOG` - this otherwise breaks the format. but it is fine if you check additionally for `AFL_CMPLOG`

[2021-05-06 14:52] ButcherAdaCore commented on #744
@vanhauser-thc no problem `AFL_GCC_CMPLOG` it is! :-)

[2021-05-06 16:29] realmadsci commented on #881
I've been testing the fix for a few days to make sure it keeps working for real this time. :)
I'll send up a PR sometime today.

[2021-05-06 22:26] realmadsci commented on #881
This is fixed by #903

[2021-05-06 22:26] #881 closed, assigned to nobody

[2021-05-07 10:34] dkasak commented on #324
I recompiled without LTO and the symptoms are the same. Seems I'll have to dig deeper into this.

[2021-05-07 11:26] dkasak commented on #324
Well, that's weird... I bisected and it turns out it starts happening on 1efc6e59b7cd2a3623ad3d75622e8bf107b3dc98.

[2021-05-07 14:02] dkasak commented on #324
Turns out that reverting 1efc6e59b7cd2a3623ad3d75622e8bf107b3dc98 doesn't help at d0225c2c4d465968660a08c93857fed354e539b1 (current stable), but it does help on some earlier commits. Due to this, I tried bisecting from 1efc6e59b7cd2a3623ad3d75622e8bf107b3dc98 to d0225c2c4d465968660a08c93857fed354e539b1, but reverting 1efc6e59b7cd2a3623ad3d75622e8bf107b3dc98 on each bisection step (with minor diffe

[2021-05-07 15:40] vanhauser-thc commented on #324
@dkasak I dont understand how -M vs -S or that commit vs before changes if core files are generated for found crashes or not.
makes no sense at all ...

[2021-05-07 15:52] dkasak commented on #324
It makes no sense to me either. I just decided to report the raw observables while I'm thinking about it. I suppose there's something else going on that I'm missing.

Note that these *don't* appear to be *found* crashes. The afl++ UI doesn't show it found either crashes or timeouts, but core files are still getting created.

[2021-05-07 17:19] vanhauser-thc commented on #324
oh that is weird. well what is the output if you run "file core…."?

[2021-05-07 20:04] 0x4d5a-ctf opened #905 "LoadLibraryA fails in Wine mode"
**Describe the bug**
I'm using an harnesss executable to dynamically load a DLL via `LoadLibraryA`. Functions exported by this DLL are used and fuzzed by my harness. Since its a 32 bit PE file I wanted to use Wine Mode `-W`.
The first dry run works, as seen in the output below. But the following calls to `LoadLibraryA` in the forked process result in not loading the DLL. `GetErrorCode` returns `ER

[2021-05-07 20:10] hexcoder- commented on #851
Thread-safe counters (especially with NeverZero) are more expensive than non thread-safe ones, sure.

Currently (https://github.com/AFLplusplus/AFLplusplus/commit/32be08d7b31cb004f34d3ef2d3916ca0e4531765) there is a proof of concept/prototype of thread-safe NeverZero in LLVM-CLASSIC (not switchable yet).
The other LLVM-based instrumentations have been switched to simple thread-safe overflowing cou

[2021-05-07 22:43] dkasak commented on #324
core.1200237: ELF 64-bit LSB core file, x86-64, version 1 (SYSV), SVR4-style, from 'build/fuzzers/fuzz_group session.txt', real uid: 1000, effective uid: 1000, real gid: 1000, effective gid: 1000, execfn: 'build/fuzzers/fuzz_group', platform: 'x86_64'

Why? It *is* a valid core file, just in case you missed https://github.com/AFLplusplus/AFLplusplus/issues/324#issuecomment-832775448.

[2021-05-07 22:45] dkasak commented on #324
I also just tried running with `AFL_DEBUG_CHILD=1` and noticed a bunch of `double free or corruption (top)` which seem to appear with the moments that core files are appearing in.

[2021-05-08 08:22] vanhauser-thc commented on #324
@dkasak can you share your setup? like what you are fuzzing (link) how you instrument the target (exact command line with envs your set) and how you run the target (out/default/target_setup).

[2021-05-08 08:25] vanhauser-thc commented on #905
I have no experience with wine but let me ask the common first question: have you tried to run directly in wine if it works there?

[2021-05-08 16:29] andreafioraldi commented on #905
as marc said try with wine without alf-fuzz, then try with wine setting WINELOADERNOEXEC. We need this env otherwise the target forks.

[2021-05-08 19:16] ghost opened #908 "Compiling in chroot env on Android (termux)"
Trying to compile AFL++ in chroot environment with clang12 (in termux) on Android. However, the linker could not find -lc, whatever library this is. Could not figure it out.

[code]

Any ideas what it could be looking for and how to fix it?

Thanks,

[2021-05-08 19:23] marcinguy commented on #908
Tried also build AFL++ binary from AOSP,  but the built binary seg faults. Anybody can help or share AFL++ binary for Android x86_64? Any source to get them?

[2021-05-08 19:42] marcinguy commented on #908
Also want it to use it with fpicker https://github.com/ttdennis/fpicker and emulate shared memory via https://github.com/termux/libandroid-shmem.... Since as I understood fpicker needs to access it and on Android it is not available (ashmem is used). Will see if this works. Hence the best if I compile it on termux (aosp binary could have it disabled).

[2021-05-09 09:17] ghost commented on #908
Compiled using NDK toolchain. Seems to work.

[2021-05-09 09:17] #908 closed, assigned to nobody

[2021-05-09 11:11] hexcoder- commented on #324
@dkasak Is your setup [olm](https://gitlab.matrix.org/matrix-org/olm/-/tree/master/)?

[2021-05-09 16:31] 0x4d5a-ctf commented on #905
Yes, running the `ReproExe.exe` directly in wine succeeds:
[code]

Same behavior when setting `WINELOADERNOEXEC`:
[code]

[2021-05-09 16:40] andreafioraldi commented on #905
run with ./afl-wine-trace, it's not simply wine, is wine under qemu

[2021-05-09 18:00] 0x4d5a-ctf commented on #905
Litte bit more verbose, but seems to work nonetheless
[code]

[2021-05-09 18:21] toralf opened #909 "improve scaling of y-axis in afl-plot"
line 142 contains
[code]
(my pacht IIRC) was fine yrs ago - but modern fast systems  made it obsolete.
Pls just remove that single statement(and line 151 containing "set ytics auto")  b/c nowadays it doesn't make sense any longer.

[2021-05-09 18:24] toralf opened #910 "x-axis of file plot_data seems not to be unix time stamps any longer"
They are called "# unix_time" but it seems they are relative to the starting time, or ?
So the plots always starts with 1st of Jan 1970 ;)

[2021-05-09 19:31] v-p-b opened #911 "afl-showmap fails to kill forked process"
`afl-showmap` calls `afl_fsrv_start()` twice. First, to get an updated map size from the forkserver:

https://github.com/AFLplusplus/AFLplusplus/blob/dev/src/afl-showmap.c#L1075

Then for measuring the inputs:

https://github.com/AFLplusplus/AFLplusplus/blob/dev/src/afl-showmap.c#L1214

After the first call, the fork server may be killed:

https://github.com/AFLplusplus/AFLplusplus/blob/dev/src/af

[2021-05-09 19:38] domenukk commented on #911
Actually, unless `kfx` supports variable map sizes, you probably want to pass in `-U` (`unicorn_mode`) to skip the initial forkserver call, in any case (?)
In theory, we could also come up with a way that lets the forkserver target running, for supported servers: Send over the size on handshake, allocate a new map, then send over this map ID, instead of respawning the target forkserver. 🤔

[2021-05-09 21:49] dkasak commented on #324
Yes, but it turns out the target is irrelevant. I figured out that the fuzzing shim has a bug which sometimes causes a double free and this turns out to be the root cause of this issue.

I managed to create a minimal reproducing test case as follows.

Save the following as `fuzzer.c`:

[code]

Compile `fuzzer.c` with

    afl++/afl-clang-fast -o fuzzer fuzzer.c

Then run

    mkdir in out
    prin

[2021-05-10 06:28] vanhauser-thc commented on #324
@dkasak the harness example is obliviously wrong. realloc has return value that has to be used.

ok, so a core file is generated when the main fuzzing process crashes and not when a crash is triggered in a child. IMHO this is ok, because this means something is wrong in the setup or harness, but this should still not happen ... weird.
will try to reproduce here on my debian

[2021-05-10 06:30] vanhauser-thc commented on #324
ah sorry I wrote nonsense, of course this happens in the child, and a crash there should not create a core.

I tested your example, and as it should, on my system no cores are generated.
It is an Arch Linux thing it seems. no need to analyze afl or your harness, you have to check what has to be done on Arch to not have cores.

[2021-05-10 06:39] vanhauser-thc commented on #911
@v-p-b yes please do a PR, you seem to know already how to fix it where we would first reread the code, understand it ;), understand the bug and then fix it.

it doesnt so yes.

that would break compatibility with all other afl variants :( we could make it work with extra config bits in the first data though.

[2021-05-10 07:07] dkasak commented on #324
Yes, it's blatantly wrong on purpose, since I wanted to demonstrate the minimal example that would produce core files. The original harness had the same bug but in a subtler way.

It seems you're right; calling the harness manually on the appropriate input generates a core file as well. It's just weird since I've never had the problem of proliferating core files before I updated afl++ so I assumed

[2021-05-10 07:50] vanhauser-thc commented on #909
ok

[2021-05-10 07:50] #909 closed, assigned to nobody

[2021-05-10 07:52] vanhauser-thc commented on #910
I have no knowledge of gnuplot ... when I write the entry not with relative but epoch time everything is written to one plot point.

This is the patch for afl-fuzz-stats.c:
[code]
please submit a change to afl-plot that makes this work :)

[2021-05-10 08:32] vanhauser-thc commented on #910
I just pushed a change that makes it (hopefully) relative in the plot (so no date/time format). maybe that is a solution ... dunno ... I am not using afl-plot to be honest

[2021-05-10 08:43] vanhauser-thc commented on #324
I updated afl-system-config to check if it is being run on Arch, and set core_pattern accordingly if.
thank you!

[2021-05-10 08:43] #324 closed

[2021-05-10 18:48] toralf commented on #910
thx - I slightly modified that patch b/c get_cur_time() returns msec - now it works as expected ;-)

[2021-05-11 08:23] maflcko opened #915 "times out during LLVMFuzzerInitialize"
`LLVMFuzzerInitialize` can be used to initialize deterministic, but expensive global state, which is later used by the target read-only.

However, `-t` starts counting inside the init function, thus killing the process before any actual fuzzing can be made. I think the solution would be to only start counting in `LLVMFuzzerTestOneInput`.

See also identical issue for honggfuzz https://github.com/g

[2021-05-11 08:49] vanhauser-thc commented on #915
we are aware of this but not sure what the solution should be.
you cant count after LLVM...Init... because how should the fuzzer know when it has been done?
if you only count after the forkserver is hit then it would be difficult to identify hanging programs.

Currently there are two options:
  1. set a high value for -t and add a + sign, e.g. `-t 5000+`
  2. set `AFL_FORKSRV_INIT_TMOUT=...` with

[2021-05-11 09:05] maflcko commented on #915
It might be possible to have two timeouts. One for init and one for each test case. I think this is also the plan of honggfuzz: https://github.com/google/honggfuzz/issues/384#issuecomment-780606890

It would still be good to know (and be able to set) a tight maximum for each test case. In theory with this setting all test cases could take 4999 and still pass.

Interesting. I presume this requires

[2021-05-11 09:19] vanhauser-thc commented on #915
You should always call LLVMFuzzerInitialize before __AFL_INIT  :)

[2021-05-11 10:41] angelshadow commented on #896
Sorry for late response due  to the holiday break . I tried as you said but I found some problem.
First, I use the arm-linux-andoideabli-gcc as the CROSS compiler to compile QEMU mode for arm
CPU_TARGET=arm CROSS = /path/to/my/compile/arm-linux-androideabi-gcc ./build_qemu_support.sh
it failed with header file missing. (anyway, the qemu_mode is done except the tools )
![image](https://user-images.

[2021-05-11 10:42] angelshadow commented on #896
Problem happened above. @andreafioraldi

[2021-05-11 11:08] andreafioraldi commented on #896
for android you have to use the ndk for cross compiling. invalid elf architeture speaks for itself, check the endianess for instance. execute direclty afl-qemu-trace outside afl-fuzz to debug these issue.

[2021-05-11 14:22] angelshadow commented on #896
I download the ndk( may be not the version used in firmware ) and solve compile problem of libcomcov and libqasan .
I go to the root directory of AFLplusplus and try "make install" ,then the problem of "Invalid ELF image for this architecture" fixed.

However, new problems emerged. I use afl-qemu-trace to run the binary ,it showed that "error getting old persionality value: Operation not permitted

[2021-05-11 14:25] xxrz commented on #159
Hello, sorry to bother you. I want to know how this problem was solved in the end? I also have this problem when using afl-tmin in afl++ docker.

[2021-05-11 15:04] vanhauser-thc commented on #159
@xxrz there is no such bug for a long time.are you using a totally outdated docker image?
otherwise it is your target that does not like your inputs.

[2021-05-11 19:52] vanhauser-thc commented on #911
@v-p-b can you send the PR latest on the weekend? Looks like we will do a release next week

[2021-05-11 20:07] #910 closed, assigned to nobody

[2021-05-12 07:25] v-p-b commented on #911
I haven't opened a PR yet because my target have some other issues, so I can't use it to fully test this particular problem. Although the change seems trivial, I try to come up with a simpler test case, just to be on the safe side.  I'll do my best to open the PR by the end of the week, but I can't make promises.

[2021-05-12 13:30] xxrz commented on #159
Hello, thank you for your reply. According to your answer, I switched to the latest version of docker，but still get the same error. My target is a simple example:

    raise(SIGSEGV);
}
else if(Data[0] == 'F')
{
    printf("It is paht2!\n");
}
else{
    printf("It is path3!\n");
}
return 0;
}

My testcases are "Caa" and "aaa." But the final result obtained by using afl-tmin is "Down to zero bytes.